div.sys-profile-cover-text .sys-pct-status a {
	color: #ffffff;
	text-decoration:none;
}

/* Freddy ajout*/
div.searchrow_block_simple{    float:left;}

.bx_sys_unit_checkbox { background-color:#3C0; }