<script type="text/javascript" language="javascript">
<!--
	Item._sActionsUrl = '__actions_url__';
	Item._sObjName = '__obj_name__';
    Item._sViewType = '__sel_view__';
	Item._iPerPage = '__per_page__';
    Item._sOrderBy = '__order_by__';
	Item._sSection = '__section__';
	Item._sFilter = __member_id__;
-->
</script>
<div id="items-panel" class="items-control-wrapper">
    <div id="items-search" class="items-search">__search__</div>
	<div id="items-member-section" class="items-member-section">
	__members__
	__loading__
	</div>
   <div class="clear_both">&nbsp;</div>
</div>

