<span class="items-top-paginate">__paginate__</span>
<div class="items-members-table">
    <table width="100%" class="items-members-table" cellpadding="0" cellspacing="0">
        <tr height="20px">
			<th><a href="javascript:void(0);" __username_function__ ><bx_text:_aqb_aff_admin_txt_username /> __username_arrow__</a></th>
			<th style="text-align:center;"><a href="javascript:void(0);" __status_function__ ><bx_text:_aqb_aff_admin_txt_status /> __status_arrow__</a></th>
            <th style="text-align:center;"><a href="javascript:void(0);" __date_start_function__ ><bx_text:_aqb_aff_admin_txt_transaction_date_start /> __date_start_arrow__</a></th>   
			<th style="text-align:center;"><a href="javascript:void(0);" __price_function__ ><bx_text:_aqb_aff_admin_txt_price /> __currency__ __price_arrow__</a></th>
			<th style="text-align:center;"><a href="javascript:void(0);" __points_function__ >__points_title__ __points_arrow__</a></th>
			<th style="text-align:center;"><a href="javascript:void(0);" __joins_num_function__ ><bx_text:_aqb_aff_admin_txt_join />__joins_num_arrow__</a></th> 
			<th style="text-align:center;"><a href="javascript:void(0);" __impressions_num_function__ ><bx_text:_aqb_aff_admin_txt_impressions_trans />__impressions_num_arrow__</a></th> 
			<th style="text-align:center;"><a href="javascript:void(0);" __clicks_num_function__ ><bx_text:_aqb_aff_admin_txt_clicks />__clicks_num_arrow__</a></th> 
			<th style="text-align:center;"><a href="javascript:void(0);" __upgrades_num_function__ ><bx_text:_aqb_aff_admin_txt_upgrades_trans />__upgrades_num_arrow__</a></th>
			<th style="text-align:center;"><a href="javascript:void(0);" __payment_status_function__ ><bx_text:_aqb_aff_admin_txt_payment_status />__payment_status_arrow__</a></th>
			<th style="text-align:center;"><bx_text:_aqb_aff_admin_txt_actions /></th>
	     </tr>
        <bx_repeat:items>
            <tr class="items-active">
    			<td width="*"><u>__username__</u></td>
				<td width="*" style="text-align:center;__color__">__status__</td>
				<td width="*" style="text-align:center;">__date_start__</td>
				<td width="*" style="text-align:center;">__price__</td>
				<td width="*" style="text-align:center;">__points__</td>
				<td width="*" style="text-align:center;">__joins_num__</td>
				<td width="*" style="text-align:center;">__impressions_num__</td>
				<td width="*" style="text-align:center;">__clicks_num__</td>
				<td width="*" style="text-align:center;">__upgrades_num__</td>
				<td width="*" style="text-align:center;">__payment_status__</td>
				<td width="*" style="text-align:center;">
					__pay__&nbsp;|&nbsp;__manually__&nbsp;|&nbsp;__remove__
				</td>	
	        </tr>
        </bx_repeat:items>
    </table>
</div>
__paginate__