<table class="form_advanced_table aff-history" cellpadding="2" cellspacing="3" width = "100%">
<tr height="15" class="headers">
	<th><bx_text:_aqb_aff_execution_date /></th>
    <th><bx_text:_aqb_aff_action_title /></th>
    <th><bx_text:_aqb_aff_method /></th>
    <th><bx_text:_aqb_aff_actions_number /></th>
	<th><bx_text:_aqb_aff_sum_price /></th>
	<bx_if:is_points_enabled>
		<th>__points_sum_title__</th>	
	</bx_if:is_points_enabled>	
</tr>
<bx_repeat:info>
<tr>
	<td class="value">__date__</td>
    <td class="value">__action__</td>
    <td class="value">__method__</td>
	<td class="value">__number__</td> 			
	<td class="value">__sum_price__</td>
	__sum_points__
</tr>
</bx_repeat:info>
</table>
__paginate__