<div class="items-members-table">
	<center>
		<table width="100%" class="items-levels-table" cellpadding="0" cellspacing="0">
		 <tr>
			<td class="caption" colspan="2" style="width:15%;"><bx_text:_aqb_aff_admin_txt_use_matrix />:</td>
			<td colspan="__cel_count__" class="value">
                    <div class="clear_both"></div>
                            <div class="input_wrapper input_wrapper_checkbox" style="float:left;">
                            <input type="checkbox" name="use_matrix___id__" class="form_input_checkbox" __checked__ />
                         <div class="input_close input_close_checkbox"></div>
                       </div>
                    <div class="clear_both"></div>
			</td>
		 </tr>
		 <tr>
			<td class="caption" colspan="2" style="width:15%;"><bx_text:_aqb_aff_admin_txt_deep_for_mem />:</td>
			<td colspan="__cel_count__" class="value">
                    <div class="clear_both"></div>
                            <div class="input_wrapper input_wrapper_text" style="width:50px;">
                            <input style="width:50px;" class="form_input_text" name="levels_deep___id__" value="__deep__" type="text">
                           <div class="input_close input_close_text"></div>
                    </div>
                    <div class="clear_both"></div>
			</td>
		 </tr>	
		<tr height="20px" class="header">
            <th><bx_text:_aqb_aff_admin_txt_level_title /></th>
            <th>__aqb_aff_admin_txt_income__</th>
			<th><bx_text:_aqb_aff_admin_txt_income_upgrade /></th>
		 	__points_title__
			__points_title_upgrade__
	     </tr>
		<bx_repeat:items>
            <tr>
				<td width="10%" style="padding-left:0;"><b>__level__</b></td>
				<td width="*" >__income__</td>
				<td width="*" >__income_upgrade__</td>
				__points__
				__points_upgrade__
	        </tr>
        </bx_repeat:items>
    </table>
 </center>
<span class="aqb-info-link">__link_info__</span>	
</div>
