<span class="items-top-paginate">__paginate__</span>
<div class="items-members-table">
    <table width="100%" class="items-members-table" cellpadding="0" cellspacing="0">
        <tr height="20px">
            <th>&nbsp;</th>
            <th><a href="javascript:void(0);" __username_function__ ><bx_text:_aqb_aff_admin_txt_username /> __username_arrow__</a></th>
            <th style="text-align:center;"><a href="javascript:void(0);" __joins_num_function__ ><bx_text:_aqb_aff_admin_txt_join />__joins_num_arrow__</a></th> 
			<th style="text-align:center;"><a href="javascript:void(0);" __impressions_num_function__ ><bx_text:_aqb_aff_admin_txt_impressions />__impressions_num_arrow__</a></th> 
			<th style="text-align:center;"><a href="javascript:void(0);" __clicks_num_function__ ><bx_text:_aqb_aff_admin_txt_clicks />__clicks_num_arrow__</a></th> 
			<th style="text-align:center;"><a href="javascript:void(0);" __upgrades_num_function__ ><bx_text:_aqb_aff_admin_txt_upgrades />__upgrades_num_arrow__</a></th> 
			<th style="text-align:center;"><a href="javascript:void(0);" __paid_function__ >__aqb_aff_admin_txt_paid__ __paid_arrow__</a></th> 
			<th style="text-align:center;"><a href="javascript:void(0);" __unpaid_function__ >__aqb_aff_admin_txt_unpaid__ __unpaid_arrow__</a></th> 
			<th style="text-align:center;"><a href="javascript:void(0);" __paid_points_function__ >__aqb_aff_admin_txt_paid_points__ __paid_points_arrow__</a></th> 
			<th style="text-align:center;"><a href="javascript:void(0);" __unpaid_points_function__ >__aqb_aff_admin_txt_unpaid_points__ __unpaid_points_arrow__</a></th> 
			

			<th style="text-align:center;"><bx_text:_aqb_aff_admin_txt_actions /></th>
	     </tr>
        <bx_repeat:items>
            <tr class="items-active">
                <td width="20"><input type="checkbox" class="form_input_checkbox" id="aff-mb-__id__" name="members[]" value="__id__" /></td>
                <td width="*"><a href="__edit_link__">__username__</a></td>
                <td width="*" style="text-align:center;">__joins_num__</td>
				<td width="*" style="text-align:center;">__impressions_num__</td>
				<td width="*" style="text-align:center;">__clicks_num__</td>
				<td width="*" style="text-align:center;">__upgrades_num__</td>
				<td width="*" style="text-align:center;">__paid__</td>
				<td width="*" style="text-align:center;">__unpaid__</td>
				<td width="*" style="text-align:center;">__paid_points__</td>
				<td width="*" style="text-align:center;">__unpaid_points__</td>
				<td width="*" style="text-align:center;">
					__view_details__&nbsp;|&nbsp;
					__view_ref__&nbsp;|&nbsp;
					__view_history__&nbsp;|&nbsp;
					__clean_history__
				</td>				
	        </tr>
        </bx_repeat:items>
    </table>
</div>
__paginate__