<div class="ref-table">
	<table width="100%" class="ref-table" cellpadding="0" cellspacing="0">
        <tr height="20px">
            <th><a href="javascript:void(0);" __item_first_function__ ><bx_text:_aqb_ref_first_name /> __first_arrow__</a></th>
			<th><a href="javascript:void(0);" __item_username_function__ ><bx_text:_aqb_ref_username /> __username_arrow__</a></th>
			<th><a href="javascript:void(0);" __item_date_function__ ><bx_text:_aqb_ref_reg_date /> __date_arrow__</a></th>
			<th><a href="javascript:void(0);" __item_referred_function__ ><bx_text:_aqb_ref_referred_by /> __referred_arrow__</a></th>
			<th><a href="javascript:void(0);" __item_level_function__ ><bx_text:_aqb_ref_level /> __level_arrow__</a></th>
			<th width="20">&nbsp;</th>
	     </tr>
	<bx_repeat:items>
            <tr>
                <td width="*">__first__</td>
				<td width="*"><a href="__link__" onmouseout="javascript:stopUserInfoTimer(__id__);" onmouseover="javascript:startUserInfoTimer(__id__, this);">__username__</a></td>
				<td width="*">__reg_date__</td>
				<td width="*">__referred__</td>
				<td width="*">__level__</td>
				<td width="20">__checkbox__</td>
            </tr>
        </bx_repeat:items>
    </table>
__paginate__
</div>
<script type="text/javascript" language="javascript">
	$('document').ready(function(){
		$("tr:odd").attr("class", "ref-odd");
	});
</script>