<div class="aqb-aff-referral-block-wrapper">
<div class="aqb-aff-referral-block-left">
	<div class="aqb-aff-left-block">
		<div class="aqb-aff-lines">__my_referral__</div>
		<bx_repeat:items>
			<div class="aqb-aff-lines">__items__</div>
		</bx_repeat:items>
	</div>	
</div>
<div class="aqb-aff-referral-block-right">
	<div class="aqb-aff-lines">__link_message__</div>
	<div class="aqb-aff-lines">__link__ __send_invitation__</div>
	<div class="aqb-aff-lines">__affiliate_banners_link__</div>
</div>
</div>