<div class="bx-twig-unit bx-twig-unit-admin modzzz_rssinfo_unit bx-def-margin-top-auto">

    <div class="bx_sys_unit_checkbox bx-def-round-corners">
        <input type="checkbox" name="entry[]" value="__id__" />
    </div>
 
    <div class="bx-twig-unit-info bx-def-padding-left">

        <div class="bx-twig-unit-title bx-def-font-h2">
            <a href="__rssinfo_url__">__rssinfo_title__</a> - __rssinfo_link__
        </div>

        <div class="bx-twig-unit-line bx-twig-unit-desc">
			<b><bx_text:_modzzz_rssinfo_created />:</b> __created__&nbsp;&nbsp;<span class="bullet">&#183;</span><span class="bullet">&#183;</span>&nbsp;&nbsp;<b><bx_text:_modzzz_rssinfo_updated />:</b> __updated__ 
		</div> 	 
    </div>   
</div>
 