<div class="bx-def-font"> 

        
         <div class="Job_details_titre_title">
				<i class="sys-icon briefcase"></i>  <bx_text:_modzzz_jobs_description_details />
		 </div>
         
         
         <div>
              __description__
         
          </div> 
       
      
      
       <bx_if:skills> 
           <div class="Job_details_titre_title">
				 <bx_text:_modzzz_jobs_skills_details Job_Unit_Title_View_skills />
		    </div>
			<div>
				<br />__skills__
		    </div>
	   </bx_if:skills>
</div>

<div class="clear_both"></div> 


 <div class="bx-twig-unit modzzz_jobs_unit bx-def-margin-top-auto">
 
 <div class="CssJobViewApplyDescription" >
  
   <table >
     <tr>
     <td >
     
     <div class="Job_details_titre_title">
				  <bx_text:_modzzz_jobs_block_company /><br />
   </div>
   
          <bx_if:vacancies> 
			<div class="Job_details_View bx-def-font-grayed">
				<strong>  <i class="sys-icon users"></i> __vacancies__ </strong><bx_text:_modzzz_jobs_vacancies />
		    </div>
		   </bx_if:vacancies>
           
         <bx_if:career_level> 
			<div class="Job_details_View bx-def-font-grayed">
				<b>  <i class="sys-icon building"></i> <bx_text:_modzzz_jobs_career_level_details />:</b> <br /> __career_level__
			</div>

		</bx_if:career_level>
        
         <bx_if:Job_Status_Type> 
		       <div class="Job_details_View bx-def-font-grayed">
                
            <strong> <i class="sys-icon black-tie"></i> <bx_text:_modzzz_jobs_type_details />:</strong><br /> __job_status__ <i class="sys-icon certificate"></i> __job_type__
              </div>
		    </bx_if:Job_Status_Type>
      
      
            <bx_if:experience> 
			<div class="Job_details_View bx-def-font-grayed">
				<strong>  <i class="sys-icon briefcase"></i> <bx_text:_modzzz_jobs_experience_details />:</strong><br /> __experience__
		    </div>
		   </bx_if:experience>
           
           
            <bx_if:qualification> 
			<div class="Job_details_View bx-def-font-grayed">
				<strong> <i class="sys-icon graduation-cap"></i> <bx_text:_modzzz_jobs_equalification_details />:</strong> <br />__qualification__
			</div>
		</bx_if:qualification>
        
        <div class="Job_details_View bx-def-font-grayed">
				<strong> <i class="sys-icon wrench"></i> <bx_text:_modzzz_jobs_industry_details />:</strong> <br /><a href="__category_url__">__category_name__</a> <bx_if:sub_category> <span class="bullet">&#8594;</span> <a href="__subcategory_url__">__subcategory_name__</a>
           </bx_if:sub_category>
   
			</div>

          
 
   
     </td>
     </tr>
    </table>
    </div>
    <div class="clear_both"></div> 
    
    
     <div class="CSSEspaceEmploi" >
   <table >
                   
    <tr>
  <td style="text-align:right;width:50%;">
          
        <div>
           <div>
             <button class="SaveEmploi"  onclick="getHtmlData ('ajaxy_popup_result_div___id__','__Favorite_Url__', false, 'post');return false;">
						  __AddToFavorite__
	       </button> 
           </div>
      <div class="clear_both"></div> 
                  
      <div id="ajaxy_popup_result_div___id__" style="display:none;"></div> 
     
      </div>  
       
      </td>
   
    <td style="text-align:left; width:50%;">
        <bx_if:applyLink> 
		     
              <div>  
			  <button class="PostulerJob"   onclick="window.open ('__applyLink__','_self');">
						<strong><i class="fa fa-briefcase"></i>  &nbsp;__APPLY__  </strong>
			</button>
          
           </div>
		 </bx_if:applyLink>
         
          <bx_if:Message> 
              <div>  
			 <!-- <button class="PostulerJob"   onclick="window.open ('__MessageApplyLink__','_self');">-->
						<strong><i class="fa fa-briefcase"></i>  &nbsp;__Mssage_Deja_Apply__  </strong>
			<!-- </button>-->
           </div>
		 </bx_if:Message>
         
         
          <bx_if:applyLinkExternal> 
		     <div style='float:left;width:50%'>  
          
            <button class="PostulerJob"   onclick="window.open ('__applyLinkExternal__');">
						<strong><i class="fa fa-briefcase"></i>  &nbsp;__APPLYExternal__  </strong>
			</button>
          
           </div>
		 </bx_if:applyLinkExternal>
     </td>
    </tr>
   </table>
    </div>
    <div class="clear_both"></div> 
    
    
  </div>