<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="searchrow_block_simple bx-def-bc-padding">
	<!-- <div class="member_block"> -->
		
		 <!-- Freddy : CSSInfoCle est geré dans jobs/templates/base/css/view.css  -->
         <div class="CSSInfoCle" >
   <table >
                   
    <tr>
    <td >
        <div>__thumb__</div>
        <bx_if:befriend>
				<div class="aqb-guest-actions">
					<button class="SeConnecter" onclick="$.post('list_pop.php?action=friend', {ID: __id__}, function(sData){document.location.href=document.location.href;}); return false;">
						<i class="sys-icon user-plus"></i> <bx_text:_connexiont_btn_befriend />
					</button>
				</div>
			</bx_if:befriend>
       
        <div> <i class="sys-icon clock-o"> </i> <span style="font-size:11px;"> <bx_text:_modzzz_jobs_applied_on />&nbsp;__posted__</span></div>
        
         
      </td>
     </tr>
     
     <tr>
      <td>
			 <!-- Freddy ajout Email and Telephone -->
             <div>	  
             <i class="sys-icon envelope"> </i> &nbsp; __Email__
            </div>
            
            <div>	  
             <i class="sys-icon phone"> </i> &nbsp; __Telephone__
            </div>
      </td>
     </tr>
     
     <tr>
      <td>
      
       <bx_if:letter_url>
					<div>
                   <div><a href="javascript: void(0)" onclick="javascript: loadHtmlInPopup('letter_popup', '__letter_url__');">  <i class="fa fa-tasks"></i> <bx_text:_modzzz_jobs_read_cover_letter /> <bx_text:_modzzz_jobs_read_of /> __FirstName__</a></div>
                    </div>
      </bx_if:letter_url>
            
           
       </td>
     </tr>
     <tr>
      <td>
          <div><a href='__compose_url__'> <i class="sys-icon envelope-o"> </i> <bx_text:_modzzz_jobs_send_message /> </i> <bx_text:_modzzz_jobs_send_to /> __FirstName__</a></div>      
				
          		
       </td>
     </tr>
     <tr>
      <td>
             
               <!-- Freddy ajout lien pour telecharger le Profil/CV . Lien avec Linkedin Profile Module -->
            <div>	<a class="BoutonJobUnitLien" href="m/linkedin_profile/generateresume?profile=__uid__" target=_blank>  <i class="sys-icon download"> </i> <bx_text:_modzzz_jobs_resume_attached /> </a>
            </div>
            
             
	            <bx_if:online>
				<div>	<a href="__online_link__" target=_blank><bx_text:_modzzz_jobs_resume_view_online /></a></div>
			    </bx_if:online>
		
				<bx_if:download>
					<div><a href="javascript:void(0)" onclick="window.location='__download_link__'" target=_blank> <i class="sys-icon download"> </i> <bx_text:_modzzz_jobs_resume_attached /></a></div>
			    </bx_if:download>
        		
      </td>
     </tr>
     <tr>
      <td>
  
				
	<div><a class="BoutonJobUnitLien" href='__remove_url__'> <i class="sys-icon remove"> </i> <bx_text:_modzzz_jobs_delete_application /></a> </div>
                
     
			     
		</td>
                       
          </tr>
     </table>
    </div> 
	<!-- </div> -->
	<div class='clear_both'></div>
 </div>