  <div class="CSSRecruiters" >
      <table >
             <tr>
             <td >
             <div class="EspaceRecru"> 
             <bx_text:_modzzz_jobs_block_home_jobs />
             
             </div>
           
        <div>
        <span style="font-size:13px;">
             <b> <i class="sys-icon user"> </i>   <a href="__CompanyUrl__">  __FirstName__ | <i class="sys-icon suitcase"> </i> __CompanyName__</a> </b> 
              <!--<bx_text:_modzzz_jobs_vous_avez_home />: -->
         </span>
          </div>
        
             
             </td>
             </tr>
        
     </table>
    </div>
    
 <div class='clear_both'></div>
 <div class="CSSRecruiters" >
   <table >
                   
    <tr>
    
    
      <td >
        <button class="espaceemploibouton"  onclick="window.open ('m/jobs/browse/my&filter=manage_jobs','_self');">
			<div> 
             <span style="font-size:20px;">
             <b>
               __EmploiCount__   
              </b>
              </span>
           </div>
           
          <div> 
        <span style="font-size:13px;"> <i class="sys-icon suitcase"> </i>
          __jobs_caption__
        </span>
        </div> 
     </button>
      </td>
  
     <!--
      <td >
      <button class="espaceemploibouton"  onclick="window.open ('m/jobs/browse/my&filter=manage_jobs','_self');">
			<div> 
             <span style="font-size:20px;">
             <b>
               __StageCount__   
              </b>
              </span>
           </div>
           
          <div> 
        <span style="font-size:13px;"> <i class="sys-icon users"> </i>
          __stages_caption__
        </span>
        </div> 
     </button>
  
       
     </td>
     -->
     
     
     
   </tr>
        
     </table>
    </div>

 <div class='clear_both'></div>

<div class="CSSRecruiters" >
   <table >
                   
    <tr>
    <td >
       
         
    
    
     <div> 
          <i class="sys-icon black-tie"> </i>    __ApplicationCount__ __ApplicationCaption__
         
     </div>  
     
     
      </td>
    </tr>  
    <tr>
    <td >    
     
      <bx_if:go_to_your_space_caption> 
      <div> 
           
         <button class="gotoyourspace"  onclick="window.open ('m/jobs/browse/my&filter=manage_jobs','_self');">
			 <i class="sys-icon cog"> </i>  __go_to_your_space_caption__
		</button>
         </div>  
			
    </bx_if:go_to_your_space_caption>   
     
     
     
      </td>
    </tr>  
    
   </table>
 </div>
     
    
 







