<div class="bx-def-bc-padding">
	 <div class='block_header'>__item_label__</div>  
	 <div class='clear_both'></div>	 
	 
	<bx_repeat:entries> 
      <bx_if:categorie> 
		 <div class="categories_col_must" style="width: 100%;"><a class="BoutonJobUnitLien" href='__cat_url__'><span style="font-size:14px;"><i class="sys-icon square"></i> </span><span style="font-size:15px;"><span style="font-weight:normal;">__cat_name__</span> (__num_items__)</span></a></div> 
         </bx_if:categorie>  
	</bx_repeat:entries>  
	<div class='clear_both'></div>	 
</div>