<div class="bx-twig-unit-line bx-twig-unit-special">  
	 <div class="CSSInfoCle" >
   <table >
                   
    <tr>
    <td >
    <b><span style="font-size:20px;"><i class="sys-icon cog"> </i> </span></b>
    
    <button class="jobmymanage"  onclick="window.open ('m/jobs/browse/my&filter=manage_jobs','_self');">
			<span style="font-size:12px;">
            <bx_text:_modzzz_jobs_voir_offres_emplois />  
            </span>
		    </button>
     </td>
         </tr>
                    
         <tr>
         <td >
   
	<bx_repeat:entries>
		  <div>
                <b><a class="actions" href="__stage_url__">__stage_title__</a></b>
          </div>
       
        
         <div class="espace-audessus" >
       
       <span style="font-size:12px;"><a class="actions" href="__manage_applicants_url__">   <span class="centerspace">__Application_count__</span> __Application_caption__ </a>
       </span>
       </div>
         
            
       <bx_if:voir_candidats>
         <div>
                <button class="ConsulterCandidats"  onclick="window.open ('__manage_applicants_url__','_self');">
			     __voir_candidats__
		       </button>
         </div>
       </bx_if:voir_candidats>  
         </td>
         </tr>
                    
         <tr>
         <td >
          
	</bx_repeat:entries> 
    
     </td>
                       
          </tr>
     </table>
    </div>
     <div class="clear_both"></div>
</div> 

