 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="bx-twig-unit bx-twig-unit-admin modzzz_jobs_unit bx-def-margin-top-auto searchrow_block_simple_Jobs">

    <div class="bx_sys_unit_checkbox bx-def-round-corners">
        <input type="checkbox" name="entry[]" value="__id__" />
    </div>
  <div class="bx-twig-unit-info">
 
 
 
<!-- ENTREPRISES – GRID + CARTE (responsive) -->
  
<section class="biz-section">
 

  <!-- Grille (fonctionne avec 1 ou plusieurs entreprises) -->
  <div class="biz-grid">
    <!-- CARTE ENTREPRISE -->
    <article class="biz-card">
      <div class="biz-top">
        <div class="biz-logo">
         <a href="__job_url__">
          <img src="__thumb_url__" alt="Logo Entreprise">
          </a>
        </div>

        <div class="biz-head">
          <h3 class="biz-name"> <a itemprop="url" href="__job_url__">
         <i class="sys-icon briefcase"></i> __job_title__
          </a>
          </h3>
          <div class="biz-meta">
            <span class="biz-meta-item"><i class="sys-icon map-marker"></i> __city__</span>
            <span class="biz-dot">•</span>
            <span class="biz-meta-item">   __drapeau__ __country__</span>
          </div>
        </div>

         
        
   <div class="biz-badge"> 
       
         
            <div>
             <i class="sys-icon desktop"></i> <!--<bx_text:_modzzz_jobs_unit_posted_by />-->  
             <sapn style="font-size:12px; height:10px;">
              <bx_if:expires> 
                <i class="sys-icon clock-o"></i> __created__ 
               </bx_if:expires>
             </span>
            </div>
            
     
                <div class="company-name-one-line">
                   <a href="__company_url__" title="__company__"> 
                       <b><i class="sys-icon building"></i> __company__ </b>
                   </a>
                </div>
       </div>
       
       </div>



      
			<div class="Job_details_View bx-def-font-grayed" style="height:20px;">
             <i class="sys-icon users"></i>
             
             <bx_if:vacancies> 
				 <strong> __vacancies__</strong> <bx_text:_modzzz_jobs_vacancies />
		    </bx_if:vacancies>
            </div>
		   
        
         <bx_if:career_level> 
			<div class="Job_details_View bx-def-font-grayed">
				 <i class="sys-icon user-plus"></i> <bx_text:_modzzz_jobs_career_level_details />:  __career_level__
			</div>

		</bx_if:career_level>
        
        
         <bx_if:Job_Status_Type> 
		     <div class="infoUnit infoUnitFontIcon  bx-twig-unit-line bx-def-font-small bx-def-font-grayed">		     
               
            <span style=' text-transform: capitalize;  background-color: #fefeff;  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%); padding: 5px; display:   
            inline-block;font-size: 14px;font-weight:500;margin-right: 3px;margin-bottom: 0px;overflow: hidden;color:  #666;border: 1px solid #fefeff;
	         white-space: normal;text-overflow: ellipsis; border-radius:8px;'> <i class="sys-icon black-tie"></i> 
                __job_status__  
              </span>
                <br> 
                  <span style=' text-transform: capitalize;  background-color: #fefeff;  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%); padding: 5px; display:   
            inline-block;font-size: 14px;font-weight:500;margin-right: 3px;margin-bottom: 0px;overflow: hidden;color:  #666;border: 1px solid #fefeff;
	         white-space: normal;text-overflow: ellipsis;border-radius:8px;'> <i class="sys-icon calendar"></i> 
              __job_type__
              </span>
             </div>
		</bx_if:Job_Status_Type>
        
         <bx_if:experience> 
			<div class="bx-def-font-grayed" style="text-transform: capitalize;  background-color: #fefeff;  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%); padding: 5px; display:   
            inline-block;font-size: 14px;font-weight:500;margin-right: 3px;margin-bottom: 3px;overflow: hidden;color:  #666;border: 1px solid #fefeff;
	         white-space: normal;text-overflow: ellipsis; border-radius:8px;">
				 
              <i class="sys-icon briefcase"></i> <bx_text:_modzzz_jobs_experience_details />: __experience__
              
		    </div>
		   </bx_if:experience>


    
       <div class="marge_en_bas">
        <button class="BoutonJobUnit"  onclick="window.open ('__job_url__','_self');">
          <br /> <i class="sys-icon user"></i>  __message_applicant__ 
           </button>
     </div>
     
       <div class="bx-twig-unit-line bx-twig-unit-special "> 
           <span style="text-align:center">__Sauvegardee__</span>
       </div>
       
    
    
     <div style="text-align:center;">
                <a href="__job_url__" class="btn-offer" aria-label="Consulter l'offre">
  <span class="btn-offer__icon" aria-hidden="true">↗</span>
  <span class="btn-offer__text"> <bx_text:_modzzz_jobs_action_en_savoir_plus />  </span>
</a>
       </div> 
    
    <!-- Bouton : Consulter l'offre -->


     
    </article>
    <!-- /CARTE ENTREPRISE -->

    <!-- Duplique <article class="biz-card">...</article> pour chaque entreprise -->
  </div>
</section>


        <div class="clear_both"></div>
        
        

    </div>    

     </div>
 
<br>
 
 
 