<!--
<div class="profile_status_link">
<a href="m/linkedin_profile/publicsettings?profile=__uid__" target="_blank"><bx_text:_abs_plinkin_how_profile_view_to_applicant /></a>
</div>
-->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

 <div class="Job-Apply-Title-Location">
         
         
           <div><button class="Retour-Annonce-top"  onclick="window.open ('__Retour_Annonce__','_self');">
						 <i class="sys-icon times"></i> <bx_text:_modzzz_jobs_action_retour_annonce />
					</button> 
            </div> 
         
         <div class="Job-Apply-Job-Title">
            __Job_Title_Apply__
          </div>

          <div class="infoUnit infoUnitFontIcon  bx-twig-unit-line bx-def-font-small bx-def-font-grayed Job-Apply-Job-Title-Location">
            <i class="sys-icon map-marker"></i> __Job_Zip_Apply__ __Job_City_Apply__, __Job_Region_Apply__
          </div>
  </div>



<div class="thumbnail_block_espace_job thumbnail_block_with_info" style="float:none; padding-top:5px;">

		
            
            <div class="thumbnail_image_espace_job" >
				__applicant_author_thumb__  
			</div>	

<div class="clear_both"></div> 
</div>

<div class="CssApplicationForm" >
   <table>
                   
    <tr>
     <td >
          
           
           
           <!-- 
            <bx_if:FullName>
				<div>	
                <a href="__URL_FullName__" target="_blank">
             <i class="sys-icon user"> </i>  __applicant_Fullname__
                 </a>
                </div>
	     </bx_if:FullName>
         -->
         
         <div>	
                <a href="__URL_FullName__" target="_blank">
             <i class="sys-icon user"> </i>  __applicant_Fullname__
                 </a>
                </div>
         
         
         <!-- <bx_if:FullNameIncomplet>
				<div>	
                <a href="__URL_FullName_Incomplet__" >
             <i class="sys-icon user"> </i>  __applicant_FullnameIncomplet__
                 </a>
                </div>
	     </bx_if:FullNameIncomplet>
         -->
           
             <div class="Profil-incomplet-apply-details  bx-def-font-grayed">	
              __Applicant_Headline_Complet__ 
           </div>
      </td>
      </tr>
     </table>
  </div>
      
      
      
  <div class="CssApplicationFormData" >
   <table>
    <tr>
     <td >
     
     
        <bx_if:Message_Profil_Complet>
		  <div class="Profil-incomplet-apply-details">	
            <strong> <i class="sys-icon share-square"> </i>  __Message_Profil_Complet__</strong>
           </div>
                
            <div class="Profil-incomplet-apply-details">
              
               <a href="m/linkedin_profile/publicsettings?profile=__uid__" target="_blank">
                 <i class="sys-icon eye"> &nbsp;</i><bx_text:_abs_plinkin_how_profile_view_to_applicant /> </a>
             </div>
            </bx_if:Message_Profil_Complet>
           
          <bx_if:Message_Profil_incomplet>
				<div class="Profil-incomplet-apply ">	
             <i class="sys-icon info-circle"> </i>  __Message_Profil_incomplet__
                </div>
	     </bx_if:Message_Profil_incomplet>
         
         <div class="Profil-incomplet-apply-details">	
              <a href="__url_profil_edit_candidat__">  __Applicant_Headline_Inconcomplet__  </a>
          </div>
       
        <bx_if:Alert_Applicant_Experience>
				<div class="Profil-incomplet-apply-details">	
              <a href="__url_profil_edit_candidat__"> <i class="sys-icon building"> </i> __Alert_Applicant_Experience__ &nbsp;<i class="sys-icon pencil"> </i> <i class="fa fa-warning"></i></a>
                </div>
	     </bx_if:Alert_Applicant_Experience>
         
          <bx_if:Alert_Applicant_Education>
				<div class="Profil-incomplet-apply-details">		
             <a href="__url_profil_edit_candidat__">  <i class="sys-icon graduation-cap"> </i> __Alert_Applicant_Education__ &nbsp;<i class="sys-icon pencil"> </i> <i class="fa fa-warning"></i></a>
                </div>
	     </bx_if:Alert_Applicant_Education>
         
           <bx_if:Alert_Applicant_Skills>
				<div class="Profil-incomplet-apply-details">		
           <a href="__url_profil_edit_candidat__">  <i class="sys-icon wrench"> </i>  __Alert_Applicant_Skills__&nbsp; <i class="sys-icon pencil"> </i> <i class="fa fa-warning"></i></a>
          
                </div>
	     </bx_if:Alert_Applicant_Skills>
         
          
          
           <bx_if:UpdateProfileIncomplet>
				<div>		
           <a href="__Profil_Edit_Global__">    __Update_Css__ </i></a>
          
                </div>
	     </bx_if:UpdateProfileIncomplet>
         
         <bx_if:UpdateProfileComplet>
				<div>		
           <a href="__Profil_Edit_Global__">    __Update_Css__ </i></a>
          
                </div>
	     </bx_if:UpdateProfileComplet>
        
 
      </td>
      </tr>
        
     </table>
    </div>