.bx-twig-unit-tittre-fred {
    font-size: 22px; 
    font-size: 22sp;
    line-height: 22px;
    line-height: 22sp; 
	font-weight:800; 
	color:#3a5795;
}


.ConnectNetworkMembers { display:none;}

.form_advanced_table .input_wrapper_custom {
    white-space: normal;
}

.input_wrapper_custom {
    padding-top: 3px; 
}

.modzzz_classified_main_photo {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.modzzz_classified_main_photo img {
	width: 100%;
    background-color:#fff;
}

.modzzz_classified_main_info_text {
    width:80%;
    float:left;
    text-align:left;
}
.modzzz_classified_main_info_img {
    width:20%;
    float:left;
    text-align:right;
}

.modzzz_classified_main_info_img .votes_small {
    width:auto;
    float:right;
}

.modzzz_classified_main_info_img .modzzz_classified_unit_participants {
    width:auto;
    float:right;
}

#sys_manage_items_manage_fans_content {
    max-height:280px;
    overflow-y:auto;
}

/*Freddy reduire la taille de l'image */
.bx-twig-unit-thumb-cont-classified {

    float: left;

    display: table-cell;



    top: 0px;

    left: 0px;

    width: 160px;

    margin: 5px 10px 5px 5px;



    text-align: center;

    vertical-align: top;

}

.bx-twig-unit-thumb-classified {
    width: 160px;

    height:160px;

}

div.mbp-level-title {
    font-weight: bold;
    font-size: 14px;
	color:#3b5998;
}

.fa.fa-calendar{
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: bounceIn;
}
.fa.fa-building {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: bounceIn;
}

.fa.fa-hand-o-left {
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: bounceIn;
}

.fa.fa-warning {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: bounceIn;
}

/* Freddy  CSSbusinessListingUnit */
.CSSbusinessListingUnit {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 1px 1px 1px 1px #888888;
	border:0px solid #ffffff;
	
	
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSbusinessListingUnit table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSbusinessListingUnit tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSbusinessListingUnit table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSbusinessListingUnit table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSbusinessListingUnit tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSbusinessListingUnit tr:hover td{
	
}
.CSSbusinessListingUnit tr:nth-child(odd){ background-color:#ffffff; }
.CSSbusinessListingUnit tr:nth-child(even)    { background-color:#ffffff; }.CSSbusinessListingUnit td{
	vertical-align:middle;
	
	
	border:1px solid #dfe3ee;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#525354;
}.CSSbusinessListingUnit tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSbusinessListingUnit tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSbusinessListingUnit tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSbusinessListingUnit tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
	border:0px solid #dfe3ee;
	text-align:left;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#2b70a8;
}
.CSSbusinessListingUnit tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f7f7f7 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
}
.CSSbusinessListingUnit tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSbusinessListingUnit tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


.centerspacecategories {
   
    background-color: #999;
    border-radius: 4px;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #FFF;
    
    font-size: 15px;
    margin-left: 1px;
   
	padding-left:5px;
	padding-right:5px;
	padding-top:1px;
	padding-bottom:1px;
	
    text-align: center;
    min-width: 14px; 
}

/**********AJOUT FREDDY : Bouton manager annonce ************/	
.manageannonce {
display: inline-block;
	height: 20px;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border-color:  #3b5998;
	line-height: 10px;
	
	/* overflow: hidden; */
	 font-size:13px;
	
	 border: 1px solid #dfe3ee;
	 
  padding: 4px 4px;
	width: auto;
	color: #3b5998;
	font-family: "Open Sans",Arial,sans-serif;
    bottom-margin: 5px;
    font-weight: normal;
	background-color: #8b9dc3;
    background-color: rgba(139,157,195,0.3);
	
	webkit-transition: all ease 1.0s; */
    -moz-transition: all ease 1.0s;
     transition: all ease 1.1s; 
 
}
.manageannonce { color:  #171616; cursor: pointer;}
.manageannonce:hover {background: #fff;  border-color:  #E88011; font-weight:bold; position: relative;bottom: 2px; transition: all 1.8s ease;color: #3b5998;}


.deposeruneoffre {
display: inline-block;
	height: 25px;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border-color:  #3b5998;
	line-height: 10px;
    overflow: hidden;
	 font-size:15px;
     border: 1px solid #3b5998;
	padding: 4px 4px;
	width: auto;
	color: #fff;
	text-align:center;
	font-family: "Open Sans",Arial,sans-serif;
    bottom-margin: 0px;
    font-weight: 600;
	background-color: #3b5998;
   /* background-color: rgba(139,157,195,0.2); */
	webkit-transition: all ease 1.0s; 
    -moz-transition: all ease 1.0s;
     transition: all ease 1.1s; 
	 
	 float:right;
	 vertical-align: middle;
 
}
.deposeruneoffre { color:  #fff; cursor: pointer;}
.deposeruneoffre:hover {background: #f07355;  border-color:#f07355; font-weight:normal; position: relative;bottom: 1px; transition: all 1.2s ease;color: #fff;}



/* Freddy  CSSBusinessClassifiedHome */

.CSSBusinessClassifiedHome {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 1px 1px 1px 1px #888888;
	border:1px solid #ffffff;
	
	
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
	
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
	
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
	
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}.CSSBusinessClassifiedHome table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSBusinessClassifiedHome tr:last-child td:last-child {
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
}
.CSSBusinessClassifiedHome table tr:first-child td:first-child {
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}
.CSSBusinessClassifiedHome table tr:first-child td:last-child {
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
}.CSSBusinessClassifiedHome tr:last-child td:first-child{
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
}.CSSBusinessClassifiedHome tr:hover td{
	
}
.CSSBusinessClassifiedHome tr:nth-child(odd){ background-color:#ffffff; }
.CSSBusinessClassifiedHome tr:nth-child(even)    { background-color:#ffffff; }.CSSBusinessClassifiedHome td{
	vertical-align:middle;
	
	
	border:1px solid #dfe3ee;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#525354;
}.CSSBusinessClassifiedHome tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSBusinessClassifiedHome tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSBusinessClassifiedHome tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSBusinessClassifiedHome tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
	border:0px solid #dfe3ee;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#87868c;
}
.CSSBusinessClassifiedHome tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f7f7f7 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
}
.CSSBusinessClassifiedHome tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSBusinessClassifiedHome tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


.ConnectNetworkBlue {
background-color: transparent;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #0073b1;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    font-family: inherit;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
    z-index: 0;
    box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
	margin-top:5px;
}
.ConnectNetworkBlue { color:  #0073b1; cursor: pointer;}
.ConnectNetworkBlue:hover {background: #3b5998;  border-color:  #3b5998; font-weight:normal; position: relative;bottom: 0.5px; transition: all 1.8s ease;color: #fff;}


.ConnectNetworkGris {
background-color: transparent;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #6C6B6C;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    font-family: inherit;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
    z-index: 0;
    box-shadow: inset 0 0 0 1px #424040, inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
	margin-top:10px;
}
.ConnectNetworkGris { color:  #6C6B6C; cursor: pointer;}
.ConnectNetworkGris:hover {background: #3b5998;  border-color:  #413F41; font-weight:600; position: relative;bottom: 0.5px; transition: all 1.8s ease;color: #fff;}






.espaceemploibouton {
display: inline-block;
	height: auto;
	vertical-align: middle;
	border-width: 0px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border-color:  #dfe3ee;
	line-height: auto;
	
	overflow: hidden;
	 font-size:13px;
	
	 border: 0px solid #dfe3ee;
	 
   /* freddy comment
    padding: 5px 5px;
	 bottom-margin: 5px;
	 */
	width: auto;
	color: #3b5998;
	font-family: "Open Sans",Arial,sans-serif;
   
    font-weight: normal;
	background-color: #dfe3ee;
    background-color: rgba(139,157,195,0.0);
	
	webkit-transition: all ease 1.0s; 
    -moz-transition: all ease 1.0s;
     transition: all ease 1.1s; 
 
}
.espaceemploibouton { color:  #3b5998; cursor: pointer;}
.espaceemploibouton:hover {background: #fff; background-color: rgba(139,157,195,0.3);  border-color:  #413F41; font-weight:normal; position: relative;top: 1px; transition: all 1.8s ease;color: #f07355;}




.ConnectHomeClassified {

    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    font-family: inherit;
    height: auto;
    line-height: auto;
    overflow: hidden;
    outline-width: 2px;
    padding: 6px 6px 6px 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
    z-index: 0;
    box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
	margin-top:5px;
	background: #3b5998;
}


.AjouterAnnonce{
    background-color: #f07355;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
	border-color:  #f07355;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    font-family: inherit;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
    z-index: 0;
	margin-top: 2px;
	
    box-shadow: inset 0 0 0 1px #f07355, inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
}
.AjouterAnnonce { color:  #fff; cursor: pointer;}

.AjouterAnnonce:hover { background-color: rgba(152,216,244,.25); color: #006097; box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px #006097, inset 0 0 0 1px transparent;bottom: 1px; transition: all 1.2s ease;}

/* Freddy  CSSProfessionalUnit */

.CSSProfessionalUnit {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 2px 1px 2px 1px #888888;
	border:1px solid #ffffff;
	
	
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSProfessionalUnit table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSProfessionalUnit tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSProfessionalUnit table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSProfessionalUnit table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSProfessionalUnit tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSProfessionalUnit tr:hover td{
	
}
.CSSProfessionalUnit tr:nth-child(odd){ background-color:#ffffff; }
.CSSProfessionalUnit tr:nth-child(even)    { background-color:#ffffff; }.CSSProfessionalUnit td{
	vertical-align:middle;
	
	
	border:2px solid #dfe3ee;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#525354;
}.CSSProfessionalUnit tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSProfessionalUnit tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSProfessionalUnit tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSProfessionalUnit tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
	border:0px solid #dfe3ee;
	text-align:left;
	border-width:1px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#2b70a8;
}
.CSSProfessionalUnit tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f7f7f7 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
}
.CSSProfessionalUnit tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSProfessionalUnit tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.col_account {
    display: inline-block;
    line-height: 18px;
    min-width: 10px;
    min-height: 18px;
    border-radius: 10px;
    background-color: #ee7356;
    color: #FFF;
    font-size: 11px;
    padding: 1px 5px;
    position: absolute;
    right: 2px;
    
}

.bx_sys_unit_checkbox {

    background-color:orange;

    height:25px;

    left:5px;

    position:absolute;

    top:5px;

    width:25px;

    z-index:1;

}


.supprimercenterspace {
    background-color: orange;
    border-radius: 4px;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #FFF;
   float:none;
    font-size: 10px;
    margin-left: 1px;
    padding: 5px;
    text-align: center;
    min-width: 25px;
	 margin-left: auto;
	margin-right: auto;
}

div.thumbnail_image_classified_home {

    position:relative;

    float:left;

    width:32px;

    height:32px;
	

}

.Alaligne {
  white-space:normal;
  width: auto;
  margin: auto;
  padding: 10px;
  background-color:#f7f7f7;
  box-shadow: 1px 1px 1px 1px #888888;
  border:1px solid #ffffff;
  font-size: 16px;  
}


.AlaligneBlock {
  white-space:normal;
  width: auto;
  margin: auto;  
}

/* Freddy  CSSBusinessListingViewTop */

.CSSBusinessListingViewTop {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 1px 1px 1px 1px #888888;
	border:0px solid #ffffff;
	
	
	
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
	
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
	
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
	
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}.CSSBusinessListingViewTop table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSBusinessListingViewTop tr:last-child td:last-child {
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
}
.CSSBusinessListingViewTop table tr:first-child td:first-child {
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}
.CSSBusinessListingViewTop table tr:first-child td:last-child {
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
}.CSSBusinessListingViewTop tr:last-child td:first-child{
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
}.CSSBusinessListingViewTop tr:hover td{
	
}
.CSSBusinessListingViewTop tr:nth-child(odd){ background-color:#ffffff; }
.CSSBusinessListingViewTop tr:nth-child(even)    { background-color:#ffffff; }.CSSBusinessListingViewTop td{
	vertical-align:middle;
	
	
	border:0px solid #dfe3ee;
	border-width:0px 0px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#525354;
}.CSSBusinessListingViewTop tr:last-child td{
	border-width:0px 0px 0px 0px;
}.CSSBusinessListingViewTop tr td:last-child{
	border-width:0px 0px 0px 0px;
}.CSSBusinessListingViewTop tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSBusinessListingViewTop tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
	border:0px solid #dfe3ee;
	text-align:center;
	border-width:0px 0px 0px 0px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#87868c;
}
.CSSBusinessListingViewTop tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f7f7f7 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
}
.CSSBusinessListingViewTop tr:first-child td:first-child{
	border-width:0px 0px 0px 0px;
}
.CSSBusinessListingViewTop tr:first-child td:last-child{
	border-width:0px 0px 0px 0px;
}
/************************************************/

/* ************************* */


/* Mobile*/
@media (min-width:300px) and (max-width:420px) {
	


/*
.bx-twig-unit-thumb-cont {
display:none;
}
*/

.bx-twig-unit-thumb-cont-classified {
    width: 240px;
	vertical-align:middle;
}

.bx-twig-unit-thumb-classified {
    width: 240px;

    height:240px;
	padding-left:0px;
	padding-right:0px;
    }
	
	h2,
.bx-def-font-h2 {
    font-size: 20px;
    font-size: 20px;
    line-height: 24px;
    line-height: 24sp;
    
}

div.thumbnail_image_classified {
   display: none;
	 }
	 
  .deposeruneoffre {
font-size:13px;
font-weight: 500;
}

}

@media (min-width:200px) and (max-width:350px) {
	.AjouterAnnonce{font-size: 13px;font-weight: 400;}
	}
