.modzzz_classified_unit .unit_why {
    padding-top:5px;
    padding-bottom:5px;
    font-size:12px;
	font-weight:bold;  
}

.modzzz_classified_unit .attribute-title{
    color:#999;
}

.modzzz_classified_unit .classified_sale_offer {
	padding-bottom: 5px;
}

.modzzz_classified_unit .posttype { 
	font-size: 10pt; 
	font-weight: bold; 
	color: #999; 
	padding-right: 5px; 
}
  

div.mbp-cb {
    clear: both;
	font-size: 0px;
}

div.mbp-border { 
    border-bottom: 1px dotted #CCCCCC; 
}

div.button_wrapper {
    margin-right: 10px;
    position: relative;
    float: left;    
}

/*--- 'Current level' Styles ---*/
div.status_box {
    width: 450px;
	margin: 10px auto 10px auto;	

	text-align: center;
}

/*--- 'Available levels', 'Current Level' Styles ---*/
div.mbp-current-levels,
div.mbp-available-levels {
    margin: 0px 0px 10px 0px;
}
div.mbp-level {
    margin: 10px 10px 0px 10px;
    padding: 10px;

    position: relative;

    /*background-color: #f2f2ff;*/
}
 
div.mbp-level-price {
    top: 10px;
    right: 10px;    
    height: 16px;

    position: absolute;

    font-weight: bold;
    font-size: 12px;
}
div.mbp-level-price div.image {
	width: 32px;
	height: 16px;
	
	position: relative;
	float: left;

	background-repeat: no-repeat;
    background-position: right center;
}
div.mbp-level-price div.text {
	height: 16px;
	
	position: relative;
	float: left;
}
div.mbp-level-price img {
    width: 16px;
    height: 16px;
}
div.mbp-level-content {
    min-height: 116px; 
    padding-left: 5px;
}
div.mbp-level-title {
    font-weight: bold;
    font-size: 12px;
}
div.mbp-level-info {
    padding-top: 5px;
}
div.mbp-level-control {
    padding-top: 5px;
}

div.mbp-current-level {
    margin: 0px;
}
div.mbp-current-level div.mbp-level {
    margin: 0px;
    padding: 10px;
    
    position: relative;

    /*background-color: #ffffff;*/
}
div.mbp-level-description {
    min-height: 0px;
    padding: 10px 0px 0px 0px;
}

.bx-twig-unit-icon-cont {
    float:left;
    display:table-cell;
    top:0;
    left:0;
    width:70px;
    text-align:center;
    vertical-align:top;
    padding-left:2px;
    padding-bottom:3px;
}

.bx-twig-unit-icon-cont img {
    background-color:white;
}

.bx-twig-unit-caption {
	color:green;
}

.bx-twig-checkbox-pad {
	margin-left:30px;
}

.bx-twig-unit-desc {
    padding-top:5px;
    padding-bottom:5px;
}

.bx-twig-unit-comment{
    margin-bottom:5px;
}