.youtube-title {
    font-size: 14px;
    font-weight: bold;
    text-align:center;
}


.modzzz_classified_price {
	font-weight:bold;
}

.modzzz_classified_why {
	font-weight:bold;  
}

.attribute-title{
    color:#999;
}

.modzzz_classified_description {
    padding-bottom:20px;
}

/* update 7.1 */
table.modzzz_classified_fields {
    border-collapse:collapse;
    border-spacing:0px; 
}

td.modzzz_classified_field_name {
    padding-bottom:10px;
    text-align:left;
}

td.modzzz_classified_field_value {
    padding-bottom:10px;
    text-align:left;
}

.modzzz_classified_profile_unit {
    overflow:hidden;
    float:left;
}
.Job_Unit_Title_View{
font-size: 20px;
font-weight: 700;
border-bottom: 1px solid #e5e5e5;
padding-bottom: 10px;

}
.Job_Unit_Title_View_Small{
font-size: 13px;
font-weight: 400;
padding-top: 10px;

}


/* Mobile*/
@media (min-width:300px) and (max-width:420px) {
	
.Job_Unit_Title_View{
font-size: 18px;
font-weight: 600;

}


}