





/* .topDiv {
	position:relative;
	height:60px;
	background-color: #fff;
    background-color: rgba(200, 200, 200, 0.4);
	border-bottom: 1px solid #d9d9d9;
	width: 100%;
	-webkit-box-shadow:0 0 3px 1px rgba(130,130,140,.5);
	-moz-box-shadow:0 0 3px 1px rgba(130,130,140,.5);
	box-shadow:0 0 3px 1px rgba(130,130,140,.5);
}
.topInnerDiv {
	position:relative;
	height:122px;
	width:384px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	top:5px;
}
.topLogo {
	z-index:11;
	position:absolute;
	top:5px;
	left:21px;
	z-index:11;
	max-height:50px;
	border:none;
}
*/
.mainBody {
	position:relative;
	margin:auto;
	max-width:1184px;
}
/* 
.topDivBlock {
	position:relative;
	height:60px;
	max-width: 1200px;
	margin-left:auto;
	margin-right:auto;
}
*/
.mainInnerDiv {
	position: relative;
	padding-top:0px;
	z-index:0;
	min-width:1184px;
	margin-left:auto;
	margin-right:auto;
}


.innerBlock {
	position:relative;
	padding: 15px 15px 15px 25px;
}
.blockTxt {
	position:relative;
}
.blockTitle {
	position:relative;
	font-size:22px;	
	font-weight:500;
    text-shadow: 0 1px 0 rgba(200, 200, 200, .4);
    -webkit-text-shadow: 0 1px 0 rgba(200, 200, 200, .4);
    -moz-text-shadow: 0 1px 0 rgba(200, 200, 200, .4);
	color:#444;
}
.blockTitle2 {
	position:relative;
	margin: 8px -16px 20px -25px; 
	height: 0px;
	font-size:12px;
    border-top: 1px dotted whitesmoke;
}
.mainFooter {
	position: fixed;
	bottom: 0;
	margin-left:auto;
	margin-right:auto;
	padding:15px 0px 0px 0px;
	font-size: 12px;	
	height: 50px;
    background-color: #fff;
    background-color: rgba(200, 200, 200, 0.4);
	border-top: 1px solid #d9d9d9;
	text-align:center;
	width:100%;
	-webkit-box-shadow:0 0 3px 1px rgba(130,130,140,.5);
	-moz-box-shadow:0 0 3px 1px rgba(130,130,140,.5);
	box-shadow:0 0 3px 1px rgba(130,130,140,.5);
}
.mainFooter a:link, .mainFooter a:visited {
	color:#111;
	text-decoration: none;
	text-shadow: 1px 1px 1px #999;
    -webkit-text-shadow: 1px 1px 1px #999;
    -moz-text-shadow: 1px 1px 1px #999;
}
.mainFooter a:hover, .mainFooter a:active {
	text-decoration:none;
    text-shadow: 1px 1px 1px #555;
    -webkit-text-shadow: 1px 1px 1px #555;
    -moz-text-shadow: 1px 1px 1px #555;
}
.bottomLinksSplash {
	position:relative;
	width:100%;
	margin-right:auto;
	margin-left:auto;
}
.bottomLinksSplash a {
	margin-left:7px;
}
.copyright {
	color:#111;
    color: rgba(0, 0, 0, .80);
	text-shadow: 1px 1px 1px #999;
    -webkit-text-shadow: 1px 1px 1px #999;
    -moz-text-shadow: 1px 1px 1px #9999;
    margin: 10px 0px 0px 8px;
    position: relative;
}
.clear_both {
	clear:both;
	font-size:1px;
}
/***************************** login **************************************/
.splashLoginBlock {
	position:absolute;
	top:16px;
	right:0px;
	width:396px;
	text-align:left;
	margin:0px; 
}
.splashLoginLine {
	position:relative;
	margin-right:0px;
	border:0px solid blue;
	text-align:left;
	float:left;
}
.splashLoginLine .fieldBg {
	width:150px;
}
.splashLoginLine .fieldBg input {
    background-color: whitesmoke;
    border:1px solid #030303;
	width:140px;
	height:17px;
	padding: 8px 3px 3px 3px ;
	font-size:14px;
}
.splashLoginTxt {
	position:relative;
	color:#fff;
	font-size:11px;
	width:82px;
	margin-bottom:3px;
	padding-top:3px;
}
.splashLoginArea {
	position:relative;
	height:17px;
	width:148px;
	background-color:#fff;
	border:1px solid #1d2a5b;
	color:#203360;
	padding: 3px 0px 0px 5px;
}
.txtDiv {
	position:relative;
	float:left;
}
.rememberMe {
	position:absolute;
	font-size: 12px;
	top:0px;
	left:0px;
	width:120px;
}
.rememberMe labelr {
	position:absolute;
	top:2px;
	left:22px;
	width:100px;
	color:#444;
}
.splashLoginButton {
	position:absolute;
	top:1px;
	right:15px;
	background: #ee0000;
	background: -moz-linear-gradient(top, #ee0000 0%, #6d0019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee0000), color-stop(100%,#6d0019));
	background: -webkit-linear-gradient(top, #ee0000 0%,#6d0019 100%);
	background: -o-linear-gradient(top, #ee0000 0%,#6d0019 100%);
	background: -ms-linear-gradient(top, #ee0000 0%,#6d0019 100%);
	background: linear-gradient(to bottom, #ee0000 0%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee0000', endColorstr='#6d0019',GradientType=0 );
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.1);
	font-size: 14px;
	width:93px;
	height:32px;
	line-height:2.2;
	color:#fff;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
    -webkit-text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
    -moz-text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
	font-weight: bold;
	text-align:center;
	vertical-align:middle;
	border: 1px solid #761B1B;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.splashLoginButtonTrans {
	position:absolute;
	top:2px;
	right:14px;
	width:93px;
	height:32px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.splashLoginButtonTrans:hover {
    box-shadow: -1px -1px 1px 1px rgba(10, 10, 10, 0.1);
    -moz-box-shadow: -1px -1px 1px 1px rgba(10, 10, 10, 0.1);
    -webkit-box-shadow: -1px -1px 1px 1px rgba(10, 10, 10, 0.1);
}
.splashLoginButtonTrans:active {
    box-shadow: 0px 0px 4px 2px rgba(10, 10, 10, 0.4);
    -moz-box-shadow: 0px 0px 4px 2px rgba(10, 10, 10, 0.4);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(10, 10, 10, 0.4);
}
.forgotDiv {
	position:absolute;
	font-size: 12px;
	top:-14px;
	left:163px;
}
.rememberMeBlock {
	position:absolute;
	top:-15px;
	left:24px;
}
.forgotDiv a {
	color:whitesmoke;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
    -webkit-text-shadow: 0 1px 0 rgba(255,255,255,.6);
    -moz-text-shadow: 0 1px 0 rgba(255,255,255,.6);
	text-decoration:none !important;
	color:#444;
}
.forgotDiv a:hover {
	text-decoration:none;
	color:#111;
}
/* * * * Table * * * */
.form_advanced_wrapper {
	overflow: hidden;
}
.form_advanced_table {
	font-size: 11px;
	position: relative;
	width: 100%;
	border-top: 1px solid #dadada;
	border-right: 1px solid #dadada;
	border-left: 1px solid #dadada;
}
.form_advanced_table select,
.form_advanced_table input,
.form_advanced_table textarea,
.form_advanced_table button {
	font-size: 11px;
	margin-left: 0px;
	outline: none;
	vertical-align: middle;
}
.form_advanced_table select,
.form_advanced_table input {
	padding: 1px;
}
.form_advanced_table textarea {
	padding: 0px;
	margin: 0px;
}
.form_advanced_table th,
.form_advanced_table td {
	padding: 8px;
	border-bottom: 1px solid #dadada;
	vertical-align: top;
	white-space: nowrap;
}
.form_advanced_table td.colspan b {
	text-transform:capitalize;
}
.form_advanced_table th,
.form_advanced_table td,
.input_close,
.button_wrapper_close {
	background-color: #f4f7fa;
}
.form_advanced_table th.block_header {
	text-align: left;
	font-weight: normal;
	background-color: #ececec;
	font-size: 12px;
}
.form_advanced_table td.caption {
	text-align: right;
	width: 35%;
	padding-right:2px;
	padding-top:11px;
	/*text-transform: lowercase;*/
}
.form_advanced_table td.caption:first-letter {
	text-transform: capitalize;
}
.form_advanced_table td.value {
	padding-left:2px;
	padding-right: 9px;
}
.form_advanced_table .required {
	color: red;
}
/* * * * Inputs and Wrappers * * * */
.input_wrapper {
	float: left;
	position: relative;
	background-position: top left;
	background-repeat: no-repeat;
}
.input_wrapper_input_set {
	float: none;
}
.input_wrapper_text,
.input_wrapper_email,
.input_wrapper_url,
.input_wrapper_date,
.input_wrapper_datetime,
.input_wrapper_password,
.input_wrapper_number {
	padding: 3px 2px 0px 2px;
	
	height: 20px;
	background-image: url(../images/form_text_wrap.png);
}
.input_wrapper_range,
.input_wrapper_doublerange {
	padding: 4px 4px 0px 4px;
	height: 20px;
	width: 138px;
	background-image: url(../images/form_text_wrap.png);
}
.input_wrapper_textarea {
	border-width: 1px;
	border-style: solid;
	border-color: #B2B2B2 #D9D9D9 #D9D9D9 #B2B2B2;
	
	background-color: #fff;
	padding: 2px;
}
.input_wrapper_textarea .mceEditor table.mceLayout {
	border: none;
}
.input_wrapper_textarea .mceEditor table.mceLayout td {
	padding: 0px;
}
.input_wrapper_textarea .mceEditor table.mceLayout tr.mceFirst td {
	border-top: none;
}
.input_wrapper_textarea .mceEditor table.mceLayout tr.mceLast td {
	border-bottom: none;
}
.input_close {
	position: absolute;
	top: 0px;
	right: 0px;
	
	width: 4px;
	font-size: 1px;
	background-position: right top;
	background-repeat: no-repeat;
	overflow: hidden;
}
.input_close_text,
.input_close_email,
.input_close_url,
.input_close_date,
.input_close_datetime,
.input_close_password,
.input_close_number,
.input_close_range,
.input_close_doublerange {
	height: 23px;
	background-image: url(../images/form_text_wrap.png);
}
.input_close_button,
.input_close_submit,
.input_close_reset {
	display: none;
}
.form_advanced_wrapper .input_close_textarea {
	position: absolute;
	width: 4px;
	height: 4px;
	font-size: 1px;
	overflow: hidden;
	background-image: url(../images/form_area_corners.png);
	background-repeat: no-repeat;
	background-color: #F4F7FA;
}
.input_close_textarea.left.top {
	background-position: left top;
	left: -1px;
	top: -1px;
}
.input_close_textarea.left.bottom {
	background-position: left bottom;
	position: absolute;
	left: -1px;
	bottom: -1px;
}
.input_close_textarea.right.top {
	background-position: right top;
	position: absolute;
	right: -1px;
	top: -1px;
}
.input_close_textarea.right.bottom {
	background-position: right bottom;
	position: absolute;
	right: -1px;
	bottom: -1px;
}
.form_input_file,
.form_input_select2,
.form_input_select_multiple,
.form_input_select_box,
.form_input_slider,
.input_wrapper_select_box .form_input_text {
	/*height: 15px;*/
	width: 198px;
	background-color: whitesmoke;
	margin-bottom: 1px;
}
.form_input_select2 {
	width: 172px;
	height:20px;
	border: 1px solid #1d2a5b;
	background-color: whitesmoke;
	margin-bottom: 1px;
	margin-left:2px;
}
.input_wrapper_select_box .form_input_text {
	width: 194px;
	height: 15px;
}
.form_input_text,
.form_input_email,
.form_input_url,
.form_input_date,
.form_input_datetime,
.form_input_password,
.form_input_number,
.form_input_range,
.form_input_doublerange {
	border: none;
	width: 100%;
	background-color: whitesmoke;
}
.form_input_textarea {
	border: none;
	background-color: whitesmoke;
	width: 100%;
	height: 157px;
	resize: none;
}
.input_wrapper_text,
.input_wrapper_email,
.input_wrapper_url,
.input_wrapper_date,
.input_wrapper_datetime,
.input_wrapper_password,
.input_wrapper_number,
.input_wrapper_textarea {
	width: 196px;
}
.form_input_select_multiple {
	height: 160px;
}
.input_wrapper_value {
	padding-top: 4px;
	font-weight: bold;
	white-space: normal;
}
.form_input_radio,
.form_input_checkbox {
	margin-top: 0px;
	margin-bottom: 0px;
}
.input_wrapper labelr {
	vertical-align: middle;
}
.form_advanced_table .colspan .input_wrapper {
	/*width: 100%;*/
	width: auto;
}
.form_advanced_table .fieldBg       img.info,
.form_advanced_table .fieldBg.error img.warn {
	display: inline;
	float: none;
	margin-top: 0px;
}
/* Universal (resizable) button */
.button_wrapper {
	position: relative;
	display: inline-block;
	text-align: center;
	background-position: left top;
}
*+html .button_wrapper {
	display: inline;
}
*html .button_wrapper {
	display: inline;
}
.button_wrapper_close {
	position: absolute;
	top: 0px;
	right: 0px;
	
	font-size: 1px;
	width: 4px;
	overflow: hidden;
	background-position: right top;
}
.button_wrapper,
.button_wrapper_close {
	background-image: url(../images/button_bg.png);
	background-repeat: no-repeat;
}
.button_wrapper,
.button_wrapper input,
.button_wrapper_close {
	height: 25px;
}
.button_wrapper input.form_input_button,
.button_wrapper input.form_input_submit,
.button_wrapper input.form_input_reset {
	background-image: none;
	width: auto;
	/*background-color: transparent;*/
}
.button_wrapper:hover {
	background-position: 0px -50px;
}
.button_wrapper:hover .button_wrapper_close {
	background-position: right -50px;
}
.button_wrapper:active {
	background-position: 0px -100px;
}
.button_wrapper:active .button_wrapper_close {
	background-position: right -100px;
}
/* [END] Universal (resizable) button */
input[type=submit],
input[type=button],
input[type=reset],
input.submit,
input.button,
input.reset {
	border: none;
	padding: 5px 6px 20px 6px;
	width: 70px;
	height: 25px;
	overflow: visible; /* IE paddings fix */
	background: transparent url(../images/button1_bg.png) no-repeat scroll left top;
}
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
input.submit:hover,
input.button:hover,
input.reset:hover {
	background-position: 0px -50px;
}
input[type=submit]:active,
input[type=button]:active,
input[type=reset]:active,
input.submit:active,
input.button:active,
input.reset:active {
	background-position: 0px -100px;
}
.button_icon {
	width: 16px;
	height: 16px;
	margin: 4px 0px 0px 4px;
	
	position: relative;
	float: left;
}
/* * * * [end] Buttons style * * * */
.form_advanced_table img.info,
.form_advanced_table img.warn,
.multiply_add_button,
.multiply_remove_button,
.multiply_other_button,
.reload_button {
	margin-left: 3px;
	margin-top: 3px;
	
	position: relative;
	display: block;
	float: left;
	cursor: help;
}
.multiply_add_button,
.multiply_remove_button,
.multiply_other_button,
.reload_button {
	cursor: pointer;
}
.form_advanced_table img.warn {
	display: none;
}
.error img.warn {
	display: block;
}
/* * * * * */
.form_advanced .ui-slider {
	height: 16px;
	width: auto;
	margin-top: 0px;
	margin-right: 18px;
	position: relative;
	border: none;
}
.ui-slider .ui-widget-header {
	height: 10px;
	position: absolute;
	top: 3px;
	/*background-color: #cccccc;*/
	font-size: 1px;
	
	border:none;
}
.ui-slider-handle {
	position: absolute;
	top: 1px;
	height: 12px;
	width: 16px;
	
	/*padding-left: 2px;
	padding-right: 2px;*/
	cursor: pointer;

	text-align: center;
	color: #333333;
	overflow: hidden;
	font-size: 10px;
	
	background-color: whitesmoke;
	background-image: url(../images/slider_trigger_bg.gif);
	background-position: top left;
	background-repeat: repeat-x;
}
.ui-slider-handle.handle1 {
	width: 18px;
}
/* * * * * */
#float_info {
	background-color: rgb(30, 30, 30);
	border: 1px solid whitesmoke;
	color:#fff;
	padding: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	max-width: 120px;
	padding: 10px 15px;
}
.block_collapse_btn {
	float: right;
	position: relative;
	cursor: pointer;
}
/* * * * * Other forms customization * * * * */
.quick_search_form1_wrapper .form_input_file,
.quick_search_form1_wrapper .form_input_select,
.quick_search_form1_wrapper .form_input_select_multiple,
.quick_search_form1_wrapper .form_input_select_box,
.quick_search_form1_wrapper .form_input_slider,
.quick_search_form2_wrapper .form_input_file,
.quick_search_form2_wrapper .form_input_select,
.quick_search_form2_wrapper .form_input_select_multiple,
.quick_search_form2_wrapper .form_input_select_box,
.quick_search_form2_wrapper .form_input_slider,
.simple_search_form1_wrapper .form_input_file,
.simple_search_form1_wrapper .form_input_select,
.simple_search_form1_wrapper .form_input_select_multiple,
.simple_search_form1_wrapper .form_input_select_box,
.simple_search_form1_wrapper .form_input_slider,
.simple_search_form2_wrapper .form_input_file,
.simple_search_form2_wrapper .form_input_select,
.simple_search_form2_wrapper .form_input_select_multiple,
.simple_search_form2_wrapper .form_input_select_box,
.simple_search_form2_wrapper .form_input_slider,
.login_box_form_wrapper .form_input_file,
.login_box_form_wrapper .form_input_select,
.login_box_form_wrapper .form_input_select_multiple,
.login_box_form_wrapper .form_input_select_box,
.login_box_form_wrapper .form_input_slider {
	width: 144px;
}
.quick_search_form1_wrapper .input_wrapper_text,
.quick_search_form1_wrapper .input_wrapper_email,
.quick_search_form1_wrapper .input_wrapper_url,
.quick_search_form1_wrapper .input_wrapper_date,
.quick_search_form1_wrapper .input_wrapper_datetime,
.quick_search_form1_wrapper .input_wrapper_password,
.quick_search_form1_wrapper .input_wrapper_number,
.quick_search_form1_wrapper .input_wrapper_textarea,
.quick_search_form2_wrapper .input_wrapper_text,
.quick_search_form2_wrapper .input_wrapper_email,
.quick_search_form2_wrapper .input_wrapper_url,
.quick_search_form2_wrapper .input_wrapper_date,
.quick_search_form2_wrapper .input_wrapper_datetime,
.quick_search_form2_wrapper .input_wrapper_password,
.quick_search_form2_wrapper .input_wrapper_number,
.quick_search_form2_wrapper .input_wrapper_textarea,
.simple_search_form1_wrapper .input_wrapper_text,
.simple_search_form1_wrapper .input_wrapper_email,
.simple_search_form1_wrapper .input_wrapper_url,
.simple_search_form1_wrapper .input_wrapper_date,
.simple_search_form1_wrapper .input_wrapper_datetime,
.simple_search_form1_wrapper .input_wrapper_password,
.simple_search_form1_wrapper .input_wrapper_number,
.simple_search_form1_wrapper .input_wrapper_textarea,
.simple_search_form2_wrapper .input_wrapper_text,
.simple_search_form2_wrapper .input_wrapper_email,
.simple_search_form2_wrapper .input_wrapper_url,
.simple_search_form2_wrapper .input_wrapper_date,
.simple_search_form2_wrapper .input_wrapper_datetime,
.simple_search_form2_wrapper .input_wrapper_password,
.simple_search_form2_wrapper .input_wrapper_number,
.simple_search_form2_wrapper .input_wrapper_textarea,
.login_box_form_wrapper .input_wrapper_text,
.login_box_form_wrapper .input_wrapper_email,
.login_box_form_wrapper .input_wrapper_url,
.login_box_form_wrapper .input_wrapper_date,
.login_box_form_wrapper .input_wrapper_datetime,
.login_box_form_wrapper .input_wrapper_password,
.login_box_form_wrapper .input_wrapper_number,
.login_box_form_wrapper .input_wrapper_textarea,
.subscribe_form_wrapper .input_wrapper_text {
	width: 142px;
}
/* * * * * location field * * * * */
.location_wrapper > div:first-child {
	margin-bottom:5px;
}
.location_wrapper .form_input_metric {
	width:auto;
}
.location_wrapper .form_input_distance,
.location_wrapper .form_input_zip {
	width:60px;
}
.infoPic {
	position:absolute;
	top:9px;
	right:12px;
	height:15px;
	width:15px;
}
 .warnPic
 {
	position:absolute;
	top:9px;
	right:12px;
	height:1px;
	width:15px;
}
.warn {
display:none;
}
.joinFormBlock {
	position:relative;
	border:0px solid #000;
	margin:35px 70px 0px 0px;
}
.splashJoinLine {
	position:relative;
	border:1px solid transparent;
	text-align:left;
	margin-bottom:9px;
}
.splashJoinTxt {
	position:relative;
	color:#666 ;
	font-size:14px;
	width:130px;
	margin:6px 4px 3px 0px;
	float:left;
	padding-top:2px;
	text-align:right;
	margin-left: -20px;
}
.splashLoginTxt {
	position:relative;
	color:#666 ;
	font-size:14px;
	width:130px;
	margin:6px 4px 3px 0px;
	float:left;
	padding-top:2px;
	text-align:right;
	margin-left: -65px;
}
.radioBlock {
	position:relative;
	height:20px;
	width:20px;
	color:#847f7f;
	padding: 5px 0px 0px 0px;
	margin:0px 5px 0px 0px;
	font-size:11px;
	float:left;
}
.splashJoinRadioTxt {
	position:relative;
	color:#847f7f;
	font-size:12px;
	width:65px;
	margin:0px 0px 8px 0px;
	float:left;
	padding-top:6px;
	text-align:right;
}
.selectDiv {
	margin:1px 0px 0px 0px;
	width:163px;
}
.agreeText {
	position:relative;
	height:25px;
	width:168px;
	color:#847f7f;
	padding: 7px 0px 0px 10px;
	font-size:12px;
	float:left;
}

.splashJoinButton {
	position:absolute;
	left:180px;
	top:0px;
	width:93px;
	height:32px;
	text-align:center;
	vertical-align:middle;
	line-height: 2.2;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:4px;
	color:#fff;
	background: #333333;
	background: -moz-linear-gradient(top, #333333 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #333333 0%,#000000 100%);
	background: -o-linear-gradient(top, #333333 0%,#000000 100%);
	background: -ms-linear-gradient(top, #333333 0%,#000000 100%);
	background: linear-gradient(to bottom, #333333 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 );
	text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
    -webkit-text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
    -moz-text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
	font-weight: bold;
	text-align:center;
	vertical-align:middle;
	border: 1px solid #222222;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.splashJoinButtonTrans {
	position:absolute;
	top:5px;
	right:34px;
	width:93px;
	height:32px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.splashJoinButtonTrans:hover {
    box-shadow: -1px -1px 1px 1px rgba(10, 10, 10, 0.1);
    -moz-box-shadow: -1px -1px 1px 1px rgba(10, 10, 10, 0.1);
    -webkit-box-shadow: -1px -1px 1px 1px rgba(10, 10, 10, 0.1);
}
.splashJoinButtonTrans:active {
    box-shadow: 0px 0px 4px 2px rgba(10, 10, 10, 0.3);
    -moz-box-shadow: 0px 0px 4px 2px rgba(10, 10, 10, 0.3);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(10, 10, 10, 0.3);
}
.splashSearchButton {
	position:absolute;
	left:140px;
	background-image: url('../images/button.png');
	background-repeat: no-repeat;
	width:103px;
	height:34px;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	padding-top:9px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}

.splashSearchButtonTrans {
	position:absolute;
	left:139px;
}
.splashSearchButtonTrans:hover {
    box-shadow: -1px -1px 2px 1px rgba(10, 10, 10, 0.4);
    -moz-box-shadow: -1px -1px 2px 1px rgba(10, 10, 10, 0.4);
    -webkit-box-shadow: -1px -1px 2px 1px rgba(10, 10, 10, 0.4);
    border-radius: 5px;
    width: 100px;
    margin-left: 2px;
}
.splashSearchButtonTrans:active {
    box-shadow: 0px 0px 4px 1px rgba(10, 10, 10, 0.6);
    -moz-box-shadow: 0px 0px 4px 1px rgba(10, 10, 10, 0.6);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(10, 10, 10, 0.6);
    border-radius: 5px;
    width: 100px;
    margin-left: 2px;
}
.fieldBg {
	position:relative;
	width:168px;
	color:#847f7f;
	float:left;
}

.fieldBg input {
	width:296px;
	padding: 6px;
	font-size:16px;
	color: #999;
	background:white;
	border: 1px solid whitesmoke;
    -webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.fieldPassword input {
	width:186px;
	padding: 6px;
	font-size:16px;
	color: #999;
	background:white;
	border: 1px solid whitesmoke;
    -webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}



.fieldArea {
	background-color:transparent;
	padding-top:2px;
}

input, select {
	font-weight:normal;
	vertical-align:middle;
}
.splashSearchTxt {
	position:relative;
	color:#fff;
	font-size:14px;
	width:110px;
	margin:2px 4px 3px 0px;
	float:left;
	padding-top:2px;
	text-align:right;
}
.splashSearchLine {
	position:relative;
	text-align:left;
	margin-bottom:15px;
}
.SearchBlock {
    height: auto;
    position: relative;
    width: 382px;
	margin-bottom:20px;
}
.clsform2 {
}
.clslistbg {
	border:1px solid #030303;
	width:162px;
	height:30px;
	font-size:16px;
	padding:2px 0 2px 2px;
}
#fade {
    top:20px;
    left:50px;
}
.front-welcome-text {
	font-size:20px;
	font-weight:300;
	line-height:22px;
	color:#fff;
	text-align:left;
	text-shadow: 0 1px 2px #000 ;
    -webkit-text-shadow: 0 1px 2px #000 ;
    -moz-text-shadow: 0 1px 2px#000  ;
	margin-top: 60px;
}
.front-welcome-text h1 {
    margin-bottom: 3px;
    font-size: 22px;
    font-weight: 700;
	color:#111;
	text-shadow: 0 1px 2px #445;
    -webkit-text-shadow: 0 1px 2px #445;
    -moz-text-shadow: 0 1px 2px #445;
}
.avatar-text {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	color: #eee;
	text-shadow: 0 1px 2px #000;
    -webkit-text-shadow: 0 1px 2px #000;
    -moz-text-shadow: 0 1px 2px #000;
}
p {
margin: 0;
}
::-webkit-calendar-picker-indicator { 
display: none; 
}

/*** Profile Thumbs Carousel ***/
.avatar-footer {
	margin-bottom: 30px;
	height: 130px;
	width: 1010px;
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
	transition: all .45s ease-in-out;
}
.carousel-profiles {
	max-height: 110px;
	width:220px;
}
.caroufredsel_wrapper {
	overflow: visible!important;
}
.carousel-profiles ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.carousel-profiles li {
	text-align: center;
	background-color: transparent;
	border: 3px solid #d9d9d9;
	width: 100px;
	height: 100px;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.carousel-profiles li:hover {
	border: 3px solid #111;
	-webkit-animation: pulse ease-in-out 1 normal 200ms;
	-moz-animation: pulse ease-in-out 1 normal 200ms;
	-ms-animation: pulse ease-in-out 1 normal 200ms;
	-o-animation: pulse ease-in-out 1 normal 200ms;
	animation: pulse ease-in-out 1 normal 200ms;
}
.carousel-profiles img {
}
/*** Profile Thumbs Carousel ***/
input::-webkit-input-placeholder {
	color: #999;
}
input:-moz-input-placeholder {
	color: #999;
}
#fade {
	top: -56px;
	left: -262px;
	z-index: 1;
}
.block_collapse_btn {
	float: right;
	position: relative;
	cursor: pointer;
}
#sys-bm-switcher-language{
    background-color: white;
    border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 3px 1px #000000;
	-webkit-box-shadow: 0 0 3px 1px #000000;
    -moz-box-shadow:0 0 3px 1px #000000;
    padding: 14px;
    display:none;
}
#sys-bm-switcher-language .disignBoxFirst .boxFirstHeader .dbTitle  {
	font-size: 14px;
	color: #000;
	text-shadow: 0 0 0 #000;
    -webkit-text-shadow: 0 0 0 #000;
    -moz-text-shadow: 0 0 0 #000 ;
	text-transform: uppercase;
}
#sys-bm-switcher-language .disignBoxFirst .boxFirstHeader .dbTopMenu .dbClose {
	text-shadow: 0 0 0 #000;
    -webkit-text-shadow: 0 0 0 #000;
    -moz-text-shadow: 0 0 0 #000 ;
}
#sys-bm-switcher-language a {
	margin-left: 16px;
}
#dolPopupFog {
	height:100% !important;
}
#sys-bm-switcher-language .container {
	width: 100%;
}
div#dolPopupFog {
  display: none!important;
}
.sys-bm-sub-item.bx-def-margin-sec-top-auto.sys-bm-sub-item-selected {
  margin-left: -2px;
}
/* Larger than Desktop HD */
@media (max-width: 1200px) {}

/* Larger than desktop */
@media (max-width: 1040px) {
.avatar-footer {
	width: 890px;
}
}

@media (max-width: 991px) {
	
	.registerBlock {
	margin-left: auto;
	margin-right: auto;
}
	
}




@media (min-width: 768px) {
.container {
	-webkit-transition: all 0.95s ease;
	-moz-transition: all 0.95s ease;
	-o-transition: all 0.95s ease;
	transition: all 0.95s ease;
}
}
/* Larger than tablet */
@media (max-width: 700px) {
.avatar-footer {
	width: 560px;
}
}

/* Larger than mobile */
@media (max-width: 639px) {
.front-welcome-text {
	margin-top: 20px;
}
.avatar-text {
	margin-top: 0px;
}
}
@media (max-width: 600px) {
.avatar-footer {
	width: 450px;
}
}
@media (max-width: 470px) {
.avatar-footer {
	width: 340px;
}
}
@media (max-width: 440px) {

.registerBlock {
    width: 318px;
	transition: all .45s ease-in-out;
}
.fieldBg input {
	width: 260px;
	transition: all .45s ease-in-out;
}
.fieldPassword input {
	width: 150px;
	transition: all .45s ease-in-out;
}
.registerBlock .fieldBg input {
	width: 238px;
	transition: all .45s ease-in-out;
}

}
@media (max-width: 370px) {

.registerBlock {
    width: 268px;
	transition: all .45s ease-in-out;
}
.fieldBg input {
	width: 210px;
	transition: all .45s ease-in-out;
}
.fieldPassword input {
	width: 100px;
	transition: all .45s ease-in-out;
}
.registerBlock .fieldBg input {
	width: 188px;
	transition: all .45s ease-in-out;
}
.splashJoinButton {
	position:absolute;
	left:96px;
	transition: all .45s ease-in-out;
}
}
@media (max-height: 948px) {
.mainFooter {
  position: relative;
}
}