div.aqb-guests-block {
	position: relative;
}
div.aqb-guests-block div.MsgBox {
	padding-top: 20px;
	padding-bottom: 20px;
}
div.aqb-guests-block table.MsgBox {
	margin-top: 0px;
	margin-bottom: 0px;
} 


