.page_column {
	display:none;
}

/*.rw-profile-tabs {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 18px;
	text-align: left;
	padding-bottom: 8px;
	border-bottom: 5px solid #CACACA;
}*/

.rw-profile-tabs {
    border-bottom: 2px solid #D5D3D2;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
    padding-bottom: 8px;
    text-align: left;
}


.rw-profile-tabs ul{
	list-style: none;
	padding:0px;
	margin:0px;
	position: relative;
	display: table;
}

.rw-profile-tabs ul li {
	display: inline-block;
}

/*.rw-profile-tabs ul li .prof-tabs-default{
	margin:5px;
	padding:8px;
	background-color: #CACACA;
	border-radius: 5px;
}*/

.rw-profile-tabs ul li .prof-tabs-default {
    background-color: #D5D3D2;
    margin: 1px;
    padding: 10px;
}

.rw-profile-tabs ul li a,
.rw-profile-tabs ul li a:link,
.rw-profile-tabs ul li a:visited,
.rw-profile-tabs ul li a:active,
.rw-profile-tabs ul li a:hover{
	text-decoration: none;
}

.rw-profile-tabs ul li ul{
	position: absolute;
	background-color: #E9E9E9;
	display: table;
	padding: 5px;
	border-radius: 5px;
	z-index: 20;
	right: 5px;
	top: 23px;
	display:none;
}

.rw-profile-tabs ul li ul li{
	display:block;
}

.rw-profile-tabs ul li .prof-tabs-more {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #808080;
	margin-left: 5px;
	margin-right: 5px;
	display: block;
}

#rw-tbs-content {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#rw-tbs-content .bx-def-margin-top {
	margin-top: 10px;
}

#rw-tbs-content .disignBoxFirst {
	background-color: transparent;
}

#rw-tbs-content .bx-def-border {
	border: none;
}

#rw-tbs-content .bx-def-bc-padding {
	padding: 20px 0px 0px 0px;
}

#rw-tbs-content .bx-def-bh-margin {
	margin: 20px 20px 0px 0px;
}

@media (max-width: 700px) {
	
	.rw-profile-tabs ul li .prof-tabs-default {
    font-size: 13px;
    padding: 5px;
}
	}