<div class="bx-twig-unit bx-twig-unit-admin bx-def-margin-top-auto">
 
    <div class="bx-twig-unit-info" style="padding-left:30px">

        <div class="bx_sys_unit_checkbox bx-def-round-corners">
			<input type="checkbox" name="entry[]" value="__id__" />
		</div>  

        <div class="bx-twig-unit-title bx-def-font-h2">
			 <a href='__url__' ><b>__title__</b></a> 
		</div> 
 
		<div  class="bx-twig-unit-line">   
			  <b><bx_text:_modzzz_contact_field_type /> :</b> __type__ 
		</div> 
 
		<div  class="bx-twig-unit-line">   
			 <b><bx_text:_modzzz_contact_lang_key /> :</b> __lang_key__ 
		</div>  
	</div>
</div>