<div class="bx-twig-unit bx-twig-unit-admin bx-def-margin-top-auto">
 
    <div class="bx_sys_unit_checkbox bx-def-round-corners">
        <input type="checkbox" name="entry[]" value="__id__" />
    </div>
 
    <div class="bx-twig-unit-info"  style="padding-left:30px">

        <div class="bx-twig-unit-title bx-def-font-h2">
            <a href="__edit_url__">__title__</a>
        </div>

        <div class="bx-twig-unit-line"><bx_text:_modzzz_contact_support_email />: __email__</div> 

        <div class="bx-twig-unit-line bx-twig-unit-desc">__desc__</div> 
    </div>    

</div>

