 <div class="sys-service-menu-wrp bx-def-margin-sec-right bx-def-padding-right">
			<div class="thumbnail_block thumbnail_block_icon" style="float:left;">
				<div class="thumbnail_image" onmouseout="javascript:stopUserInfoTimer(1)" onmouseover="javascript:startUserInfoTimer(1, this)">
					<a title="__name__" href="__url____name__">
					<bx_if:thumb>
						<img class="thumbnail_image_file bx-def-thumbnail bx-def-shadow bx-img-retina" src-2x="__browse__" src="__thumb__">
					</bx_if:thumb>
					<bx_if:first_letter>
						 <p class="thumbnail_image_letter bx-def-border bx-def-thumbnail bx-def-shadow">__first_name__</p>
					</bx_if:first_letter>
					<i class="sys-online-offline sys-icon circle sys-status-online" title="Online"></i>
					</a>
				</div>
			<div class="clear_both"></div>
			</div>
        <ul class="account-s clearfix" id="otherFuns">
         <li><a class="sys-sm-link" href="__url____name__"><bx_text:_sys_sm_login /></a></li>
        <li><a class="sys-sm-link" href="member.php"><bx_text:_sys_sm_account /></a></li>
        <li><a class="sys-sm-link" href="pedit.php?ID=__id__"><i class="sys-icon cog"><bx_text:_sys_sm_logout /></i></a></li>
	    <li><a class="sys-sm-link" href="logout.php?action=member_logout"><i class="sys-icon sign-out"></i><bx_text:_sys_sm_profile_settings /></a></li>
        </ul> 
			
<div id="headerSearch" class="hide">
<form class="search_ss" method="get" action="<bx_url_root />searchKeyword.php">
<input type="search" name="keyword" placeholder="Search here.." value=""/>
<!-- <input type="submit" />
 --></form>
</div>
</div> 