<div id="MainNav" class="masthead-row hasSearch">
<div class="inner-wrapper clearfix">
<div id="NavExtras">
	<div class="navSearch">
<ul id="otherFuns">
	<li class="search"><a href="javascript:void(0)"><i class="fa fa-search"></i></a></li>
	<li class="person"><a href="javascript:void(0)" onclick="showPopupLoginForm(); return false;" ><i class="fa fa-user"></i></a></li>
</ul>
    <div class="hide" id="headerSearch">
    <div class="search_block">
    <form class="search_ss" method="get" action="<bx_url_root />searchKeyword.php">
    <input type="search" name="keyword" placeholder="Search here.." value="" />
<!--    <input type="submit" />
-->    </form>
    </div>
    </div>
</div>
</div> 
</div>
</div>