<link href="<bx_url_root />modules/bsetec/giveme/templates/base/css/switchy.css" rel="stylesheet" />
<script type="text/javascript" src="<bx_url_root />modules/bsetec/giveme/templates/base/js/switchy.js"></script>
<script type="text/javascript" src="<bx_url_root />modules/bsetec/giveme/templates/base/js/jquery.event.drag.js"></script> 
<script type="text/javascript" src="<bx_url_root />modules/bsetec/giveme/templates/base/js/jquery.animate-color.js"></script> 
<script type="text/javascript" src="<bx_url_root />modules/bsetec/giveme/templates/base/js/application.js"></script> 

<script type="text/javascript" src="<bx_url_root />plugins/jquery/jquery.ui.all.min.js"></script> 
<link href="<bx_url_root />plugins/jquery/themes/jquery-ui.css" rel="stylesheet" />

<a href="#" class="scrollToTop">Scroll To Top</a>

<div id="tabsholder">
    <div class="logo clsClearfix">
        <h1 class="clsFloatLeft"><a target="_blank" href="http://www.bsetec.com"><img src="<bx_url_root />modules/bsetec/giveme/templates/base/images/logo.png"></a></h1>
        <div class="themepanel clsFloatRight"><a target="_blank" href="http://www.bsetec.com">Theme-panel</a></div>
        <div class="clear"></div>
    </div>

        <div class="panelwhole">
        <bx_injection:injection_bsetecgivemefootermenu />
        <div class="contents marginbot">
            <div class="title_block">
                <h2>Splash Page & Member page privilage</h2>
              </div>  
              <form  enctype="multipart/form-data" action="<bx_url_root />modules/?r=giveme/administration/splashpage" method="post">
            <!--Blocks listing start -->
            <table cellpadding="0" cellspacing="0" width="500" style="margin: 20px 18px;" class="block_custom">
            <input type="hidden" name="enable_giveme_home" value="enable">
       
                   <tr><td>Splash for Guest: </td><td>
                    <div class="change_color_guest">
                             <select id="theme_visibiliy_guest" name="giveme_visibiliy_guest" class= "switch-me"> 
                                  <option value="enable">enable</option>
                                  <option value="disable">disable</option>
                             </select>
                            </div>
                   </td></tr>
                     <tr><td>Splash only for Members: </td><td>
                      <div class="change_color_only_user">
                       <select id="theme_visibiliy_only_user" name="giveme_visibiliy_user" class= "switch-me"> 
                            <option value="enable">enable</option>
                            <option value="disable">disable</option>
                       </select>
                    </div>
                      </td></tr>
         <tr><td></td><td style="text-align:center;"><input type="submit" value="save" class="save_mastero_settings" name="save_mastero_settings"></td></tr>
            </table>
                </form>

                <!-- list added layouts container end-->

              <div id="tabs" class="splash_tab clearfix">
                  <ul>
                    <!-- <li><a href="#tabs-1">All</a></li> -->
                    <li><a href="#tabs-2">GiveME</a></li>
                    <li><a href="#tabs-3">Default</a></li>
                  </ul>
                  <!-- <div id="tabs-1">
                    
                  </div> -->
                  <div id="tabs-2" class="clearfix">
                    <bx_repeat:mastero_modules>
                    <div class="buildBlock">
                    <i class="sys-icon arrow-down"></i>
                    <a href="javascript:void(0)" class="add-block" data-parent_id="__ID__" data-block="__title__" data-block_type="giveme" data-bg_image="__bg_image__">__title__</a>
                    </div>
                    </bx_repeat:mastero_modules>
                  </div>
                  <div id="tabs-3" class="clearfix">
                    <bx_repeat:default_modules>
                    <div class="buildBlock">
                    <i class="sys-icon arrow-down"></i>
                    <a href="javascript:void(0)" class="add-block" data-parent_id="__ID__" data-block="__title__" data-block_type="default">__title__</a>
                    </div>
                    </bx_repeat:default_modules>
                  </div>
                </div>
            <!--Blocks listing end -->

              <div class="title_block">
                <h2>Layout</h2>
              </div>             
                
                <div class="custom_block clearfix">
                  <div class="block_all clearfix">
                   <form  enctype="multipart/form-data" action="<bx_url_root />modules/?r=giveme/administration/splashpage" method="post">
                     <ul class="clearfix blocks-list">
                         __ajax_block__
                     </ul>
                     <input type="submit" name="submit_block" value="save" />
                     <input type="submit" name="save_mastero_reset_settings" onclick="if(!confirm('Are you sure want to reset this blocks?')) return false;" value="Reset" />
                   </form>
                  </div>
                </div>

              
  
        </div>    
 
</div>
 <!--scripts start -->
              <script>
              $(document).ready(function() { 
                //tabs 
                //alert($(this).find('.block-name').val())

                $("#tabs").tabs();
                //sortable
                $(".blocks-list").sortable({
                    handle: '.handle-sort',
                    cancel: ''
                }).disableSelection();
                //add block
                $('.add-block').click(function()
                {
                  var this_id = $(this);
                  var status = true;
                  //validate if the block is already added
                  $(".single-block").each(function(index) 
                  {
                    if(this_id.attr('data-block') == $(this).find('.block-name').val())
                    {
                      alert('Block already added');
                      status = false;
                      return false;
                    }
                  });
                  if(!status)
                  {
                    return false;
                  }

                  var parent_id = $(this).attr('data-parent_id');
                  var block_name = $(this).find('.block-name').val();
                  var block = $(this).attr('data-block');
                  var block_type = $(this).attr('data-block_type');
                  var bg_image = (block_type=='giveme') ?  $(this).data('bg_image') :'';
                  
                  $.ajax(
                    {
                      url: "<bx_url_root />modules/?r=giveme/administration/ajax_block", 
                      type: "POST",
                      data: {parent_id:parent_id,block:block,block_type:block_type,bg_image:bg_image,block_name:block_name},
                      success: function(result)
                      {
                        $('.blocks-list').prepend(result);
                      }
                    });

                });

                //enable/disable option
                $('.switch-me').switchy();
      
                $(function() {

                  var menu_visibiliy = $("#menu_visibiliy").val('__enable_giveme_home__');
                  if('__enable_giveme_home__' == "enable"){
                      $(" .change_color .switchy-bar").css("background", "green");
                  } else {
                    $(" .change_color .switchy-bar").css("background", "red");
                    $(" .change_color .switchy-slider").css("left", "50px");
                  }
                  
                  $("#theme_visibiliy_guest").val('__giveme_visibiliy_guest__');
                  
                  if('__giveme_visibiliy_guest__' == "enable"){
                    $(" .change_color_guest .switchy-bar").css("background", "green");
                  } else {
                    $(" .change_color_guest .switchy-bar").css("background", "red");
                    $(" .change_color_guest .switchy-slider").css("left", "50px");
                  }

                  /***********************************************************/
                  $("#theme_visibiliy_only_user").val('__giveme_visibiliy_user__');
                  
                  if('__giveme_visibiliy_user__' == "enable"){
                    $(" .change_color_only_user .switchy-bar").css("background", "green");
                  }else {
                    $(" .change_color_only_user .switchy-bar").css("background", "red");
                    $(" .change_color_only_user .switchy-slider").css("left", "50px");
                  }
                  

                });
                 var visibility = '__enable_giveme_home__';
                 if(visibility == 'disable'){
                    $("#mastero_blocks *").attr("disabled", "disabled").off('click');
                 }
                 /***********************************************************/
                 $('#menu_visibiliy').on('change', function(){
                  if ($(this).val() == 'enable'){
                     $(" .change_color .switchy-bar").css("background", "green");
                  }else{
                    $(" .change_color .switchy-bar").css("background", "red");
                  }
                 });

                 /***********************************************************/
                 $('#theme_visibiliy_guest').on('change', function(){
                    if ($(this).val() == 'enable'){
                       $(" .change_color_guest .switchy-bar").css("background", "green");
                    }else{
                      $(" .change_color_guest .switchy-bar").css("background", "red");
                    }
                  });
                 /***********************************************************/
                 $('#theme_visibiliy_only_user').on('change', function(){
                    if ($(this).val() == 'enable'){
                       $(" .change_color_only_user .switchy-bar").css("background", "green");
                    }else{
                      $(" .change_color_only_user .switchy-bar").css("background", "red");
                    }
                  });
              });
              
              //delete block
              $(document).on('click', '.delete-block', function()
              {
                var sure = confirm('Are you sure want to delete this block?');
                if (sure == true)
                {
                  var $parent = $(this).parents("li");
                    $parent.fadeOut(400, function(){
                    $parent.remove();
                  });
                }
                return false;

              });

              //image preview and validation
              $(document).on('change', 'input:file', function()
                {
                  
                  var _URL = window.URL || window.webkitURL;
                  var file, img,height;
                  var id = $(this).data('id');
                  var height = $(this).data('height');
                  var width = $(this).data('width');
                  var selector = $('#'+id);
                    if (this.files && this.files[0]) {
                      img = new Image();
                         img.src = _URL.createObjectURL(this.files[0]);
                         if(id=='fav') image_type = ['gif','png','jpg','jpeg','ico']; else image_type = ['gif','png','jpg','jpeg']; 
                         ext = $(this).val().split('.').pop().toLowerCase();
                   if($.inArray(ext, image_type) == -1) {
                      alert("invalid image");
                      var file_upload_text = "'file-upload-text'";
                        var image_input = '<input type="file" name="bg_image[]" class="file" data-id="'+id+'" data-height="320" data-width="1400" onchange="document.getElementById('+file_upload_text+').innerHTML= this.value"/><span>Change BG Image</span>';

                        $('input[data-id="'+id+'"]').remove();
                        $('.'+id).html(image_input);
                      selector.attr('src','');
                      $('#'+id).attr('src','__no_image__');
                      return false;
                   }else{

                    //selector.attr('src',img.src);
                    img.onload = function(){
                    if(this.width < width || this.height < height)
                    {
                     alert('Your Selected Image size '+this.width+'px  '+this.height+'px.Please use image dimension '+width+'px  '+height+'px');

                        var file_upload_text = "'file-upload-text'";
                        var image_input = '<input type="file" name="bg_image[]" class="file" data-id="'+id+'" data-height="320" data-width="1400" onchange="document.getElementById('+file_upload_text+').innerHTML= this.value"/><span>Change BG Image</span>';

                        $('input[data-id="'+id+'"]').remove();
                        $('.'+id).html(image_input);
                        selector.attr('src','');
                        $('#'+id).attr('src','__no_image__');
                        return false;
                    }
                    else
                    {
                      selector.attr('src',img.src);
                      selector.css("display", "block");
                    }
                    }
                    
                   }
                         
                     }
               });
              
              //delete image 
              //image preview and validation
              $(document).on('click', '.delete-blockimage', function()
              {
                  var data_id = $(this).attr('data-id');
                  //replace the input field
                  var file_upload_text = "'file-upload-text'";
                  var image_input = '<input type="file" name="bg_image[]" class="file" data-id="'+data_id+'" data-height="320" data-width="1400"  onchange="document.getElementById('+file_upload_text+').innerHTML= this.value"/><span>Change BG Image</span>';

                  $('input[data-id="'+data_id+'"]').remove();
                  // $(this).parents('.single-block').find('.old-image').append(image_input);

                  $('.'+data_id).html(image_input);

                  // $('input[data-id="'+data_id+'"]').replaceWith($('input[data-id="'+data_id+'"]').clone(true));

                  //change the previous image to no image
                  $('#'+data_id).attr('src','__no_image__');

                  //delete the oldimage, so as to delete in file location and DB
                  $('#'+data_id).parents('.single-block').find('.old-image').val('');
              });
              
              </script>
              <script type="text/javascript">
              $(document).ready(function(){
	
	//Check to see if the window is top if not then display button
	$(window).scroll(function(){
		
		if ($(this).scrollTop() > 100) {
			//alert();
			$('.scrollToTop').fadeIn();
		} else {
			$('.scrollToTop').fadeOut();
		}
	});
	
	//Click event to scroll to top
	$('.scrollToTop').click(function(){
		$('html, body').animate({scrollTop : 0},800);
		return false;
	});
	
});
              </script>
              <!--scripts end -->
              