<script type="text/javascript">
    $(document).ready(function() {
        var slideropt = $("#slide_visibility").attr('alt');
        if (slideropt) {
            $("#sv_" + slideropt).prop("checked", true);
        }
    });
</script>

<div id="tabsholder">
    <div class="logo clsClearfix">
        <h1 class="clsFloatLeft"><a target="_blank" href="http://www.bsetec.com"><img src="<bx_url_root />modules/bsetec/giveme/templates/base/images/logo.png"></a></h1>
        <div class="themepanel clsFloatRight"><a target="_blank" href="http://www.bsetec.com">Theme-panel</a></div>
        <div class="clear"></div>
    </div>
    <div class="panelwhole">
        <bx_injection:injection_bsetecgivemefootermenu />
        <div class="contents marginbot">
            <div class="tabscontent">
                <div id="tabssecond">
                    <ul>
                        <li class="active"><a href="<bx_url_root />modules/?r=giveme/administration/slider">Slider Settings</a></li>
                        <li><a href="<bx_url_root />modules/?r=giveme/administration/slider/resource">Slider Resources</a></li>
                    </ul>
                    <div class="tabcontentinner slider">
                        <form  enctype="multipart/form-data" action="<bx_url_root />modules/?r=giveme/administration/slider" method="post">
                            <div class="formrow">
                                <div class="formrowcotent-left clsFloatLeft"><label>visibility: </label></div>
                                <div class="formrowcotent-right clsFloatLeft" id="slide_visibility" alt="__giveme_slide_visibility__">
                                    <input type="radio"  value="disable" id="sv_disable" name="giveme_slide_visibility"><span>Disable</span>
                                    <input type="radio"  id="sv_enable" value="enable"  name="giveme_slide_visibility"><span>Enable</span><br />
                                </div>
                                <div class="clear"></div>	
                            </div>		
                            <div class="formrow">	
                                <div class="formrowcotent-left clsFloatLeft"><label> Slider style</label>				</div>
                                <div class="formrowcotent-right clsFloatLeft">
                                    <select class="selecttransition" name="giveme_slide_transition">
                                        <option value="__giveme_slide_transition__">__giveme_slide_transition__</option>
                                        <option value="fade">Fade</option>
                                        <option value="slide">Slide</option>
                                        <option value="slideleft">Slide Left</option>
                                        <option value="slideup">Slide Up</option>
                                        <option value="zoomin">Zoomin</option>
                                        <option value="zoomout">Zoom Out</option>
                                    </select>
                                </div>
                                <div class="clear"></div>
                            </div> 

                            <div class="formrow">
                                <div class="formrowcotent-left clsFloatLeft"><label> Play Duration</label></div>
                                <div class="formrowcotent-right clsFloatLeft">
                                    <select class="selectnavstyle dselect" name="giveme_slide_trantime">
                                        <option value="__giveme_slide_trantime__">__giveme_slide_trantime__ sec</option>
                                        <option value="6">6 sec </option>
                                        <option value="9">9 sec </option>
                                        <option value="12">12 sec </option>
                                        <option value="15">15 sec </option>
                                        <option value="18">18 sec </option>
                                        <option value="21">21 sec </option>
                                        <option value="24">24 sec</option>
                                    </select>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="formrow">
                                <div class="formrowcotent-left clsFloatLeft"> 
                                    <label>&nbsp;</label></div>	
                                <div class="formrowcotent-right clsFloatLeft">
                                    <input type="submit" value="save" name="save_bannersettings">
                                </div>
                                <div class="clear"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>