<div id="tabsholder">
    <div class="logo clsClearfix">
        <h1 class="clsFloatLeft"><a target="_blank" href="http://www.bsetec.com"><img src="<bx_url_root />modules/bsetec/giveme/templates/base/images/logo.png"></a></h1>
        <div class="themepanel clsFloatRight"><a target="_blank" href="http://www.bsetec.com">Theme-panel</a></div>
        <div class="clear"></div>
    </div>
    <div class="panelwhole">
        <bx_injection:injection_bsetecgivemefootermenu />
        <div class="contents marginbot">
            <div id="content2" class="tabscontent">
                <div id="tabs-1">
                    <h2> Logo </h2>
                    <div class="tabcontentinner logosection">
                        __page_code_logo__
                    </div>
                </div>
                <div id="tabs-2">
                    <h2> Favicon</h2>
                    <div class="tabcontentinner logosection">
                        __page_code_favicon__
                    </div>
                </div>
                <div id="tabs-3">
                    <h2> Site Settings </h2> 
                    <div class="tabcontentinner favion">
                        __page_code_settings__	
                    </div>
                </div>
                <div id="tabs-4">
                    <h2> Splash </h2>
                    <div class="tabcontentinner">
                        __page_code_promo__
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<script type="text/javascript">
    var joeexample = new switchcontent("switchgroup2", "div") //Limit scanning of switch contents to just "div" elements
    joeexample.setStatus('[-] ', '[+] ')
    joeexample.setColor('#000', '#999')
    joeexample.collapsePrevious(true) //Allow more than 1 content to be open simultanously
    joeexample.setPersist(false)
    joeexample.defaultExpanded(0, 1)
    joeexample.init()
</script>
