<style>
.homepage_blk span.caption{color: #333333; text-transform:capitalize;
    display: block;  font: bold 13px/32px arial;}
 .homepage_blk textarea {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    width: 97%;
}
#homepage_bottom_block{ margin:0 0 10px 0;}
 .homepage_blk .button_wrapper {
    margin-top: 10px;
}
.tabcontentinner { padding: 15px 25px;}
</style>
<script type="text/javascript">
    $(document).ready(function() {
        var slideropt = $("#splash_visibility").attr('alt');
        if (slideropt) {
            $("#sv_" + slideropt).prop("checked", true);
        }
    });
</script>

<div id="tabsholder">
    <div class="logo clsClearfix">
        <h1 class="clsFloatLeft"><a target="_blank" href="http://www.bsetec.com"><img src="<bx_url_root />modules/bsetec/giveme/templates/base/images/logo.png"></a></h1>
        <div class="themepanel clsFloatRight"><a target="_blank" href="http://www.bsetec.com">Theme-panel</a></div>
        <div class="clear"></div>
    </div>
    <div class="panelwhole">
        <bx_injection:injection_bsetecgivemefootermenu />
        <div class="contents marginbot">
            <div id="content2" class="tabscontent">
                <div id="tabs-1">
                    <h2> General </h2> 
                    <div class="tabcontentinner favion">
                    <form id="homepage_general" class="homepage_general homepage_blk" method="POST" action="">
<div class="formrow">	
                                <div class="formrowcotent-left clsFloatLeft"><label> Choose layout</label>				</div>
                                <div class="formrowcotent-right clsFloatLeft">
                                    <select class="selecttransition" name="school_layout">
                                        <option value="__school_layout__">__school_layout__</option>
                                        <option value="fixed">Fixed</option>
                                        <option value="fluid">Fluid</option>
                                    </select>
                                </div>
                                <div class="clear"></div>
                            </div>
                        <div class="">
                            <div class="">
                                <span class="caption">Contact Info: </span>
                                <textarea class="" name="contact_info">__contact_info__</textarea>
                            </div>

                            <div class="">
                                <span class="caption">About Us: </span>
                                <textarea class="" name="about_us">__about_us__</textarea>
                            </div>

                            <div class="button_wrapper">
                                <input class="form_input_submit" type="submit" name="Btn_General_save" value="Save">
                            </div>
                        </div>

                    </form>
                    </div>
                </div>

                <div id="tabs-2">
                    <h2> Home Page Blocks </h2> 
                    <div class="tabcontentinner favion">
                    <form id="homepage_blocks" class="homepage_blocks homepage_blk" method="POST" action="">
                       <div class="formrow">	
                                <div class="formrowcotent-left clsFloatLeft"><label> Splash page</label>				</div>
                                <div class="formrowcotent-right clsFloatLeft">
                                    <select class="selecttransition" name="school_splash">
                                        <option value="__school_splash__">__school_splash__</option>
                                        <option value="on">On</option>
                                        <option value="off">Off</option>
                                    </select>
                                </div>
                                <div class="clear"></div>
                            </div>
                        <div class="formrow">
                            <div class="formrowcotent-left clsFloatLeft"><label>Splash visibility: </label></div>
                            <div alt="__splash_visibility__" id="splash_visibility" class="formrowcotent-right clsFloatLeft">
                                <input type="radio" name="splash_visibility" id="sv_visitor" value="visitor"><span>Visitor</span>
                                <input type="radio" name="splash_visibility" value="all" id="sv_all"><span>All Member</span><br>
                            </div>
                            <div class="clear"></div>	
                        </div>
                        <div class="">
                            <div class="">
                                <span class="caption">Block1: </span>
                                <textarea class="" name="block_one">__block_one__</textarea>
                            </div>

                            <div class="">
                                <span class="caption">Block2: </span>
                                <textarea class="" name="block_two">__block_two__</textarea>
                            </div>

                            <div class="">
                                <span class="caption">Block3: </span>
                                <textarea class="" name="block_three">__block_three__</textarea>
                            </div>

                            <div class="">
                                <span class="caption">Block4: </span>
                                <textarea class="" name="block_four">__block_four__</textarea>
                            </div>

                            <div class="button_wrapper">
                                <input class="form_input_submit" type="submit" name="Btn_Home_block" value="Save">
                            </div>
                        </div>

                    </form>
                    </div>
                </div>

                <div id="tabs-3">
                    <h2> Home Page Bottom Blocks </h2> 
                    <div class="tabcontentinner favion">
                    <form id="homepage_bottom_blocks" class="homepage_bottom_blocks homepage_blk" method="POST" action="">

                        <div class="">
                            <div class="">
                                <span class="caption">Bottom Block: </span>
                                <select name="homepage_bottom_block" id="homepage_bottom_block">
                                    <option value="off">Off</option>
                                    <option value="event">Event</option>
                                    <option value="gallery">Gallery</option>
                                    <option value="blog">Blog</option>
                                </select>
                            </div>

                            <div class="button_wrapper">
                                <input class="form_input_submit" type="submit" name="Btn_Bottom_block" value="Save">
                            </div>
                        </div>

                    </form>
                    </div>
                </div>

            </div> 
        </div>
    </div>
</div>
<script type="text/javascript">
    $( document ).ready(function() {
        var bottom_block = '__btblock__';
        $("#homepage_bottom_block").val(bottom_block);
    });
</script>
