
<div id="tabsholder">
<div class="logo clsClearfix">
 <h1 class="clsFloatLeft"><a target="_blank" href="http://www.bsetec.com"><img src="<bx_url_root />modules/bsetec/giveme/templates/base/images/logo.png"></a></h1>
 <div class="themepanel clsFloatRight"><a target="_blank" href="http://www.bsetec.com">Theme-panel</a></div>
 <div class="clear"></div>
 </div>
<div class="panelwhole">


<div class="contents marginbot">
<div class="tabscontent">
<div id="tabssecond">
<ul>
<li class="active"><a href="<bx_url_root />modules/?r=giveme/administration/parallax/pages">Parallax Pages</a></li>
<li><a href="<bx_url_root />modules/?r=giveme/administration/parallax/menu">Parallax  Menu</a></li>
<li><a href="<bx_url_root />modules/?r=giveme/administration/parallax/settings">Parallax  Settings</a></li>
</ul>
<div class="tabcontentinner">
<bx_if:createnew>
<div class="createnew"><a href="<bx_url_root />modules/?r=giveme/administration/parallax/pages/new">Create New</a></div>
</bx_if:createnew>
<bx_if:pagelist>
<link href="<bx_url_root />modules/bsetec/giveme/templates/base/css/datatable.css" rel="stylesheet" />
<script src="<bx_url_root />modules/bsetec/giveme/templates/base/css/jquery.dataTables.js" type="text/javascript"></script>
<script src="<bx_url_root />modules/bsetec/giveme/templates/base/css/jquery.dataTables.rowReordering.js" type="text/javascript"></script>
</bx_if:pagelist>
<div class="clear"></div>
</div>
</div>
</div>
</div>
</div> 
</div>