
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<bx_if:donation_statuss>
<div class="giving-changes">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2>__title__</h2>
<p>__desc__</p>
<div class="changes-color">
<a href="javascript:void(0)">
<bx_text:_giveme_reached_so_far /></a>
</div>
 <div class="giving-scale">
 <img src="__url__templates/tmpl_giving_hand/images/scale.png" />
 
    <bx_if:donate_status>
    __popup__
    </bx_if:donate_status>
</div>



<div>
<div class="first-bord">
<div class="donate-border">
<div class="arrow-down"></div>
<p class="donate-txt"> __raised__ <bx_text:_giveme_donation_raised /> </p>
</div>
</div><!--end col-->

<div class="second-bord">
<div class="donate-border">
<div class="arrow-down"></div>
<p class="donate-txt">__days__  <bx_text:_giveme_donation_days_left /></p>
</div>
</div><!--end col-->

<div class="third-bord">
<div class="donate-border right">
<div class="arrow-down"></div>
<p class="donate-txt">goal: __amount__</p>
</div>
</div><!--end col-->
</div>

</div>
</div>
</div>
</div>
</bx_if:donation_statuss>
<div id="myDonate" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
                    <div class="boxFirstHeader bx-def-bh-margin clearfix">
        <h4 class="modal-title">Donate
                <span class="icon-logo"><span class="path1"></span></span>
<button type="button" class="close" data-dismiss="modal">&times;</button>
<span class="lines clearfix"></span>
</div>
</h4>
      </div>
      <div class="modal-body col-sm-12">
      <div class="head clearfix">
         <label class=" control-label col-sm-6">Amount :</label>
       <input type="number" min="1" class="button col-sm-6" name="donate_amt" id="donate_amt" />
       <span id="donate_amt_error" class="col-sm-12"></span>
         </div>
         
         
       <input id="goDonate" class="btn btn-color" type="button" value="Donate Now">
           </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
$('#donate_amt_error').empty();
});
 $('#goDonate').on('click',function(){
 	var Amount = $('#donate_amt').val()
 	if(Amount==''){
 		$('#donate_amt_error').html('Please fill Donation Amount')
 	}else{
 		$.ajax({
	      url:"__url__m/giveme/donatesubmit",
	      type:'POST',
	      data:{amt:Amount},
	      success:function(data){
	        window.location="__url__m/payment/cart";
	      },
	      fail:function(){
	        $('#donate_amt_error').html('Failed To add Cart')
	      }
	    })
 	}
    
  });
 $('#myDonate').on('hidden.bs.modal', function (e) {
  $('#donate_amt_error').empty();

  $(this)
    .find("#donate_amt")
       .val('')
       .end()
});
</script>



