<style type="text/css">

#maps iframe{
 pointer-events: none;	
}
</style>


<div class="new_news clearfix">
<div class="container">
<div class="row">
<div class="col-sm-12 newsletters clearfix">
<div class="col-sm-3 addre clearfix"><div class="foot"><a href="">
<img alt="Giveme" class="mainLogo" src="http://bsetecdemo.com/demo/giveme/media/images/1469105210.png" style="max-width: 1150px;"></a></div>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
<ul><li><i class="fa fa-home"></i>123 Eccles Old Road, New Salford Road, East London, United Kingdom, M6 7AF</li>
<li><i class="fa fa-envelope-o"></i>info@example.com</li>
<li><i class="fa fa-phone"></i>+000 123 45678</li>
</ul>
</div>
<div class="col-sm-3 quick clearfix">
<h3 class="title">Quick Links</h3>
<ul>
<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>blogs</a></li>
<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>donate</a></li>
<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>donors</a></li>
<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>help</a></li>
<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>news</a></li>
<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>people</a></li>
</ul>
</div>

<div class="col-sm-3 main clearfix">
<h3 class="title">main</h3>
<ul>
<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>blogs</a></li>
<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>donate</a></li>
<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>donors</a></li>
<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>help</a></li>
<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>news</a></li>
<li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>people</a></li>
</ul>
</div>


<div class="col-sm-3 right_side clearfix">
<h3 class="title">News Letter</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has<br /> been the industry’s standard dummy text ever since the 1500s.</p>
<form>
<input type="text" placeholder="enter your first name">
<input type="email" placeholder="enter your email address">
<button class="submit">submit </button>
</form>
</div>
</div>
</div>
</div>
</div>
