
<bx_if:blogs>
<div class="giving-latest">
<div class="container">
<div class="row">
<div class="col-sm-12 giving-top">
<h2><bx_text:_giveme_latest_blogs /></h2>
<div class="head-line"><div class="splash_line"></div></div>
<p><bx_text:_giveme_latest_blogs_content /></p>
</div>

__blog__
<!-- <bx_repeat:blogs>
<div class="col-sm-4">
<div class="latest-leftimg" style="background:url(__url__media/images/blog/orig___photo__) no-repeat; 	height:285px;	background-size: cover; ">
<div class="latest-lefttext">
<span class="left-text">__date__</span>
<span class="right-text">__month__<br/> __year__</span>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="latest-centerbg">
<div class="__arrow__"></div>
<h3>__title__</h3>
<p>__content__</p>
<div class="giving-button"><a href="__url__blogs/entry/__uri__"><bx_text:_giveme_read_more /></a></div>
</div>
</div>
</bx_repeat:blogs> -->

</div>
<bx_if:blog_count>
<div class="giving-buttons"><a href="__url__blogs/home/"><bx_text:_giveme_view_all /></a></div>
</bx_if:blog_count>

</div>
</div> 
</bx_if:blogs>

