<h2>Edit Menu</h2>
<form method="post" action="<bx_url_root />modules/?r=giveme/updatemenuitem">
    <p>
        <label for="edit-menu-title">Title</label>
        <input type="text" name="title" id="edit-menu-title" value="__menu_title__">
    </p>
    <p>
        <label for="edit-menu-url">URL</label>
        <input type="text" name="url" id="edit-menu-url" value="__menu_url__">
    </p>
    <p>
        <label for="edit-menu-class">Class</label>
        <input type="text" name="class" id="edit-menu-class" value="__menu_class__">
    </p>
    <input type="hidden" name="menu_id" value="__menu_id__">
</form>