<link rel="stylesheet" type="text/css" href="__site_url__modules/bsetec/giveme/templates/base/css/style.css" media="screen" />
<script type="text/javascript" src="__site_url__modules/bsetec/giveme/templates/base/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="__site_url__modules/bsetec/giveme/templates/base/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<link rel="stylesheet" type="text/css" href="__site_url__modules/bsetec/giveme/templates/base/rs-plugin/css/settings.css" media="screen" />

__banner_code__		

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.tp-banner').revolution({
            delay: __giveme_slide_trantime__000,
            startwidth: 1170,
            startheight:775,
            hideThumbs: 10,
            fullWidth: "on",
        });
    });
</script>