<!-- <div class="sch_bottom">
    <h2> __title__</h2>
	<div class="sch_bottom_content">
    <div class="container">
		<div class="result_block">
			__list__
            <div class="clear_both"></div>
		</div>
		<bx_if:view_more>     
			<div class="sch_bottom_viewmore">  
				<a href="__viewPageUrl__"> View More __name__</a> 
			</div>
		</bx_if:view_more>
    </div>
	</div>
</div> -->

<div class="col-md-4 col-sm-6 col-xs-12 footer-blog">
            	<h2>recent blog post</h2>
                <ul>
                __blogs__	
              </ul>
</div><!--end col-->
