.aqb_pyml_profile {
	float: left;
	margin-bottom: 10px;
	position: relative;
}
.aqb_pyml_popup_info {
	display: none;
	position: absolute;
	padding: 10px 10px 0px;
	z-index: 5;
	left: 70px;
	top: 30px;
}
.aqb_pyml_popup_info > div {
	margin-bottom: 10px;
}