<div class="bx-twig-unit bx-twig-unit-admin modzzz_church_unit bx-def-margin-top-auto">

    <div class="bx_sys_unit_checkbox bx-def-round-corners">
        <input type="checkbox" name="entry[]" value="__id__" />
    </div>

    <div class="bx-twig-unit-thumb-cont bx-def-margin-sec-right">
        <a href="__church_url__"><img class="bx-twig-unit-thumb bx-def-round-corners bx-def-shadow" src="__thumb_url__"></a>
    </div>

    <div class="bx-twig-unit-info">

        <div class="bx-twig-unit-title bx-def-font-h2">
            <a href="__church_url__">__church_title__</a>
        </div>

        <div class="bx-twig-unit-line bx-twig-unit-desc">__snippet_text__</div>
   
		<div class="bx-twig-unit-line bx-twig-unit-desc">
			<bx_text:_modzzz_church_message />: <i>__claim_message__</i>
		</div>

		<div class="bx-twig-unit-line bx-twig-unit-special">
			<bx_text:_modzzz_church_claimed_by /> <a href="__claimant_url__">__claimant_name__</a> <bx_text:_modzzz_church_on /> __claim_date__
		</div>  

    </div>    

</div>