<div class="bx_sys_block_info">
    <div class="infoMain">
        __author_unit__
        <div class="infoText bx-def-margin-sec-top">
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon time"></i>
                __date__ (__date_ago__)
            </div>
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon folder-close"></i>
                __cats__
            </div>
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon tags"></i>
                __tags__
            </div>
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon eye-open"></i>
                __views__
            </div> 
			<bx_if:owner>
				<div class="infoUnit infoUnitFontIcon">
					<i class="sys-icon time"></i>
					<bx_text:_modzzz_church_expires />: __expire__
				</div>
				<div class="infoUnit infoUnitFontIcon">
					<i class="sys-icon star-empty"></i>
					 __featured__
				</div>
			</bx_if:owner>
        </div>
        <div class="clear_both"></div>
    </div>
</div>

__fields__


