  
<div class="bx-twig-unit modzzz_church_unit bx-def-margin-top-auto"> 
	<div class="bx-twig-unit-icon-cont bx-def-margin-sec-right">
	   __post_uthumb__
	</div>

	<div class="bx-twig-unit-info">  

		<div class="bx-twig-unit-line"><b><bx_text:_modzzz_church_review_for /></b> <a href="__church_url__">__church_name__</a></div> 

		<div class="bx-twig-unit-line bx-twig-unit-desc">__snippet_text__</div>

		<div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
			__created__ <span class="bullet">&#183;</span> <bx_text:_From /> <a href="__author_url__">__author__</a>
		</div>  

	</div>   
</div> 
 
 





