<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
 
  
      <div class="CSSBusinessListingViewTop" >
   <table >
            
   
      <tr>
      
      <td width="50%">
       
       
      <div>
            <div>
               <button class="JoinEvent"  onclick="getHtmlData ('ajaxy_popup_result_div___id__','__Join_Suivre__', false, 'post');return false;">
						   __TitleJoin__
	            </button> 
            </div>
            <div class="clear_both"></div> 
                  
            <div id="ajaxy_popup_result_div___id__" style="display:none;"></div> 
     
        </div> 
      
     </td> 
   
      <td width="50%">
      
      <div>  
             <a class="ShareEvent" href="javascript:void(0)" onclick="javascript:$('#sys-share-popup').dolPopup({pointer: {el:this}})" title="    
             <bx_text_attribute:_Share />">
                  <i class="sys-icon share-alt"></i> __TitleShare__
             </a>
     </div> 
      
 
     </td> 
   
       
       </tr>
     </table>
    </div>
    
  <div class="clear_both"></div> 