<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    
 
      <div class="CSSBusinessListingViewTop" >
   <table >
            
   
    
   
      <tr>
      
      
      
      <td width="50%">
      
       <div><button class="ConnectNetwork" class="managresume" class="menuLink" onclick="window.open ('__UrlTitlePrint__','_self');">
						 <i class="sys-icon print"></i> __TitlePrint__
					</button>  
               </div>
                         
      
     </td> 
   
      <td width="50%"> 
               <div><button class="ConnectNetwork"  class="menuLink" onclick="window.open ('__UrlTitleExcel__','_self');">
						 <i class="sys-icon table"></i> __TitleExcel__
					</button> 
                    
               
         </div> 
                         
       </td>
       </tr>
       
   
       
     </table>
    </div>
    
  <div class="clear_both"></div> 