<div class="bx_sys_block_info">
    <div class="infoMain">
 
		__author_unit__
   
        <div class="infoText bx-def-margin-sec-top">
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon bell"></i>
                __date__ (__date_ago__)
            </div>
			<!--
			<bx_if:location>
 				<div class="infoUnit infoUnitLocation"> 
					__location__
				</div> 
			</bx_if:location>
			-->
         </div>
        <div class="clear_both"></div>
    </div>
</div>

__fields__

