<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

 
       <div class="etapeTitle" style="box-sizing: border-box; position: relative; font-size: 22px; font-weight: bold; margin: 0px 0px; background: #18a5a5; font-family: Lato, sans-serif; line-height: 1 !important; padding: 15px 20px !important; color: white !important; text-transform: none !important; border-radius:10px; text-align:center; ">
          
          
          
               __title__
             
             
       <div class="bx-twig-unit-line" style="font-weight:normal;font-size:16px;margin-top:10px;"> 
          <i class="sys-icon calendar-check-o"></i>
			<span style="font-weight:normal; font-size:16px;"><bx_text:_bx_events_starts />: __start_date__</span><span itemprop="startDate" content="__start_date_snippet__"></span>
		
        </div>
        
        
		<div class="bx-twig-unit-line" style="font-weight:normal;font-size:16px;margin-top:10px;"> 
         <i class="sys-icon  calendar-times-o"></i>  
			<span style="font-weight:normal; font-size:16px;"><bx_text:_bx_events_ends />: <span class="dtend">__end_date__</span><span itemprop="endDate" content="__end_date_snippet__"></span>
            
		</div>
       <div> <br></div>
        
      
      
      <div class="bx-twig-unit-line" itemprop="location" itemscope itemtype="http://schema.org/Place" style="font-weight:bold;font-size:16px;">
   
      <i class="sys-icon building-o"> </i>  <span itemprop="name">__place__</span> <br />
		 <bx_if:street>
			<span itemprop="streetAddress" style="font-weight:normal;font-size:16px;margin-top:10px;"> <i class="sys-icon map"> &nbsp;</i> __street__</span> 
		 </bx_if:street>
         
 
   </div> 
   
    <div itemprop="location" class="bx-twig-unit-line" style="font-weight:normal; font-size:16px; margin-top:10px;">
              
         <i class="sys-icon map-marker"> &nbsp;</i>
        
        <bx_if:zipcode>
			<span itemprop="postalCode">__zip__</span> 
		</bx_if:zipcode> 
        __city__  &nbsp; __drapeau__ __country__
               
      </div>
        
        
        
        
     </div> 
     
         
     
 
     