<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div itemscope itemtype="http://schema.org/Event">
	<div class="bx_events_block_info">
		<div class="infoMain">  
        
         <div class="CSSbusinessListingUnit" >
        <table>
      
           <tr>
                       
             <td>
                         __author_unit__
                         
                           <!-- AQB Soft Freddy: Befriend -->
			<bx_if:befriend>
				<div class="aqb-guest-actions">
					<button class="ConnectNetwork" onclick="$.post('list_pop.php?action=friend', {ID: __id__}, function(sData){document.location.href=document.location.href;}); return false;">
						<i class="sys-icon user-plus"></i> <bx_text:_connexiont_btn_befriend />
					</button>
				</div>
			</bx_if:befriend>
			<!-- AQB Soft Freddy: Befriend -->
            
     <bx_if:contacter_url>
        <br /> <div>
              <button class="ConnectNetwork"   onclick="window.open ('__contacter_url__','_self');">
		  <i class="sys-icon envelope"> &nbsp;</i><bx_text:_bx_events_message_contacter />  
				</button>
        </div>
     </bx_if:contacter_url>
        
             </td>
           </tr>
         </table>

  </div>   
  
        
              
	 <div class="CSSbusinessListingUnit" >
    <table >
                  
         <!--  
            <tr>
           <td >
       
       <div class="bx-twig-unit-line"> 
        <i class="sys-icon calendar-check-o"></i>
			<bx_text:_bx_events_starts />: <span><strong>__start_date__</strong><span itemprop="startDate" content="__start_date_snippet__"></span></span>
		</div>
		<div class="bx-twig-unit-line"> 
         <i class="sys-icon  calendar-times-o"></i>  
			<bx_text:_bx_events_ends />: <span class="dtend"><strong>__end_date__</strong><span itemprop="endDate" content="__end_date_snippet__"></span></span>
		</div>
        
          
             </td>
            </tr>
         <tr>
           <td >
           
            <div class="bx-twig-unit-line bx-def-padding-thd-topbottom"> <span style="font-size:16px;"><b><bx_text:_bx_events_unit_location />:</b></span></div>

   <div class="bx-twig-unit-line" itemprop="location" itemscope itemtype="http://schema.org/Place">
    <i class="sys-icon building-o"> &nbsp;</i>
      <span itemprop="name">__place__</span> <br />
      <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		 <bx_if:street>
			<span itemprop="streetAddress">__street__</span> <br />
		 </bx_if:street>
          <bx_if:street1>
			<span itemprop="streetAddress">__street1__</span> <br />
		 </bx_if:street1>
		 <bx_if:zipcode>
			<span itemprop="postalCode">__zip__</span> 
		 </bx_if:zipcode>
         <span itemprop="addressLocality"><i class="sys-icon certificate"> &nbsp;</i>__state_city__</span> <br />
		
       
   </div>
           
           </td>
          </tr>
          -->
          <tr>
           <td >
        
       <!--
        <bx_if:OrganizerName> 
					<div class="infoUnit infoUnitFontIcon">
						
                  <div class="bx-twig-unit-line bx-def-padding-thd-topbottom"><span style="font-size:16px;"><b><i class="sys-icon briefcase"></i> <bx_text:_bx_events_unit_organizer />:</b></span> </div>
                  <i class="sys-icon user"></i>
						 __OrganizerName__
					</div>
		</bx_if:OrganizerName> 
        -->
        
         <bx_if:OrganizerPhone> 
					<div class="infoUnit infoUnitFontIcon" style="font-size:16px;">
						<i class="fa fa-phone"></i> 
						 __OrganizerPhone__
					</div>
		</bx_if:OrganizerPhone> 
        
         <bx_if:OrganizerEmail> 
					<div class="infoUnit infoUnitFontIcon" style="font-size:16px;">
						<i class="sys-icon envelope"></i>
						__OrganizerEmail__
					</div>
		</bx_if:OrganizerEmail> 
        
         <bx_if:OrganizerWebsite> 
					<div class="infoUnit infoUnitFontIcon" style="font-size:16px;">
						<i class="sys-icon desktop"></i>
						 __OrganizerWebsite__
					</div>
		</bx_if:OrganizerWebsite> 
          
                         </td>
            </tr>
          <tr>
           <td >
           <div class="infoUnit infoUnitFontIcon">
					
					 <i class="sys-icon eye "></i>   __views__  <!--<bx_text:_bx_events_caption_view />-->
				</div> 
                
                
                  <bx_if:participants> 
					
					 <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
        <i class="sys-icon users "></i>   __participants__ <bx_text:_bx_events_caption_participants_view /> 
              </div>
              </bx_if:participants>  
              
              

				
        
        
                    </td>
            </tr>
            
             
         <tr>
           <td >
        
        
        <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
              
              
			
			
				<bx_if:showexpiry> 
					<div class="infoUnit infoUnitFontIcon">
						<i class="sys-icon times-circle"></i>
						<bx_text:_bx_events_expires />: __expire__
					</div>
				</bx_if:showexpiry> 

				<!--
                <bx_if:owner>  
					<div class="infoUnit infoUnitFontIcon">
						<i class="sys-icon star"></i>
						<strong> __featured__</strong>
					</div> 
				</bx_if:owner>
                
                
                  <div class="infoUnit infoUnitFontIcon">        
					<i class="sys-icon folder"></i>
					__cats__
				</div>
				<div class="infoUnit infoUnitFontIcon">
					<i class="sys-icon tags"></i>
					__tags__
				</div> 
                --> 
                	
               
                </div>  
                 </td>
                    </tr>
                      
                   
              
                   
                       
                </table>

    </div> 
    
    
    <div class="clear_both"></div>

			
		</div>
	</div>

</div>

