<style type='text/css'>
	.form_advanced_table .sys-icon.multiply_remove_button2 {
		color:#c00;
	}

	.form_advanced_table .sys-icon.multiply_remove_button2 {
		display: block;
		float: left;
		min-width:16px;
		min-height:16px;
		margin-left:3px;
		margin-top:5px;
		font-size:16px;
		vertical-align:middle;
		cursor: pointer;
	} 
 
	.bx_sys_file_upload_wrapper1 {
		width:630px;     
		border:4px solid #e5e5e5;
		background-color:#fff;
	} 
</style>
  
<div class="bx_sys_file_upload_wrapper"> 
    <div class="bx_sys_file_upload_line bx-def-margin-sec-bottom"> 
  
		<div style='float:left;padding-left:20px;margin-top:-10px'>&nbsp; 

			<div class="input_wrapper"><bx_text:_bx_events_price_tickets /><br>
				<input class="bx-def-font" type="text" name="tickets[]" style='height:20px;width:40px' />&nbsp;&nbsp;&nbsp;
			</div> 
			<div class="input_wrapper"><bx_text:_bx_events_price_cost /><br>
				<input class="bx-def-font" type="text" name="cost[]" style='height:20px;width:80px' />&nbsp;&nbsp;&nbsp;
			</div> 

			<div class="input_wrapper input_wrapper_select">
				&nbsp;<br>
				<select class="form_input_select" name="deadline_month[]" style='width:80px' />
					__month_options__
				</select>&nbsp; 
			</div>
			<div class="input_wrapper input_wrapper_select">
				<bx_text:_bx_events_price_deadline /><br>
				<select class="form_input_select" name="deadline_day[]" style='width:40px' />
					__day_options__
				</select>&nbsp; 
			</div>
			<div class="input_wrapper input_wrapper_select">
				&nbsp;<br>
				<select class="form_input_select" name="deadline_year[]" style='width:60px' />
					__year_options__
				</select>&nbsp;&nbsp;&nbsp; 
			</div>

			<div class="input_wrapper"><bx_text:_bx_events_price_info /><br>
				<input class="bx-def-font" type="text" name="info[]" size="35" style='height:20px;width:180px' />
			</div> 

			<i title="Add" alt="Add" class="multiply_add_button sys-icon plus-circle" onclick="$(this).parent().parent().parent().append($(this).parent().parent().clone().find('.multiply_remove_button2').show().end().hide()).find('.bx_sys_file_upload_line').slideDown();" ></i>
			<i title="Remove" alt="Remove" class="multiply_remove_button2 sys-icon minus-circle"  onclick="var $this = this; $(this).parent().parent().slideUp(function () { $($this).parent().parent().remove(); });" style="display:none;" ></i>   
		</div> 
 
 	    <div class="clear_both"></div>  
    </div>  
</div>