<div itemscope="itemscope" itemtype="http://schema.org/Event" class="bx-twig-unit bx_events_unit bx-def-margin-top-auto">

    <div class="bx-twig-unit-thumb-cont bx-def-margin-sec-right">
        <a href="__event_url__"><img itemprop="image" class="bx-twig-unit-thumb bx-def-round-corners bx-def-shadow" src="__thumb_url__"></a>
    </div>

    <div class="bx-twig-unit-info">
    
    

        <div class="bx-twig-unit-title bx-def-font_titre-h2">
            <a class="BoutonJobUnit" href="__event_url__"><span itemprop="name">__event_title__</span></a>
        </div>
       
 
            
       <!--
        <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
   &nbsp;  &nbsp;  &nbsp; <span style="font-size:14px;"><i class="sys-icon users "></i> __participants__  &nbsp;&nbsp;&nbsp;
        <i class="sys-icon eye "></i> __views_count__ </span>
         </div>
         -->
         <div class="infoUnit infoUnitFontIcon  bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
          <span style="font-size:14px;"> <i class="sys-icon calendar"></i> &nbsp; Date: __start_date__</span>
        </div>
        
        <div class="bx-twig-unit-line bx-twig-unit-special">
         <span style="font-size:14px;"> <i class="sys-icon calendar-check-o"> &nbsp;</i> __event_start__<span itemprop="startDate" content="__event_start_rsnippet__"></span></span>
         </div>
        
  
         
         
         
         <!-- <div class="bx-twig-unit-line bx-twig-unit-special"> 
            <i class="sys-icon building-o"> &nbsp;</i>
				<span style="font-size:18px;"><strong> __Place__</strong></span>
			</div> 
            -->
                            
          <div itemprop="location" class="bx-twig-unit-line">
               <strong> <i class="sys-icon building"> &nbsp;</i> __country_city__</strong>
               
        </div>
      
        
        <!-- [begin] school and business listing integration modzzz  -->
		
			
		
		<!-- [end] school and business listing integration modzzz  -->
        
		<!-- [begin] location integration modzzz  -->
		<bx_if:location_event>
			<div class="bx-twig-unit-line bx-twig-unit-special"> 
				<bx_text:_modzzz_location_caption_event_for_location /> __location__
			</div> 
		</bx_if:location_event>
		<!-- [end] location integration modzzz  -->

		<!-- [begin] band integration modzzz  -->
		<bx_if:band_event>
			<div class="bx-twig-unit-line bx-twig-unit-special"> 
				<bx_text:_modzzz_bands_caption_event_for_band /> __band__
			</div> 
		</bx_if:band_event>
		<!-- [end] band integration modzzz  -->		

		<!-- [begin] club integration modzzz  -->
		<bx_if:club_event>
			<div class="bx-twig-unit-line bx-twig-unit-special"> 
				<bx_text:_modzzz_club_caption_event_for_club /> __club__
			</div> 
		</bx_if:club_event>
		<!-- [end] club integration modzzz  -->
 
		

		<!-- [begin] group integration modzzz  -->
		<bx_if:group_event>
			<div class="bx-twig-unit-line bx-twig-unit-special"> 
				<bx_text:_bx_events_caption_event_for_group /> __group__
			</div> 
		</bx_if:group_event>
		<!-- [end] group integration modzzz  -->
        
       
    



       <div  class="bx-twig-unit-line bx-twig-unit-desc bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
        __snippet_text__
        </div>
        
          <div>  
         <button class="ConnectNetwork"   onclick="window.open ('__event_url__','_self');">
		<i class="sys-icon calendar"> &nbsp;</i><strong><bx_text:_bx_events_caption_ensavoirplus /> &nbsp; <i class="sys-icon hand-o-left"> </i> </strong>
		</button>   
        </div> 
   
        
         <bx_if:full>

           <!-- <div class="bx-twig-unit-line bx-twig-unit-rate">__rate__</div>  -->
        
            <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
                <bx_text:_bx_events_by_author /> <a href="__author_url__">__author__</a>  |   <a class="BoutonJoCompanybUnit" href="__company_event_url__"> <i class="sys-icon briefcase"></i> <strong>__company_event__</strong></a>
            </div>   
            
                        

        </bx_if:full>
        
                        

         
        
        
       <!--
        <div>   <button class="bx-btn bx-btn-small bx-btn-ifont"   onclick="window.open ('__event_url__','_self');">
						<i class="sys-icon calendar"> &nbsp;</i><strong><bx_text:_bx_events_caption_ensavoirplus /> &nbsp; <i class="sys-icon hand-o-left"> </i> </strong>
					</button>   
                    </div> 
               
                        
                         
                 

       
        <bx_if:full>

            <div class="bx-twig-unit-line bx-twig-unit-rate">__rate__</div>
        
            <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
                <bx_text:_From /> <a href="__author_url__">__author__</a>
            </div>                    

        </bx_if:full>
        -->
        
      

    </div>    

</div>
<br>