<div class="bx-def-bc-padding">

	<div class="bx-def-margin-bottom">__message__</div> 
	<div> 
		<form method='post' name="membershipfrm">
			<bx_repeat:levels>
				<div>  
					<div style="float:left">
						<a href="javascript: void(0)" onclick="javascript: loadHtmlInPopup('explanation_popup', '__url_root__explanation.php?explain=membership&type=__id__');">__title__</a> 
					</div>
					<div style="float:right">
						<bx_text:_bx_groups_threshold />: <input type=text name=level[__id__] value='__threshold__'> 
					</div> 
				</div>
				<div class="clear_both">&nbsp;</div>
				<div class="bx-def-margin-sec-bottom">&nbsp;</div>
			</bx_repeat:levels>

			<div class="bx-def-margin-sec-bottom">&nbsp;</div>
			<div>		
				<button class="bx-btn bx-btn-img bx-btn-ifont" name='submit' onclick="document.membershipfrm.submit()"> 
					<i class="sys-icon save"></i>
					<bx_text:_Submit />
				</button>  
			</div>
			<div class="clear_both">&nbsp;</div> 
		</form> 
	</div>
</div>
