<div class="bx-def-bc-padding"> 
	<div style="float:left;"> 
		 <bx_text:_bx_groups_form_caption_keyword />&nbsp;<input type=text id="Keyword" name="Keyword" style='height:20px;'>&nbsp;&nbsp;
		  <bx_text:_bx_groups_form_caption_city /> <input type=text id="City" name="City" style='height:20px;'> 
	</div>
	<div class='clear_both'></div>
	<div style="float:left"> 
		 <button class="bx-btn bx-btn-small bx-btn-img bx-btn-ifont" onclick="window.location='__search_url__'+document.getElementById('Keyword').value+'/'+document.getElementById('City').value"> 
			<i class="sys-icon search"></i>
			<bx_text:_bx_groups_go />
		</button>  
	</div>
	<div class='clear_both'></div>
</div>
