<script type="text/javascript">
$(document).ready(function(){
    $("#sel_lang_id").change(function () {
        var uid = $("#uid").val();                  
        var lang_id = $(this).val();               

         $.ajax({
            type: 'POST',
            url:'m/linkedin_profile/PublicProfileInfoUpdate', 
            //data: 'lang_id='+lang_id+'uid='+uid,         
            data: {"lang_id":lang_id,"uid":uid},
            success: function (data)
            {          
                window.location = 'pedit.php?ID='+uid;
            }
        }); 
    });
});
</script>
 <form action="" id="langform" method="post">
     <input type="hidden" id="uid" name="uid" value=__uid__ >
        <bx_text: _abs_plinkin_select_language: />
    <select name="lang_id" id="sel_lang_id">
        <bx_repeat:langs>
            <option value= "__lang_id__" __selected__> __pro__  </option>      
        </bx_repeat:langs>
    </select>
</form>