<div class="ajax_loading"><img src="<bx_url_root />modules/abservetech/linkedin_profile/templates/base/images/ajax-loader.gif"></div>
<form method="post" id="media_save_form" action="">
<div>
<input type="hidden" name="media_for_id" value="__media_for_id__">
<input type="hidden" name="media_type" class="media_type" value="__media_type__">
<input type="hidden" name="media_for" class="media_for" value="__media_for__">
</div>
<ul>
	<li>
		<div class="fieldgroup">
			<div class="media_source" id="">
				<img src="__media_image_path__"/>
				<input type="hidden" name="media_name" class="media_name" value="__media_name__">
				<input type="hidden" name="media_image_name" class="media_image_name" value="__media_image_name__">
				<input type="hidden" name="media_file_type" class="media_file_type" value="__media_file_type__">
				<input type="hidden" name="media_pages_count" class="media_pages_count" value="__media_pages_count__">
			</div>
		</div>
	</li>
	<li>
		<div class="fieldgroup">
			<label for=""><bx_text:_abs_plinkin_media_edit_title /></label>
			<div class="media_title" id="">
				<input type="text" name="media_title" value="__media_title__">
			</div>
		</div>
	</li>
	<li>
		<div class="fieldgroup">
			<label for=""><bx_text:_abs_plinkin_media_edit_desc /></label>
			<div class="media_desc" id="">
				<textarea name="media_desc">__media_desc__</textarea>
			</div>
		</div>
	</li>
</ul>
<div class="clear_both"></div>
<input type="submit" value="<bx_text:_abs_plinkin_media_edit_continue />" name="submit" class="btn-primary media-save-form-continue">
<input type="button" value="<bx_text:_abs_plinkin_media_edit_cancel />" class="btn-primary media-save-form-cancel">
<input type="button" value="<bx_text:_abs_plinkin_media_edit_remove_this />" class="btn-primary media-save-form-delete">
</form>