<div class="go_back_to_edit">
    <div class="bar_container">
        <div class="cont">
           <!-- freddy modif 
            <div class="left_side">
              <bx_text:_abs_plinkin_how_profile_view_to_other />
            </div>
            <div class="right_side">
              <a href="pedit.php?ID=__uid__"><bx_text:_abs_plinkin_go_back_to_edit /></a>
            </div>
            -->
             <div class="left_side">
              <bx_text:_abs_plinkin_how_profile_view_to_other />
              <br /> <a href="pedit.php?ID=__uid__"><bx_text:_abs_plinkin_go_back_to_edit /></a> 
            </div>
            
        </div>
    </div>
</div>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<!-- <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>  --> 
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script> 

<!-- x-editable (bootstrap version) -->
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>

<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div id="linkin_profile_info" >
  <div class="pub_mode" __pub_style__>
    <div class="linkin_avatar_image" __picture_style__> <img class="linkin_profile_cover_info_photo" src="__photo__"/>  </div>
  
    <div class="profile-index">
    
    <div class="absline linkin_prof_name"> <a href="javascript:void(0)" id="username" class="edit" data-type="username"></a><h2>__Name__</h2></div>

    <div class="absline user_title" __usertitle_style__> <a href="javascript:void(0)" id="abs_plinkin_user_title" class="edit"></a><h4><i class="sys-icon user"></i> __usr_title__</h4> </div>

    <div class="absline user_location"><a href="javascript:void(0)" id="user_location" data-type="address" class="edit">  </a><i class="sys-icon map-marker"></i> __usrLocation__</div>

    <div class="absline user_prev_companies"> <i class="sys-icon briefcase"></i><a href="javascript:void(0)" data_href="page_block_956" id="user_companies" class="scroll_con_edit"></a>__companies__ </div>
    
    <div class="absline user_educ"> <i class="sys-icon graduation-cap"></i><a href="javascript:void(0)" data_href="page_block_957" id="user_companies" class="scroll_con_edit">	
    </a>__school_name__</div>
 
	</div>
  </div>
  <div class="prv_mode" __prv_style__>
	<div class="absline linkin_prof_name"> <a href="javascript:void(0)" id="username" class="edit" data-type="username"></a><h2>__Name__</h2></div>
	<div class="absline user_location"><a href="javascript:void(0)" id="user_location" data-type="address" class="edit">  </a>__usrLocation__</div>
 </div>
</div>
<style>
.cent{text-decoration:none;}

.click{text-decoration:none;}
.edit_icon, .scroll_edit{cursor:pointer; display:none;background-color:#ebebeb; margin-left:5px; padding:0px 5px;border: 1px solid #cccfd3;}

a.editable,a.editable:hover,a.editable:focus, .scroll_con_edit, .hover_show h3, .hover_show i, .hover_show span.hover_bor{border:1px solid transparent;background-color:transparent;padding: 0px 5px; cursor:pointer;}

.hover_show i {margin-left: 3px;}

.hover_show:hover .editable, .hover_show:hover .scroll_con_edit{ background-color:#ebebeb;border: 1px solid #cccfd3;}

.scroll_con_edit:hover{text-decoration:none;}

.hover_show:hover .absline:hover .editable, .hover_show:hover .absline:hover i.fa, .hover_show:hover .scroll_con_edit:hover, .hover_show:hover .edit_skill, .hover_show:hover .edit_lang{background-color:#e3ebfc;border: 1px solid #c9d6f2;}

.hover_show:hover .edit_icon, .hover_show:hover .scroll_edit{display:inline-block;}

.absline{ margin-bottom:5px;}

.form_advanced_table .bx-form-block-header .bx-form-caption{text-align:left;}

a.base_info {margin-left: 10px;}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{height:auto;}

.edit_skill{margin-left:5px; cursor:pointer;}

.fa.edit_skill{position: relative;top: -5px;}

#edit-skills-add-btn{display: inline-block;padding: 5px 10px;color: #FFF;position: relative;top: 8px;}

#edit-skills-add-btn:hover, ##edit-skills-add-btn:focus{ text-decoration:none;}

.linkin_avatar_image{margin-right: 15px;}
ul, ol{list-style: none;}
ul label{font-weight:bold;}
ul ul{margin:0;}

.prof_edu_main textarea, .prof_exp_form textarea{width: 62% !important;}
.exp_title span, .edu_school_name span{font-weight:bold;}
.media_area label, .media_area ul li a{ font-weight:bold;padding: 5px; text-decoration:none;}
.media_area label, .media_area ul li{float:left;margin-right: 9px;}
.media_area ul  li span{margin-left:5px;}
.media_container {background: #F4F4F4;margin: 0 -20px;padding: 10px 15px;border: 1px solid #e9e9e9;}

.media_container p {clear: both;}
.media_container input[type="submit"]{ margin-right:5px;}

.bar_container {
    width: 100%;
    background-color: #fff;
    border-bottom: 5px solid #3a5795;
    overflow: hidden;
}
.bar_container .left_side {
    float: left;
    padding: 13px 17px;
    box-sizing: border-box;
}
.right_side {
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
}
.bar_container .right_side > a {
    float: right;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid #cccfd3;
    border-radius: 3px;
    box-sizing: border-box;
    transition: all 250ms ease-in-out 0s;
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
}
.bar_container .right_side > a:hover{    
  background-color: #3a5795;
  color: #fff;}
.bar_container .cont {
    max-width: 1275px;
    margin: auto;
}
</style>
