<!-- 
<div class="lang_display_area clearfix __style__" data-div="lang_display_area">
-->

<div class="edu_display_area clearfix __style__" data-div="edu_display_area">


<div class="update_lang">
<bx_repeat:languages>
<div class="each_container">
	
	<h3 class="edit_lang">__lang__</h3>
    <p><span class="hover_bor edit_lang">__Proficiency__</span></p>
	
</div>
</bx_repeat:languages>
</div>

</div>
<style>
.langrow, .addlang{clear: both;display: block;}.langrow label {float: left;width: 35%;}
.firstlang .remove{display:none;}
.lang_display_area .each_container {float: left;width: 50%;}
.lang_info h3{ display:inline;margin-left:5px;}
.lang_info span{clear:both; margin-left:5px;}
</style>
