<div class="" style="display:none;"> <input type ="button" name="pdf" class="click" id="selectpdf" value="to PDF" >
</div>





<div id="linkin_profile_info">

  
    <div class="linkin_avatar_image __class_while_add__">
    <img class="linkin_profile_cover_info_photo" src="__photo__"/> 
    <span class="change_avatar"><i class="fa fa-camera" aria-hidden="true"></i> __action_content__</span> <!-- onclick="showPopupAnyHtml('m/linkedin_profile/changeavatar');" -->
    </div>
  
    <div class="profile-index hover_show">
    
    <div class="absline linkin_prof_name"> <a href="javascript:void(0)" id="username" class="edit" data-type="username">__Name__</a><i class="fa fa-pencil edit_icon" title="change your name"></i> </div>

    <div class="absline user_title"> <a href="javascript:void(0)" id="abs_plinkin_user_title" class="edit __headline_empty__"><i class="sys-icon user"></i> __usr_title__</a><i class="fa fa-pencil edit_icon" title="change your headline"></i> </div>

    <div class="absline user_location"><a href="javascript:void(0)" id="user_location" data-type="address" class="edit"><i class="sys-icon map-marker"></i>  __usrLocation__ </a><i class="fa fa-pencil edit_icon" title="change your location"></i></div>

   <br> <div class="absline user_prev_companies"> <i class="sys-icon briefcase"></i>__companies__<i data_href="prof_exp_main" class="fa fa-pencil scroll_edit" title="change your previous companies"></i></span> </div>
    
    <div class="absline user_educ"><i class="sys-icon graduation-cap"></i>__school_name__</a><i data_href="prof_edu_main" class="fa fa-pencil scroll_edit" title="change your school name"></i></span> </div>
  </div>
  <div class="profile-action" data-key="control">
    <a href="__userlink__" class="profile_preview button-primary"><bx_text: _abs_plinkin_view_profile_as /></a>
    <!-- freddy comment
    <div class="profile-activities">
      <button tabindex="0" role="button" aria-expanded="false"><span>More options</span></button>
      <dl class="menu" tabindex="-1">
       
           
         <dd tabindex="0">
          <a name="exportToPdf" href="m/linkedin_profile/generateresume?profile=__uid__"><bx_text:_Save_to_PDF /></a>
        </dd>
         
         <dd tabindex="0">
          <a href="m/linkedin_profile/publicsettings?profile=__uid__"><bx_text:_Manage_public_profile_settings /></a>
        </dd>
       
        <dd tabindex="0">
          <a href="m/linkedin_profile/userrecentactivity"> <bx_text:_View_recent_activity /></a>
        </dd>
     
        <dd tabindex="0">
          <a href="m/linkedin_profile/createinotherlanguage"> <bx_text:_Create_profile_in_another_language /></a>
        </dd>
       
 
      </dl>
  </div>
  -->
 <!-- freddy add -->  <a name="exportToPdf" href="m/linkedin_profile/generateresume?profile=__uid__" class="ExportToPdf"><bx_text:_Save_to_PDF /></a>
  
</div>
</div>

<div class="image_upload_area">
</div>

<div class="country" style="display:none;">
<select name="Country" id="country_id">
<bx_repeat:countries>
<option value="__val_country__" __selected__>__country__</option>
</bx_repeat:countries>
</select>
</div>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<!-- <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>  --> 
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script> 

<!-- x-editable (bootstrap version) -->
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>

<script src="<bx_url_root />modules/abservetech/linkedin_profile/js/boot-editable.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script rel="stylesheet" src="<bx_url_root />modules/boonex/avatar/js/jquery.imgareaselect.min.js"></script>
<link href="<bx_url_root />modules/boonex/avatar/templates/base/css/main.css" rel="stylesheet" type="text/css">

<style>
.cent{text-decoration:none;}

.click{text-decoration:none;}
.edit_icon, .scroll_edit{cursor:pointer; display:none;background-color:#ebebeb; margin-left:5px; padding:0px 5px;border: 1px solid #cccfd3;}

a.editable,a.editable:hover,a.editable:focus, .scroll_con_edit, .hover_show h3, .hover_show i, .hover_show span.hover_bor{border:1px solid transparent;background-color:transparent;padding: 0px 5px; cursor:pointer;}

.hover_show i {margin-left: 3px;}

.hover_show:hover .editable, .hover_show:hover .scroll_con_edit{ background-color:#ebebeb;border: 1px solid #cccfd3;}

.scroll_con_edit:hover{text-decoration:none;}

.hover_show:hover .absline:hover .editable, .hover_show:hover .absline:hover i.fa, .hover_show:hover .scroll_con_edit:hover, .hover_show:hover .edit_skill, .hover_show:hover .edit_lang{background-color:#e3ebfc;border: 1px solid #c9d6f2;}

.hover_show:hover .edit_icon, .hover_show:hover .scroll_edit{display:inline-block;}

.absline{ margin-bottom:5px;}

.form_advanced_table .bx-form-block-header .bx-form-caption{text-align:left;}

a.base_info {margin-left: 10px;}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{height:auto;}

.edit_skill{margin-left:5px; cursor:pointer;}

.fa.edit_skill{position: relative;top: -5px;}

#edit-skills-add-btn{display: inline-block;padding: 5px 10px;color: #FFF;position: relative;top: 8px;}

#edit-skills-add-btn:hover, ##edit-skills-add-btn:focus{ text-decoration:none;}

.linkin_avatar_image{margin-right: 15px;}

ul, ol{list-style: none;}
ul label{font-weight:bold;}
ul ul{margin:0;}

.prof_edu_main textarea, .prof_exp_form textarea{width: 62% !important;}
.exp_title span, .edu_school_name span{font-weight:bold;}
.media_area label, .media_area ul li a{ font-weight:bold;padding: 5px; text-decoration:none;}
.media_area label, .media_area ul li{float:left;margin-right: 9px;}
.media_area ul  li span{margin-left:5px;}
.media_container {background: #F4F4F4;margin: 0 -20px;padding: 10px 15px;border: 1px solid #e9e9e9;}

.media_container p {clear: both;}
.media_container input[type="submit"]{ margin-right:5px;}

</style>

<script>
$(document).ready(function() {
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';
$('.edit').click(function(e){    
   e.stopPropagation();
   $(this).editable('toggle');
});
$('.edit_icon').click(function(e){    
   e.stopPropagation();
   $(this).prev('a').editable('toggle');
});
$('.scroll_edit, .scroll_con_edit').click(function(e){  
var id = $(this).attr('data_href');
$('html, body').animate({
        scrollTop: $('#'+id).offset().top
    }, 1000);  
   //$('body').scrollspy({target: ".hover_show"});
});


    //make username editable
    $('#username').editable({
	        title: '<bx_text:_Change_Your_Name />',
	        url: site_url+'/modules/?r=linkedin_profile/savetitle',
		    	pk: __uid__,
		    	toggle:'manual',
		     	value: {
            FirstName: $('#username').text().split(" ")[0], 
            LastName: $('#username').text().split(" ")[1],
       		}
    	});
    

    //make status editable
    $('#abs_plinkin_user_title').editable({
        type: 'text',
        title: '<bx_text:_Give_Your_Title />',
        placement: 'right',
        pk: __uid__,
        url: site_url+'/modules/?r=linkedin_profile/savetitle',
		    toggle:'manual',
        value: $('.ed-empty').length > 0 ? '' : $('#abs_plinkin_user_title').text(),
    });
	

	$('#user_location').editable({
	        title: '<bx_text:_Change_Your_Location />',
	        url: site_url+'/modules/?r=linkedin_profile/savetitle',
    			pk: __uid__,
    			toggle:'manual',
    			value: {
            City: $('#user_location').text().split(", ")[0], 
            Country: $('#country_id').val(),
       		}
    	});
});

(function ($) {
    "use strict";
    
    var Username = function (options) {
        this.init('username', options, Username.defaults);
    };

    //inherit from Abstract input
    $.fn.editableutils.inherit(Username, $.fn.editabletypes.abstractinput);

    $.extend(Username.prototype, {
        render: function() {
           this.$input = this.$tpl.find('input');
        },
        value2html: function(value, element) {
            if(!value) {
                $(element).empty();
                return; 
            }
            var html = $('<div>').text(value.FirstName).html() + ', ' + $('<div>').text(value.LastName).html();
            $(element).html(html); 
        },
        html2value: function(html) {        
          return null;  
        },
        value2str: function(value) {
           var str = '';
           if(value) {
               for(var k in value) {
                   str = str + k + ':' + value[k] + ';';  
               }
           }
           return str;
       }, 
       str2value: function(str) {
           return str;
       },                
       value2input: function(value) {
           if(!value) {
             return;
           }
           this.$input.filter('[name="FirstName"]').val(value.FirstName);
           this.$input.filter('[name="LastName"]').val(value.LastName);
       },       
       input2value: function() { 
           return {
              FirstName: this.$input.filter('[name="FirstName"]').val(), 
              LastName: this.$input.filter('[name="LastName"]').val()
           };
       },   
       activate: function() {
            this.$input.filter('[name="FirstName"]').focus();
       },  
       autosubmit: function() {
           this.$input.keydown(function (e) {
                if (e.which === 13) {
                    $(this).closest('form').submit();
                }
           });
       }       
    });

    Username.defaults = $.extend({}, $.fn.editabletypes.abstractinput.defaults, {
        tpl: '<div class="editable-username"><label><span><bx_text:_First_Name1: /> </span><input type="text" name="FirstName" class="input-small"></label></div>'+
             '<div class="editable-username"><label><span><bx_text:_Last_name1: /></span><input type="text" name="LastName" class="input-small"></label></div>',
        inputclass: ''
    });

    $.fn.editabletypes.username = Username;
	
	
	var Address = function (options) {
        this.init('address', options, Address.defaults);
    };
    
    var country = $('.country').html();

    //inherit from Abstract input
    $.fn.editableutils.inherit(Address, $.fn.editabletypes.abstractinput);

    $.extend(Address.prototype, {
        render: function() {
           this.$input = this.$tpl.find('input');
           this.$select = this.$tpl.find('select');
        },
        value2html: function(value, element) {
            if(!value) {
                $(element).empty();
                return; 
            }
            var html = $('<div>').text(value.City).html() + ' ' + $('<div>').text(value.Country).html();
            $(element).html(html); 
        },
        html2value: function(html) {        
          return null;  
        },
       value2str: function(value) {
           var str = '';
           if(value) {
               for(var k in value) {
                   str = str + k + ':' + value[k] + ';';  
               }
           }
           return str;
       }, 
       str2value: function(str) {
           return str;
       },                
       value2input: function(value) {
       console.log(value);
           if(!value) {
             return;
           }
           this.$input.filter('[name="City"]').val(value.City);
           var co = value.Country;
           if(co.length > 2)
           	  $('#country_id option:selected').text(value.Country);
           else
           	  this.$select.filter('[name="Country"]').val(value.Country);
       },       
       input2value: function() { 
           return {
              City: this.$input.filter('[name="City"]').val(), 
              Country: $('#country_id option:selected').text(),
           };
       },
       value2submit:function(value) { 
           return {
              City: this.$input.filter('[name="City"]').val(), 
              Country: this.$select.filter('[name="Country"]').val(),
           };
       },        
       activate: function() {
            this.$input.filter('[name="City"]').focus();
       },  
       autosubmit: function() {
           this.$input.keydown(function (e) {
                if (e.which === 13) {
                    $(this).closest('form').submit();
                }
           });
       }       
    });

    Address.defaults = $.extend({}, $.fn.editabletypes.abstractinput.defaults, {
        tpl: '<div class="editable-address"><label><span><bx_text:abs_plink_City: /></span><input type="text" name="City" class="input-small"></label></div>'+
             '<div class="editable-address"><label><span><bx_text:abs_plink_Country: /></span>'+country+'</label></div>',
        inputclass: ''
    });

    $.fn.editabletypes.address = Address;

}(window.jQuery));

$(document).on('submit','#bx_ava_form',function(e)
{
    e.preventDefault();
    var data = new FormData(this);
    //data.append( 'image', $( 'input[name="image"]' )[0].files[0] );
    $.ajax({
      url:'m/linkedin_profile/uploadavatar',
      type:'post',
      data:data,
      contentType: false,
      cache: false,
      processData: false,
      success:function(res){
        console.log(res);
        $('.image_upload_area').html(res);
        return false;
      }
    });

});

$(document).on('click','.change_avatar',function()
{
  $.ajax({
      url:'m/linkedin_profile/ChangeAvatar',
      type:'post',
      success:function(res){
        console.log(res);
        $('.image_upload_area').html(res);
        return false;
      }
    });
});

$(document).on('click','.bx_ava_block .form_input_submit',function()
{
  var action = $(this).attr('name');
  var x1 = $( 'input[name="x1"]').val();
  var x2 = $( 'input[name="x2"]').val();
  var y1 = $( 'input[name="y1"]').val();
  var y2 = $( 'input[name="y2"]').val();
  var w = $( 'input[name="w"]').val();
  var h = $( 'input[name="h"]').val();
  $.ajax({
      url:'m/linkedin_profile/cropAvatar',
      type:'post',
      data:{x1:x1,y1:y1,x2:x2,y2:y2,w:w,h:h,action:action},
      success:function(res){
        console.log(res);
        $('.image_upload_area').html('');
        $('.imgareaselect-outer').remove();
        $('.imgareaselect-selection').remove();
        $('.imgareaselect-border1').remove();
        $('.imgareaselect-border2').remove();
        $('.linkin_avatar_image img').attr("src",res);
        return false;
      }
    });

  return false;
});

$(document).on('click','.linkin_prof_name .editable-submit', function(){
    var firstname = $(".linkin_prof_name input[name=FirstName]").val();  
    var lastname = $(".linkin_prof_name input[name=LastName]").val(); 
    var fullname=firstname+' '+lastname;
    if(firstname==''){  fullname=lastname; }
    if(lastname==''){  fullname=firstname; }
    
    $('.sys-sm-profile .sys-smp-title').html(fullname); 
    $('.profile_block a').html(fullname);
});
</script>