<div class="exp_display_area __hide__" data-div="exp_display_area">
    <bx_repeat:exps> <p>
    <div class="each_container __pos_class__" __style__>
        
        <div class="absline exp_title">
            <span data_href="page_block_956" class="scroll_con_edit"><i class="sys-icon user"></i> __title__</span>
        </div>
        <div class="absline exp_company_name">
            <span data_href="page_block_956" class="scroll_con_edit"><i class="sys-icon building"></i> __comp_name__</span>
        </div>
        <div class="absline exp_period">
            <span data_href="page_block_956" class="scroll_con_edit"><span class="from-to"><i class="sys-icon calendar"></i> __period__</span>
            <br /><span class="exp_location"><i class="sys-icon map-marker"></i> __location__</span></span>
        </div>
        <div class="absline exp_desc">
            <span data_href="page_block_956" class="scroll_con_edit">__desc__</span>
        </div>
        
    </div>
</br>
</p>

</bx_repeat:exps>
</div>
