<form method="POST" name="Education_Form" class="Education_Form">
	<ul>
		
        
        <li id="position-wrap" class="title">
			<label style="font-size:17px;" for=""><bx_text:_abs_plinkin_Degree /><abbr class="required" title="Required">*</abbr></label>
			<div class="fieldgroup">
            
           <span id="type-error" class="error">
	<bx_text:_abs_plinkin_school_degree_error /><br>
</span>
            
            
				<select style="width:290px;" id="type" name="type" >
				<option selected="selected"  value=""><bx_text:_abs_plinkin_school_degree_select />...</option>
				<bx_repeat:edutypes>
					<option value="__opt_val__" __selected__>__opt_name__</option>
				</bx_repeat:edutypes>
				</select>
			</div>
		</li>
        
        
        <li class="edu-optional">
			<label for=""><bx_text:_abs_plinkin_School_Name />
           <abbr class="required" title="Required">*</abbr>
            </label>
			<div class="fieldgroup">
				
                <span id="school_name-error" class="error" style="display:none;"><bx_text:_abs_plinkin_school_name_error /><br></span>
                
				<div class="company-typeahead" id="">
				<input style="width:290px;" type="text" maxlength="100" id="school_name" value="__school_name__" name="school_name" autocomplete="off">
				</div>
			</div>
		</li>
      
		
		<li class="location">
  <label class="period-label" for="">
    <span id="period-label-text"><bx_text:_abs_plinkin_edu_period_label_formal /></span>
    <abbr class="required" title="Required">*</abbr>
  </label>

  <!-- Texts used by JS (avoid putting <bx_text:...> inside attributes) -->
  <span id="period-label-formal" style="display:none;"><bx_text:_abs_plinkin_edu_period_label_formal /></span>
  <span id="period-label-informal" style="display:none;"><bx_text:_abs_plinkin_edu_period_label_informal /></span>

  <fieldset>
    <div class="fieldgroup">
      <span id="period-required-error" class="error" style="display:none;">
        <bx_text:_abs_plinkin_Time_Period_error_year /><br>
      </span>

      <span id="period-order-error" class="error" style="display:none;">
        <bx_text:_abs_plinkin_Time_Period_fatal_error /><br>
      </span>

				<select style="width:135px;" id="startDate" name="startDate">
				
                <option selected="selected" value=""><bx_text:_abs_plinkin_Time_Period_select /></option> 
                
				<bx_repeat:years>
					<option value="__year__" __selected__>__year__</option>
				</bx_repeat:years>
				</select>
                
				<span class="to">&nbsp;&ndash;&nbsp;</span>
				
                
                <select style="width:170px;" id="endDate" name="endDate">
                
                <option selected="selected" value=""><bx_text:_abs_plinkin_Time_Period_select_end_year /></option> 
				
				<bx_repeat:toyears>
					<option value="__end_year__" __selected__>__end_year__</option>
				</bx_repeat:toyears>
				</select>
                
                
			</div>
			</fieldset>
            </li>
            
      <li class="time-period">
  <label class="field-label" for="field_of_study">
    <span id="field-label-text"><bx_text:_abs_plinkin_edu_field_label_formal /></span>
    <abbr class="required" title="Required">*</abbr>
  </label>

  <!-- Texts + placeholders used by JS -->
  <span id="field-label-formal" style="display:none;"><bx_text:_abs_plinkin_edu_field_label_formal /></span>
  <span id="field-label-informal" style="display:none;"><bx_text:_abs_plinkin_edu_field_label_informal /></span>

  <span id="edu-field-placeholder-formal" style="display:none;"><bx_text:_abs_plinkin_edu_field_placeholder_formal /></span>
  <span id="edu-field-placeholder-informal" style="display:none;"><bx_text:_abs_plinkin_edu_field_placeholder_informal /></span>

  <span id="edu-desc-placeholder-formal" style="display:none;"><bx_text:_abs_plinkin_edu_desc_placeholder_formal /></span>
  <span id="edu-desc-placeholder-informal" style="display:none;"><bx_text:_abs_plinkin_edu_desc_placeholder_informal /></span>

  <div class="fieldgroup">
    <span id="field_of_study-error" class="error"></span>

    <input style="width:320px;" class="input_text" id="field_of_study" name="field_of_study" type="text"
           placeholder="<bx_text:_abs_plinkin_edu_field_placeholder_formal />"
   value="__main_subject__">
            
            
            </div>
		</li>
        
        
        
        
        
        
        
        
		<li class="edu-optional time-period">
			<label><span><bx_text:_abs_plinkin_Grade /></span></label>
			<input type="text" id="grade" value="__grade__" name="grade">
		</li>
		<li class="edu-optional" id="">
			<label for=""><bx_text:_abs_plinkin_Activities_and_Societies /></label>
			<div class="fieldgroup">
				<span id="activities-error" class="error"></span>
				<textarea style="height:60px; width:290px;" class="txtarea" cols="60" rows="6"  placeholder="<bx_text:_abs_plinkin_edu_Activities_exemple />" onfocus="this.placeholder = ''" onblur="this.placeholder = '<bx_text:_abs_plinkin_edu_Activities_exemple />'"  id="activities" name="activities">__activities__</textarea>
			</div>
		</li>
		
        
      <li>
  <label for="description" id="desc-label">
    <bx_text:_abs_plinkin_Description1 />
  </label>

  <div class="fieldgroup">
    <span id="desc-error" class="error"></span>

   <textarea style="height:60px; width:320px;" class="txtarea" cols="60" rows="6"
          placeholder="<bx_text:_abs_plinkin_edu_desc_placeholder_formal />"
          id="description" name="description">__desc__</textarea>
          
          
          <span id="edu-desc-placeholder-formal" style="display:none;">
  <bx_text:_abs_plinkin_edu_desc_placeholder_formal />
</span>

<span id="edu-desc-placeholder-informal" style="display:none;">
  <bx_text:_abs_plinkin_edu_desc_placeholder_informal />
</span>


  </div>
</li>

        
	</ul>
    
    
	<input type="hidden" name="user_id" value="__education_id__">
	<input type="hidden" name="edu_id" id="educa_id" value="__usr_id__">
	<input type="submit" value="<bx_text:_abs_plinkin_setting_Save />" name="submit" class="btn btn-success">
	<input type="button" value="<bx_text:_abs_plinkin_setting_cancel />" class="btn edu-form-cancel">
	<input type="button" value="<bx_text:_abs_plinkin_setting_Delete />" class="btn btn-primary edu-form-delete" style="display:none;">
	<input type="reset"  value="<bx_text:_abs_plinkin_setting_Reset />" class="btn btn-primary" />
</form>


<style>
.bx-def-bc-margin {
    margin: 20px 20px 20px 2px;
}
</style>