<div class="loading">
<!-- <img src="modules/abservetech/linkedin_profile/templates/base/images/Loading1.gif">
 --></div>
<div class="prof_lang_form" style="display:none">
__lang_form__
</div>
<div class="lang_display_area clearfix">
<div class="lang_actions">
<a href="javascript:void(0)" class="langs_edit edit_lang"><bx_text: _abs_plinkin_Add_Language /></a>
</div>
<div class="exp_display_area">
<div class="update_lang">
<bx_repeat:languages>
<div class="each_container">
	<div class="lang_info hover_show">
		<h3 class="edit_lang">__lang__</h3><i class="fa fa-pencil edit_lang"></i>
        <p><span class="hover_bor edit_lang">__Proficiency__</span><i class="fa fa-pencil edit_lang"></i></p>
	</div>
</div>
</bx_repeat:languages>
</div>
</div>

</div>
<style>
.langrow, .addlang{clear: both;display: block;}.langrow label {float: left;width: 35%;}
.firstlang .remove{display:none;}
.lang_display_area .each_container {float: left;width: 50%;}
.lang_info h3{ display:inline;margin-left:5px;}
.lang_info span{clear:both; margin-left:5px;}
</style>
<script type="text/javascript">
$(document).ready(function() {

});
</script>