<form method="POST" name="Education_Form" class="Education_Form">
	<ul>
		<li>
			<label for=""><bx_text:_abs_plinkin_School_Name /><abbr class="required" title="Required">*</abbr></label>
			<div class="fieldgroup">
				<span id="school_name-error" class="error"><bx_text:_abs_plinkin_school_name_error /><br></span>
				<div class="company-typeahead" id="">
				<input type="text" maxlength="100" id="school_name" value="__school_name__" name="school_name" autocomplete="off">
				</div>
			</div>
		</li>
      
		<li id="position-wrap" class="title">
			<label for=""><bx_text:_abs_plinkin_Degree /></label>
			<div class="fieldgroup">
				<select id="type" name="type">
				<option selected="selected" value=""><bx_text:_abs_plinkin_school_degree_select />...</option>
				<bx_repeat:edutypes>
					<option value="__opt_val__" __selected__>__opt_name__</option>
				</bx_repeat:edutypes>
				</select>
			</div>
		</li>
		<li class="location">
			<label for=""><bx_text:_abs_plinkin_Dates_Attended /></label>
			<fieldset>
			<div class="fieldgroup">
				<span id="period-error" class="error"><bx_text:_abs_plinkin_Time_Period_fatal_error /><br></span>
				<select id="startDate" name="startDate">
				<!-- freddy change
                <option selected="selected" value="">...</option> 
                -->
                <option selected="selected" value=""><bx_text:_abs_plinkin_Time_Period_select /></option> 
                
				<bx_repeat:years>
					<option value="__year__" __selected__>__year__</option>
				</bx_repeat:years>
				</select>
				<span class="to">&nbsp;&ndash;&nbsp;</span>
				<select id="endDate" name="endDate">
                <!-- freddy change
                <option selected="selected" value="">...</option> 
                -->
                <option selected="selected" value=""><bx_text:_abs_plinkin_Time_Period_select_end_year /></option> 
				
				<bx_repeat:toyears>
					<option value="__end_year__" __selected__>__end_year__</option>
				</bx_repeat:toyears>
				</select>
			</div>
			</fieldset>
		</li>
		<li class="time-period">
			<legend><span><bx_text:_abs_plinkin_Field_of_Study /></span></legend>
			<input type="text"   placeholder="<bx_text:_abs_plinkin_edu_Field_of_Study />"  id="field_of_study" value="__main_subject__" name="field_of_study">
		</li>
		<li class="time-period">
			<legend><span><bx_text:_abs_plinkin_Grade /></span></legend>
			<input type="text" id="grade" value="__grade__" name="grade">
		</li>
		<li id="">
			<label for=""><bx_text:_abs_plinkin_Activities_and_Societies /></label>
			<div class="fieldgroup">
				<span id="activities-error" class="error"></span>
				<textarea class="txtarea" cols="60" rows="6"  placeholder="<bx_text:_abs_plinkin_edu_Activities_exemple />" onfocus="this.placeholder = ''" onblur="this.placeholder = '<bx_text:_abs_plinkin_edu_Activities_exemple />'"  id="activities" name="activities">__activities__</textarea>
			</div>
		</li>
		<li id="">
			<label for=""><bx_text:_abs_plinkin_Description1 /></label>
			<div class="fieldgroup">
				<span id="desc-error" class="error"></span>
				<textarea class="txtarea" cols="60" rows="6"  placeholder="<bx_text:_abs_plinkin_edu_description_exemple />" onfocus="this.placeholder = ''" onblur="this.placeholder = '<bx_text:_abs_plinkin_edu_description_exemple />'"  id="desc" name="desc">__desc__</textarea>
			</div>
		</li>
	</ul>
	<input type="hidden" name="user_id" value="__education_id__">
	<input type="hidden" name="edu_id" id="educa_id" value="__usr_id__">
	<input type="submit" value="<bx_text:_abs_plinkin_setting_Save />" name="submit" class="btn btn-success">
	<input type="button" value="<bx_text:_abs_plinkin_setting_cancel />" class="btn edu-form-cancel">
	<input type="button" value="<bx_text:_abs_plinkin_setting_Delete />" class="btn btn-primary edu-form-delete" style="display:none;">
	<input type="reset"  value="<bx_text:_abs_plinkin_setting_Reset />" class="btn btn-primary" />
</form>
