<!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
<form class="editSkillsForm" name="editSkillsForm" id="editSkillsForm">
 
 <!-- freddy comment endorsement
  <div class="endorsement-settings">
    <h5><bx_text:_abs_plinkin_Skills_and_Endorsements_Settings /></h5>
    <fieldset class="want-container">
      <legend><span class="want-endorsements"><bx_text:_abs_plinkin_I_want_to_be_endorsed /></span></legend>
      <input type="radio" id="optin" name="val[endorse_me]" value="1" __tobe_endorsed__>
      <label for="optin"><bx_text:_abs_plinkin_Yes /></label>
      <input type="radio" id="optout" name="val[endorse_me]" value="0" __not_tobe_endorsed__>
      <label class="radio-label" for="optout"><bx_text:_abs_plinkin_No /></label>
    </fieldset>
    <div class="settings-container">
      <fieldset class="optin-settings">
        <ul>
          <li>
            <input type="checkbox" id="includeMe" name="val[endorse_by_friends]" value="1" __endorse_by_frd__>
            <label class="checkbox-label" for="includeMe"><bx_text:_abs_plinkin_Include_me_in_endorsement_suggestions_to_my_connections /></label>
          </li>
          <li>
            <input type="checkbox" id="showSuggestions" name="val[can_endorse]" value="1" __can_endorse__>
            <label class="checkbox-label" for="showSuggestions"><bx_text:_abs_plinkin_Show_me_suggestions_to_endorse_my_connections /></label>
          </li>
          <li>
            <input type="checkbox" id="sendNotification" name="val[endorse_notification]" value="1" __endorse_notification__>
            <label class="checkbox-label" for="sendNotification"><bx_text:_abs_plinkin_Send_me_notifications_via_email_when_my _connections_endorse_me /></label>
          </li>
        </ul>
        <input type="hidden" name="includeInSuggestions" value="false">
        <input type="hidden" name="showSuggestions" value="false">
        <input type="hidden" name="emailSubscription" value="false">
      </fieldset>
      <p class="endorsements-hidden-msg"><bx_text:_endorsement /></p>
    </div>
  </div>
  
  <hr class="setting-separator">
  -->
  <div class="edit-skills-top-half"></div>
  <div class="manage-skills selected">
    <div class="add-skill-container">
      <label for="edit-skills-add-ta" class="ghost" id="control_gen_38" style="display: none;"><bx_text:_abs_plinkin_what_are_your_areas_of_expertise /></label>
      <input type="text" id="edit-skills-add-ta" value="" class="typeahead exclude yui-ac-input" maxlength="80" placeholder="<bx_text:_abs_plinkin_what_are_your_areas_of_expertise />" onfocus="this.placeholder = ''" onblur="this.placeholder = '<bx_text:_abs_plinkin_what_are_your_areas_of_expertise />'" autocomplete="off" dir="ltr"><a href="javascript:void(0)" id="edit-skills-add-btn" class="btn-primary"><bx_text:_abs_plinkin_Add /></a></div></div>
      <input type="hidden" name="user_id" value="__usr_id__">
      <div id="tags_input_edit">
  <input data-role="tagsinput" type="text" name="skills_edit" id="skills_edit" value="__skills__"></div>
  
  

  <input type="submit" value="<bx_text:_abs_plinkin_setting_Save />" name="submit" class="btn-primary">
  <input type="button" value="<bx_text:_abs_plinkin_setting_Cancel />" class="edit_skill">
</form>
