<script language="javascript" type="text/javascript" src="<bx_url_root />modules/EmmetBytes/emmetbytes_profile_cover/js/EmmetBytesProfileCover.js"></script>
<div class="ebytes_profile_cover_info_inner_container">
    <div class="ebytes_profile_cover_informations_container">
        <bx_if:summary_action><div class="user_title">__usr_title__</div></bx_if:summary_action>
      <!-- freddy comment <div class="ebytes_profile_cover_location_container"><span class="ebytes_profile_cover_information_caption"> From  </span>  __city__, __country__ </div>
        <div class="ebytes_profile_cover_gender_container">__gender__</div>-->
        <div class="ebytes_profile_cover_gender_container"> <i class="sys-icon map-marker"></i> __city__, __country__</div>
        <div class="prev_comps"><b><!--<bx_text:_abs_plinkin_prof_view_page_prev_companies/>--><i class="sys-icon briefcase"></i> __companies__</b></div>
 		<div class="school_detail"><b><!--<bx_text:_abs_plinkin_prof_view_page_education />: --><i class="sys-icon graduation-cap"></i> __school_name__</b></div>
        
        
        <bx_if:TelechargerPDF>  
 		<div class="download_pdf"><a name="exportToPdf" href="m/linkedin_profile/generateresume?profile=__uid__"><bx_text:_Save_to_PDF /></a>
        </div>
         </bx_if:TelechargerPDF>  
        
        
      <!--   <div class="ebytes_profile_cover_relationship_container"> Single </div>
  -->
        
    </div>
</div>
<div class="ebytes_profile_cover_info_link_container ebytes_profile_cover_bottom_data_link_container"><a href="<bx_url_root />profile_info.php?ID=__uid__">About</a></div>