<form id="summary_form">
<textarea name="summary_text" placeholder="<bx_text:_abs_plinkin_summary_edit />" onfocus="this.placeholder = ''" onblur="this.placeholder = '<bx_text:_abs_plinkin_summary_edit />'"
id="summary_text">__summary_text__</textarea>
<input type="hidden" name="summary_id" value="__summary_id__">
<input type="submit" value="<bx_text:_abs_plinkin_summary_save />" name="submit" class="btn-success">
<input type="button" value="<bx_text:_abs_plinkin_summary_cancel />" class="btn sum_cancel">
</form>

