<div class="create_profile">
<div class="top_link">
	<a href=""><bx_text:_abs_plinkin_Edit_Profile /></a>
	<a href=""><bx_text:_abs_plinkin_View_Profile /></a>
</div>
<form class="crete_profile_form" action="" id="langform" method="post">
	<h3><bx_text:_abs_plinkin_Create_Your_Profile_in_Another_Language /></h3>
	<input type="hidden" id="uid" name="uid" value=__uid__ >
	<div>
		<label><bx_text:_abs_plinkin_Select_Language: /></label>
		<select name="lang_id" id="lang_id">
		<option selected="selected" value="" maxlength="200" ><bx_text:_abs_plinkin_choose /></option>
		   <bx_repeat:exps>
		      <option value= "__lang_id__" __selected__> __lang_name__  </option>
		   </bx_repeat:exps>
		</select>
	</div>
	<div><label><bx_text:_abs_plinkin_First_Name: /></label><input type="text" id="FirstName" name="FirstName" value="__FirstName__"></div>
	<div><label><bx_text:_abs_plinkin_Last_Name: /></label><input type="text" id="LastName" name="LastName" value="__LastName__"></div>
	<!-- <div><label><bx_text:_abs_plinkin_Former_Maiden_Name: /></label><input type="text" id="usrLocation" name="usrLocation" value="__usrLocation__"></div> -->
	<div>
		<label><bx_text:_abs_plinkin_Professional_Headline: /></label>
		<div class="hint_div"><input type="text" id="usr_title" name="usr_title" value="__usr_title__"><p><strong><bx_text:_abs_plinkin_Examples: /> </div>
	</div>
		<div class="submit_div">
	           <input type="submit" name="submit" id="submit" value=<bx_text:_abs_plinkin_Create_Profile />
	           <span>or</span>/
	           <a href="__site_url__"><bx_text:_abs_plinkin_Go_back_to_Edit_My_Profile /></a>
	    </div>

</form>
</div>