<div class="loading">
<!-- <img src="modules/abservetech/linkedin_profile/templates/base/images/Loading1.gif">
 --></div>
 
   

    
<div class="exp_actions">
<a href="javascript:void(0)" class="btn add-exp"><bx_text: _abs_plinkin_Add_Experience /></a>
</div>
<div class="prof_exp_form" style="display:none">
__exp_form__
</div>
<div class="exp_display_area">
<bx_repeat:exps>
<div class="each_container" data-expid="__expid__">
	<div class="exp_info hover_show hover_show_edit">
		<div class="absline exp_title">
			<span data_href="page_block_956" class="scroll_con_edit"><i class="sys-icon user"></i> __title__</span><i data_href="page_block_956" class="fa fa-pencil scroll_edit"></i>
		</div>
		<div class="absline exp_company_name">
			<span data_href="page_block_956" class="scroll_con_edit"><i class="sys-icon building"></i> __comp_name__</span><i data_href="page_block_956" class="fa fa-pencil scroll_edit"></i>
		</div>
		<div class="absline exp_period">
			<span data_href="page_block_956" class="scroll_con_edit"><span class="from-to"><i class="sys-icon calendar"></i> __period__</span>
			<br /><span class="exp_location"> <b><bx_text:_abs_plinkin_Location1 />:</b> __location__</span></span><i data_href="page_block_956" class="fa fa-pencil scroll_edit"></i>
		</div>
		<div class="absline exp_desc">
			<span data_href="page_block_956" class="scroll_con_edit"> <b><i class="sys-icon sliders"></i> <bx_text:_abs_plinkin_Description_edit /></b>
           <br /> __desc__</span><i data_href="page_block_956" class="fa fa-pencil scroll_edit"></i>
		</div>
	</div>
    <div class="media_info_area">
        <bx_repeat:abs_medias>

            <div class="each_media_info each_media_info___media_id__" data-mediaid='__media_id__'>
                <div class="media_info_container">
                    <div class="edit_icon"></div>
                    <img src="__media_image_path__" title="__media_title__">
                    <div class="m_title">__media_title__</div>
                </div>
            </div>
        </bx_repeat:abs_medias>
        <div class="clear_both"></div>
    </div>
    <div class="media_area clearfix">
    <label><bx_text:_Add_Media: /></label>
    <ul data-media="exp__expid__" class="media_info clearfix">
      <!-- freddy comment
        <li data-medianame="document" class="document">
            <a href="javascript:void(0)">
                <i class="fa fa-file-text"></i>
                <span><bx_text:_abs_plinkin_Document1 /></span>
            </a>
        </li>
        -->
        <li data-medianame="photo" class="photo">
            <a href="javascript:void(0)">
                <i class="fa fa-camera"></i>
                <span><bx_text:_abs_plinkin_Photo /></span>
            </a>
        </li>
         <!-- freddy comment
        <li data-medianame="link" class="link">
            <a href="javascript:void(0)">
                <i class="fa fa-link"></i>
                <span><bx_text:_abs_plinkin_Link /></span>
            </a>
        </li>
        -->
        <li data-medianame="video" class="video">
            <a href="javascript:void(0)">
                <!--<i class="fa fa-play-circle"></i>-->
                <i class="sys-icon film"></i>
                <span><bx_text:_abs_plinkin_Video /></span>
            </a>
        </li>
         <!-- freddy comment
        <li data-medianame="presentation" class="presentation">
            <a href="javascript:void(0)">
                <i class="fa fa-file-powerpoint-o"></i>
                <span><bx_text:_abs_plinkin_Presentation /></span>
            </a>
        </li>
         -->
    </ul>
    <div id="exp__expid__" class="media_container" style="display:none;">
     <div class="ajax_loading"><img src="<bx_url_root />modules/abservetech/linkedin_profile/templates/base/images/ajax-loader.gif"></div>
        <form action="" method="post" class="exp_media_form" data-mediatype="document" enctype="multipart/form-data">
        <div>
            <input type="hidden" name="exp_id" value="__expid__">
            <input type="hidden" name="media_type" class="media_type" value="document">
            <input type="hidden" name="upload_type" class="upload_type" value="link">
            <input type="hidden" name="media_for" class="media_for" value="experience">
        </div>
        <label><bx_text:abs_plinkin_add_to_position /></label>
        <label>
          <select name="media_for_id" class="exp_id_for_media">
            <bx_repeat:media_select>
                <option value="__exp_id__" __exp_selected__>__exp_title__</option>
            </bx_repeat:media_select>
        </select>
        </label>
        <div class="exp_media_error">
        <p class="title_err" style="display:none;"><bx_text:_abs_plinkin_media_edit_title_error /></p>
        <p class="link_err" style="display:none;"><bx_text:_abs_plinkin_media_edit_url_error /></p>
        </div>
        <p><span class="browse_mgs"><bx_text:_abs_provide_link /></span><input type="text" name="upload_link" class="exp_upload_link"><span class="upload_using_browse"><span class="or_class"><bx_text:_abs_provide_link_or /></span><input type="file" name="upload_file" class=" btn exp_upload_file"></span></p>
        <p><input type="submit" value="<bx_text:_abs_plinkin_setting_continue />" class="btn btn-primary"><input type="button" class="btn btn_cancel" value="<bx_text:_abs_plinkin_setting_Cancel />"></p>
       </form>
    </div>
    <div class="media_post_upload_form" style="display:none;">
        </div>
</div>
</div>
</bx_repeat:exps>
</div>


<!--
 <div class="j243-modal-header">
      <h3 id="j243ExpModalTitle">Expérience professionnelle</h3>
      <p>Complétez les informations puis cliquez sur <b>Enregistrer</b>.</p>
    </div>
    -->