<!-- 
 <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>  
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script> 
 x-editable (bootstrap version) -->
<!-- <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/> -->

<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script> -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
<div class="loading2">
<!-- <img src="modules/abservetech/linkedin_profile/templates/base/images/Loading1.gif">
 --></div>
<div class="exp_actions">
<a href="javascript:void(0)" class="btn add-cert"><bx_text: _abs_plinkin_Add_Certificate /></a>
</div>
<div class="prof_certificate_form" style="display:none">
__exp_form__
</div>
<div class="exp_display_area">
<bx_repeat:exps>
<div class="each_container" data-certid="__id__">
	<div class="exp_info hover_show hover_show_edit">
		<div class="absline cert_name">
			<span data_href="" class="scroll_con_edit"><i class="sys-icon certificate"></i><b> __certificatename__</b></span><i data_href="" class="fa fa-pencil scroll_edit"></i>
		</div>
		
		
		<div class="absline cert_authority">
			<span data_href="" class="scroll_con_edit"><i class="sys-icon building"></i> <b><bx_text:_abs_plinkin_certificateurl_delivered_by />:</b> __certificateauthority__</span><i data_href="" class="fa fa-pencil scroll_edit"></i>
		</div>
         
         <div class="absline cert_license">
			<span data_href="" class="scroll_con_edit"><i class="sys-icon diamond"></i> N° __certificatelicense__</span><i data_href="" class="fa fa-pencil scroll_edit"></i>
		</div>
         
            <div class="absline cert_period">

             <span data_href="" class="scroll_con_edit"><span class="from-to"><i class="sys-icon calendar"></i> __period__</span>
			</span><i data_href="" class="fa fa-pencil scroll_edit"></i>
			
		
		</div>
        
        
        
         <div class="absline cert_license">
			<span data_href="" class="scroll_con_edit"><i class="sys-icon link"></i> <bx_text:_abs_plinkin_Certification_URL_info />:
            <br /> __certificateurl__</span><i data_href="" class="fa fa-pencil scroll_edit"></i>
		</div>



	</div>
    
</div>


</bx_repeat:exps>
</div>

<style>
.error{
	display: none;
}
</style>
