<div id="exp_image_link_content" class="exp_display_area __hide__" data-div="exp_display_area">
<bx_repeat:exps> <p>
<div class="each_container __pos_class__" __style__>
    
        <div class="absline exp_title">
            <span data_href="page_block_956" class="scroll_con_edit"><i class="sys-icon user"></i> __title__</span>
        </div>
        <div class="absline exp_company_name">
            <span data_href="page_block_956" class="scroll_con_edit"><i class="sys-icon building"></i> __comp_name__</span>
        </div>
        <div class="absline exp_period">
            <span data_href="page_block_956" class="scroll_con_edit"><span class="from-to"><i class="sys-icon calendar"></i> __period__</span>
           <br /> <span class="exp_location"><i class="sys-icon map-marker"></i> __location__</span></span>
        </div>
        <div class="absline exp_desc">
           <br /> <span data_href="page_block_956" class="scroll_con_edit">__desc__</span>
        </div>
        <div class="media_info_area">
            <bx_repeat:abs_medias>
                <div class="view_each_media_info each_media_info___media_id__" data-mediaid='__media_id__'>
                    <div class="media_info_container">
                        <div class="edit_icon"></div>
                        <img class="image_link_content" data-mediatype="__media_type__" data-videoid="__media_video_id__" src="__media_image_path__" title="__media_title__">

                        <div style="display:none;" class="video_content">__media_video_content__</div>
                        <div class="m_title">__media_title__</div>
                    </div>
                </div>
            </bx_repeat:abs_medias>
            <div class="clear_both"></div>
        </div>
    
</div>
</br>
</p>

</bx_repeat:exps>
</div>

<div id="exp_over_lay_content">
<div class="overlay_bg"></div>
<div class="pagearea">
<div class="closeicon">X</div>
<div class="forminner_main">
    <div class="image_display_area">
    </div>
    <div class="image_icon_area">
        <ul>
        <bx_repeat:all_medias>
            <li><img class="image_icon" data-dir="__image_dir__" data-imagename="__media_image_name__" data-extension="__image_extension__" data-pages="__media_pages_count__" data-videoid="__media_video_id__" data-mediatype="__media_type__"  src="__media_image_path__" title="__media_title__">
            <div style="display:none;" class="video_content">__media_video_content__</div>
            </li>
        </bx_repeat:all_medias>
        </ul>
    </div>
</div>
</div> 
</div>

<script type="text/javascript">
//PAGE POPUP
jQuery(window).load(function(){
    
jQuery('#exp_image_link_content .image_link_content').click(function(){
jQuery('#exp_over_lay_content .overlay_bg').fadeIn('fast');
jQuery('#exp_over_lay_content .pagearea').fadeIn('slow');
});                     
                             });
jQuery(document).ready(function(){
jQuery('#exp_image_link_content .image_link_content').click(function(){

    var mediatype=jQuery(this).data('mediatype');
    var pages=jQuery(this).data('pages');
    if(mediatype!="video")
    {
     
        var image_tag ='';
        if(pages>1)
        {
        for(var i=0;i<pages;i++)
        {
            image_tag +='<li><img src="'+jQuery(this).data('dir')+'/'+jQuery(this).data('imagename')+'-'+i+'.'+ jQuery(this).data('extension') +' " ></li>';
        }
        jQuery('#exp_over_lay_content .image_display_area').html('<ul>'+image_tag+'</ul>');
        }
        else
        {
        jQuery('#exp_over_lay_content .image_display_area').html('<img src="'+jQuery(this).attr('src')+'" >');
        }
    }
    else
    {
        /*jQuery('.image_display_area').html('<iframe width="640" height="360" src="http://www.youtube.com/embed/'+video_code+'" frameborder="0" allowfullscreen></iframe>');*/
        jQuery('#exp_over_lay_content .image_display_area').html(jQuery(this).siblings('.video_content').html());
    }
});

jQuery('#exp_over_lay_content .image_icon_area .image_icon').click(function(){
    var mediatype=jQuery(this).data('mediatype');
    var pages=jQuery(this).data('pages');
    if(mediatype!="video")
    {
        var image_tag ='';
        if(pages>1)
        {
            for(var i=0;i<pages;i++)
            {
                image_tag +='<li><img src="'+jQuery(this).data('dir')+'/'+jQuery(this).data('imagename')+'-'+i+'.'+ jQuery(this).data('extension') +' " ></li>';
            }
            jQuery('#exp_over_lay_content .image_display_area').html('<ul>'+image_tag+'</ul>');
        }
        else
        {
            jQuery('#exp_over_lay_content .image_display_area').html('<img src="'+jQuery(this).attr('src')+'" >');
        }
    }
    else
    {

        jQuery('#exp_over_lay_content .image_display_area').html(jQuery(this).siblings('.video_content').html());
    }
});

jQuery('#exp_over_lay_content .overlay_bg').click(function()
{
jQuery('#exp_over_lay_content .pagearea').fadeOut('fast');
jQuery('#exp_over_lay_content .overlay_bg').fadeOut('fast');
});

jQuery('#exp_over_lay_content .closeicon').click(function()
{
jQuery('#exp_over_lay_content .pagearea').fadeOut('fast');
jQuery('#exp_over_lay_content .overlay_bg').fadeOut('fast');
});

});
</script>
