<div id="edu_image_link_content" class="edu_display_area __style__" data-div="edu_display_area">
<bx_repeat:edus>
<div class="each_container" data-eduid="__edu_id__">
	
		<div class="absline edu_school_name">
			<span data_href="page_block_957" class="scroll_con_edit"><i class="sys-icon university"></i><b> __school_name__</b></span>
		</div>
        
   
		<div class="absline edu_particular_info">
			<span data_href="page_block_957" class="scroll_con_edit">
       <bx_if:type> 
		  <span class="edu_type"><i class="sys-icon graduation-cap"></i>  __type__</span>
       </bx_if:type>
       
        <bx_if:fieldofstudy> 
		  <br /><i class="sys-icon desktop"></i> <span class="edu_fieldofstudy"> __fieldofstudy__</span>
       </bx_if:fieldofstudy>
        <bx_if:grade> 
	        <span class="edu_grade"><i class="sys-icon certificate"></i> __grade__</span>
        </bx_if:grade>
        </span>
            
            
            </span>
		</div>
        
        <bx_if:period> 
		<div class="absline edu_period">
			<span data_href="page_block_957" class="scroll_con_edit"><i class="sys-icon calendar"></i> __period__</span>
		</div>
        </bx_if:period>
		
        
        
    <bx_if:activities> 
	     <div class="absline edu_activities">
			<span data_href="page_block_957" class="scroll_con_edit"><i class="sys-icon users"></i> __activities__</span>
		</div>
   </bx_if:activities>
        
   <bx_if:desc> 
	    <div class="absline edu_desc">
			<br /><span data_href="page_block_957" class="scroll_con_edit"><i class="sys-icon list-alt"></i> __desc__</span>
		</div>
   </bx_if:desc>
        
		<div class="media_info_area">
        <bx_repeat:abs_meds>
            <div class="view_each_media_info each_media_info___media_id__" data-mediaid='__media_id__'>
                <div class="media_info_container">
                    <div class="edit_icon"></div>
                    <!-- <img src="__media_image_path__" title="__media_title__"> -->
                   <!--  <img class="image_link_content" data-mediatype="__media_type__" data-videoid="__media_video_id__" src="__media_image_path__" title="__media_title__"> -->

                    <img class="image_link_content" data-dir="__image_dir__" data-imagename="__media_image_name__" data-extension="__image_extension__" data-pages="__media_pages_count__" data-videoid="__media_video_id__" data-mediatype="__media_type__"  src="__media_image_path__" title="__media_title__">

                        <div style="display:none;" class="video_content">__media_video_content__</div>
                    <div class="m_title">__media_title__</div> 
                </div>
            </div>
        </bx_repeat:abs_meds>
       <div class="clear_both"></div>
    </div>
	
</div>
</bx_repeat:edus>
</div> 

<div id="edu_over_lay_content">
<div class="overlay_bg"></div>
<div class="pagearea">
<div class="closeicon">X</div>
<div class="forminner_main">
    <div class="image_display_area">
    </div>
    <div class="image_icon_area">
        <ul>
        <bx_repeat:all_medias>
            <li><img class="image_icon" data-dir="__image_dir__" data-imagename="__media_image_name__" data-extension="__image_extension__" data-pages="__media_pages_count__" data-videoid="__media_video_id__" data-mediatype="__media_type__"  src="__media_image_path__" title="__media_title__">
            <div style="display:none;" class="video_content">__media_video_content__</div>
            </li>
        </bx_repeat:all_medias>
        </ul>
    </div>
</div>
</div> 
</div>

<script type="text/javascript">

jQuery(window).load(function(){
    
jQuery('#edu_image_link_content .image_link_content').click(function(){

jQuery('#edu_over_lay_content .overlay_bg').fadeIn('fast');
jQuery('#edu_over_lay_content .pagearea').fadeIn('slow');
});                     
                             });
jQuery(document).ready(function(){

jQuery('#edu_image_link_content .image_link_content').click(function(){

    var mediatype=jQuery(this).data('mediatype');
    var pages=jQuery(this).data('pages');
    if(mediatype!="video")
    {
     
        var image_tag ='';
        if(pages>1)
        {
        for(var i=0;i<pages;i++)
        {
            image_tag +='<li><img src="'+jQuery(this).data('dir')+'/'+jQuery(this).data('imagename')+'-'+i+'.'+ jQuery(this).data('extension') +' " ></li>';
        }
        jQuery('#edu_over_lay_content .image_display_area').html('<ul>'+image_tag+'</ul>');
        }
        else
        {
        jQuery('#edu_over_lay_content .image_display_area').html('<img src="'+jQuery(this).attr('src')+'" >');
        }
    }
    else
    {

        jQuery('#edu_over_lay_content .image_display_area').html(jQuery(this).siblings('.video_content').html());
    }

});

jQuery('#edu_over_lay_content .image_icon_area .image_icon').click(function(){
    var mediatype=jQuery(this).data('mediatype');
    var pages=jQuery(this).data('pages');
    if(mediatype!="video")
    {
        var image_tag ='';
        if(pages>1)
        {
            for(var i=0;i<pages;i++)
            {
                image_tag +='<li><img src="'+jQuery(this).data('dir')+'/'+jQuery(this).data('imagename')+'-'+i+'.'+ jQuery(this).data('extension') +' " ></li>';
            }
            jQuery('#edu_over_lay_content .image_display_area').html('<ul>'+image_tag+'</ul>');
        }
        else
        {
            jQuery('#edu_over_lay_content .image_display_area').html('<img src="'+jQuery(this).attr('src')+'" >');
        }
    }
    else
    {

        jQuery('#edu_over_lay_content .image_display_area').html(jQuery(this).siblings('.video_content').html());
    }
});

jQuery('#edu_over_lay_content .overlay_bg').click(function()
{
jQuery('#edu_over_lay_content .pagearea').fadeOut('fast');
jQuery('#edu_over_lay_content .overlay_bg').fadeOut('fast');
});

jQuery('#edu_over_lay_content .closeicon').click(function()
{
jQuery('#edu_over_lay_content .pagearea').fadeOut('fast');
jQuery('#edu_over_lay_content .overlay_bg').fadeOut('fast');
});

});
</script>

