<!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"> -->
<!-- <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>  --> 
<!-- <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>  -->

<!-- x-editable (bootstrap version) -->
<!-- <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>

<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
<div class="loading1">
<!-- <img src="modules/abservetech/linkedin_profile/templates/base/images/Loading1.gif">
--></div>
<div class="exp_actions">
	<a href="javascript:void(0)" class="btn add-pro"><bx_text: _abs_plinkin_Add_Project /></a>
</div>
<div class="prof_project_form" style="display:none">
	__exp_form__
</div>
<div class="exp_display_area">
	<bx_repeat:exps>
	<div class="each_container" data-expid="__id__">
		<div class="exp_info hover_show hover_show_edit">
			<div class="absline pro_name">
				<span data_href="" class="scroll_con_edit"> <i class="sys-icon briefcase"></i> <b>__projectname__</b></span><i data_href="" class="fa fa-pencil scroll_edit"></i>
			</div>

			<div class="absline pro_period">


				<span data_href="" class="scroll_con_edit"><span class="from-to"><i class="sys-icon calendar"></i> __period__</span>
			</span><i data_href="" class="fa fa-pencil scroll_edit"></i>
			

		</div>
		<div class="absline pro_occupation">
			<span data_href="" class="scroll_con_edit"></i> <b><bx_text:_abs_plinkin_Occupation />:</b> __projectOccupation__</span><i data_href="" class="fa fa-pencil scroll_edit"></i>
		</div>
        
        <!-- freddy add project team and project URL -->
        <div class="absline pro_occupation">
			<span data_href="" class="scroll_con_edit"> <b><bx_text:_Team_Members />:</b>  __projectTeam__</span><i data_href="" class="fa fa-pencil scroll_edit"></i>
		</div>
        
        <div class="absline pro_occupation">
			<span data_href="" class="scroll_con_edit"> <i class="sys-icon link"></i> <b><bx_text:_abs_plinkin_Project_website />:</b>  __projectUrl__</span><i data_href="" class="fa fa-pencil scroll_edit"></i>
		</div>
        <!------------------------------------------------------------------------------------------------------------->
        
       
        
		<div class="absline pro_desc">
			<span data_href="" class="scroll_con_edit">__desc__</span><i data_href="" class="fa fa-pencil scroll_edit"></i>
		</div>
		<!-- <bx_repeat:team_list>
		<div class="featured_block_1 bx-def-margin-sec-top">
			<div class="thumbnail_block  thumbnail_block_with_info" style="float:none;">
				<div class="thumbnail_image">
					<a href="http://uksocialnetwork.co.uk/demo/linkedin_clone/Sylvie" title="Sylvie Obama">


						<p class="thumbnail_image_letter bx-def-border bx-def-thumbnail bx-def-shadow">S</p>

						<i class="sys-online-offline sys-icon circle sys-status-offline" title="Hors ligne"></i>
					</a>
				</div>

				<div class="thumb_username">
					<a class="bx-def-font-large" href="http://uksocialnetwork.co.uk/demo/linkedin_clone/Sylvie">Sylvie Obama</a>
					<br>
					<i class="bx-def-font-small bx-def-font-grayed">London, United Kingdom</i>
				</div>

				<div class="clear_both"></div>
			</div>
		</div>
		</bx_repeat:team_list>
 -->	</div>

</div>


</bx_repeat:exps>
</div>

<style>
	.error{
		display: none;
	}
</style>

