<!-- <div class="projects_display_area __style__" data-div="projects_display_area"> -->
<div class="edu_display_area __style__" data-div="edu_display_area"> 
<bx_repeat:exps>
<div class="each_container" data-expid="__id__">
	<div class="exp_info hover_show hover_show_edit">
		<div class="absline pro_name">
			<span data_href="" class=""><i class="sys-icon briefcase"></i> <b>__projectname__</b></span>
		</div>
		
		<div class="absline pro_period">


			<span data_href="" class=""><span class="from-to"><i class="sys-icon calendar"></i>  __period__</span>
			</span>
			
		
		</div>

		<div class="absline pro_occupation">
			<span data_href="" class="scroll_con_edit"><i class="sys-icon user"></i> __projectOccupation__</span>
		</div>
        
         <!-- freddy add project team and project URL -->
       
        
        <bx_if:projectTeam> 
		   <div class="absline pro_occupation">
			<span data_href="" class="scroll_con_edit"> <i class="sys-icon users"></i>  __projectTeam__</span>
		</div>
		</bx_if:projectTeam>
        
         <bx_if:projectUrl> 
		   <div class="absline pro_occupation">
        <span data_href="" class=""><a href="__projectUrl__" target="_blank"><i class="sys-icon link"></i>  <i class="sys-icon eye"></i> <bx_text:_abs_plinkin_project_link /></a>
		</div>
		</bx_if:projectUrl>
        <!------------------------------------------------------------------------------------------------------------->

		<div class="absline pro_desc">
			<span data_href="" class=""><br />__desc__</span>
		</div>
        <legend></legend>
	</div>
    
</div>


</bx_repeat:exps>
</div>

