<div class="each_container checking" >
	<ul>
		<bx_repeat:skills> 
	       <li><input type="text" name="skills" value="__skill_name__"  readonly /><i class="fa __icon_class__" title="Endorse" data-skill_user_id="__skill_user_id__" data-skillid="__user_skill_id__"></i>
	       <bx_if:isendorses>
		       <span class="endorse_content">
		       		__endorses_count__ has/have endorsed him.
		       		<span class="member_names">
			       		<ul>
			       			<bx_repeat:endorses>
			       				<li>__endorser_name__</li>
			       			</bx_repeat:endorses>
			       		</ul>
			       	</span>
		       </span>
		   </bx_if:isendorses>
	       </li>
		</bx_repeat:skills>
	</ul>
	<input type="hidden" id="logged_id" value="__logged_id__">
	<input type="hidden" id="is_friends" value="__isfriends__">
</div>
<style>
.bootstrap-tagsinput input, .skill_info .bootstrap-tagsinput span[data-role="remove"]{ display:none;}
.skills_edit, .add-edu{float:right;}
#tags_input_edit{margin-bottom:10px;}
.skill_display_area ul li>input{
	margin-right: 8px;
}

span.endorse_content {
    position: relative;
    display: inline-block;
}

span.member_names {
    position: absolute;
    top: 18px;
    left: 0;
    padding: 3px;
    background-color: #dddddd;
    border-radius: 3px;
    z-index: 2;
    display: none;
}
span.member_names ul li:last-child {
	margin-bottom: 0px;
	}
</style>
