div.activityrow_block
	{
		float:left;
		position:relative;
		margin:10px;
		width:300px;
		overflow:hidden;
		border-bottom:1px solid #EAEAEA;
	}

	div.short_desc
	{
		position:relative;
		left:10px;
		border:0px solid red;
		float:left;
	}
	div.short_desc div
	{
		position:relative;
		text-align:left;
	}
	div.short_desc div.nick
	{
		font-size:15px;
		font-weight:bold;
		line-height:20px;
		vertical-align:middle;
	}
	div.short_desc div.activities
	{
		margin-bottom:5px;
	}
	div.short_desc li.activityname
	{
		margin-left:15px;
		font-size:12px;
		font-weight:bold;
	}

	div.short_desc span
	{
		font-size:11px;
	}