<!-- freddy modif
<div class="bx-twig-unit bx-twig-unit-admin modzzz_jobscover_unit bx-def-margin-top-auto">
 
    <div class="bx_sys_unit_checkbox bx-def-round-corners">
        <input type="checkbox" name="entry[]" value="__id__" />
    </div>

    <div class="bx-twig-unit-thumb-cont bx-def-margin-sec-right">
        <img class="bx-twig-unit-thumb bx-def-round-corners bx-def-shadow" src="__thumb_url__">
    </div>
 
    <div class="bx-twig-unit-info"> 
        <div class="bx-twig-unit-title bx-def-font-h2">
            __title__
        </div> 
    </div>   
</div>
-->

<div class="searchrow_block_simple  bx-twig-unit bx-twig-unit-admin modzzz_jobscover_unit bx-def-margin-top-auto">
 
    <div class="bx_sys_unit_checkbox bx-def-round-corners">
        <input type="checkbox" name="entry[]" value="__id__" />
    </div>

    <div class="bx-twig-unit-thumb-cont bx-def-margin-sec-right ">
       <strong> &nbsp;&nbsp;&nbsp;&nbsp;__title__ </strong><br>
        <img class="bx-twig-unit-thumb bx-def-round-corners bx-def-shadow" src="__thumb_url__">
    </div>
 
   
</div>