
    <table width="100%" cellspacing="5" cellpadding="5"> 
                  <tr>
                  
                 	
                      <td>  
                    
                       
                      <div>
                   <div><a href="javascript: void(0)" onclick="javascript: showPopupAnyHtml('__SharePopup__');"> __TitleShare__</a></div>
                    </div>
            
            
            
                       
                 <!--
                  <div><button class="ConnectNetwork"   onclick="window.open ('__TitleEdit_Url__','_self');">
						 <i class="sys-icon pencil"></i> <bx_text:_modzzz_jobs_action_edit />
					</button> 
                    </div> 
                    -->
				 </td>
                    
                     <td>   
                     
                     <div><button class="ConnectNetwork"   onclick="window.open ('__invite_Url__','_self');">
						 <i class="sys-icon envelope"></i> <bx_text:_modzzz_jobs_action_invite />
					</button>  
                    </div>
              
				 
                    </td> 
                    </tr>
                    
                     <tr>
                     
                     <td>  
                      <div>
                          <div>
                           <button class="SaveEmploi"  onclick="getHtmlData ('ajaxy_popup_result_div___id__','__Favorite_Url__', false, 'post');return false;">
						  __AddToFavorite__
	                        </button> 
                         </div>
                        <div class="clear_both"></div> 
                  
                         <div id="ajaxy_popup_result_div___id__" style="display:none;"></div> 
     
                         </div> 
                         
                         
                          
                     
                     </td> 
                     
                     <td> 
                      <div>
                          <div>
                           <button class="SaveEmploi"  onclick="getHtmlData ('ajaxy_popup_result_div___id__','__Join_Suivre__', false, 'post');return false;">
						  __TitleJoin__
	                        </button> 
                         </div>
                        <div class="clear_both"></div> 
                  
                         <div id="ajaxy_popup_result_div___id__" style="display:none;"></div> 
     
                         </div> 
                     </td> 
                     </tr> 
                    
                   
                 <!--
                   <td>   
                  <div><button class="ConnectNetwork"  class="menuLink" onclick="window.open ('__Photos_Url__','_self');">
						 <i class="sys-icon pencil"></i> __TitleUploadPhotos__
					</button> 
                    </div> 
				 </td>
                 
                 
                  <td>   
                 <div class="bx-def-bc-padding"> 
                    <div>
                  <button class="ConnectNetwork"  class="menuLink" onclick="getHtmlData ('ajaxy_popup_result_div___id__','__URLAddToFeatured__', false, 'post');return false;">
						 <i class="sys-icon pencil"></i> __AddToFeatured__
					</button> 
            
                  </div>
                  <div class="clear_both"></div> 
                  
                  	<div id="ajaxy_popup_result_div___id__" style="display:none;"></div> 

            
            </div> 
				 </td>
                 
                 
                 
                 
                   <td>   
                 <div class="bx-def-bc-padding"> 
                    <div>
                  <button class="ConnectNetwork"  class="menuLink" onclick="getHtmlData ('ajaxy_popup_result_div___id__','__URLAddToToday__', false, 'post');return false;">
						 <i class="sys-icon pencil"></i> __AddToToday__
					</button> 
            
                  </div>
                  <div class="clear_both"></div> 
                  
                  	<div id="ajaxy_popup_result_div___id__" style="display:none;"></div> 

            
            </div> 
				 </td>
                 
                 
                   
                    
                     <td>   
    		<div><button class="gerermonannonce" class="managresume" class="menuLink" onclick="window.open ('__invite_Url__','_self');">
						 <i class="sys-icon envelope"></i> <bx_text:_modzzz_jobs_action_invite />
					</button>  
                    </div>
                    
                    </td> 
                    -->
                  
                
              
		</table>
                    <div class="clear_both"></div>
                    

