div.top_settings_block div.left_section {
    color:#666666;
    float:left;
    font-size:11px;
    padding-left:5px;
    padding-top:9px;
    /*position:relativ_e;*/
}

div.top_settings_block div.right_section 
{
    color:#666666;
    float:right;
    font-size:11px;
    padding-right:5px;
    padding-top:9px;
    /*position:relativ_e;*/
}

div.communicator_container {}

div.sys-connections-row {
    position: relative;
    height: 74px;
    border-left: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}
div.sys-cntsr-cnt {
    position: relative;
    margin: 5px 0px;
}
div.sys-cntsr-author-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}
div.sys-cntsr-checkbox {
    position: relative;
    float: left;
    width: 40px;
    text-align: center;
}
div.sys-cntsr-checkbox input {
    margin: 25px 0px;
} 
div.sys-cntsr-message {
    margin-left: 114px;
    margin-right: 10px;
    overflow: hidden;
}
div.sys-cntsr-author-info {
    line-height: 23px;
}
div.sys-cntsr-author-info span.bullet,
div.sys-mailbox-actions  span.bullet {
    padding: 0px 3px;
}
a.sys-cntsr-subject {
   /*freddy modif
    font-size: 18px; */
	font-size: 15px;
    color: #dcdcdc;
}
a.sys-cntsr-subject-new {
    font-weight: bold;
    color: #3300cc;
}
div.sys-cntsr-actions {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 10px;
}

div.sys-connections-actions {
    border: 1px solid #dcdcdc;
    background-color: #f5f7fA;
}

div.sys-connections-actions div.sys-cntsa-left {
    position: relative;
    float: left;
}

div.sys-connections-actions div.sys-cntsa-right {
    position: relative;
    float: right;
}

div.sys-connections-actions div.sys-cntsa-right .form_advanced_table {
    border:none;
}
div.sys-connections-actions div.sys-cntsa-right .form_advanced_table td {
    padding: 0px;
    border:none;
}

/*-- Friend Requests block --*/
div.communicator_fr_container {}

div.sys-connections-fr {
    position: relative;
   /*freddy modif
    height: 64px;
	*/
	height: 90px;
}

div.sys-connections-fr:first-child {
    margin-top: 0px;
}
div.sys-cntsfr-checkbox input {
    margin: 25px 0px;
}
div.sys-cntsfr-author {
    position: relative;
    top: 0px;
    left: 0px;
}
div.sys-cntsfr-info {
    margin-left: 74px;
    overflow: hidden; 
}
div.sys-cntsfr-actions {
	margin-top: 5px;
}



/* freddy ajout 
.bx-def-margin-sec-top-mutshi  {
    margin-top:10px;
}
*/
.bx-def-margin-sec-top-mutshi {
    margin-top:20px;
}
/***********************/




/* freddy ajout    div.titre-prof-friend-reques****/
div.titre-prof-friend-request {
   
    overflow: hidden; 
	
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 270px;
}
/* fin freddy ajout****/



/* freddy ajout*/
.ConnectFriendMutshi {
background-color: #EE7356;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 5px;
	margin-left:10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
    z-index: 0;
    box-shadow: inset 0 0 0 1px #EE7356, inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
	
}

.ConnectFriendMutshi { color:  #fff; cursor: pointer;}
.ConnectFriendMutshi:hover {background: #fff;  border-color:  #EE7356; font-weight:normal; position: relative;bottom: 0.2px; transition: all 1.8s ease;color: #EE7356;}


.RejetFriendMutshi {
background-color: #fff;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    font-family: inherit;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 5px;
	margin-left:10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
    z-index: 0;
    box-shadow: inset 0 0 0 1px #666, inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
	
}

.RejetFriendMutshi { color:  #666; cursor: pointer;}
.RejetFriendMutshi:hover {background: #666;  border-color:  #666; font-weight:normal; position: relative;bottom: 0.2px; transition: all 1.8s ease;color: #fff;}

/*  fin freddy ajout*/




/* freddy ajout ************************************************/

@media (max-width:480px){
 

a.sys-cntsr-subject {
    font-size: 13px;
   
}
	}
	
/* freddy fin ajout  ***************************************/