<script language="javascript" type="text/javascript">
  function LoadTmplID(val) {
    var LangSelect = document.getElementsByName("sLangID");
    var LangSelected = LangSelect[0].selectedIndex;
    var LangID = "?LangID="+(LangSelect[0].options[LangSelected].value);
    var TmplID = "&TmplID="+val;
    var EditorSelect = document.getElementsByName("sEditorID");
    var EditorSelected = EditorSelect[0].selectedIndex;
    var EditorID = "&EditorID="+(EditorSelect[0].options[EditorSelected].value);
    window.location.href="__admin_url__"+LangID+TmplID+EditorID;
  }
  function LoadLangID(val) {
    var LangID = "?LangID="+val;
    var TextSelect = document.getElementsByName("sTmplID");
    var TextSelected = TextSelect[0].selectedIndex;
    var TmplID = "&TmplID="+(TextSelect[0].options[TextSelected].value);
    var EditorSelect = document.getElementsByName("sEditorID");
    var EditorSelected = EditorSelect[0].selectedIndex;
    var EditorID = "&EditorID="+(EditorSelect[0].options[EditorSelected].value);
    window.location.href="__admin_url__"+LangID+TmplID+EditorID;
  }
  function LoadEditorID(val) {
    var LangSelect = document.getElementsByName("sLangID");
    var LangSelected = LangSelect[0].selectedIndex;
    var LangID = "?LangID="+(LangSelect[0].options[LangSelected].value);
    var TextSelect = document.getElementsByName("sTmplID");
    var TextSelected = TextSelect[0].selectedIndex;
    var TmplID = "&TmplID="+(TextSelect[0].options[TextSelected].value);
    var EditorID = "&EditorID="+val;
    window.location.href="__admin_url__"+LangID+TmplID+EditorID;
  }
</script>
<table border="0">
  <tr>
    <td>
      <bx_text:_mp_emailtmpleditor_tmpl />:
      <select size="1" name="sTmplID" onChange="javascript: LoadTmplID(this.value)">
        __tmpl_selector__
	  </select>
    </td>
    <td width="20">&nbsp;</td>
    <td>
      <bx_text:_mp_emailtmpleditor_language />:
      <select size="1" name="sLangID" onChange="javascript: LoadLangID(this.value)">
        __lang_selector__
      </select>
    </td>
    <td width="20">&nbsp;</td>
    <td>
      <bx_text:_mp_emailtmpleditor_editor />:
      <select size="1" name="sEditorID" onChange="javascript: LoadEditorID(this.value)">
        __editor_selector__
  	  </select>
    </td>
  </tr>
</table>
