<script>
function selectAll(str, el){
	$("input[name^='" + str + "']").each(function(){
		$(this).attr('checked', el.checked);
	});
}
</script>
<center>
<table cellpadding="1" cellspacing="5" class="aqb-credits-admin-table">
	<tr>
		<th><bx_text:_aqb_credits_admin_action_name /></th>
		<th><bx_text:_aqb_credits_credits /></th>
		<th><bx_text:_aqb_credits_admin_active /></th>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td><input onclick="javascript:selectAll('active_', this);" name="actions" type="checkbox" /><label><b><bx_text:_aqb_credits_select_all /></b></td>
	</tr>
	<bx_repeat:actions>
		<tr class="__active__">
			<td>__name__</td>
			<td><input name="credits___id__"  type="text" value="__credits__" /></td>
			<td><input name="active___id__" type="checkbox" value="__id__" __checked___/></td>
		</tr>
	</bx_repeat:actions>
	</table>
</center>