<div id="aqb-credits-list-table" class="aqb-credits-list-table">
	<table width="100%" class="aqb-credits-table" cellpadding="3" cellspacing="3">
        <tr height="20px">
			<th><a href="javascript:void(0);" __item_action_function__ ><bx_text:_aqb_credits_action_title /> __action_title__</a></th>
			<th><a href="javascript:void(0);" __item_number_function__ ><bx_text:_aqb_credits_number_title /> __number__</a></th>
			<th><a href="javascript:void(0);" __item_date_function__ ><bx_text:_aqb_credits_date_title /> __date__</a></th>
			<th width="20">&nbsp;</th>
	     </tr>
	<bx_repeat:items>
            <tr>
                <td width="*">__action_name__</td>
		        <td width="*">__number__</td>
				<td width="*">__date__</td>
				<td width="20">__checkbox__</td>
            </tr>
    </bx_repeat:items>
    </table>
__paginate__
</div>
<script type="text/javascript" language="javascript">
	$('document').ready(function(){
		$("tr:odd").attr("class", "credits-odd");
	});
</script>