<div class="bx-def-bc-padding">
	<bx_repeat:entries>  
		<div class="bx-twig-unit modzzz_formations_unit bx-def-margin-top-auto">

			<div class="bx-twig-unit-icon-cont bx-def-margin-sec-right">
				__thumb_url__
			</div>

			<div class="bx-twig-unit-info">
		 
				<div class="bx-twig-unit-comment">__snippet_text__</div>
 
				<div class="bx-twig-unit-line bx-twig-unit-special">
					<bx_text:_modzzz_formations_posted_in_topic /> <a href="__topic_url__">__topic__</a>
				</div>

	 			<div class="bx-twig-unit-line bx-twig-unit-special">
					<bx_text:_modzzz_formations_posted_in_formations /> <a href="__item_url__">__item_title__</a>
				</div>

				<div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
					__created__ <span class="bullet">&#183;</span> <bx_text:_From /> <a href="__author_url__">__author__</a>
				</div> 
			</div>    
		</div>  
	</bx_repeat:entries>
</div>