<div class="bx-def-bc-padding">
<table>
 	<tr>
         <bx_repeat:rows>
            <td valign=top>
			  <bx_repeat:entries>
				<bx_if:region>
					<div class="block_header">__region_name__</div>
					<div class="clear_both"></div>
					<a class="BoutonFormationUnitLien" href='__country_url__'><span style="font-size:10px;"><i class="sys-icon square"></i></span><span style="font-size:16px;">__country_name__</span></a><br>
				</bx_if:region>
				<bx_if:country>
					<a class="BoutonFormationUnitLien" href='__country_url__'><span style="font-size:10px;"><i class="sys-icon square"></i></span><span style="font-size:16px;">__country_name__</span></a><br>
				</bx_if:country>
			  </bx_repeat:entries>
			</td>
        </bx_repeat:rows>
 	</tr> 
</table> 
</div>
