<div class="bx-def-bc-padding">
	 <div class="block_header" style="width: 100%;"><a class="BoutonFormationUnitLien" href='__all_categories_url__'><span style="font-size:12px;"><i class="sys-icon eye"></i> </span><span style="font-size:14px;"></span><span style="font-weight:normal;"><bx_text:_modzzz_formations_all_categories /></span></span></a></div>

	 <div class="block_header" style="width: 100%;"><a class="BoutonFormationUnitLien" href='__parent_category_url__'><span style="font-size:14px;"><i class="sys-icon building"></i> </span><span style="font-size:16px;"><span style="font-weight:normal;">__parent_category__</span></span></a></div>

	<bx_repeat:entries> 
    
    
    <bx_if:categorie> 
       		 <div class="__subcategory_class__" style="width: 100%;">
             <a class="BoutonFormationUnitLien" href='__subcategory_url__'><span style="font-size:14px;"><i class="sys-icon square"></i> </span><span style="font-size:16px;">__subcategory__</span> &nbsp;(__num_items__)</a>
             </div> 

		</bx_if:categorie>  
    
	</bx_repeat:entries>  
	<div class='clear_both'></div>	 
</div>