<bx_repeat:entries>
  <div class="searchrow_block_simple bx-def-bc-padding-recruteur">   
       
       
       <div class="CssRecruitingCompany" >
         <table >
                   
          <tr>
           <td >
            <div class="formations-company-name">
        <span style="font-size:12px;"><b> <a class="actions" href="__recruteur_url__">__recruteur_title__</a></b></span>
        </div> 
           
           </td>
       </tr>
        <tr>
        <td>
       
        <div class="bx-modzzz-formation-thumb-recru-formations">
        
      
       <a href="__recruteur_url__"><img    class="bx-modzzz-formation-recru bx-def-round-corners " src="__thumb_url__"></a>
    </div>
       
   
  
    </td>
       </tr>
        <tr>
        <td>
	
   
   <div class="bx-modzzz-formation-info-recruteur">
   
        <div> 
        <span style="font-size:11px;"> <i class="sys-icon users"></i> __employees_count__</span>
        </div> 
        
         <div class="infoUnit infoUnitFontIcon bx-twig-unit-line  bx-def-font-grayed">
              <span style="font-size:11px;"> <i class="sys-icon map-marker"></i>
               __zip__  __city__ 
               </span> 
         </div>  
        
       
       <!-- 
        <div>
       <span style="font-size:12px;">
        <a href="__category_url__"> <i class="sys-icon sliders"></i> <bx_text:_modzzz_listing_unit_type />: __category_name__</a><bx_if:sub_category><a href="__subcategory_url__"> | __subcategory_name__</a></bx_if:sub_category>
        </span>
        </div> 
        
       
        
        <bx_if:classified_count>
				<div>        
				<span style="font-size:12px;">
                	<i class="sys-icon shopping-cart"></i>&nbsp;&nbsp;
					<a href="__classified_count_url__"> __classified_count__ 
                    <bx_text:_modzzz_listing_action_classified /> &nbsp;<i class="sys-icon hand-o-left"> </i> </a>
                    </span>
				</div>
				
	 </bx_if:classified_count>
     
     
       
          <bx_if:events_count>
				<div>           
				    <span style="font-size:12px;">
                	<br><i class="sys-icon calendar"></i>&nbsp;&nbsp;
					<a href="__events_count_url__"> __events_count__ 
                    <bx_text:_modzzz_listing_action_events /> &nbsp;<i class="sys-icon hand-o-left"> </i> </a>
                    </span>
				</div>
				
			</bx_if:events_count>
            -->
            
     <bx_if:formations_count>
				<div> 
                  <button class="FormationRecruteur"  onclick="window.open ('__formations_count_url__','_self');">
			        <i class="sys-icon suitcase"> &nbsp;</i><span style="font-size:13px;"> __formations_count__ 
                    <bx_text:_modzzz_listing_action_formations />  <i class="sys-icon hand-o-left"></i>
                   </span>
		         </button>
                    
				</div>
	</bx_if:formations_count> 
         
        
      </div>
      </td>
          </tr>
    </table>
    </div>
   
   <div class='clear_both'></div>
   </div>
        
    </bx_repeat:entries> 
