 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

 <div class="searchrow_block_simple_formations bx-def-bc-padding">   

    
 <div class="bx-twig-unit-info">
 
 
 
<!-- ENTREPRISES – GRID + CARTE (responsive) -->
  
<section class="biz-section">
 

  <!-- Grille (fonctionne avec 1 ou plusieurs entreprises) -->
  <div class="biz-grid">
    <!-- CARTE ENTREPRISE -->
    <article class="biz-card">
      <div class="biz-top">
        <div class="biz-logo">
         <a href="__formation_url__">
          <img src="__thumb_url__" alt="Logo Entreprise">
          </a>
        </div>

        <div class="biz-head">
          <h3 class="biz-name"> <a itemprop="url" href="__formation_url__">
         <i class="sys-icon briefcase"></i> __formation_title__
          </a>
          </h3>
          <div class="biz-meta">
            <span class="biz-meta-item"><i class="sys-icon map-marker"></i> __city__</span>
            <span class="biz-dot">•</span>
            <span class="biz-meta-item">   __drapeau__ __country__</span>
          </div>
        </div>

         
        
   <div class="biz-badge"> 
       
         
            <div>
             <i class="sys-icon desktop"></i> <!--<bx_text:_modzzz_jobs_unit_posted_by />-->  
             <sapn style="font-size:12px; height:10px;">
              <bx_if:expires> 
                <i class="sys-icon clock-o"></i> __created__ 
               </bx_if:expires>
             </span>
            </div>
            
     
                <div class="company-name-one-line">
                   <a href="__company_url__" title="__company__"> 
                       <b><i class="sys-icon building"></i> __company__ </b>
                   </a>
                </div>
       </div>
       
       </div>



      
        
        
        <bx_if:role> 
		     <div class="infoUnit infoUnitFontIcon  bx-twig-unit-line bx-def-font-small bx-def-font-grayed">		     
               
            <span style=' text-transform: capitalize;  background-color: #fefeff;  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%); padding: 5px; display:   
            inline-block;font-size: 14px;font-weight:500;margin-right: 3px;margin-bottom: 0px;overflow: hidden;color:  #666;border: 1px solid #fefeff;
	         white-space: normal;text-overflow: ellipsis; border-radius:8px;'> 
             
              <strong> <i class="sys-icon calendar"></i> <bx_text:_modzzz_formations_form_caption_role_view />:</strong>
             
                __role__  
              </span>
                
                
               
             </div>
		</bx_if:role>
        

        
          <bx_if:duration> 
			<div class="bx-def-font-grayed" style="text-transform: capitalize;  background-color: #fefeff;  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%); padding: 5px; display:   
            inline-block;font-size: 14px;font-weight:500;margin-right: 3px;margin-bottom: 3px;overflow: hidden;color:  #666;border: 1px solid #fefeff;
	         white-space: normal;text-overflow: ellipsis; border-radius:8px;">
				 
              <strong>  <bx_text:_modzzz_formations_form_caption_duration />:</strong> __duration__
              
		    </div>
		   </bx_if:duration>
           
           
           
            <bx_if:formation_type> 
			<div class="bx-def-font-grayed" style="text-transform: capitalize;  background-color: #fefeff;  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%); padding: 5px; display:   
            inline-block;font-size: 14px;font-weight:500;margin-right: 3px;margin-bottom: 3px;overflow: hidden;color:  #666;border: 1px solid #fefeff;
	         white-space: normal;text-overflow: ellipsis; border-radius:8px;">
				 
              <strong>  <bx_text:_modzzz_formations_form_caption_formation_type />:</strong>   __formation_type__
              
		    </div>
		   </bx_if:formation_type>
           
           
           
           
            
			<div class="bx-def-font-grayed" style="text-transform: capitalize;  background-color: #fefeff;  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%); padding: 5px; display:   
            inline-block;font-size: 14px;font-weight:500;margin-right: 3px;margin-bottom: 3px;overflow: hidden;color:  #666;border: 1px solid #fefeff;
	         white-space: normal;text-overflow: ellipsis; border-radius:8px;">
				 
             <strong> <i class="sys-icon wrench"></i> <bx_text:_modzzz_formations_industry_details />:</strong> <a href="__category_url__">__category_name__</a> <bx_if:sub_category> <span class="bullet">&#8594;</span> <a href="__subcategory_url__">__subcategory_name__</a>
           </bx_if:sub_category>
              
		    </div>
		   
           
          <div class="biz-value">
       __snippet_text__
      </div> 


    
       <div style="padding-top:10px;">
        <button class="BoutonJobUnit"  onclick="window.open ('__formation_url__','_self');">
          <br /> <i class="sys-icon user"></i>  __message_applicant__ 
           </button>
     </div>
     
       <div class="bx-twig-unit-line bx-twig-unit-special "> 
           <span style="text-align:center">__Sauvegardee__</span>
       </div>
       
    
    
     <div style="text-align:center;">
                <a href="__formation_url__" class="btn-offer" aria-label="Consulter l'offre">
  <span class="btn-offer__icon" aria-hidden="true">↗</span>
  <span class="btn-offer__text"> <bx_text:_modzzz_formations_action_en_savoir_plus />  </span>
</a>
       </div> 
    
    <!-- Bouton : Consulter l'offre -->


     
    </article>
    <!-- /CARTE ENTREPRISE -->

    <!-- Duplique <article class="biz-card">...</article> pour chaque entreprise -->
  </div>
</section>


        <div class="clear_both"></div>
        
        

    </div>    

</div>


