<div class="bx-twig-unit bx-twig-unit-admin modzzz_formations_unit bx-def-margin-top-auto">

    <div class="bx_sys_unit_checkbox bx-def-round-corners">
        <input type="checkbox" name="entry[]" value="__id__" />
    </div>
 
   <!--   Freddy: bx-twig-unit-thumb-cont et bx-twig-unit-thumb sont geré dans formations/templates/base/css/main.css -->
   <div class="CSSFormationUnit">
       <table>
        <tr>
        <td>
    
    
    <div>
     
     
     
      <div class="bx-twig-unit-thumb-cont-formations bx-def-margin-sec-right">
        <a href="__formation_url__"><img class="bx-twig-unit-thumb-formations bx-def-round-corners " src="__thumb_url__"></a>
       </div>
                    
     
     
     
      <div class="bx-twig-unit-info">
          
          
          <div class="Formation_Unit_Title">
            <a class="BoutonFormationUnitTitle" href="__formation_url__">__formation_title__</a>
          </div>
          
          
         
           
          
           <div class="infoUnit infoUnitFontIcon  bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
              
              <i class="sys-icon clock-o"></i>  <!-- <bx_text:_modzzz_formations_date_publication /> --> __created__ |  <!--<bx_text:_modzzz_formations_unit_by /> -->  
              <a class="BoutonJoCompanybUnit" href="__company_url__">  <strong>__company__ <i class="sys-icon building"></i></strong></a>
              <br>  <i class="sys-icon map-marker"></i> __zip__ __city__ 
              
           </div>
     
     
         <!--
         <bx_if:salary> 
			<div class="bx-twig-unit-line">  
				<b><i class="sys-icon money"></i> <bx_text:_modzzz_formations_salary />:</b>  __salary_minimum__ - __salary_maximum__ __salary_type__
			</div>
	    </bx_if:salary>
        -->
        
         <bx_if:Formation_Status_Type> 
		     <div class="infoUnit infoUnitFontIcon  bx-twig-unit-line bx-def-font-small bx-def-font-grayed">		     
               
                <b><i class="sys-icon black-tie"></i></b> __formation_status__  |  __formation_type__
             </div>
		</bx_if:Formation_Status_Type>
        
        
    <!--
     <div class="infoUnit infoUnitFontIcon  bx-twig-unit-line bx-def-font-grayed"> 
          <span style="font-size:18px;">
         <b><i class="sys-icon euro"></i> </b>
         </span>
          <b> __Salary_Minimum__</b> __Separateur____Separateur__  <b>__Salary_Maximum__</b>   __Salary_Type__ <b>__Salary_Negociable__</b>
     </div>
     -->
     
     
     
     
     <div  class="bx-twig-unit-line bx-twig-unit-desc bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
            __snippet_text__
       </div>
     
    
    
        <div>
        <button class="BoutonFormationUnit"  onclick="window.open ('__formation_url__','_self');">
           <i class="sys-icon user"></i>  __message_applicant__</b>
           </button>
        </div>
        
     

     </div>
     </td>
     </tr>
     </table>
    </div>
     <div class="clear_both"></div>
   
     
     
    <!-- 
     <div class="CSSFormationUnit">
       <table>
        <tr>
        <td>
     
      <button class="BoutonFormationUnit"  onclick="window.open ('__formation_url__','_self');">
  
        <div  class="bx-twig-unit-line bx-twig-unit-desc bx-twig-unit-line bx-def-font-grayed">
            __snippet_text__
       </div>
              
         </button>    
         
         
   <div class="infoUnit infoUnitFontIcon  bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
        <span style="font-size:14px;">
         <span style="color:#87868c;">
      
            <bx_if:vacancies> 
                 <i class="sys-icon black-tie"></i> <strong> __vacancies__ </strong>__vacancies_caption__  &nbsp;&nbsp;&nbsp;
           </bx_if:vacancies> 
          </span>
          </span>
   </div>  
   
       

	<div class="infoUnit infoUnitFontIcon  bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
				 <span style="color:#f07355;">  __Sauvegardee__ </span>    
                
     </div>
     
     
      </td>
       </tr>
     </table>
     </div>
     <div class="clear_both"></div>
     -->
     
     </div>
 
<br>
 
 
 