<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="thumbnail_block_espace_job thumbnail_block_with_info" style="float:none;">

		
            
            <div class="thumbnail_image_professional_home" >
				__thumbnail__  
			</div>	
            

			

			<div class="clear_both"></div> 
		</div>
   
   
    
      <div class="CSSProfessionalHome" >
   <table >
            
    <tr>
      <td >
       <br><br><span style="font-size:16px;"><strong><i class="sys-icon briefcase"></i> Êtes-vous Professionnel indépendant?</strong></span>
       <br><i class="sys-icon trophy"></i> Gagnez de nouveaux clients et Booster votre chiffre d'affaires gâce à notre annuaire  dédié aux professionnels indépendants.
       
      
       
       
     </td>
   </tr>
   
   <tr>
      <td >
        <button class="InscriptionSearch"  onclick="window.open ('m/professional/browse/my&filter=add_professional','_self');">
       <i class="fa fa-desktop"></i> <i class="fa fa-user"></i>  <bx_text:_modzzz_professional_inscription /> 
     </button>
     </td>
   </tr>
        
     </table>
    </div>