<div class="bx-twig-unit bx-def-font-large"> 

	<div class="bx-twig-unit-line bx-twig-unit-title bx-twig-unit-desc"> __title__</div>

	<div class="tsb_cnt_out bx-def-margin-sec-top" style='border-top: 1px solid #cccccc;'>
		<div class="tsb_cnt_in bx-def-btc-padding-in-out"  style='border-top: 1px solid #ffffff;'>
			&nbsp;  
 		</div>
	</div>  
 
	<div class="bx-twig-unit-line bx-twig-unit-desc"><b><bx_text:_modzzz_professional_caption_price_service />:</b> __price__</div>

	<div class="bx-twig-unit-line bx-twig-unit-desc bx-def-margin-sec-top"><b><bx_text:_modzzz_professional_caption_length_service />:</b> __length__</div>

	<div class="tsb_cnt_out bx-def-margin-sec-top" style='border-top: 1px solid #cccccc;'>
		<div class="tsb_cnt_in bx-def-btc-padding-in-out"  style='border-top: 1px solid #ffffff;'>
			&nbsp;  
 		</div>
	</div>  
 
	<div class="bx-twig-unit-line bx-twig-unit-desc">__description__</div> 
</div>
