<div class="bx-twig-unit modzzz_professional_unit bx-def-margin-top-auto">
 
    <div class="bx-twig-unit-info">
 
        <div class="bx-twig-unit-title bx-def-font-h2">
            <a href="__booking_url__">__booking_title__</a>
        </div>

        <div class="bx-twig-unit-line bx-twig-unit-desc">__snippet_text__</div>

        <div class="bx-twig-unit-line bx-twig-unit-special"> 
			  <bx_text:_modzzz_professional_request_for /> __start_time__ <bx_text:_modzzz_professional_to /> __end_time__
		</div>
  
		<div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
			<bx_text:_modzzz_professional_posted /> __created__ <span class="bullet">&#183;</span> <bx_text:_modzzz_professional_by /> <a href="__author_url__">__author__</a>
		</div> 

    </div>    

</div>