<div class="bx-def-hr bx-def-margin-sec-top bx-def-margin-sec-bottom"><b><bx_text:_modzzz_professional_form_header_online_presence /></b></div>  
 
<div class="bx-twig-unit-line">
 
	<div class="bx-def-margin-sec-top">
		<bx_if:website>
			<div class="bx-def-margin-sec-bottom"><a href='__website_url__'><bx_text:_modzzz_professional_my_website /></a></div>  
			<div class="clear_both"></div>
		</bx_if:website>

		<bx_if:blog>
			<div class="bx-def-margin-sec-bottom"><a href='__blog_url__'><bx_text:_modzzz_professional_my_blog /></a></div>
			<div class="clear_both"></div>
		</bx_if:blog>

		<div class="bx-def-margin-sec-bottom social">
			<bx_if:facebook>
				<a href='__facebook_url__' target="_blank"><img width=24 height=24 src="<bx_icon_url:facebook.png />" /></a>&nbsp;&nbsp; 
			</bx_if:facebook>
			<bx_if:twitter>
				<a href='__twitter_url__' target="_blank"><img width=24 height=24 src="<bx_icon_url:twitter.png />" /></a>&nbsp;&nbsp;	 
			</bx_if:twitter>
			<bx_if:linkedin>
				<a href='__linkedin_url__' target="_blank"><img width=24 height=24 src="<bx_icon_url:linkedin.jpg />" /></a>&nbsp;&nbsp;	 
			</bx_if:linkedin>
			<bx_if:youtube>
				<a href='__youtube_url__' target="_blank"><img width=24 height=24 src="<bx_icon_url:youtube.png />" /></a>&nbsp;&nbsp;	 
			</bx_if:youtube>
			<bx_if:skype>
				<a href='__skype_url__' target="_blank"><img width=24 height=24 src="<bx_icon_url:skype.png />" /></a>&nbsp;&nbsp;	 
			</bx_if:skype> 
			<bx_if:pinterest>
				<a href='__pinterest_url__' target="_blank"><img width=24 height=24 src="<bx_icon_url:pinterest.jpg />" /></a>	 
			</bx_if:pinterest>
		</div>

	</div>
	<div class="clear_both"></div>
 </div>

 