<link rel="canonical" href="__url__" />
<meta property="og:title" content="__title__" />
<meta property="og:type" content="article" />
<meta property="og:description" content="__description__" />
<meta property="og:latitude" content="__latitude__" />
<meta property="og:longitude" content="__longitude__" />
<meta property="og:street-address" content="__street__" />
<meta property="og:locality" content="__city__" />
<meta property="og:region" content="__state__"/>
<meta property="og:postal-code" content="__zip__" />
<meta property="og:country-name" content="__country__" />
<bx_repeat:images>
<meta property="og:image" content="__image__" />
</bx_repeat:images> 
<meta property="og:url" content="__url__" />
<meta property="og:site_name" content="__site_name__"/>
