<div class="bx-twig-unit modzzz_professional_unit bx-def-margin-top-auto">

    <div class="bx-twig-unit-info"> 
        <div class="bx-twig-unit-title bx-def-font-h2">
            __first_name__ __last_name__</a>
        </div>

        <div class="bx-twig-unit-line bx-twig-unit-desc">__note__</div>
 
        <div class="bx-twig-unit-line bx-twig-unit-desc"><bx_text:_modzzz_professional_form_caption_email />: __email__</div>

        <div class="bx-twig-unit-line bx-twig-unit-desc"><bx_text:_modzzz_professional_form_caption_telephone />: __telephone__</div>
  
		<bx_if:respond>
			<div class="bx-twig-unit-line">
				 <button class="bx-btn bx-btn-small bx-btn-img bx-btn-ifont" onclick="window.location='__respond_url__';"> 
					<i class="sys-icon envelope"></i>
					<bx_text:_modzzz_professional_action_title_respond />
				 </button>  
			</div>  
		</bx_if:respond> 
  
    </div>   
</div>
 