<div class="bx-twig-unit modzzz_professional_unit bx-def-margin-top-auto">

    <div class="bx-twig-unit-icon-cont bx-def-margin-sec-right">
       __post_uthumb__
    </div>

    <div class="bx-twig-unit-info">

        <div class="bx-twig-unit-title bx-def-font-h2">
            <a href="__review_url__">__review_title__</a>
        </div>

        <div class="bx-twig-unit-line bx-twig-unit-desc">__review_snippet__</div>
 
		<bx_if:professional>
			<div class="bx-twig-unit-line bx-twig-unit-special">
				<bx_text:_modzzz_professional_posted_for /> <a href="__professional_url__">__professional_title__</a>  
			</div>
		</bx_if:professional>

		<bx_if:service>
			<div class="bx-twig-unit-line bx-twig-unit-special">
				<bx_text:_modzzz_professional_posted_for_service /> <a href="__service_url__">__service_title__</a>  
			</div>
		</bx_if:service>

		<div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
			__created__ (__created_ago__) <span class="bullet">&#183;</span> <bx_text:_From /> <a href="__author_url__">__author__</a>
		</div> 

    </div>    

</div>