<div class="bx-twig-unit modzzz_professional_unit bx-def-margin-top-auto">
 
    <div class="bx-twig-unit-info">  
		<div class="bx-twig-unit-title bx-def-font-h2">
			<a href="__url__">__title__</a>
		</div>

		<div class="bx-twig-unit-line bx-twig-unit-desc">__snippet__</div>
 
		<div class="bx-twig-unit-line bx-twig-unit-desc">__price__ <bx_text:_modzzz_professional_for /> __length__</div>

		<bx_if:booking>
			<div class="bx-twig-unit-line">
				 <button class="bx-btn bx-btn-small bx-btn-img bx-btn-ifont" onclick="window.location='__booking_url__';"> 
					<i class="sys-icon calendar"></i>
					<bx_text:_modzzz_professional_action_title_book_me />
				 </button>  
			</div>  
		</bx_if:booking>   
    </div>   
</div>
 