.form_advanced_table {
    position: relative;
    width: 60%;
	
	
	
}

.sys_main_page_width {
		width: 60%;
	}
	
/* Mobile*/
@media (min-width:300px) and (max-width:420px) {
	
.form_advanced_table {
    position: relative;
    width: 100%;
	
}

.sys_main_page_width {
		width: 100%;
	}

}
