<!-- Freddy remplacement par navigation_menu_main.html de temple_evo 30/10/2016
<div class="absface sys_main_page_width">
    <div class="sys_main_menu">
	    <div class="sys_mm">
	        <div class="sys_mm_cnt bx-def-margin-sec-leftright clearfix">
	        	<bx_injection:injection_top_menu_before />
	            <table class="topMenu" cellpadding="0" cellspacing="0">
	                <tr>__main_menu__</tr>
	            </table>
	            <bx_injection:injection_top_menu_after />
	        </div>
	    </div>
	</div>
</div>
-->

 <!-- Freddy    ajout pour afficher le menu pour PC-->
<div class="affichage_ordi"> <!-- Freddy    ajout pour Googleplus-->
<div class="sys_main_menu">
    <div class="sys_mm sys_main_page_width">
        <div class="sys_mm_cnt bx-def-margin-sec-leftright clearfix">
        	<bx_injection:injection_top_menu_before />
            <table class="topMenu" cellpadding="0" cellspacing="0">
                <tr>__main_menu__</tr>
            </table>
            <bx_injection:injection_top_menu_after />
        </div>
    </div>
</div>
</div> <!-- Freddy    ajout pour afficher le menu pour PC-->

<!-- Freddy    ajout pour  MOBILE-->
<div class="affichage_mobile"> <!-- Freddy    ajout pour Googleplus    MOBILE-->

<div class="menu_logo">MENU<svg width="32px" height="32px" viewBox="0 0 36 36" fill="#757575" style="
    float: right;height: 120px;padding-top: 15px;"><path d="M23.12 11.12L21 9l-9 9 9 9 2.12-2.12L16.24 18z"></path></svg></div>



<div class="abserve_menu sys_main_menu ">
    <div class="sys_mm sys_main_page_width">
        <div class="sys_mm_cnt bx-def-margin-sec-leftright clearfix">
        	<bx_injection:injection_top_menu_before />
            <table class="topMenu" cellpadding="0" cellspacing="0">
                <tr>__main_menu__</tr>
            </table>
            <bx_injection:injection_top_menu_after />
        </div>
    </div>
</div>
</div> <!-- Freddy    ajout pour  MOBILE-->