<bx_include_auto:_sub_header.html />
<div class="abserve_homepage">

<!-- freddy slider homepage
<div id="abserve_slider" class="slider-pro">
    <div class="sp-slides">
        <div class="sp-slide">
            <img class="sp-image" src="<bx_url_root />templates/tmpl_facebook/images/abserve.gif" data-src="<bx_url_root />templates/tmpl_facebook/images/banner1.jpg"/>
        </div>
        <div class="sp-slide">
            <img class="sp-image" src="<bx_url_root />templates/tmpl_facebook/images/abserve.gif" data-src="<bx_url_root />templates/tmpl_facebook/images/banner2.jpg"/>
        </div>
        <div class="sp-slide">
            <img class="sp-image" src="<bx_url_root />templates/tmpl_facebook/images/abserve.gif" data-src="<bx_url_root />templates/tmpl_facebook/images/banner3.jpg"/>
        </div>
    </div>
</div>
-->

	__page_main_code__
</div>
<bx_include_auto:_sub_footer.html />