<div>

    
	 <div id="wrapper">
			<header>
            

       <div class="topDiv">
			
    

		
				
                <div class="abs_logo logo_center">
					
					 <a href="/"> 
                    Congo Connect  <img class="logo_size" src="images/logo/logo_small.png" />  
                     </a>
                     

                </div>
                
                
                
                 
				<!--
                <div class="abs_nav">
            
             <button class="button_langue" type="button" onclick="javascript:showPopupLanguage(); void(0);" title="<bx_text:_sys_bm_popup_cpt_language />">
				    <img src="media/images/flags/fr.gif" /> Français | <img src="media/images/flags/en.gif"  /> English
	    </button>
         
			    </div>
                -->
                
                
              
				<div class="abs_nav">
            
            
            
       
      <button class="button_login" type="button" onclick="javascript: showPopupLoginForm(); return false;" title="<bx_text:_connecter_splash />">
				    <i class="sys-icon lock"></i> <bx_text:_Login />
	    </button>
        
        
	    <button class="join_sign_up" type="button" onclick="javascript: showPopupJoinForm(); return false;" title="<bx_text:_creer_compte_splash />">
				    <i class="fa fa-user"></i>  <bx_text:_Join_now />
		 </button>

			    </div>
                
             
				
		      
              </div>
            
				
			</header>
            
            
            
            
          

            
            
			
			<div id="abs_overlay"></div>
			<!--Slider start -->
			<div id="slides">	
				<ul class="slides-container">
					<li>		
						<div style="background-image: url(abserve/img/1.jpg);" class="slides-fullscreen-img"></div>
                       
                       
					</li>
				
					
				</ul>					
		  	</div><!-- Slider end -->
            
              
            
		  
		  
		  <!--	<div class="abs_title">
				<div class="abs_text">
				
				<h1><i class="sys-icon user"></i> <i class="sys-icon briefcase"></i> <i class="sys-icon building"></i> <i class="sys-icon calendar"></i> <i class="sys-icon users"></i> <i class="sys-icon graduation-cap"></i> <i class="sys-icon university"></i> <i class="sys-icon trophy"></i> <i class="sys-icon comments"></i> <i class="sys-icon language"></i> <i class="sys-icon user-plus"></i> </h1>
				
					
					
				<p> Réseau Social Professionnel <br>100% Congolais!  </p>
					
					
	  <h1><i class="sys-icon users"></i>  Rencontres | <i class="sys-icon building-o"></i> Business | <i class="sys-icon briefcase"></i> Opportunités</h1>
					
					
					
				</div>
				</div>
                -->
                <div class="abs_title">
				<div class="abs_text">
                
               <p>
                    
                      CongoConnect.com
                    
                   
                    
                   <br>  <bx_text:reseau_soial_congolais_splash />
                 
                   </p> 
                
				<div class="col-lg-12 text-slider">
                
                 <!--     
					
                  
              <p>
               <bx_text:reseau_soial_congolais_splash />
              
              </p>
                -->
              <!-- 
              
              <h1>
              <bx_text:reseau_soial_splash_message1 />
               
                
              </h1>
              
              <h1>
                    <bx_text:reseau_soial_splash_message2 />
               </h1>
               
               <h1>
                    <bx_text:reseau_soial_splash_message3 />
                     
                </h1>
                -->
					
					<!--
                    
                    
                   
                   
                    
                    
                 
              
                   <h1>
                   <bx_text:reseau_soial_splash_message4 />
                    
                      
                    <h1>
              
                    <h1>
                    <bx_text:reseau_soial_splash_message5 />
                    
                    </h1>
                    
                    <p>
                    <bx_text:reseau_soial_splash_message6 />
                    </p>
                    -->
                  
                 </div>
				</div>
				</div>
               
              
        
   
		
		
			 <!-- 	
			 <div class="mutshiarrow-down">
			<div class="abs_text">
            
             <div class="arrow-down"><a href="#about">
            <i class="fa fa-chevron-down"></i>
            </a></div>
			
	       <div class="arrow-down ">
				  <a href="javascript:void(0)" onclick="javascript: showPopupJoinForm(); return false;" 
				  <i class="fa fa-chevron-down"></i> 
				  </a>
			</div>
           
			
			</div>
		 </div>
          -->
         
         
         
            
          
           <!--
             <div class="inviter-position">
             
              <button class="inviterfriend" type="button" javascript:void(0)" onclick="return launchTellFriend();" title="<bx_text:_connecter_splash />">
				    <i class="sys-icon comments"></i> <bx_text:_inviter_un_ami />
	         </button>
             
			</div>
          
            
            
          

	
            <div class="inscription">
            
            
		<a href="javascript:void(0)" onclick="javascript: showPopupJoinForm(); return false;" class="bx-btn"><i class="fa fa-user"></i> <bx_text:join_us_today />  <i class="sys-icon hand-o-left"></i></a>
		    </div>
            
              -->
            
            
		<div class="main-area-wrapper">
        
		<div class="main-area center-text" >
			
			<div class="display-table">
				<div class="display-table-cell">
					
					<!--<h1 class="title"><b>Comming Soon</b></h1>-->
					<div class="abs_text">
                    <h1>
                    Notre site est actuellement en cours de construction!
                   <br><i class="sys-icon calendar"></i> Compte à rebours du lancement:
                   </h1>
                   </div>
					
					<div id="normal-countdown" data-date="2019/01/01"></div>
					
					<a class="notify-btn" href="https://eepurl.com/dD65W1"><b><i class="sys-icon hand-o-right"></i> Me tenir informé du lancement <i class="sys-icon hand-o-left"></i></b></a> 
        
					
					
				</div><!-- display-table -->
			</div><!-- display-table-cell -->
		</div><!-- main-area -->
	</div><!-- main-area-wrapper -->
			
            
            
            
            
           
       <div class="abs_footer">
         
          <div class="mutshiarrow-down">
			<div class="abs_text">          
             <div class="arrow-down"><a href="#about"> <i class="fa fa-chevron-down"></i>  En savoir plus sur Congo Connect </a></div>
             </div>
		     </div>
         
           
   
	    </div>
       
               
               
               
                
             
   
			
			
			<link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
			
		</div>
	</div>
    
    
    <!-- Font COUNTDOWN -->
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
	
	
	<link href="abserve/avant-lancement/common-css/ionicons.css" rel="stylesheet">
	
	
	<link rel="stylesheet" href="abserve/avant-lancement/common-css/jquery.classycountdown.css" />
		
	<link href="abserve/avant-lancement/05-comming-soon/css/styles.css" rel="stylesheet">
	
	<link href="abserve/avant-lancement/05-comming-soon/css/responsive.css" rel="stylesheet">

 <!-- XXXXXXXXXXXXXXXXXXXXXXXXX -->
 


 <!-- Abserve javascript -->
	<link href="abserve/css/abserve_splash.css" rel="stylesheet" type="text/css">
   
     <!-- Bootstrap -->
      <link href="abserve/css/bootstrap.min.css" rel="stylesheet"> 
    
    <!-- Open Sans Font -->
     <!-- Animate CSS -->
    <link href="abserve/css/animate.css" rel="stylesheet">
    
    
     
    
    
	<script type="text/javascript" src="abserve/js/abserve_slide.js"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="abserve/js/bootstrap.min.js"></script>
        <!-- form validation -->
        <script src="abserve/js/jquery.validate.min.js" type="text/javascript"></script>
        <!-- MixItUp JQuery Gallery -->
        <script src="abserve/js/jquery.mixitup.min.js"></script>
        <!-- Vanillabox JQuery Gallery -->
        <script src="abserve/js/jquery.vanillabox-0.1.6.min.js"></script>
        <!-- Appear JS -->
        <script src="abserve/js/jquery.appear.js"></script>
        <!-- Owl Carousel -->
        <script src="abserve/js/owl.carousel.js"></script>
        <!-- Custom Java Script -->
        <script src="abserve/js/custom.js"></script>   
        
        
       
         <!-- Countdown Bootstrap core JavaScript
    ================================================== -->
   	
	<!-- 
    cree conflit pour login empeche popupform
    <script src="abserve/avant-lancement/common-js/jquery-3.1.1.min.js"></script>
    -->
	
	<script src="abserve/avant-lancement/common-js/jquery.countdown.min.js"></script>
	
	<script src="abserve/avant-lancement/common-js/scripts.js"></script>
    

 
  
       
    

    <!-- freddy include jQuery + carouFredSel plugin -->
<script type="text/javascript" language="javascript" src="abserve/slider/scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
     <!-- [END] freddy include jQuery + carouFredSel plugin -->
     
     <!-- Freddy avatar caroussel-->
<!-- fire plugin onDocumentReady -->
		<script type="text/javascript" language="javascript">
			$(function() {

				//	Basic carousel, no options
				$('#foo0').carouFredSel();

			});
		</script>
        
