<div>

    
	 <div id="wrapper">
			<header>
            

       <div class="topDiv">
			
    

		
				
               <div class="abs_logo logo_center">
					
					 <a href="/"> 
                   <!-- <img class="logo_size" src="images/logo/logo_splash.png" />  -->
                    <img class="logo_size" src="images/logo/logo_fec.png" />
                     </a>
                     

                </div>
               
                
                
                
                 
				
             <!--   <div class="abs_nav">
            
             <button class="button_langue" type="button" onclick="javascript:showPopupLanguage(); void(0);" title="<bx_text:_sys_bm_popup_cpt_language />">
				    <img style="width:16px; height:11px;" src="media/images/flags/fr.gif" /> Français | <img style="width:16px; height:11px;" src="media/images/flags/en.gif"  /> English
	    </button>
         
			    </div>
                -->
                
                
              
				<div class="abs_nav">
             
      <button class="button_login" type="button" onclick="javascript: showPopupLoginForm(); return false;" title="<bx_text:_connecter_splash />">
				     <bx_text:_Login />
	    </button>
        
        
	    <button class="join_sign_up" type="button" onclick="javascript: showPopupJoinForm(); return false;" title="<bx_text:_creer_compte_splash />">
				    <i class="fa fa-user"></i>  <bx_text:_Join_now />
		 </button>

			    </div>
                
                
                
                
             
			<!--
            <div class="abs_nav_mobile">
            <table>
            <tr>
            <td>
           
      <button class="button_login" type="button" onclick="javascript: showPopupLoginForm(); return false;" title="<bx_text:_connecter_splash />">
				    <i class="sys-icon lock"></i> <bx_text:_Login />
	    </button>
        </td>
        
        <td>
         <div class="abs_logo_mobile logo_center_mobile">
					
					 <a href="/"> 
                    <img class="logo_size" src="images/logo/logo_small.png" />  
                     </a>
                     

                </div>
                
         </td>
         <td>
	    <button class="join_sign_up" type="button" onclick="javascript: showPopupJoinForm(); return false;" title="<bx_text:_creer_compte_splash />">
				    <i class="fa fa-user"></i>  <bx_text:_Join_now />
		 </button>
         </td>
         </tr>
         </table>
         </div>
         -->
         
         
         
         

			    
                	
		      
              </div>
            
				
			</header>
            
            
            
            
          

            
            
			
			<div id="abs_overlay"></div>
			<!--Slider start -->
			<div id="slides">	
				<ul class="slides-container">
				
                    <li>		
						<div style="background-image: url(abserve/img/1.jpg);" class="slides-fullscreen-img"></div>
					</li>
                     <li>		
						<div style="background-image: url(abserve/img/1.jpg);" class="slides-fullscreen-img"></div>
					</li>
                    
                     
				
					
				</ul>					
		  	</div><!-- Slider end -->
            
              
            
		  
		  
		  	
                
                
                 <div class="bodyTitre">
                 <div class="front-welcome-text">
             
                
                        <div class="titre">    Congo Connect </div>
             
                       <div><bx_text:reseau_soial_congolais_splash_flash /> </div>
                       <!-- <div class="titre_sous">    <bx_text:_100_pour_100 /> </div> -->
                  </div>
              </div>
                
                
                
                
                <div class="abs_title">
				<div class="abs_text">
				<div class="col-lg-12 text-slider">
                
            
              <h1><bx_text:reseau_soial_splash_message1 /> </h1>
              
              <h1> <bx_text:reseau_soial_splash_message2 /> </h1>
               
             
               
               <h1> <bx_text:reseau_soial_splash_message4 /></h1>
                 <h1> <bx_text:reseau_soial_splash_message3 /></h1>
              
               <h1> <bx_text:reseau_soial_splash_message5 /> </h1>
               <h1> <bx_text:reseau_soial_splash_message6 /></h1>
                 <h1> <bx_text:reseau_soial_splash_message7 /></h1>
                    
                 </div>
				</div>
				</div>
               
              
        
   
		
		
			 <!-- 	
			 <div class="mutshiarrow-down">
			<div class="abs_text">
            
             <div class="arrow-down"><a href="#about">
            <i class="fa fa-chevron-down"></i>
            </a></div>
			
	       <div class="arrow-down ">
				  <a href="javascript:void(0)" onclick="javascript: showPopupJoinForm(); return false;" 
				  <i class="fa fa-chevron-down"></i> 
				  </a>
			</div>
           
			
			</div>
		 </div>
          -->
         
         
         
            
       
            
            
          

	
         <div class="inscription">
            <button class="join_sign_up_storm" type="button" onclick="javascript: showPopupJoinForm(); return false;" title="<bx_text:_creer_compte_splash />">
				    <i class="fa fa-user"></i>   <bx_text:join_us_today />
		    </button>        
		 </div>
            
             
  
           
       <div class="abs_footer">
         
          <div class="mutshiarrow-down">
			<div class="abs_text_EnsavoirPlus">          
             <div class="arrow-down"><a href="#about"> <i class="fa fa-chevron-down"></i> <bx_text:En_savoir_plus /> <i class="fa fa-chevron-down"></i> </a></div>
             </div>
		     </div>
         
           
   
	    </div>
       
               
               
               
                
             
   
			
			
			<link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
			
		</div>
	</div>
    
  
 


 <!-- Abserve javascript -->
	<link href="abserve/css/abserve_splash.css" rel="stylesheet" type="text/css">
   
     <!-- Bootstrap -->
    <!--  <link href="abserve/css/bootstrap.min.css" rel="stylesheet"> -->
    
    <!-- Open Sans Font -->
     <!-- Animate CSS -->
    <!--<link href="abserve/css/animate.css" rel="stylesheet">-->
    
    
     
    
    
	<script type="text/javascript" src="abserve/js/abserve_slide.js"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed -->
       <!-- <script src="abserve/js/bootstrap.min.js"></script>-->
       
       

    <!-- freddy include jQuery + carouFredSel plugin -->
<script type="text/javascript" language="javascript" src="abserve/slider/scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
     <!-- [END] freddy include jQuery + carouFredSel plugin -->
     
    
        


<script type="text/javascript">
jQuery(document).ready(function () {
	jQuery('#preloader').remove();
	
	
	$(window).load(function (event) {$('#preloader').fadeOut(1000);});
	jQuery('body').append('<div id="preloader"><div class="tb-cell"><div id="page-loading"><div></div><p>Chargement Congo Connect ...</p></div></div></div>');
	
	jQuery('.sys_logo_wrapper_cnt').insertBefore('.bx_logo');
	jQuery('.sys_main_content').insertBefore('.abs_splash_main');
	jQuery('#wrap').remove();
	
	jQuery('div.sys_root_bg, div.sys_main_menu, div.sys_breadcrumb, div.sys_main_logo,.sys_sub_menu ').remove();

	jQuery('#slides').superslides({
		animation: 'fade',
		play: 10000
	});
});
</script>