
	<div>
	 <div id="wrapper">
			<header>
			
		<div class="topDiv">
			
			
			<!--
			<div class="abs_beta">

					<a href=""><img class="topLogo logo-image" src="abserve/img/logo.png" alt="" /></a>
					<div class="clear_both"></div>
				</div>
			-->
			
				<div class="abs_logo">
					
					<div>
					<!-- <a href="javascript:void(0);" class="bx_logo"></a> -->
					 <a href="/"> CongoConnect.com</a>
					
					</div>
					
					
					 
					
					<div class="abs_slogan">
					<i class="sys-icon users"></i> | <i class="sys-icon building-o"></i> | <i class="sys-icon briefcase"></i>
					 </div>
				</div>
				
				
				
				<div class="abs_nav">
		 
		
		<button class="button_login" type="button" onclick="javascript: showPopupLoginForm(); return false;" title="<bx_text:_connecter_splash />">
				    <i class="sys-icon lock"></i> <bx_text:_Login />
	    </button>
        
        
	    <button class="join_sign_up" type="button" onclick="javascript: showPopupJoinForm(); return false;" title="<bx_text:_creer_compte_splash />">
				    <i class="fa fa-user"></i>  <bx_text:_Join_now />
		 </button>
		 
		
		
			    </div>
				
		</div>
				
			</header>
			
			<div id="abs_overlay"></div>
			<!--Slider start -->
			<div id="slides">	
				<ul class="slides-container">
					<li>		
						<div style="background-image: url(abserve/img/1.jpg);" class="slides-fullscreen-img"></div>
					</li>
						
						
					
					
				</ul>					
		  	</div><!-- Slider end -->
            
              
            
		  
		  
		  <!--	<div class="abs_title">
				<div class="abs_text">
				
				<h1><i class="sys-icon user"></i> <i class="sys-icon briefcase"></i> <i class="sys-icon building"></i> <i class="sys-icon calendar"></i> <i class="sys-icon users"></i> <i class="sys-icon graduation-cap"></i> <i class="sys-icon university"></i> <i class="sys-icon trophy"></i> <i class="sys-icon comments"></i> <i class="sys-icon language"></i> <i class="sys-icon user-plus"></i> </h1>
				
					
					
				<p> Réseau Social Professionnel <br>100% Congolais!  </p>
					
					
	  <h1><i class="sys-icon users"></i>  Rencontres | <i class="sys-icon building-o"></i> Business | <i class="sys-icon briefcase"></i> Opportunités</h1>
					
					
					
				</div>
				</div>
                -->
                <div class="abs_title">
				<div class="abs_text">
				<div class="col-lg-12 text-slider">
                    
					<p>
                    
                      Congo Connect
                    <br><br> <i class="sys-icon user"></i> <i class="sys-icon briefcase"></i> <i class="sys-icon building"></i> <i class="sys-icon calendar"></i> <i class="sys-icon users"></i> <i class="sys-icon graduation-cap"></i> <i class="sys-icon university"></i> <i class="sys-icon trophy"></i> <i class="sys-icon comments"></i> <i class="sys-icon language"></i> <i class="sys-icon user-plus"></i> 
                   </p>
                   
               <p>
               Réseau <span class="color">Social</span> Professionnel 
               <br> <i class="sys-icon users"></i> 100% Congolais  <i class="sys-icon users"></i>
              </p>
              
              <p>
                <i class="sys-icon users"></i> Rencontres |<span class="color"> Networking <i class="sys-icon users"></i></span>
               <br> <span class="color"><i class="sys-icon building"></i> Business</span> |  Opportunités <i class="sys-icon briefcase"></i>
                
              </p>
					
					
                    <h1>
                    Echangez avec ceux qui vous aideront <br /> à concrétiser vos projets !
                    </h1>
                    
                    <h1>
                     Développez votre réseau
                     <br>Faîtes de nouvelles rencontres en ligne sur notre site 
                     <br> mais aussi lors de nos activités
                      
                    </h1>
                    
                 
              
                   <h1>
                     Boostez votre carrière | Trouvez de nouveaux partenaires 
               <br>grâce à notre annuaire des compétences
                      
                    </h1>
              
                    <h1>
                     Augmentez la visibilité de votre entreprise
                    <br> en créant une Page Entreprise sur Congo Connect
                      
                    </h1>
                    
                  
                   
                    
                 </div>
				</div>
				</div>
               
               <!--
                <div class="abs_title">
                 <div class="containerFred text-slider-wrapper">
            <div class="row">
                <div class="col-lg-12 text-slider">
                    <div class="slide large-text">Réseau Social Professionnel <span class="color">100% Congolais!</span><br><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small></div>
                    <div class="slide large-text">  <i class="sys-icon users"></i> Rencontres <span class="color"><i class="sys-icon briefcase"></i> Opportunités</span> <br><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small></div>
                    <div class="slide large-text"><i class="sys-icon building-o"></i> Business |<span class="color"> <i class="sys-icon briefcase"></i> Networking</span> <br><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small></div>
                </div>
            </div>
        </div>
        <div class="arrow-down"><a href="#about">
            <i class="fa fa-chevron-down"></i>
        </a></div>
        
        </div>
        -->
        
	
			
		<!--
		<div class="container text-slider-wrapper">
            <div class="row">
                <div class="col-lg-12 ">
                <div class="item-1 slide large-text">Développez votre <span class="color">carrière</span><br><small>Postulez avec votre profil</div>
                <div class=" item-2 slide large-text">Elargissez Votre <span class="color">Réseau</span> design<br><small>Rencontrez de bonnes personnes</small></div>
              <div class="item-3 slide large-text">Promouvoir <span class="color">Vos Produits</span> et Services<br><small>Toutes vos annoces en 1 clic</small></div>
                
				
				</div>
            </div>
        </div>
		-->
	
    
   
		
		
			 <!-- 	
			 <div class="mutshiarrow-down">
			<div class="abs_text">
            
             <div class="arrow-down"><a href="#about">
            <i class="fa fa-chevron-down"></i>
            </a></div>
			
	       <div class="arrow-down ">
				  <a href="javascript:void(0)" onclick="javascript: showPopupJoinForm(); return false;" 
				  <i class="fa fa-chevron-down"></i> 
				  </a>
			</div>
           
			
			</div>
		 </div>
          -->
         
         
         
            
           <!--
             <div class="abs_title">
				<div class="abs_text">
					
					<a href="javascript:void(0)" onclick="return launchTellFriend();" class="btn-invite">Get Invite</a>
				</div>
			</div>
            -->
            
           
            
			
            <div class="inscription">
		<a href="javascript:void(0)" onclick="javascript: showPopupJoinForm(); return false;" class="bx-btn"><i class="fa fa-user"></i> &nbsp; Je m'inscris maintenant <i class="sys-icon hand-o-left"></i></a>
		    </div>
            
            
		
		
			<div class="caroussel-centrage">	
		   <div class="avatar-footer">
            <div class="clearfix"></div>            
            <div class="carousel-profiles">
              <ul id="foo0">
				<li><img src="abserve/slider/profile/thumb_01.jpg" alt=""></li>
				<li><img src="abserve/slider/profile/thumb_02.jpg" alt=""></li>
				<li><img src="abserve/slider/profile/thumb_03.jpg" alt=""></li>
				<li><img src="abserve/slider/profile/thumb_04.jpg" alt=""></li>
				<li><img src="abserve/slider/profile/thumb_05.jpg" alt=""></li>
				<li><img src="abserve/slider/profile/thumb_06.jpg" alt=""></li>
				<li><img src="abserve/slider/profile/thumb_07.jpg" alt=""></li>
				<li><img src="abserve/slider/profile/thumb_08.jpg" alt=""></li>
				<li><img src="abserve/slider/profile/thumb_09.jpg" alt=""></li>
			    <li><img src="abserve/slider/profile/thumb_10.jpg" alt=""></li>
               
              </ul>
            </div><!--end carousel-profiles-->
          </div><!--end avatar-footer-->
		  </div>

			
            
             <div class="abs_footer">

		 <a href="javascript:void(0)" onclick="return launchTellFriend();" class="invitationnomember"> <i class="sys-icon envelope"></i> Inviter un ami</a>
				</div>
				
        
       
			
			
			<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
			
		</div>
	</div>


 <!-- Abserve javascript -->
	<link href="abserve/css/abserve_splash.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="abserve/js/abserve_slide.js"></script>
    
    
    
   
     <!-- Bootstrap -->
      <link href="abserve/css/bootstrap.min.css" rel="stylesheet"> 
    
    <!-- Open Sans Font -->
     <!-- Animate CSS -->
    <link href="abserve/css/animate.css" rel="stylesheet">
    
    
	
   
    

    <!-- freddy include jQuery + carouFredSel plugin -->
<script type="text/javascript" language="javascript" src="abserve/slider/scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
     <!-- [END] freddy include jQuery + carouFredSel plugin -->
     
     <!-- Freddy avatar caroussel-->
<!-- fire plugin onDocumentReady -->
		<script type="text/javascript" language="javascript">
			$(function() {

				//	Basic carousel, no options
				$('#foo0').carouFredSel();

			});
		</script>