<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

   
    <div class="CSSInvestDashboard" >
   <table >
       <tr>
       <td >
       <div>
            __thumbnail__
           
      </div>
      
  
       </td>
      <td >
       <bx_if:FactureInvoice> 
       <div>  
         <button class="espaceemploibouton"  onclick="window.open ('m/investment/browse/my&filter=my_pending_invoices','_self');">
       <span style="color:red; font-size:18px;"><strong>  <i class="fa fa-warning"></i>  </strong></span>
        <!-- <bx_text:_modzzz_investment_avez_invoice_facture /> --><strong>__FactureInvoiceCount__</strong> __FactureCaption__ <span style="font-size:20px"> <i class="fa fa-hand-o-left"></i> </span> 
        
     </button>
     </div> 
         
   </bx_if:FactureInvoice> 
   
   
   
   
      
       <bx_if:Investment_Nombre> 
       <div>  
         <button class="espaceemploibouton"  onclick="window.open ('__Investment_Link__','_self');">
       <span style="color:#3b5998; font-size:18px;"><strong> <i class="sys-icon briefcase"> </i> </strong></span>
         <bx_text:_modzzz_investment_avez_creer /> <strong>__InvestmentCount__</strong> __Investment_caption__ <span style="font-size:20px"> <i class="fa fa-hand-o-left"></i> </span> 
        
     </button>
     </div> 
         
   </bx_if:Investment_Nombre> 
     
     
         
    <bx_if:Investment_Favorites> 
           <div>  
         <button class="espaceemploibouton"  onclick="window.open ('m/investment/browse/favorite','_self');">
        <span style="color:#3b5998; font-size:18px;"> <strong><i class="sys-icon heart-o"> </i></strong> </span> 
         <bx_text:_modzzz_investment_ajouter_favorite /> <strong>__FavoriteInvestment__</strong>  __FavoriteCaption__ <span style="font-size:20px"> <i class="fa fa-hand-o-left"></i> </span> 
        
         </button>
         </div> 
   </bx_if:Investment_Favorites> 
 
        <bx_if:go_to_your_space_caption> 
          <!--
           <div> 
              <button class="ConnectNetwork"  onclick="window.open ('m/investment/browse/my','_self');">
			    <span style="font-size:20px"> <i class="fa fa-eye"></i> </span>  <bx_text:_modzzz_investment_acceder_votre_espace />
		     </button>
           </div> 
           -->
           
            <div> 
           <button class="InscriptionSearch"  onclick="window.open ('m/investment/browse/my&filter=add_investment','_self');">
            <i class="fa fa-desktop"></i> <i class="sys-icon user"> </i> <bx_text:_modzzz_investment_inscription_autre /> 
           </button>
           </div>
         
        <!--
         <div>
           <button class="ConnectNetworkGris"  onclick="window.open ('m/investment/browse/my','_self');">
			     <i class="sys-icon briefcase"> </i>  <bx_text:_modzzz_investment_create_another_business_page />
		    </button>
           </div>
           -->
           <!-- <div><span style=" font-size:11px;">   <bx_text:_modzzz_investment_dirigeant_plusieurs_entreprises /> </span></div>-->
			
        </bx_if:go_to_your_space_caption>   
      
      <bx_if:membre_sans_projet> 
       
          <div> 
           <button class="InscriptionSearch"  onclick="window.open ('m/investment/browse/my&filter=add_investment','_self');">
            <i class="fa fa-desktop"></i> <i class="sys-icon user"> </i><bx_text:_modzzz_investment_inscription /> 
           </button>
           </div>
           
         
 
        </bx_if:membre_sans_projet>   
        
      
      
  
       </td>
      </tr>   
     </table>
    </div>
 
   
    
        <div class="clear_both"></div> 
        
    