<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

 <!--
 <div class="thumbnail_image_entreprise_view">
				<a href="__Profile_Link__"><img src="__thumbnail_url__" class="menu_item_thumbnail bx-def-thumbnail bx-def-shadow bx-img-retina" /></a>
    </div>	
	
   <div class="clear_both"></div> 
   -->
    
 
      <div class="CSSBusinessListingViewTop" >
   <table >
            
   
     <tr>
        <td width="50%">
          <div><button class="ConnectNetwork"  class="menuLink" onclick="window.open ('__modifier_edit_url__','_self');">
						<span style="color:#F30; font-weight:700;" ><i class="sys-icon pencil"></i> <bx_text:_modzzz_investment_action_edit />                        </span>
		     </button> 
         </div> 
         
         
         
          </td> 
                     
                     <td width="50%"> 
                      <div>
                      <button class="ConnectNetwork"  onclick="getHtmlData ('ajaxy_popup_result_div___id__','__supprimer_edit_url__', false, 'post',true);return false;">
				   <span style="color:#F30; font-weight:700;" >  <i class="sys-icon remove"></i>  __TitleDelete__
	                 </button> 
                    </div>
                     </td> 
                     </tr> 
       
       <!--
         <div>
                   <div><a href="javascript: void(0)" onclick="javascript: showPopupAnyHtml('__SharePopup__');"> __TitleShare__</a></div>
         </div>
         
      
     </td> 
   
      <td width="50%"> 
                <div>
                <button class="ConnectNetwork"  onclick="getHtmlData ('ajaxy_popup_result_div___id__','__supprimer_edit_url__', false, 'post',true);return false;">
				     <i class="sys-icon remove"></i>  __TitleDelete__
	                 </button> 
               </div>
                         
       </td>
       </tr>
       
       
   
      <tr>
      
       <td width="50%"> 
                <div><button class="ConnectNetwork" class="managresume" class="menuLink" onclick="window.open ('__add_photos_url__','_self');">
						 <i class="sys-icon camera"></i> <bx_text:_modzzz_investment_action_photos />
					</button>  
               </div>
                         
       </td>
      
      <td width="50%">
                  <div>
                    <button class="ConnectNetwork" class="managresume" class="menuLink" onclick="window.open ('__add_files_url__','_self');">
						 <i class="sys-icon file-pdf-o"></i> <bx_text:_modzzz_investment_action_files />
					</button>  
                    </div>
     </td> 
   
     
       </tr>
       
       
       -->
       
       
     </table>
    </div>
    
  <div class="clear_both"></div> 