<table class="modzzz_investment_fields">
	<bx_if:max>
		<tr> 
			<td class="modzzz_investment_field_name" valign="top"><bx_text:_modzzz_investment_form_caption_max_investment /></td><td></td><td class="modzzz_investment_field_value">__max_investment__</td>
		</tr> 
	</bx_if:max>
	<bx_if:min>
		<tr> 
			<td class="modzzz_investment_field_name" valign="top"><bx_text:_modzzz_investment_form_caption_min_investment /></td><td></td><td class="modzzz_investment_field_value">__min_investment__</td>
		</tr> 
	</bx_if:min>
</table>