<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<div class="bx_sys_block_info">
    <div class="infoMain">
    
    
     <div class="CSSbusinessListingUnit" >
        <table>
      
           <tr>
                       
             <td>
     
            __author_unit__
            
             </td>
         </tr>

       
        
        
         
         <!-- AQB Soft Freddy: Befriend -->
			<bx_if:befriend>
             <tr>
            <td>
				<div class="aqb-guest-actions" style="text-align:center">
					<button class="ConnectNetwork" onclick="$.post('list_pop.php?action=friend', {ID: __id__}, function(sData){document.location.href=document.location.href;}); return false;">
						<i class="sys-icon user-plus"></i> <bx_text:_connexiont_btn_befriend />
					</button>
				</div>
               </td>
               </tr>
			</bx_if:befriend>
			<!-- AQB Soft Freddy: Befriend -->
         
         <tr>
         <td>
         <div style="text-align:center">
             <button class="ConnectNetwork"   onclick="window.open ('__message_url__','_self');">
		            <i class="sys-icon envelope"> &nbsp;</i> <bx_text:_modzzz_investment_action_message />  
		         </button>
           </div>
         </td>
         </tr>
           
         </table>

    </div>  
    <div class="clear_both"></div>
    
     <div class="CSSbusinessListingUnit" >
        <table>
      
           <tr>
                       
             <td>
     
           <div style="text-align:center; font-size:18px; font-weight:600;">
            <i class="fa fa-phone"></i> __sellertelephone__
            </div>
            
             </td>
         </tr>
         

        <!--
         <tr>
         <td >
         <i class="sys-icon envelope"></i>  __selleremail__
         </td>
           </tr>
           -->
           
           
            <bx_if:sellerwebsite>
           <tr>
         <td >
				<div class="infoUnit infoUnitFontIcon" style="text-align:center">        
					<i class="sys-icon desktop"></i>
					  __sellerwebsite__
				</div>
				
			    
         
          </td>
           </tr>
           </bx_if:sellerwebsite> 
           
         </table>

    </div>  
    <div class="clear_both"></div>
    
    
        
    
    
 
        <div class="infoText bx-def-margin-sec-top" style="font-size:10px;">
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon clock-o"></i>
                __date__ (__date_ago__)
            </div>
            
           <!--
             <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon eye"></i>
                __views__  <bx_text:_modzzz_investment_views />
            </div>
            <div class="infoUnit infoUnitFontIcon">       
                <i class="sys-icon building"></i>
                __cats__
            </div>
            -->
           <!--
            <div class="infoUnit infoUnitFontIcon">       
                <i class="sys-icon tags"></i>
                __tags__
            </div>
            -->
			<!--
            <bx_if:owner>
            <div class="infoUnit infoUnitFontIcon">       
                <i class="sys-icon lock"></i>
                <bx_text:_modzzz_investment_expires />: __expire__
            </div>
            <div class="infoUnit infoUnitFontIcon">       
                <i class="sys-icon trophy"></i>
                 __featured__
            </div>
			</bx_if:owner>
            -->
        </div>
        <div class="clear_both"></div>
        
        
        
    </div>
</div>

__fields__

