<div class="bx-twig-unit modzzz_investment_unit bx-def-margin-top-auto">

    
     
     <bx_if:title>
     <div class="bx-twig-unit-tittre-fred">     
        <a class="actions" href="__investment_url__"> __investment_title__
        </a>  
        </div> </bx_if:title>
       
    
    
    <div class="bx-twig-unit-thumb-cont bx-def-margin-sec-right">
        <a href="__investment_url__"><img class="bx-twig-unit-thumb bx-def-round-corners bx-def-shadow" src="__thumb_url__"></a>
    </div>

    <div class="bx-twig-unit-info">
    
     <div class="CSSBusinessListingHome" >
   <table >
       <tr>
        <td >
        
        
    <div class="bx-twig-unit-line bx-twig-unit-special">
		__post_uthumb__  &nbsp;<span style="font-size:16px; font-weight:700; margin-left:10px;"><a href="__author_url__">   __author__</a> 
        <br /> <i class="sys-icon briefcase"></i> __investment_type__         </span> 
	    </div>
       
       
  
       
      </td>
      </tr>  
   <bx_if:entrepreneur>
      <tr>
       <td >
       
   
     
         __drapeau__ <bx_text:_modzzz_investment_investissement_localisation />:    
          <br /> __country__ 
          <br /> __city__ <i class="sys-icon map"></i>  __province__
      
       </td>
      </tr>    
      
      
        <tr>
       <td >
     
         <div class="bx-twig-unit-line">
		<i class="sys-icon cogs"></i>  <bx_text:_modzzz_investment_investissement_secteur_unit />:     	  __all_categories__ 
		</div>
        
         </td>
      </tr>  
       <tr>
       <td >
      <div class="bx-twig-unit-line">
       <i class="sys-icon cog"></i>  <bx_text:_modzzz_investment_investissement_stade_unit />: __stade__
         </div>
         
          <div class="bx-twig-unit-line">
          
           <i class="sys-icon money"></i>  <bx_text:_modzzz_investment_investissement_budget_unit />: __budget__
          </div>
         
         
     
     </td>
      </tr>

       </bx_if:entrepreneur>  
      
     
      
      <tr>
       <td >
       
       
       
 
        <div class="bx-twig-unit-title bx-def-font-h2">
			<bx_if:why>
				<div class="unit_why">
					<span class="attribute-title"><bx_text:_modzzz_investment_why /> </span>
					<img src="<bx_icon_url:start_quote_gray.gif />" /> 
						__why__
					<img src="<bx_icon_url:end_quote_gray.gif />" /> 
				</div>
			</bx_if:why>
        </div>
        
        
        <!-- <div class="masque_projet_contenu"> -->
         
        <div class="bx-twig-unit-line bx-twig-unit-desc">__snippet_text__</div>
        <!-- </div>-->
        
      </td>
      </tr>  
   
      <tr>
       <td >
       
         <div style="text-align:center;">
                 <button class="ConnectNetwork"   onclick="window.open ('__investment_url__','_self');">
		            <i class="sys-icon sign-out"> &nbsp;</i> <bx_text:_modzzz_investment_action_en_savoir_plus />  
		         </button>
               </div> 
               
               
           
         </td>
      </tr>  
      
     
      
      
      <tr>
       <td >
       
       <div class="masque_projet_contenu"> 
       
          <div class="bx-twig-unit-line bx-twig-unit-rate">
                __rate__
            </div>
        <bx_if:full>

           
            <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
               <i class="sys-icon clock-o"></i> __created__ <span class="bullet">&#183;</span> 
               <span style="font-weight:normal; font-size:12px"> &nbsp;&nbsp;&nbsp;<i class="sys-icon comments"></i> __comments_count__ &nbsp;&nbsp;&nbsp;<i class="sys-icon eye"></i> __views__ </span><!--<bx_text:_From /> <a href="__author_url__">__author__</a>-->
            </div>
            
            

        </bx_if:full>
        
        </div>
        
        </td>
      </tr>  
       </table>
    </div>
    
    
        <div class="clear_both"></div> 

    </div>    

</div>
