<div class="mbp-available-levels">
    <bx_repeat:levels>
        <div class="mbp-level">  
            <div class="mbp-level-content">
                <div class="mbp-level-title">
                   <!-- freddy modif   __title__ (__days__ - __currency_sign____price__) -->
                    <i class="sys-icon briefcase"></i>  __title__
                    <br /> <i class="fa fa-calendar"></i> <bx_text:_modzzz_listing_allow_duree />: __days__
                    <br /> <i class="fa fa-building"></i> <bx_text:_modzzz_listing_allow_prix />: __currency_sign____price__
                </div>                
                <div class="mbp-level-info">__description__</div> 
				<div class="mbp-cb">&nbsp;</div> 
				<br>
				<!-- freddy comment 
                <div class="mbp-level-info"><b><bx_text:_modzzz_listing_featured /></b> - __featured__</div> 
                -->
				<div class="mbp-level-info"><span style="font-size:12px;"><bx_text:_modzzz_listing_allow_photos /> - __photos__</span></div> 
                <div><span style="font-size:12px;"><bx_text:_modzzz_listing_allow_videos /> - __videos__</span></div> 
				
				<!-- freddy comment 
                <div class="mbp-level-info"><b><bx_text:_modzzz_listing_allow_sounds /></b> - __sounds__</div> 
                -->
				<div><span style="font-size:12px;"><bx_text:_modzzz_listing_allow_files /> - __files__</span></div> 
             </div>
        </div>
        <div class="mbp-border">&nbsp;</div>
    </bx_repeat:levels>
</div>