<div class="bx-def-font-large">
 
	<div class="bx-def-border bx-def-margin-sec-bottom"></div> 
	<div class="bx-twig-unit-line">
		<span class="bx-def-font-grayed"><bx_text:_modzzz_listing_happening />: __from__ <bx_text:_modzzz_listing_to /> __to__
	</div> 
	<div class="bx-def-border bx-def-margin-sec-top bx-def-margin-sec-bottom"></div>

	<!--<div class="bx-def-border bx-def-margin-sec-bottom"></div> -->
	<div class="bx-twig-unit-line">
		<span class="bx-def-font-grayed"><bx_text:_modzzz_listing_location />: __location__
	</div> 
	<div class="bx-def-border bx-def-margin-sec-top bx-def-margin-sec-bottom"></div>

	<div class="bx-twig-unit-line bx-def-margin-sec-top">__desc__</div>
</div>
