<div class="bx-def-bc-padding"> 
	  <bx_repeat:entries>  
		  <bx_if:selstate> 
				<div class="categories_col" style="width:100%;float:left;font-size:14px;">__state_name__ (__num_items__)</div>
 		  </bx_if:selstate> 
		  <bx_if:regstate> 
 				<div class="categories_col" style="width:100%;float:left;font-size:14px;"><a class="actions" href='__state_url__'><i class="sys-icon square"></i> __state_name__</a> (__num_items__)</div>  
		  </bx_if:regstate> 
	  </bx_repeat:entries>  
	 <div class='clear_both'></div>	 
 </div>