<div class="bx-def-font-large"> 
 
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			<b><bx_text:_modzzz_listing_form_caption_general_comments /></b> 
		</div>
	</div> 	 
	<div class="tsb_cnt_out">
		<div class="tsb_cnt_in bx-def-btc-padding-in-out">
			__desc__ 
		</div>
		<div class="bx-def-padding-sec-bottom">&nbsp;</div>  
	</div>  
  	<div class="clear_both">&nbsp;</div>

	<bx_if:pros>
		<div class="tsb_cnt_out">
			<div class="tsb_cnt_in bx-def-btc-padding-in-out">
				<b><bx_text:_modzzz_listing_form_caption_pros /></b> 
			</div>
		</div> 	 
		<div class="tsb_cnt_out">
			<div class="tsb_cnt_in bx-def-btc-padding-in-out">
				__pros__ 
			</div>
		</div> 
		<div class="bx-def-padding-sec-bottom">&nbsp;</div>  
	</bx_if:pros>
 	<div class="clear_both">&nbsp;</div>

	<bx_if:cons>
		<div class="tsb_cnt_out">
			<div class="tsb_cnt_in bx-def-btc-padding-in-out">
				<b><bx_text:_modzzz_listing_form_caption_cons /></b> 
			</div>
		</div>  
		<div class="tsb_cnt_out">
			<div class="tsb_cnt_in bx-def-btc-padding-in-out">
				__cons__ 
			</div>
		</div> 
		<div class="bx-def-padding-sec-bottom">&nbsp;</div>  
	</bx_if:cons>
	<div class="clear_both">&nbsp;</div>

	<bx_if:quality> 
		<div class="bx-twig-unit-line bx-twig-unit-rate"> 
			<div style="float:left">
				<b><bx_text:_modzzz_listing_form_caption_review_quality /></b> 
			</div>

			<div style="float:left">
				<div class="votes_big" id="modzzz_listingbig2"><div class="votes_gray_big" style="width:90px;"><div class="votes_gray_big" style="width:90px;"><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i></div><div id="modzzz_listingbig2Slider" class="votes_active_big" style="width:__quality_rate_percent__px;"><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i></div></div><div class="clear_both"></div></div>
			</div>  
		</div>  
		<div class="bx-def-padding-sec-bottom">&nbsp;</div>  
  	</bx_if:quality>
	<div class="clear_both">&nbsp;</div>

	<bx_if:features> 
		<div class="bx-twig-unit-line bx-twig-unit-rate"> 
			<div style="float:left">
				<b><bx_text:_modzzz_listing_form_caption_review_features /></b> 
			</div>

			<div style="float:left">
				<div class="votes_big" id="modzzz_listingbig2"><div class="votes_gray_big" style="width:90px;"><div class="votes_gray_big" style="width:90px;"><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i></div><div id="modzzz_listingbig2Slider" class="votes_active_big" style="width:__features_rate_percent__px;"><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i></div></div><div class="clear_both"></div></div>
			</div>  
		</div>  
		<div class="bx-def-padding-sec-bottom">&nbsp;</div>   
  	</bx_if:features>
	<div class="clear_both">&nbsp;</div>

	<bx_if:moneyvalue> 
		<div class="bx-twig-unit-line bx-twig-unit-rate"> 
			<div style="float:left">
				<b><bx_text:_modzzz_listing_form_caption_review_value /></b> 
			</div>

			<div style="float:left">
				<div class="votes_big" id="modzzz_listingbig2"><div class="votes_gray_big" style="width:90px;"><div class="votes_gray_big" style="width:90px;"><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i></div><div id="modzzz_listingbig2Slider" class="votes_active_big" style="width:__moneyvalue_rate_percent__px;"><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i></div></div><div class="clear_both"></div></div>
			</div>  
		</div>  
		<div class="bx-def-padding-sec-bottom">&nbsp;</div>  
  	</bx_if:moneyvalue>
	<div class="clear_both">&nbsp;</div>

	<bx_if:customer_support> 
		<div class="bx-twig-unit-line bx-twig-unit-rate"> 
			<div style="float:left">
				<b><bx_text:_modzzz_listing_form_caption_review_support /></b> 
			</div>

			<div style="float:left">
				<div class="votes_big" id="modzzz_listingbig2"><div class="votes_gray_big" style="width:90px;"><div class="votes_gray_big" style="width:90px;"><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i><i class="votes_button_big sys-icon star-o"></i></div><div id="modzzz_listingbig2Slider" class="votes_active_big" style="width:__support_rate_percent__px;"><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i><i class="votes_button_big sys-icon star"></i></div></div><div class="clear_both"></div></div>
			</div>  
		</div>  
		<div class="bx-def-padding-sec-bottom">&nbsp;</div>  
  	</bx_if:customer_support>
	<div class="clear_both">&nbsp;</div>
 
 
</div>
 