<div class="bx-def-bc-padding">
    <div class="ordered_block">
        __categ_name__&nbsp;<select id="select_category" name="select_category" onchange="location.href='__location_href__' + this.value;">
            <bx_repeat:categories>
                <option value="__value__"  __selected__>
                    __caption__
                </option>
            </bx_repeat:categories>
        </select>
    </div>
<!--
    <div class="ordered_block">
        __lang_name__&nbsp;<select name="select_language" onchange="location.href='__location_href__' + document.getElementById('select_category').value + '/' + this.value;">
            <bx_repeat:languages>
                <option value="__value__"  __selected__>
                    __caption__
                </option>
            </bx_repeat:languages>
        </select>
    </div>
-->
</div>