<!-- freddy ajoiut pour flasher les icones
 <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
 -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!--
<div itemscope itemtype="https://schema.org/Organization"  class="bx-twig-unit modzzz_listing_unit bx-def-margin-top-auto">
-->

 <div itemscope itemtype="https://schema.org/Organization" class="searchrow_block_simple bx-def-bc-padding">   

    
    
    
    <!-- 
     <div class="bx-twig-unit-thumb-cont bx-def-margin-sec-right">
        <a href="__listing_url__"><img class="bx-twig-unit-thumb bx-def-round-corners " src="__thumb_url__"></a>
    </div>
    -->
    

    <div class="bx-twig-unit-info">
    
   <!-- <div class="CSSProfessionalUnit">-->
   <div class="CSSJobUnit">
    
       <table>
       
         <tr>
         <td>
        <div> <a href="__listing_url__"><img style="vertical-align:middle" class="bx-twig-unit-thumb" src="__thumb_url__">   </a></div>
         
          <div class="unit-businessname-mutshi">
             <a itemprop="url" href="__listing_url__"><span itemprop="name"> <i class="sys-icon briefcase"></i> __listing_title__</span></a>
        </div>
    
  
         <!--
          <bx_if:employees_count>
				<div>        
					<strong> <i class="sys-icon users"></i> __employees_count__</strong>
				</div>
				
			</bx_if:employees_count>  
            -->
          <div class="infoUnit infoUnitFontIcon bx-twig-unit-line  bx-def-font-grayed">
              
               __drapeau__ <span style="font-weight: 400;text-shadow: #666 0 2px 2px;">__country__</span> 
              
          </div> 
           <div class="infoUnit infoUnitFontIcon bx-twig-unit-line  bx-def-font-grayed">
           <i class="sys-icon map-marker"></i> __city__
           </div>
        
        
        <!--
         <div class="infoUnit infoUnitFontIcon bx-twig-unit-line  bx-def-font-grayed">
               <i class="sys-icon map-marker"></i>
               __zip__   __city__  
          </div> 
          -->
         </td>
        </tr>
         <tr>
         <td>
         <div> 
       <!--
        <span style="font-weight:600; font-size:16px; padding-bottom:5px;"> <i class="sys-icon cog"></i> <bx_text:_modzzz_listing_industry_unit /></span>:
        -->
       
       <span style=' text-transform: capitalize; text-align:center;  background-color: #56687A;  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
    padding: 5px; display: inline-block; font-size: 14px; font-weight:400; margin-right: 3px; margin-bottom: 3px; overflow: hidden;color:  #fff;
    border: 1px solid #56687A; white-space: normal; text-overflow: ellipsis;'>
       <i class="sys-icon cog"></i>  __all_categories__</span>
         </div>
       
        <div class="bx-def-font-small unit-category-mutshi">  
	  <!--
        <bx_if:parent_category>
         <a href="__category_url__"> <i class="sys-icon sliders"></i> <bx_text:_modzzz_listing_unit_type />: __category_name__</a> 
         </bx_if:parent_category>
        --> 
         <bx_if:sub_category>
           __subcategories__
         </bx_if:sub_category>
         
        </div>
        
         </td>
        </tr>
         <tr>
         <td>
          <div class="listing_description">__snippet_text__</div>
        
        
            
        
         </td>
        </tr>
        
         <tr>
         <td>
            
      
             
             
             
          <!--  <bx_if:jobs_count>-->
				 <div class="single-stats post_unit_count_activity ">         
           <i class="sys-icon black-tie"></i>  <span style="font-size:12px;" > <a href="__jobs_count_url__"> __jobs_count__ __Job_Single_Plural__  </a></span>
				</div>
		<!--   </bx_if:jobs_count> -->
         
        
        
        <!--  <bx_if:classified_count> -->
				 <div class="single-stats post_unit_count_activity ">        
        <i class="sys-icon shopping-cart"></i><span style="font-size:12px;" > <a href="__classified_count_url__"> __classified_count__ __classified_Single_Plural__  </a>
        </span>
				</div>
	 <!--   </bx_if:classified_count>-->
     
     
       
        <!--  <bx_if:events_count>-->
				 <div class="single-stats post_unit_count_activity ">             
					<i class="sys-icon calendar"></i> <span style="font-size:12px;" ><a href="__events_count_url__"> __events_count__ __Event_Single_Plural__ </a>
                    </span>
				</div>
				
			<!-- </bx_if:events_count> -->
            
          
            
            
             <div>          
     <button class="ConnectNetworkListing"   onclick="window.open ('__listing_url__','_self');">
		  <i class="sys-icon sign-out"> &nbsp;</i><strong><bx_text:_modzzz_listing_action_en_savoir_plus />  </strong>
				</button>
     </div>
     
     
        
       </td>
        </tr>
      <!--
         <tr>
         <td> 
 
  
      
		
 
        <bx_if:full>

          <div class="bx-twig-unit-line bx-twig-unit-rate">
                __rate__
            </div>
           

           
            <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
                __created__ <span class="bullet">&#183;</span> <bx_text:_From /> <a href="__author_url__">__author__</a>
          
           </div>  
          
            <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
                __created__ <span class="bullet">&#183;</span> <bx_text:_From /> <a href="__author_url__">__author__</a>
          
           </div> 

        </bx_if:full>
        
        
          </td>
                       
          </tr>
          -->
     </table>
   
    </div>
        <div class="clear_both"></div>
        
        

    </div>    

</div>


