<div class="bx-def-bc-padding">

	<form id="__form_name__"  method="post" action="" class="form_advanced">
		
	<div class="form_advanced_wrapper category_form_wrapper"> 
		<input type=hidden name='id' value='__id__'> 
		<table class="form_advanced_table" cellpadding="0" cellspacing="0"> 
		<tr>
			<td class="caption">
				<span class="required">*</span> 
				<bx_text:_modzzz_classified_categ_name />: 
			</td> 
			<td class="value">
				<div class="clear_both"></div>
				<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
					<input class="form_input_text bx-def-font" name="catname" value="__name__" type="text"> 
				</div>  
			</td>
		</tr>

		<tr>
			<td class="caption"> 
				<bx_text:_modzzz_classified_categ_type />: 
			</td> 
			<td class="value">
				<div class="clear_both"></div>
				<div class="input_wrapper input_wrapper_select">
					<select name="cattype" > 
						<option value='other'><bx_text:_modzzz_classified_category_other /></option>  
						<option value='rent'><bx_text:_modzzz_classified_category_rent /></option> 
						<option value='sale'><bx_text:_modzzz_classified_category_sale /></option> 
					</select>
					<div class="input_close input_close_select"></div>
				</div>  
				<div class="clear_both"></div>
			</td>
		</tr>

		<tr>
			<td class="caption"> 
				<bx_text:_modzzz_classified_custom_field1 />: 
			</td> 
			<td class="value">
				<div class="clear_both"></div>
				<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
					<input class="form_input_text bx-def-font" name="custom_field1" value="__custom_field1_value__" type="text"> 
					
				</div>  
				<div class="clear_both"></div>
			</td>
		</tr>

		<tr>
			<td class="caption"> 
				<bx_text:_modzzz_classified_custom_field2 />: 
			</td> 
			<td class="value">
				<div class="clear_both"></div>
				<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
					<input class="form_input_text bx-def-font" name="custom_field2" value="__custom_field2_value__" type="text"> 
					
				</div>  
				<div class="clear_both"></div>
			</td>
		</tr>

		<tr>
			<td class="caption"> 
				<bx_text:_modzzz_classified_custom_field3 />: 
			</td> 
			<td class="value">
				<div class="clear_both"></div>
				<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
					<input class="form_input_text bx-def-font" name="custom_field3" value="__custom_field3_value__" type="text"> 
					
				</div>  
				<div class="clear_both"></div>
			</td>
		</tr>

		<tr>
			<td class="caption"> 
				<bx_text:_modzzz_classified_custom_field4 />: 
			</td> 
			<td class="value">
				<div class="clear_both"></div>
				<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
					<input class="form_input_text bx-def-font" name="custom_field4" value="__custom_field4_value__" type="text"> 
					
				</div>  
				<div class="clear_both"></div>
			</td>
		</tr>

		<tr>
			<td class="caption"> 
				<bx_text:_modzzz_classified_custom_field5 />: 
			</td> 
			<td class="value">
				<div class="clear_both"></div>
				<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
					<input class="form_input_text bx-def-font" name="custom_field5" value="__custom_field5_value__" type="text"> 
					
				</div>  
				<div class="clear_both"></div>
			</td>
		</tr>

		<tr>
			<td class="caption"> 
				<bx_text:_modzzz_classified_custom_field6 />: 
			</td> 
			<td class="value">
				<div class="clear_both"></div>
				<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
					<input class="form_input_text bx-def-font" name="custom_field6" value="__custom_field6_value__" type="text"> 
					
				</div>  
				<div class="clear_both"></div>
			</td>
		</tr>

		<tr>
			<td class="caption"> 
				<bx_text:_modzzz_classified_custom_field7 />: 
			</td> 
			<td class="value">
				<div class="clear_both"></div>
				<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
					<input class="form_input_text bx-def-font" name="custom_field7" value="__custom_field7_value__" type="text"> 
					
				</div>  
				<div class="clear_both"></div>
			</td>
		</tr>

		<tr>
			<td class="caption"> 
				<bx_text:_modzzz_classified_custom_field8 />: 
			</td> 
			<td class="value">
				<div class="clear_both"></div>
				<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
					<input class="form_input_text bx-def-font" name="custom_field8" value="__custom_field8_value__" type="text"> 
					
				</div>  
				<div class="clear_both"></div>
			</td>
		</tr>

		<tr>
			<td class="caption"> 
				<bx_text:_modzzz_classified_custom_field9 />: 
			</td> 
			<td class="value">
				<div class="clear_both"></div>
				<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
					<input class="form_input_text bx-def-font" name="custom_field9" value="__custom_field9_value__" type="text"> 
					
				</div>  
				<div class="clear_both"></div>
			</td>
		</tr>

		<tr>
			<td class="caption"> 
				<bx_text:_modzzz_classified_custom_field10 />: 
			</td> 
			<td class="value">
				<div class="clear_both"></div>
				<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
					<input class="form_input_text bx-def-font" name="custom_field10" value="__custom_field10_value__" type="text"> 
					
				</div>  
				<div class="clear_both"></div>
			</td>
		</tr>
	 
		</table> 
	</div> 
	 
	__controls__
	 
	</form>
</div> 
 
