<div class="bx-def-font-large"> 
    
    <div class="infoUnit infoUnitFontIcon  bx-twig-unit-line Job_Unit_Title_View">
          <i class="sys-icon building"></i>  __title__
          
           <div class="tsb_cnt_out">
		<div class="Job_Unit_Title_View_Small"> 
			<a href="__category_url__"><i class="sys-icon suitcase"></i> __category_name__</a><bx_if:sub_category> <span class="bullet">&#8594;</span> <a href="__subcategory_url__">__subcategory_name__</a></bx_if:sub_category> 
		</div>
	   </div> 
          
          
         
          <div class="Job_Unit_Title_View_Small bx-def-font-grayed">
              __Drapeau__ __country__ &nbsp; <i class="sys-icon map-marker"></i> __zip__ __city__  
               <bx_if:address1>
               <br /> <i class="sys-icon map"></i> __Commune__&nbsp;&nbsp;
               </bx_if:address1>
               
                <bx_if:address2>
              <i class="sys-icon star"></i>  __Adresse__
               </bx_if:address2>
          </div>
          
     
       
  </div>
   

	
 
	<div class="tsb_cnt_in bx-def-btc-padding-in-out bx-def-margin-thd-topbottom bx-def-padding-sec-topbottom"> 
			<!--<b><span class="posttype">__classified_type__</span>-->
           <bx_if:price> <span style=" font-weight:100; color:#F60"><i class="sys-icon credit-card"></i> __price__</span></bx_if:price><bx_if:payment_type>&nbsp;__payment_type__</bx_if:payment_type>
            
			
		</div>

	
	<div>
					__description__
		
	</div>  
</div>


