<div class="bx_sys_block_info">
    <div class="infoMain">
     
       <div> __author_thumb__</div>
           <!-- AQB Soft Freddy: Befriend -->
			<bx_if:befriend>
				<div class="aqb-guest-actions">
					<button class="ConnectNetwork" onclick="$.post('list_pop.php?action=friend', {ID: __id__}, function(sData){document.location.href=document.location.href;}); return false;">
						<i class="sys-icon user-plus"></i> <bx_text:_connexiont_btn_befriend />
					</button>
				</div>
			</bx_if:befriend>
			<!-- AQB Soft Freddy: Befriend -->
            
                 
         <bx_if:contacter_url>
         <div>
             <br> <button class="ConnectNetwork"   onclick="window.open ('__contacter_url__','_self');">
		  <i class="sys-icon envelope"> &nbsp;</i><bx_text:_modzzz_classified_message_contacter />  
				</button>
                <br>
        </div>
        </bx_if:contacter_url>
           
            
                   
       <bx_if:sellertelephone>
			 <div class="infoUnit infoUnitFontIcon  bx-twig-unit-line  bx-def-font-grayed">
                      
               <strong> <i class="sys-icon phone"></i>&nbsp; __sellertelephone__</strong><!--<bx_text:_modzzz_classified_contact_telephone />: -->
             </div>
      </bx_if:sellertelephone>
         
       <bx_if:mobile>
		 <div class="infoUnit infoUnitFontIcon  bx-twig-unit-line  bx-def-font-grayed">
                <strong>  <i class="sys-icon desktop"></i>&nbsp; __mobile__</strong><!--<bx_text:_modzzz_classified_contact_mobile />:--> 
          </div>
     </bx_if:mobile>
     
       <div class="infoText bx-def-margin-sec-top">
           
           
            <div class="infoUnit infoUnitFontIcon bx-def-font-small">
                <i class="sys-icon clock-o"></i>
                __date__ (__date_ago__)
            </div>
			<!--
            <div class="infoUnit infoUnitFontIcon">       
                <i class="sys-icon folder-close"></i>
                __cats__
            </div>
			
            <div class="infoUnit infoUnitFontIcon bx-def-font-small">       
                <i class="sys-icon tags"></i>
                __tags__
            </div>
            -->
			<bx_if:owner>
          <!--  <div class="infoUnit infoUnitFontIcon">       
                <i class="sys-icon lock"></i>
                <bx_text:_modzzz_classified_expires />: __expire__
            </div>
            -->
            <div class="infoUnit infoUnitFontIcon">       
                <i class="sys-icon star"></i>
                 __featured__
            </div>
			</bx_if:owner>
        
         </div>
        
        
        
    
 
        <div class="clear_both"></div>
    </div>
</div>



