<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

 <!--
 <div class="thumbnail_image_entreprise_view">
				<a href="__Profile_Link__"><img src="__thumbnail_url__" class="menu_item_thumbnail bx-def-thumbnail bx-def-shadow bx-img-retina" /></a>
    </div>	
	
   <div class="clear_both"></div> 
   -->
    
 
      <div class="CSSBusinessListingViewTop" >
   <table >
            
   
      <tr>
      
      <td width="50%">
       <div>  
             <a class="ConnectNetwork" href="javascript:void(0)" onclick="javascript:$('#sys-share-popup').dolPopup({pointer: {el:this}})" title="    
             <bx_text_attribute:_Share />">
                  <i class="sys-icon share-alt"></i> __TitleShare__
             </a>
     </div> 
       
       <!--
         <div>
                   <div><a href="javascript: void(0)" onclick="javascript: showPopupAnyHtml('__SharePopup__');"> __TitleShare__</a></div>
         </div>
         -->
      
     </td> 
   
      <td width="50%"> 
         <div>
                <div>
                    <button class="ConnectNetwork"  onclick="getHtmlData ('ajaxy_popup_result_div___id__','__Favorite_Url__', false, 'post');return false;">
				     <i class="sys-icon heart-o"></i>  __AddToFavorite__
	                 </button> 
                 </div>
                 <div class="clear_both"></div> 
                  
                 <div id="ajaxy_popup_result_div___id__" style="display:none;"></div> 
     
           </div> 
                         
       </td>
       </tr>
       
       
       
       
        <tr>
      
      <td width="50%">
       <div><button class="ConnectNetwork" class="managresume" class="menuLink" onclick="window.open ('__InquireUrl__','_self');">
						 <i class="sys-icon envelope"></i> __TitleInquire__
					</button>  
         </div>
 
     </td> 
   
      <td width="50%">
        <div><button class="ConnectNetwork" class="managresume" class="menuLink" onclick="window.open ('__InviteUrl__','_self');">
						 <i class="sys-icon users"></i> __TitleInvite__
					</button>  
         </div>
                         
       </td>
       </tr>
     </table>
    </div>
    
  <div class="clear_both"></div> 