<div class="bx_sys_block_info">
    <div class="infoMain">
     
            __author_thumb__
 
        <div class="infoText bx-def-margin-sec-top">
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon bell"></i>
                __date__ (__date_ago__)
            </div>
			<!--
            <div class="infoUnit infoUnitFontIcon">       
                <i class="sys-icon folder-close"></i>
                __cats__
            </div>
			-->
            <div class="infoUnit infoUnitFontIcon">       
                <i class="sys-icon tags"></i>
                __tags__
            </div>
			<bx_if:owner>
            <div class="infoUnit infoUnitFontIcon">       
                <i class="sys-icon lock"></i>
                <bx_text:_modzzz_classified_expires />: __expire__
            </div>
            <div class="infoUnit infoUnitFontIcon">       
                <i class="sys-icon star-empty"></i>
                 __featured__
            </div>
			</bx_if:owner>
        </div>
        <div class="clear_both"></div>
    </div>
</div>

__fields__

