<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="mbp-level-content">
	<div class="mbp-level-title">
		<!-- freddy modif   __title__ (__days__ - __currency_sign____price__) --> 
        <i class="sys-icon briefcase"></i> __title__
        
        <br /> <i class="fa fa-calendar"></i> <bx_text:_modzzz_classified_allow_duree />: __days__
        <br /> <i class="fa fa-building"></i> <bx_text:_modzzz_classified_allow_prix />: __currency_sign____price__
	</div>                
	<div class="mbp-level-info">__description__</div> 
	<div class="mbp-cb">&nbsp;</div>  
	<!-- <div class="mbp-level-info"><b><bx_text:_modzzz_classified_featured /></b> - __featured__</div> -->
	<div class="mbp-level-info"><span style="font-size:12px;"><bx_text:_modzzz_classified_allow_photos /> - __photos__</span></div> 
    <div class="mbp-level-info"><span style="font-size:12px;"><bx_text:_modzzz_classified_allow_videos /> - __videos__</span></div> 
	
	<!--<div class="mbp-level-info"><b><bx_text:_modzzz_classified_allow_sounds /></b> - __sounds__</div> -->
	<div class="mbp-level-info"><span style="font-size:12px;"><bx_text:_modzzz_classified_allow_files /> - __files__</span></div> 
</div>
	