<div class="bx-twig-unit modzzz_classified_unit bx-def-margin-top-auto">

   
   
    <div class="bx-twig-unit-tittre-fred">
			 </span> <a class="actions" href="__classified_url__"><i class="sys-icon building"></i> __classified_title__</a><bx_if:price>&nbsp;<!--<bx_text:_modzzz_classified_for />-->&nbsp;
             <br /> <span style=" font-size:16px; font-weight:400; color:#F60"> __price__</span></bx_if:price>
			<bx_if:payment_type>&nbsp;__payment_type__</bx_if:payment_type>
        </div>
        
   
   
    <div class="bx-twig-unit-thumb-cont bx-def-margin-sec-right">
        <a href="__classified_url__"><img class="bx-twig-unit-thumb bx-def-round-corners bx-def-shadow" src="__thumb_url__"></a>
    </div>

    <div class="bx-twig-unit-info">
    
     <div class="CSSProfessionalUnit">
       <table>
       
         <tr>
         <td>
         <!-- <div class="bx-twig-unit-line bx-twig-unit-special"> -->
           <div>           
                 __Drapeau__ __country__ &nbsp; <i class="sys-icon map-marker"></i><!-- __zip__ --> __city__  
          </div> 
         </td>
        </tr>
        
         <tr>
         <td>
         
          <div> __all_categories__ </div>
           
           </td>
        </tr>
        
         <tr>
         <td>
          
           <div> <i class="sys-icon user"></i> <a href="__author_url__">__author__</a> 
           <br /> <a class="actions" href="__company_url__">__company__</a> 
           </div>
           
           </td>
        </tr>
        
        <!--
         <tr>
         <td>
          
          <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
              <i class="sys-icon clock-o"></i>  __created__ <span class="bullet">&#183;</span> 
            </div>
         
         </td>
        </tr>
        -->
        
         <tr>
         <td>
        
 
        <div class="bx-twig-unit-title bx-def-font-h2">
			<bx_if:why>
				<div class="unit_why">
					<span class="attribute-title"><bx_text:_modzzz_classified_why /> </span>
					<img src="<bx_icon_url:start_quote_gray.gif />" /> 
						__why__
					<img src="<bx_icon_url:end_quote_gray.gif />" /> 
				</div>
			</bx_if:why>
        </div>
        
        
 
       
         <div class="bx-twig-unit-line bx-twig-unit-desc">__snippet_text__</div>
         
             <div>          
     <button class="ConnectNetwork_MarginTop"   onclick="window.open ('__classified_url__','_self');">
		  <i class="sys-icon sign-out"> &nbsp;</i><strong><bx_text:_modzzz_classified_action_en_savoir_plus />  </strong>
				</button>
     </div>
     
      </td>
        </tr>
        <!--
         <tr>
         <td>
  
        <bx_if:full>

            <div class="bx-twig-unit-line bx-twig-unit-rate">
                __rate__
            </div>

        </bx_if:full>
        
        
         </td>
                       
          </tr>
          -->
     </table>
   
    </div>
        <div class="clear_both"></div>

    </div>    

</div>
<br /><br />
 