/* Text color in the home section */
.theme-home-text {
	color: white;
}

/* Color in features section */
.theme-color {
	color: #F87C45 !important;
}

/* Border color in features section */
.theme-color-border {
	border-color: #F87C45;
	border-style: solid;
}

/* Color of home navigation links */
.theme-link {
	color: white;
}

/* Color of home navigation links during scroll */
.theme-link-scroll {
	color: #333333;
}

/* Hover on home navigation links */
.theme-link:hover {
	color: #ff9f74;
}

/* Button on the home slides */
.theme-button {
	background-color: #F87C45;
	color: white;
}

/* Hover on Button on the home slides */
.theme-button:hover {
	background-color: #e25719;
}

/* Hover on footer links */
.theme-footer-link:hover {
	color: #F87C45 !important;;
}