#modzzz_investment_admin_investment .block_cont {
    padding:1px;
}

table.modzzz_investment_actions {
    border-collapse:collapse;
    margin:5px;
    width:100%;
}

table.modzzz_investment_actions td {
    width:33%;
    text-align:center;
}

.modzzz_investment_manage_wrapper {
    padding:0;
}
