.bx-twig-unit-tittre-fred {
    font-size: 24px; 
    font-size: 24sp;
    line-height: 24px;
    line-height: 24sp; 
	font-weight:800; 
	color:#3a5795;
	
}


.form_search_investment_wrapper .input_wrapper_select,
.form_search_investment_wrapper .input_wrapper_text {
    width:135px;
}

.input_wrapper_custom {
    padding-top: 3px; 
}
 
.block_header{
 	font-weight: bold;
	font-size:12px;
	padding-bottom: 5px;  
 }

.modzzz_investment_main_photo {
    border:1px solid #CCCCCC;
    width:604px;
    padding:2px 0;
    margin:0 auto;
    text-align:center;
}

.modzzz_investment_main_info {
    width:606px;
    margin:2px auto 0px auto;
}

.modzzz_investment_main_info a:first-child {
    font-weight:bold;
}

.modzzz_investment_main_info_text {
    width:50%;
    float:left;
    text-align:left;
    font-size:11px;
    line-height:14px;
}
.modzzz_investment_main_info_img {
    width:50%;
    float:left;
    text-align:right;
    font-size:11px;
}

.modzzz_investment_main_info_img .votes_small {
    width:auto;
}
.modzzz_investment_main_info_img>img {
    position:relative;
    top:3px;
}

.categories_col {
    font-weight:bold;
    font-size:12px; 
}
   
/*--- 'Available levels', 'Current Level' Styles ---*/
div.mbp-current-levels,
div.mbp-available-levels {
    margin: 0px 0px 10px 0px;
}
div.mbp-level {
    margin: 10px 10px 0px 10px;
    padding: 10px;

    position: relative;

    /*background-color: #f2f2ff;*/
}
 
div.mbp-level-price {
    top: 10px;
    right: 10px;    
    height: 16px;

    position: absolute;

    font-weight: bold;
    font-size: 12px;
}
div.mbp-level-price div.image {
	width: 32px;
	height: 16px;
	
	position: relative;
	float: left;

	background-repeat: no-repeat;
    background-position: right center;
}
div.mbp-level-price div.text {
	height: 16px;
	
	position: relative;
	float: left;
}
div.mbp-level-price img {
    width: 16px;
    height: 16px;
}
div.mbp-level-content {
    min-height: 116px; 
    padding-left: 5px;
}
div.mbp-level-title {
    font-weight: bold;
    font-size: 12px;
}
div.mbp-level-info {
    padding-top: 5px;
}
div.mbp-level-control {
    padding-top: 5px;
}

div.mbp-current-level {
    margin: 0px;
}
div.mbp-current-level div.mbp-level {
    margin: 0px;
    padding: 10px;
    
    position: relative;

    /*background-color: #ffffff;*/
}
div.mbp-level-description {
    min-height: 0px;
    padding: 10px 0px 0px 0px;
}

/* Freddy  CSSBusinessListingHome */

.CSSBusinessListingHome {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 1px 1px 1px 1px #888888;
	border:1px solid #ffffff;
	
	
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
	
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
	
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
	
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}.CSSBusinessListingHome table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSBusinessListingHome tr:last-child td:last-child {
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
}
.CSSBusinessListingHome table tr:first-child td:first-child {
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}
.CSSBusinessListingHome table tr:first-child td:last-child {
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
}.CSSBusinessListingHome tr:last-child td:first-child{
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
}.CSSBusinessListingHome tr:hover td{
	
}
.CSSBusinessListingHome tr:nth-child(odd){ background-color:#ffffff; }
.CSSBusinessListingHome tr:nth-child(even)    { background-color:#ffffff; }.CSSBusinessListingHome td{
	vertical-align:middle;
	
	
	border:1px solid #dfe3ee;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#525354;
}.CSSBusinessListingHome tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSBusinessListingHome tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSBusinessListingHome tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSBusinessListingHome tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
	border:0px solid #dfe3ee;
	text-align:left;
	border-width:0px 0px 1px 1px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#87868c;
}
.CSSBusinessListingHome tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f7f7f7 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
}
.CSSBusinessListingHome tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSBusinessListingHome tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/* ************************* */





/* Freddy  CSSInvestDashboard */

.CSSInvestDashboard {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 1px 1px 1px 1px #888888;
	border:1px solid #ffffff;
	
	
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
	
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
	
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
	
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}.CSSInvestDashboard table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSInvestDashboard tr:last-child td:last-child {
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
}
.CSSInvestDashboard table tr:first-child td:first-child {
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}
.CSSInvestDashboard table tr:first-child td:last-child {
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
}.CSSInvestDashboard tr:last-child td:first-child{
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
}.CSSInvestDashboard tr:hover td{
	
}
.CSSInvestDashboard tr:nth-child(odd){ background-color:#ffffff; }
.CSSInvestDashboard tr:nth-child(even)    { background-color:#ffffff; }.CSSInvestDashboard td{
	vertical-align:middle;
	
	
	border:1px solid #dfe3ee;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#525354;
}.CSSInvestDashboard tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSInvestDashboard tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSInvestDashboard tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSInvestDashboard tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
	border:0px solid #dfe3ee;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#87868c;
}
.CSSInvestDashboard tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f7f7f7 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
}
.CSSInvestDashboard tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSInvestDashboard tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/* ************************* */







.CSSProjetHome {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 1px 1px 1px 1px #888888;
	border:1px solid #ffffff;
	
	
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
	
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
	
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
	
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}.CSSProjetHome table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSProjetHome tr:last-child td:last-child {
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
}
.CSSProjetHome table tr:first-child td:first-child {
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}
.CSSProjetHome table tr:first-child td:last-child {
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
}.CSSProjetHome tr:last-child td:first-child{
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
}.CSSProjetHome tr:hover td{
	
}
.CSSProjetHome tr:nth-child(odd){ background-color:#ffffff; }
.CSSProjetHome tr:nth-child(even)    { background-color:#ffffff; }.CSSProjetHome td{
	vertical-align:middle;
	
	
	border:1px solid #dfe3ee;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#525354;
}.CSSProjetHome tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSProjetHome tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSProjetHome tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSProjetHome tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
	border:0px solid #dfe3ee;
	text-align:left;
	border-width:0px 0px 1px 1px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#87868c;
}
.CSSProjetHome tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f7f7f7 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
}
.CSSProjetHome tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSProjetHome tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


/* Freddy  CSSBusinessListingViewTop */

.CSSBusinessListingViewTop {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 1px 1px 1px 1px #888888;
	border:0px solid #ffffff;
	
	
	
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
	
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
	
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
	
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}.CSSBusinessListingViewTop table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSBusinessListingViewTop tr:last-child td:last-child {
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
}
.CSSBusinessListingViewTop table tr:first-child td:first-child {
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}
.CSSBusinessListingViewTop table tr:first-child td:last-child {
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
}.CSSBusinessListingViewTop tr:last-child td:first-child{
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
}.CSSBusinessListingViewTop tr:hover td{
	
}
.CSSBusinessListingViewTop tr:nth-child(odd){ background-color:#ffffff; }
.CSSBusinessListingViewTop tr:nth-child(even)    { background-color:#ffffff; }.CSSBusinessListingViewTop td{
	vertical-align:middle;
	
	
	border:0px solid #dfe3ee;
	border-width:0px 0px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#525354;
}.CSSBusinessListingViewTop tr:last-child td{
	border-width:0px 0px 0px 0px;
}.CSSBusinessListingViewTop tr td:last-child{
	border-width:0px 0px 0px 0px;
}.CSSBusinessListingViewTop tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSBusinessListingViewTop tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
	border:0px solid #dfe3ee;
	text-align:center;
	border-width:0px 0px 0px 0px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#87868c;
}
.CSSBusinessListingViewTop tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f7f7f7 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
}
.CSSBusinessListingViewTop tr:first-child td:first-child{
	border-width:0px 0px 0px 0px;
}
.CSSBusinessListingViewTop tr:first-child td:last-child{
	border-width:0px 0px 0px 0px;
}
/************************************************/



.ConnectNetworkGris {
background-color: transparent;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #6C6B6C;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    font-family: inherit;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
    z-index: 0;
    box-shadow: inset 0 0 0 1px #424040, inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
	margin-top:10px;
}
.ConnectNetworkGris { color:  #6C6B6C; cursor: pointer;}
.ConnectNetworkGris:hover {background: #3b5998;  border-color:  #413F41; font-weight:600; position: relative;bottom: 0.5px; transition: all 1.8s ease;color: #fff;}

.InscriptionSearch{
    background-color: #f07355;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
	border-color:  #f07355;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
    z-index: 0;
	margin-top: 0px;
	
    box-shadow: inset 0 0 0 1px #f07355, inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
}
.InscriptionSearch { color:  #fff; cursor: pointer;}

.InscriptionSearch:hover { background-color: rgba(152,216,244,.25); color: #006097; box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px #006097, inset 0 0 0 1px transparent;bottom: 1px; transition: all 1.2s ease;}

h2,
.bx-def-font-h2 { font-size: 16px; font-size: 16sp;line-height: 18px;line-height: 18sp;}




.ConnectHomeBusinessDirectory {

    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
   /* color: rgba(24,0,39,.87);*/
   color:#FFF;
    
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    font-family: inherit;
    height: auto;
    line-height: auto;
    overflow: hidden;
    outline-width: 2px;
    padding: 6px 6px 6px 6px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
    z-index: 0;
    box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
	margin-top:5px;
	background: #3a5795;
	
}

.ConnectNetworkBlue {
background-color: transparent;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #0073b1;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
    z-index: 0;
    box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
	margin-top:5px;
}
.ConnectNetworkBlue { color:  #0073b1; cursor: pointer;}
.ConnectNetworkBlue:hover {background: #3b5998;  border-color:  #3b5998; font-weight:normal; position: relative;bottom: 0.5px; transition: all 1.8s ease;color: #fff;}


.espaceemploibouton {
display: inline-block;
	height: auto;
	vertical-align: middle;
	border-width: 0px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border-color:  #dfe3ee;
	line-height: auto;
	
	overflow: hidden;
	 font-size:13px;
	
	 border: 0px solid #dfe3ee;
	 
 
	width: auto;
	color: #3b5998;
	font-family: "Open Sans",Arial,sans-serif;
   /* freddy comment  
    padding: 2px 2px;
   bottom-margin: 5px; */
    font-weight: normal;
	background-color: #dfe3ee;
    background-color: rgba(139,157,195,0.0);
	
	webkit-transition: all ease 1.0s; 
    -moz-transition: all ease 1.0s;
     transition: all ease 1.1s; 
 
}
.espaceemploibouton { color:  #3b5998; cursor: pointer;}
.espaceemploibouton:hover {background: #fff; background-color: rgba(139,157,195,0.3);  border-color:  #413F41; font-weight:normal; position: relative;top: 1px; transition: all 1.8s ease;color: #f07355;}

/* Freddy  CSSbusinessListingUnit */
.CSSbusinessListingUnit {
	margin:0px;padding:0px;
	width:99%;
	box-shadow: 1px 1px 1px 1px #888888;
	border:0px solid #ffffff;
	
	
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSbusinessListingUnit table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSbusinessListingUnit tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSbusinessListingUnit table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSbusinessListingUnit table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSbusinessListingUnit tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSbusinessListingUnit tr:hover td{
	
}
.CSSbusinessListingUnit tr:nth-child(odd){ background-color:#ffffff; }
.CSSbusinessListingUnit tr:nth-child(even)    { background-color:#ffffff; }.CSSbusinessListingUnit td{
	vertical-align:middle;
	
	
	border:1px solid #dfe3ee;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#525354;
}.CSSbusinessListingUnit tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSbusinessListingUnit tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSbusinessListingUnit tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSbusinessListingUnit tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
	border:0px solid #dfe3ee;
	text-align:left;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#2b70a8;
}
.CSSbusinessListingUnit tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f7f7f7 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
}
.CSSbusinessListingUnit tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSbusinessListingUnit tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/* ************************* */

/* Freddy  CSSCapitalview */
.CSSCapitalview {
	margin:0px;padding:0px;
	width:99%;
	box-shadow: 1px 1px 1px 1px #888888;
	border:0px solid #ffffff;
	
	
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSCapitalview table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSCapitalview tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSCapitalview table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSCapitalview table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSCapitalview tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSCapitalview tr:hover td{
	
}
.CSSCapitalview tr:nth-child(odd){ background-color:#ffffff; }
.CSSCapitalview tr:nth-child(even)    { background-color:#ffffff; }.CSSCapitalview td{
	vertical-align:middle;
	
	
	border:1px solid #dfe3ee;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:17px;
	font-family:Arial;
	font-weight:bold;
	color:#525354;
}.CSSCapitalview tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSCapitalview tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSCapitalview tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSCapitalview tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
	border:0px solid #dfe3ee;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:17px;
	font-family:Arial;
	font-weight:bold;
	color:#2b70a8;
}
.CSSCapitalview tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f7f7f7 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
}
.CSSCapitalview tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSCapitalview tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/*-- -------NB----------------------------
-------FREDDY  bx-twig-unit-thumb-cont a été modifié dans /listing/templates/base/css/main.css 
pour adapter la photo au telephone portableµ*/
@media (min-width:300px) and (max-width:420px) {
	
/*
div.listing_description { display:none;}


.bx-twig-unit-thumb-cont {

    float: left;
    display: table-cell;
    top: 0px;
    left: 0px;
    width: 100px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    vertical-align: middle;
	
	
  text-align: center;
 padding-right:0px !important;
  }

.bx-twig-unit-thumb {
    width: 100px;

    height:100px;

}
*/

.CSSbusinessListingUnit {
	box-shadow: 0px 0px 0px 0px #888888;
	border:0px solid #ffffff;
	}
	
	div.TitreIvestment {
    box-sizing: border-box;
    position: relative;
    font-size: 2.6rem;
    font-weight: bold;
    margin: 0px 25px;
    background: #18a5a5;
    font-family: Lato, sans-serif;
    line-height: 1 !important;
    padding: 15px 25px !important;
    color: white !important;
    text-transform: uppercase !important;
}

}

/* freddy telephone nokia paysage pour afficher la photo de l'entreprise de Listing Home*/
@media (min-width:421px) and (max-width:480px) {



div.listing_description { font-size:12px;}
.bx-def-margin-top-auto {
    margin-top:10px;
}
.bx-twig-unit-thumb-cont {

    float: left;
    display: table-cell;
    top: 0px;
    left: 0px;
    width: 200px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    vertical-align: middle;
	
	
  text-align: center;
 padding-right:0px !important;
  
	
	
	}

.bx-twig-unit-thumb {
    width: 200px;

    height:200px;

}
.CSSbusinessListingUnit {
	box-shadow: 0px 0px 0px 0px #888888;
	border:0px solid #ffffff;
	}


}

