.modzzz_investment_price {
    padding:10px;
    font-size:12px;
	font-weight:bold;
}

.modzzz_investment_why {
    margin-bottom:20px;
    font-size:16px;
	font-weight: normal;  
}

.attribute-title{
    color: #CCC;
}

/* update 7.1 */
table.modzzz_investment_fields {
    border-collapse:collapse;
    border-spacing:0px; 
}

td.modzzz_investment_field_name {
    padding-bottom:10px;
    text-align:left;
}

td.modzzz_investment_field_value {
    padding-bottom:10px;
    text-align:left;
}

.modzzz_investment_profile_unit {
    overflow:hidden;
    float:left;
}

