.modzzz_notify_unit {
    height: 235px;
}

.modzzz_notify_unit_admin {
    position:relative;
}

.modzzz_notify_unit .sys_file_search_pic {
    height: 148px;
}

.modzzz_notify_unit .sys_file_search_pic img {
    height: 140px;
}


.notify_unit {
	padding: 0px;
	margin: 10px;
	overflow: hidden;
	position: relative;
}

.notify_unit .thumbnail_block {
    left:0;
    position:absolute;
    top:0;
}

.notify_unit .cls_res_thumb {
    float:left;
}

.notify_unit .unit_info {
    margin-left:5px;
    min-height:38px;
}

.notify_unit .title {
    font-size:12px;
    margin-bottom:-3px;
    width:85%;
}

.notify_unit .fr_small_gray_centered {
    color:#999;
    height:15px;
    line-height:15px;
    font-size:9px;
    float:left;
    overflow:hidden;
    margin-bottom:5px;
    vertical-align:middle;
}

.notify_unit .margined {
    margin-right:5px;
    line-height:18px;
}

.notify_unit .margined10 {
    margin-right:10px;
}

.notify_unit .actions {
    font-weight:bold;
    font-size:12px;
}

.notify_unit div.votes_small {
    position:absolute;right:0px;top:0px;width:auto;
}

.notify_unit .unit_info .browseCheckbox {
    background-color:#FFCCCC;
    height:20px;
    left:1px;
    float:left;
    margin-right:5px;
    top:1px;
    width:20px;
}


.medium_text
{
	font-size:12px; 
}

.small_text
{
	font-size:10px; 
}
.gray_text
{
	font-size:11px; 
	color:#CCC; 
}


.notify_graph {
        position: relative; /* IE is dumb */
        width: 200px;
        border: 1px solid red;
        padding: 1px;
}
.notify_graph_levels {
        position: relative; /* IE is dumb */
        width: 200px;
        border: 0px solid red;
        padding: 2px;
}

.notify_graph .notify_bar {
        display: block; 
		background-color:red;
        text-align: center;
        color: white; 
		height:20px;
        line-height: 2em;
        border-right:0px solid yellow;
}
.notify_text {
	background:transparent;
	width:100%;
	text-align:center; 
	font-weight: bold;
	/* padding-right:15px; */
}
.notify_graph .notify_bar span { position: absolute; left: 1em; }

.member_notify_wrapper {
	margin-bottom:5px; 
}