<form id="__form_name__"  method="post" action="" class="form_advanced">
 
	<table class="form_advanced_table" cellpadding="0" cellspacing="0"> 
		<tr>
			<td class="caption" colspan=2>
				__message__
			</td>
		</tr> 	
	</table>

	<fieldset  class="bx-form-fields-wrapper">
		<div class="bx-form-element bx-form-element-text bx-def-margin-top clearfix" >
			<div class="bx-form-caption bx-def-font-inputs-captions"><span class="bx-form-required">*</span> <bx_text:_modzzz_autofriend_nickname /></div>
			<div class="bx-form-value clearfix">
				<div class="input_wrapper input_wrapper_text clearfix" ><input class="form_input_text bx-def-font-inputs" name="nickname" type="text" value="__nick_value__"></div> 
			</div>
		</div>
	 
		<bx_if:search> 
			<div class="bx-form-element bx-form-element-text bx-def-margin-top clearfix" >
				<div class="bx-form-caption bx-def-font-inputs-captions"><span class="bx-form-required">*</span> <bx_text:_modzzz_autofriend_present_status /></div>
				<div class="bx-form-value clearfix">
					<div class="input_wrapper input_wrapper_custom clearfix" >__present_admin_value__</div> 
				</div>
			</div>  
		</bx_if:search> 

		<div class="bx-form-element bx-form-element-text bx-def-margin-top clearfix" >
			<div class="bx-form-caption bx-def-font-inputs-captions"><bx_text:_modzzz_autofriend_make_admin /> <span class="bx-form-info"><i  class="sys-icon info-circle" float_info="<bx_text:_modzzz_autofriend_make_admin_explain />"></i></span></div>
			<div class="bx-form-value clearfix">
				<div class="input_wrapper input_wrapper_checkbox clearfix" ><input class="form_input_checkbox bx-def-font-inputs" name="admin" type="checkbox" value='1' __admin_checked__>
				</div> 
			</div>
		</div>  
	</fieldset> 
 
    __controls__
</form>