<script language="javascript" type="text/javascript" src="<bx_url_root />modules/EmmetBytes/emmetbytes_profile_cover/js/EmmetBytesProfileCover.js"></script>
<div class="ebytes_profile_cover_info_inner_container">
    <div class="ebytes_profile_cover_informations_container">
        <bx_if:summary_action><div class="user_title">__usr_title__</div></bx_if:summary_action>
        <div class="ebytes_profile_cover_location_container"><span class="ebytes_profile_cover_information_caption">  </span>  </div>
        
        
         <div class="ebytes_profile_cover_gender_container">
          <i class="sys-icon user"></i> __gender__  &nbsp;&nbsp; <i class="sys-icon map-marker"></i>&nbsp;__country__, __city__ 
        </div>
         
         <!--   Freddy add   Account type , Business name -->
        <div class="ebytes_profile_cover_gender_container_plinkin"><b><bx_text:_abs_plinkin_prof_view_page_AccountType />:</b> __AccountType__</div>
         <div class="ebytes_profile_cover_gender_container"><b><bx_text:_abs_plinkin_prof_view_page_Industry />:</b> __Industry__</div>
         
        
        <bx_if:BusinessName>
          <div class="prev_comps">
             <b><bx_text:_abs_plinkin_prof_view_page_BusinessName />:</b>__BusinessName__
           </div>
          </bx_if:BusinessName>
          
          <bx_if:WillingToRelocateTo>
           <div class="ebytes_profile_cover_gender_container"><b><bx_text:_abs_plinkin_prof_view_page_Relocation />:</b> </div>
           <div class="prev_comps">
             <b><bx_text:_abs_plinkin_prof_view_page_WillingToRelocateTo />:</b> <strong>__WillingToRelocateTo__</strong>
           </div>
           </bx_if:WillingToRelocateTo>
           
            <bx_if:JobRelocationStart>
          <div class="prev_comps">
             <b><bx_text:_abs_plinkin_prof_view_page_JobRelocationStart />:</b> <strong>__JobRelocationStart__</strong>
           </div>
           </bx_if:JobRelocationStart>
           
           <bx_if:Nationality>
          <div class="prev_comps">
             <b><bx_text:_abs_plinkin_prof_view_page_Nationality />:</b> <strong>__Nationality__</strong>
           </div>
           </bx_if:Nationality>
           
           <bx_if:PermissionToWorkinEU>
          <div class="prev_comps">
             <b><bx_text:_abs_plinkin_prof_view_page_PermissionToWorkinEU />:</b> <strong>__PermissionToWorkinEU__</strong>
           </div>
           </bx_if:PermissionToWorkinEU>
          
         
                
        <!--   End Freddy add  ------------------------  -->
       
        
        <!--
        <div class="prev_comps"><b><bx_text:_abs_plinkin_prof_view_page_prev_companies /></b>__companies__</div>
        
       
 		<div class="school_detail"><b><bx_text:_abs_plinkin_prof_view_page_education /></b>__school_name__</div>
        
        -->
        
        
        
 		<div class="download_pdf"><a name="exportToPdf" href="m/linkedin_profile/generateresume?profile=__uid__"><bx_text:_Save_to_PDF /></a></div>
        
      <!--   <div class="ebytes_profile_cover_relationship_container"> Single </div>
  -->
        
    </div>
</div>
<div class="ebytes_profile_cover_info_link_container ebytes_profile_cover_bottom_data_link_container"><a href="<bx_url_root />profile_info.php?ID=__uid__">About</a></div>