<div class="">
	<div class="rw-profile-tabs"><ul>__tabs__</ul></div>
	<div style="text-align:center;display:none;" id="ptabsloader"><img src="<bx_image_url:loader.gif />"></div>
	<div id="rw-tbs-content">
	__default__
	</div>
</div>

<script>

	var prevTab = '__default_id__';

	$(function (){
		__jquery__
		$('.page_column').show();

		$("#see-more-ptabs").mouseover(function(){
	     	$('#prof-more-tabs').show();
	    }).mouseout(function(){
	      	$('#prof-more-tabs').hide();
	    });

	});

	function changeTab(id){

		$('#ptabsloader').show();

		if(id != prevTab) {

			$('#ptab-content-'+prevTab).hide(function(){
				$('#ptab-content-'+id).fadeIn('fast');
			});

			prevTab = id;
		}

		$('#ptabsloader').hide();
	}

</script>