.bx-twig-unit-tittre-fred {
    font-size: 26px; 
    font-size: 26sp;
    line-height: 26px;
    line-height: 26sp; 
	font-weight:800; 
	color:#3a5795;
	
}


.block_header{
 	font-weight: bold;
	font-size:12px;
	padding-bottom: 5px;  
}

.form_input_textarea {
    height: 350px;
}

#snip{
    height: 100px;
    width: 100%;
}

.input_wrapper_textarea
{
    width: 100%;
}

.modzzz_articles_main_photo {
    border:1px solid #CCCCCC;
    width:604px;
    padding:2px 0;
    margin:0 auto;
    text-align:center;
}

.modzzz_articles_main_info {
    width:606px;
    margin:2px auto 0px auto;
}

.modzzz_articles_main_info a:first-child {
    font-weight:bold;
}

.modzzz_articles_main_info_text {
    width:50%;
    float:left;
    text-align:left;
    font-size:11px;
    line-height:14px;
}
.modzzz_articles_main_info_img {
    width:50%;
    float:left;
    text-align:right;
    font-size:11px;
}

.modzzz_articles_main_info_img .votes_small {
    width:auto;
}
.modzzz_articles_main_info_img>img {
    position:relative;
    top:3px;
}

.archive_year { font-weight: bold; padding: 5px 0px 5px 0px;} 
.archive_month { font-weight: bold;padding: 2px 0px 2px 0px; } 

 
.categ_count {
    font-size:11px;
    color:#999;
    padding-top:2px;
    padding-bottom:2px;
    font-weight:normal;
}

.cls_categ_name a {
    font-size:12px;
}

.cls_categ_name .categ_count {
    font-size:11px;
    color:#999;
}

.cls_res_thumb {
    float:left;
}

.cls_categ_name {
    float:left;
    font-weight:bold;
    font-size:12px;
}

.cls_result_row {
    margin-bottom:8px;
}

.margined {
    margin-right:6px;
}

.bx_articles_default_padding {
    margin:10px;
} 

.modzzz_articles_letters {
    border:1px solid #CCCCCC;
    width:18px;
	text-align:center; 
	padding:5px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
	float:left; 
}

/* Freddy  CSSProfessionalUnit */

.CSSProfessionalUnit {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 2px 1px 2px 1px #888888;
	border:1px solid #ffffff;
	
	
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSProfessionalUnit table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSProfessionalUnit tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSProfessionalUnit table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSProfessionalUnit table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSProfessionalUnit tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSProfessionalUnit tr:hover td{
	
}
.CSSProfessionalUnit tr:nth-child(odd){ background-color:#ffffff; }
.CSSProfessionalUnit tr:nth-child(even)    { background-color:#ffffff; }.CSSProfessionalUnit td{
	vertical-align:middle;
	
	
	border:2px solid #dfe3ee;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#525354;
}.CSSProfessionalUnit tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSProfessionalUnit tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSProfessionalUnit tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSProfessionalUnit tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
	border:0px solid #dfe3ee;
	text-align:left;
	border-width:1px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#2b70a8;
}
.CSSProfessionalUnit tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f7f7f7 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f7f7f7 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#ffffff");	background: -o-linear-gradient(top,#f7f7f7,ffffff);

	background-color:#f7f7f7;
}
.CSSProfessionalUnit tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSProfessionalUnit tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}