/* Section Options */
#section-enabled {
	padding: 0 0 15px 0;
	border-bottom: 1px solid #e9e9e9;
	margin: 0 0 30px 0;
}

#section-enabled-text {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	font-size: 14px;
	font-weight: 400;
	margin: 0 auto;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	text-align: center;
}

#section-enabled-checkbox, #two-columns-checkbox {
	margin: 0 10px 0 0;
	vertical-align: middle;
}

#section-enabled-text label {
	cursor: pointer;
	vertical-align: middle;
	line-height: 1.5;
}


/* Icons Lightbox */
#icons-lightbox {
	width: 100%;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	padding: 20px;
	z-index: 10002;
	color: #333333;
	font-size: 13px;
	display: none;
}

#close-icons-lightbox {
	position: fixed;
	top: 20px;
	right: 20px;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.icons-container {
	max-width: 860px;
	margin: 0 auto 50px auto;
}

.icons-header {
	font-size: 20px;
	margin: 0 0 20px 0;
	text-align: center;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
}

.icons {
	overflow: hidden;
}

.icon-container {
	cursor: pointer;
	padding: 5px;
	width: 200px;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	float: left;
 	margin: 0 20px 20px 0;
}

.icon-container:nth-child(4n) {
	margin-right: 0px !important;
} 

.icon-container:hover {
	color: #ff9900;
}

.icon-container i {
	margin: 0 10px 0 0;
}


/* Features Section */
#features {
	margin: 0 0 100px 0;
}

#features.two-columns {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.feature {
	margin: 0 auto;
	max-width: 1100px;
	overflow: hidden;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	padding: 30px 15px 0 15px;
}

.feature.two-columns {
    width: 540px;
    display: inline-block;
}


.feature-enabled {
	width: 3%;
	font-size: 14px;
	float: left;
	background-color: rgba(0, 0, 0, 0.15);
	padding: 5px;
	cursor: pointer;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	text-align: center;
 	margin: 20px 2% 0 0;
}

.feature.two-columns .feature-enabled {
    width: 32px;
}

.feature-text-container {
	padding: 0 15px;
	width: 82%;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	margin: 5px 0 0 0;
 	float: right;
	border-right: 6px solid #F87C45;
}

.feature.two-columns .feature-text-container {
    width: 360px;
}

.feature-header {
	font-size: 30px;
	margin: 0px;
	color: black;
	font-weight: 400;
	cursor: pointer;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.feature-header-edit {
	padding: 0;
	font-size: 30px;
	font-family: inherit;
	font-weight: 400;
	margin: 0px;
	display: none;
	border: none;
	background-color: rgba(0, 0, 0, 0.15);
	color: inherit;
	outline: none;
	width: 100%;
}

.feature-description {
	font-size: 18px;
	font-weight: 300;
	color: #666666;
	margin: 0;
	line-height: 2;
	text-align: justify;
	white-space: pre-wrap;
	cursor: pointer;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.feature-description-edit {
	font-size: 18px;
	font-weight: 300;
	font-family: inherit;
	color: #666666;
	margin: 10px 0 0 0;
	line-height: 2;
	text-align: justify;
	white-space: pre-wrap;
	display: none;
	border: none;
	background-color: rgba(0, 0, 0, 0.15);
	color: inherit;
	outline: none;
	width: 100%;
	resize: none;
	padding: 0;
}

.feature-image {
	padding: 0 15px;
	float: left;
	width: 13%;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	font-size: 80px;
 	cursor: pointer;
}

.feature-image i {
	vertical-align: top;
}

.feature-image img {
	max-width: 100%;
	cursor: pointer;
}
