/* Section Options */
#section-enabled {
	margin: 0 0 30px 0;
}

#section-enabled-text {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	font-size: 14px;
	font-weight: 400;
	margin: 0 auto;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	text-align: center;
}

#section-enabled-checkbox {
	margin: 0 10px 0 0;
	vertical-align: middle;
}

#section-enabled-text label {
	cursor: pointer;
	vertical-align: middle;
	line-height: 1.5;
}


/* Footer */
#footer {
	text-align: center;
	padding: 30px;
	margin: 50px 0 0 0;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
}

.social-icon {
	display: inline-block;
	font-size: 25px;
	vertical-align: middle;
	margin-right: 20px;
	cursor: pointer;
}

.social-icon i {
	vertical-align: middle;
	color: #555555;
}

.social-icon input[type="text"] {
	margin: 0 0 0 5px;
	width: 150px;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
	font-size: 12px;
	font-weight: 300;
	background-color: transparent;
	font-family: inherit;
	border: none;
	background-color: rgba(0,0,0, 0.15);
	outline: none;
	vertical-align: middle;
	display: none;
}

.footer-message {
	display: inline-block;
	vertical-align: middle;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	cursor: pointer;
}

.footer-message span {
	vertical-align: middle;
}

.footer-message input[type="text"] {
	width: 300px;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
	font-size: 14px;
	padding: 5px;
	background-color: transparent;
	font-family: inherit;
	border: none;
	background-color: rgba(0,0,0, 0.15);
	outline: none;
	vertical-align: middle;
	display: none;
}

.footer-custom {
	/* background-color: lightgrey; */
	min-height: 150px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 50px;
	cursor: pointer;
	padding-top: 30px;
}

#footer-custom-content, #footer-custom-content-pre {
	width: 100%;
	height: 100%;
	min-height: 125px;
}

#footer-custom-content-edit, #footer-custom-content-pre-edit {
	display: none;
	border: none;
	min-height: 125px;
	height: 80%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255, 0.15);
    background-color: lightgrey;
    outline: none;
    font-family: 'Open Sans', Verdana;
    font-size: 16px;
    font-weight: 300;
}