<style>
	.aqb_pyml_table {
		margin: auto;
	}
	.aqb_pyml_table td {
		padding: 10px;
	}
	.aqb_pyml_table td i {
		font-size: 20px;
		cursor: pointer;
	}
</style>

<script type="text/javascript">
	function aqb_pyml_add_row(i) {
		var el = $('.aqb_pyml_row_template').clone().removeClass('aqb_pyml_row_template').appendTo($('.aqb_pyml_table')).show();
	}
</script>

<form method="post">
<table cellpadding="0" cellspacing="0" class="aqb_pyml_table">
	<tr>
		<td>
			<div class="bx-form-caption bx-def-font-inputs-captions" style="font-size: 20px;"><strong><bx_text:_aqb_pyml_field /></strong></div>
		</td>
		<td>&nbsp;</td>
		<td><i class="sys-icon plus-circle" onclick="aqb_pyml_add_row(this);"></i></td>
	</tr>
	<tr style="display: none;" class="aqb_pyml_row_template">
		<td>
			<div class="bx-form-value clearfix">
				<div class="input_wrapper input_wrapper_select clearfix">
					<select class="form_input_select bx-def-font-inputs" name="fields[]" onchange="$('input[type=radio]', $(this).closest('tr')).attr('name', 'types['+this.value+']');">
							<option value="0"></option>
						<bx_repeat:fieldsoptions_template>
							<option value="__ID__">__Name__</option>
						</bx_repeat:fieldsoptions_template>
					</select>
				</div>
			</div>
		</td>
		<td>
			<div class="bx-form-value clearfix">
				<div class="input_wrapper input_wrapper_text clearfix" style="height: auto;">
					<label><input class="form_input_radio bx-def-font-inputs" name="types[0]" value="on" type="radio" checked="checked"><bx_text:_aqb_pyml_field_match /></label>
					<label><input class="form_input_radio bx-def-font-inputs" name="types[0]" value="on" type="radio"><bx_text:_aqb_pyml_field_dontmatch /></label>
				</div>
			</div>
		</td>
		<td>
			<i class="sys-icon minus-circle" onclick="$(this).closest('tr').remove();"></i>
		</td>
	</tr>
	<bx_repeat:fields>
	<tr>
		<td>
			<div class="bx-form-value clearfix">
				<div class="input_wrapper input_wrapper_select clearfix">
					<select class="form_input_select bx-def-font-inputs" name="fields[]" onchange="$('input[type=radio]', $(this).closest('tr')).attr('name', 'types['+this.value+']');">
						<bx_repeat:fieldsoptions>
							<option value="__ID__" __selected__>__Name__</option>
						</bx_repeat:fieldsoptions>
					</select>
				</div>
			</div>
		</td>
		<td>
			<div class="bx-form-value clearfix">
				<div class="input_wrapper input_wrapper_text clearfix" style="height: auto;">
					<label><input class="form_input_radio bx-def-font-inputs" name="types[__field__]" value="match" type="radio" __match_checked__><bx_text:_aqb_pyml_field_match /></label>
					<label><input class="form_input_radio bx-def-font-inputs" name="types[__field__]" value="dontmatch" type="radio" __dontmatch_checked__><bx_text:_aqb_pyml_field_dontmatch /></label>
				</div>
			</div>
		</td>
		<td>
			<i class="sys-icon minus-circle" onclick="$(this).closest('tr').remove();"></i>
		</td>
	</tr>
	</bx_repeat:fields>
</table>

<div>
	<div class="input_wrapper input_wrapper_submit clearfix">
		<input class="form_input_submit bx-btn" name="save_fields" value="<bx_text:_Save />" type="submit" style="float:none; margin: auto;" />
	</div>
</div>
</form>