<script type="text/javascript">
	$(document).ready(function(){
		$('.aqb_pyml_profile').
			mouseenter(function(){ $('.aqb_pyml_popup_info', this).fadeIn();}).
			mouseleave(function(){ $('.aqb_pyml_popup_info', this).hide();})
	});
</script>

<bx_repeat:profiles>
<div class="aqb_pyml_profile">
	
    
    <!-- AQB Soft: Befriend -->
			<bx_if:befriend>
            __thumb__
				<div class="aqb-guest-actions">
					<button class="ConnectNetwork" onclick="$.post('list_pop.php?action=friend', {ID: __id__}, function(sData){document.location.href=document.location.href;}); return false;">
						<i class="sys-icon user-plus"></i> <bx_text:_aqb_gst_btn_befriend />
					</button>
				</div>
			
    
	<div class="disignBoxFirst bx-def-border aqb_pyml_popup_info">
    	<bx_repeat:fields>
    		<div>
    			  <strong>__field_name__:</strong> __field_value__
    		</div>
    	</bx_repeat:fields>
    </div>
    
    </bx_if:befriend>
			<!-- AQB Soft: Befriend -->
    
</div>
</bx_repeat:profiles>
<div class="clear_both"></div>