::-moz-selection {
    background: #008ed6; /* Firefox */
	color: white;
}
html {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}
a {
	-webkit-transition: all 0.6s ease;                  
    -moz-transition: all 0.6s ease;                 
    -o-transition: all 0.6s ease;   
    -ms-transition: all 0.6s ease;          
    transition: all 0.6s ease;
}
a:hover {
	text-decoration: none;
	opacity: 1;
}
img {
	max-width: 100%;
}
h2 {
	color: #008ed6;
	font-size: 27px;
	font-weight: 800;
	text-align: center;
	position: relative;
	margin-bottom: 80px;
}
h2 small {
	color: #979797;
	font-size: 21px;
	font-weight: normal;
	line-height: 1.2;
}
h2:after {
	content:"";
	width: 110px;
	height: 1px;
	display: block;
	background-color: #008ed6;
	left: 50%;
	margin-left: -55px;
	position: absolute;
	bottom: -25px;
}
h2.large {
	font-size: 45px;
	line-height: 0.9;
	margin-bottom: 65px;
}
h2.large small {
	font-size: 30px;
}
h2.negative {
	color: #fff;
}
h2.negative small {
	color: #fff;
}
h2.negative:after {
	background-color: #fff;
}
.color {
	color: #dfe3ee;
}

.lead {
	color: #979797;
	font-size: 17px;
	text-align: center;
	margin-bottom: 30px;
}
.wrapper {
	padding-top: 70px;
	padding-bottom: 60px;
	width: 100%;
	background-color:#FFF;
}
.wrapper.grey {
	background-color: #f0f0f0;
}
.wrapper.dark-grey {
	background-color: #008ed6;
}
.fa.fa-chevron-down {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: bounceIn;
  
}


.fa.fa-user {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: bounceIn;
}

.wrapper.parallax {
	background-attachment: fixed;
}
.mob-nav-toggle {
	display: none;
}
/* ------------ REUSABLE CONTENT BLOCKS ------------- */
.text-image-top {
	text-align: center;
	margin-bottom: 15px;
}
.text-image-top i {
	margin-bottom: 10px;
	color: #008ed6;
}
.text-image-top h3 {
	font-size: 18px;
	color: #303030;
	font-weight: normal;
	margin-bottom: 30px;
}
.text-image-top p {
	color: #707070;
	font-size: 14px;
}

.number-image-left h2 {
	color: #fff;
	font-size: 50px;
	text-align: left;
	margin: 0px;
	line-height: 0.5;
}
.number-image-left h2 small {
	color: #fff;
	font-size: 18px;
}
.number-image-left h2:after {
	display: none;
}
.number-image-left i {
	color: #fff;
}

.text-image-left {
	margin-bottom: 35px;text-align: justify;
}
.text-image-left i {
	color: #008ed6;
}
.text-image-left h3 {
	color: #303030;
	font-size: 18px;
	position: relative;
	margin-bottom: 35px;
	margin-top: 0px;
}
.text-image-left h3:after {
	content:"";
	width: 110px;
	height: 1px;
	display: block;
	background-color: #dfdfdf;
	position: absolute;
	left: 0;
	bottom: -15px;
}
.text-image-left p {
	color: #707070;
	font-size: 14px;
}
.team-member img {
	max-width: 100%;
}
.team-member .member-info {
	background-color: #fff;
	border-bottom: 3px solid #008ed6;
	padding: 15px 5px;
	cursor: auto;
}
.team-member .member-info h4 {
	color: #008ed6;
	font-size: 18px;
	margin: 0px;
}
.team-member .member-info h4 small {
	font-size: 14px;
	color: #8c8c8c;
}
.team-member .member-info .member-social {
	text-align: right;padding: 0;
}
/* ---------- HEADER ---------- */
header.wrapper {
 
  background: #05aae9 url("../images/banner_bg.jpg"); 
  height: 100%;
  padding: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header .text-slider-wrapper {
	position: relative;
	top: 55%;
	margin-top: -60px;
}
header .text-slider {
	text-align: center;	
}
header .text-slider .slide.large-text {
	font-size: 60px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 45px;
	margin-bottom: 20px;
}
header .text-slider .slide.large-text small {
	font-size: 27px;
	text-transform: none;
	font-weight: normal;
}

header .arrow-down {
	text-align: center;
	font-size: 2em;
	position: relative;
	top: 55%;
}
header .arrow-down a {
	color: #fff;
	opacity: 0.5;
}
header .arrow-down a:hover {
	opacity: 1;
}
nav .nav-menu .nav > li.active > a, nav .nav-menu .nav > li:hover > a, nav .nav-menu .nav > li > a:focus {
  outline: 0 none;
}
/* ---------- NAV/LOGO/SOCIAL MEDIA ---------- */
nav.wrapper {
	padding: 12px 0;
	border-bottom: 1px solid #dfdfdf;
	background-color: #fff;
	z-index: 950;
	position: absolute;
}
nav .logo a h1 {
	font-size: 30px;
	font-weight: 800;
	color: #303030;
	margin: 0px;
	margin-bottom: 4px;
}
nav .nav-menu .nav > li > a {
	color: #a4a4a4;
	font-size: 14px;
	margin: 0px;
	padding: 0px 10px;
	margin-right: 10px;
	line-height: 36px;
	border: 1px solid transparent;
}
nav .nav-menu .nav > li:last-child > a {
	margin-right: 0px;
}
nav .nav-menu .nav > li.active > a, nav .nav-menu .nav > li:hover > a, nav .nav-menu .nav > li > a:focus {
	background: none;
	color: #008ed6;
	border-radius: 0px;
}
nav .social-media-icons {
	text-align: right;
	margin-top: 7px;
}
nav .social-media-icons ul {
	margin: 0px;
}
nav .social-media-icons ul li a {
	opacity: 0.7;
}
nav .social-media-icons ul li a:hover {
	opacity: 1;
}
nav .mob-nav-wrapper {
	margin-top: 10px;
	display: none;
}
nav .mob-nav-wrapper .mob-nav {
	margin-bottom: 0px;
	padding: 0px;
	list-style: none;
}
nav .mob-nav-wrapper .mob-nav li {
	padding: 10px 0px;
	border-bottom: 1px solid #dfdfdf;
}
nav .mob-nav-wrapper .mob-nav li:last-child {
	border: none;
}
nav .mob-nav-wrapper .mob-nav li a {
	width: 100%;
	color: #a4a4a4;
	display: block;
}
nav .mob-nav-wrapper .mob-nav li a:focus {
	outline: 0 none;
}
nav .mob-nav-wrapper .mob-nav li a:hover {
  color: rgb(0, 142, 214);
}
/* --------- ABOUT ---------- */
#about {
	padding-top: 90px;
}
#about .lead {
	margin-bottom: 55px;
}
/* ---------- NUMBERS ---------- */
#numbers {
	background: url("../images/computer.jpg") repeat fixed center bottom rgba(0, 0, 0, 0);
	padding-top: 55px;
	padding-bottom: 55px;
	display: none;
}
#numbers .number-image-left {
	margin-top: 25px;
	margin-bottom: 20px;
}
/* ------- OUR CLIENTS ----------- */
#our-clients {
	position:relative;
	padding-bottom: 70px;
	padding-top: 50px;
	background: url("../images/clients.jpg");
	background-repeat: no-repeat;
  	background-attachment: scroll;
  	background-size: cover;
  	background-color: #000;
}
#our-clients h2 {
	margin-bottom: 70px;
}
#our-clients .client-logo {
	text-align: center;
}
/* ------ QUOTE ----------- */
#quote {
	background: url("../images/bg_testi.jpg");
	padding-top: 70px;
	padding-bottom: 65px;
	background-repeat: no-repeat;
  	background-attachment: scroll;
  	background-size: cover;
  	background-position: center top;
  	background-color: #000;
}
#quote blockquote {
	text-align: center;
	margin: 0px;
	border: none;
	position: relative;
}
#quote blockquote:before {
	content: "";
	display: block;
	width: 59px;
	height: 44px;
	background: url('../images/quote-icon.png') no-repeat top left;
	position: absolute;
	top: -10px;
	left: 0px;
}
#quote blockquote:after {
	content: "";
	display: block;
	width: 59px;
	height: 44px;
	background: url('../images/quote-icon.png') no-repeat top left;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
#quote blockquote p {
	color: #fff;
	font-size: 21px;
}
#quote blockquote footer {
	font-size: 18px;
	color: #fff;
}
/* ------- TEAM ----------- */
#team-1 h2 {
	margin-bottom: 40px;
}
#team-2 {
	position: relative;
	padding-top: 55px;
	padding-bottom: 55px;
}
#team-2:before {
	background-color: #F0F0F0;
	content:'';
	position: absolute;
	width: 40px;
	height: 40px;
	top: -20px;
	left: 50%;
	margin-left: -20px;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.team-member {
	padding: 0 15px;
}
/* --------- PORTFOLIO ----------- */
#portfolio-1 {
	text-align: center;
}
#portfolio-1 h2 {
	margin-bottom: 65px;
}

#portfolio-1 .filter-menu {
	margin: 10px;
}
#portfolio-1 .filter-menu li {
	padding: 0px 10px;
}
#portfolio-1 .filter-menu .filter {
	cursor: pointer;
	color: #959595;
	font-size: 16px;
}
#portfolio-1 .filter-menu .filter:hover {
	color: #303030;
}
a.filter {
	padding: 2px 10px;
	border: 1px solid transparent;
}
#portfolio-1 .filter-menu .filter.active {
	border: 1px solid #008ed6;
	color: #008ed6;
	border-radius: 26px;
}
#portfolio-2 {
	padding: 0px;
}
.portfolio-item {
	width: 25%;
	float: left;
	display: none;
	position: relative;
}
.portfolio-item .overlay {
	background: none repeat scroll 0 0 rgba(0, 142, 214,.6);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 60px;
	opacity: 0;
	-webkit-transition: all 0.6s ease;                  
    -moz-transition: all 0.6s ease;                 
    -o-transition: all 0.6s ease;   
    -ms-transition: all 0.6s ease;          
    transition: all 0.6s ease;
}
.portfolio-item:hover .overlay {
	opacity: 1;
}
.portfolio-item .overlay i {
	color: #fff;
	margin-bottom: 15px;
}
.portfolio-item .overlay h4 {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
.portfolio-item .overlay h5 {
	color: #fff;
	font-size: 16px;
}
.portfolio-item:hover .overlay h4, .portfolio-item:hover .overlay h5,.portfolio-item:hover .overlay i {
    top: 0;
    transition: all 0.5s ease 0s;
}
.portfolio-item .overlay h4, .portfolio-item .overlay h5 {
    position: relative;
    top: 160px;
    transition: all 0.5s ease 0s;
}
.portfolio-item .overlay i {
    position: relative;
    top: -150px;
    transition: all 0.5s ease 0s;
}
/* --------- CONTACT ----------- */
.form-control-feedback {
	top: 30px;
	right: 5px;
}
.has-feedback .form-control-feedback, .has-feedback .glyphicon-remove,  .has-feedback .glyphicon-ok {
	display: none;
}
.has-feedback.has-success .glyphicon-ok {
	display: block;
}
.has-feedback.has-error .glyphicon-remove {
	display: block;
}
#contact-1 h2 {
	margin-bottom: 35px;
}
#contact-2 {
	background: url("../images/bg_map.jpg") repeat fixed 0 bottom rgba(0, 0, 0, 0);
	height: 450px;
	padding-top: 50px;
}
#contact-2 .map-pointer {
	background-color: #008ed6;
	padding: 22px 30px;
	display: block;
	width: 150px;
	text-align: center;
	position: relative;
	margin: 0 auto;
	margin-top: 90px;
}
#contact-2 .map-pointer:after {
	background-color: #008ed6;
	content:'';
	position: absolute;
	width: 20px;
	height: 20px;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
#contact-3 {
	padding-bottom: 80px;background-color: #fff;
}
#contact-3 .contact-form {
	padding: 50px 60px;
	padding-right: 40px;
}
#contact-3 .contact-form label {
	color: #303030;
	font-size: 14px;
	font-weight: normal;
	margin-left: 7px;
}
#contact-3 .contact-form .form-control {
	border-radius: 0px;
	box-shadow: none;
	font-size: 14px;
	height: 45px;
}
#contact-3 .contact-form textarea.form-control {
	height: auto;
}
#contact-3 .contact-form .btn {
	background-color: #008ed6;
	border-radius: 0px;
	color: #fff;
	margin: 15px 0;
	font-weight: bold;
	padding: 12px 20px;
	border: none;
	-webkit-transition: all 0.6s ease;                  
    -moz-transition: all 0.6s ease;                 
    -o-transition: all 0.6s ease;   
    -ms-transition: all 0.6s ease;          
    transition: all 0.6s ease;
}
#contact-3 .contact-form .btn:hover {
	opacity: 0.7;
}
#contact-3 .contact-info {
	padding: 50px 60px;
	padding-left: 40px;
}
#contact-3 .contact-info h3 {
	color: #008ed6;
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 25px;
}
#contact-3 .contact-info .contact-item {
	margin-top: 20px;
}
#contact-3 .contact-info .contact-item i {
	color: #008ed6;
}
#contact-3 .contact-info .contact-item h5 {
	color: #303030;
	font-size: 17px;
	margin: 0px;
	font-weight: 400;
}
/* --------- FOOTER ----------- */
footer.wrapper {
	padding: 20px 0px;
}
footer .copyright {
	text-align: left;
}
footer .copyright p {
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 0px;
}
footer .arrow-up {
	text-align: center
}
footer .arrow-up p {
	margin: 0px;
	color: #737373;
}
footer .arrow-up p a {
	color: #737373;
}
footer .social-media-icons-dark {
	text-align: right;
}
footer .social-media-icons-dark ul {
	margin: 0px;
}
footer .social-media-icons-dark ul li a {
	opacity: 0.7;
}
footer .social-media-icons-dark ul li a:hover {
	opacity: 1;
}
.arrow-up a i::before {
  color: #fff;
}
.social-media-icons-dark i {
  color: #ffffff;
}
.social-media-icons-dark a:hover i {
  transform: rotate(30deg);
  transition: all 1s ease 0s;
}
.social-media-icons-dark a i {
  transition: all 1s ease 0s;
}
/* ------------ DARK --------------- */

.dark .wrapper {
	background-color: #1F1F1F;
}
.dark .wrapper.grey {
	background-color: #000;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
	color: #fff;
}
.dark p {
	color: #c6c6c6;
}
.dark nav.wrapper {
	border-bottom: 1px solid #505050;
}
.dark nav .logo a h1 {
	color: #fff;
}
.dark nav .nav-menu .nav > li > a {
	color: #c6c6c6;
}
.dark nav .nav-menu .nav > li.active > a, .dark nav .nav-menu .nav > li:hover > a, .dark nav .nav-menu .nav > li > a:focus {
	color: #fff;
}
.dark #team-2:before {
	background-color: #000;
}
.dark .team-member .member-info {
	background-color: #1F1F1F;
}
.dark .team-member .member-info h4 {
	color: #fff;
}
.dark #contact-3 .contact {
	background-color: #1F1F1F;
}
.dark #contact-3 .contact-info h3 {
	color: #fff;
}
.dark #contact-3 .contact-info .contact-item h5 {
	color: #fff;
}
.dark #contact-3 .contact-form label {
	color: #fff;
}
.dark #contact-3 .contact-form .form-control {
	background-color: #787878;
	border: none;
	color: #fff;
}
/* --------- ANIMATATION ----------- */
.animated {
-webkit-animation-duration: 3s;
animation-duration: 3s;
}
.owl-carousel .animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
}
.text-image-left:hover i {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: swing;
  transform-origin: center top 0;
  transition: all 4s ease 0s;
}
/* --------- POINTER ----------- */
.owl-carousel:hover {
cursor: url(../images/storm_cursor.png), move;
}
/* --------- Forms ----------- */
.form-control {
border: 1px dashed #008ed6;
}
#contact-form .glyphicon {
  display: none;
}
#contact-form label.error {
  display: none !important;
}
#contact-form .required.error {
  border: 1px dashed #ff0000;
}
#contact-form .required.valid {
  border: 1px dashed #3c763d;
}
#contact-form .error .glyphicon-remove {
  display: block;
  color: #a94442;
}
#contact-form .valid .glyphicon-ok {
  display: block;
  color: #3c763d;
}
/* --------- RESPONSIVE ----------- */
@media (max-width: 1199px) {
	.team-member {
		margin-bottom: 30px;
	}
	#team-2 {
		padding-bottom: 35px;
	}
	.portfolio-item .overlay {
		padding-top: 39px;
	}
}
@media (max-width: 991px) {
	header .text-slider .slide.large-text {
		font-size: 45px;
	}
	nav .social-media-icons {
		display: none;
	}
	nav .nav.full {
		display: none;
	}
	.mob-nav-toggle {
		display: block;
		cursor: pointer;
		text-align: right;
		margin-top: 5px;
		color: #979797;
	}
	.client-logo {
		margin-bottom: 40px;
	}
	#our-clients {
		padding-bottom: 30px;
	}
	.portfolio-item {
		width: 33.333%;
	}
	.portfolio-item .overlay {
		padding-top: 50px;
	}
	#contact-3 .contact-form {
		padding: 50px 40px;
	}
	#contact-3 .contact-info {
		padding: 70px 40px;
		padding-top: 40px;
		text-align: center;
		border-top: 1px solid #F0F0F0;
	}
	#contact-3 .contact-info .contact-item h5 {
		font-size: 15px;
		line-height: 19px;
	}
	#contact-3 .contact-info .contact-item i {
		margin-bottom: 20px;
	}
}
@media (max-width: 767px) {
	header .text-slider .slide.large-text {
		font-size: 35px;
	}
	.text-image-top {
		margin-bottom: 30px;
	}
	.number-image-left {
		text-align: center;
		margin-bottom: 40px;
	}
	.number-image-left h2 {
		text-align: center;
	}
	.number-image-left i {
		margin-bottom: 25px;
	}
	.text-image-left {
		text-align: center;
	}
	.text-image-left i {
		margin-bottom: 25px;
	}
	.text-image-left h3:after {
		left: 50%;
		margin-left: -55px;
	}
	.portfolio-item {
		width: 50%;
	}
	.portfolio-item .overlay {
		padding-top: 23%;
	}
	.portfolio-item .overlay i {
		font-size: 2em;
	}
	.team-member {
		text-align: center;
	}
	.team-member .member-social {
		display: none;
	}
	#contact-3 {
		padding-bottom: 0px;
	}
	footer {
		text-align: center;
	}
	footer .copyright {
		text-align: center;
		margin-bottom: 15px;
	}
	footer .arrow-up {
		display: none;
	}
	footer .social-media-icons-dark {
		text-align: center;
	}
}
@media (max-width: 480px) {
	header .text-slider .slide.large-text {
		font-size: 25px;
	}
	.team-member {
		width: 100%;
		float: left;
	}
	.portfolio-item .overlay {
		padding-top: 17%;
	}
	.portfolio-item .overlay i {
		margin-bottom: 5px;
	}
	.portfolio-item .overlay h4 {
		font-size: 15px;
	}
	header .text-slider .slide.large-text, header .text-slider .slide.large-text small {
  		font-size: 20px;
	}
}
@media (max-width: 400px) {
	.portfolio-item {
		width: 100%;
	}
	.portfolio-item .overlay {
		padding-top: 23%;
	}
	.portfolio-item .overlay i {
		font-size: 2em;
	}
	header .text-slider-wrapper {
	  top: 45%;
}
	header .arrow-down {
	  top: 50%;
}
}