<!-- freddy ajout des icones à __go_inbox__  __go_outbox__  __go_trash__  __go_compose__ -->
<bx_if:menu_position_bottom>
    <div class="content extra_menu_subitem_container">        
        <a href="<bx_url_root />mail.php?mode=inbox"> <i class="sys-icon envelope-square"></i> __go_inbox__ (__inbox_count__)</a>
    </div>
    <div class="content extra_menu_subitem_container">        
        <a href="<bx_url_root />mail.php?mode=outbox"><i class="sys-icon send-o"></i> __go_outbox__ (__outbox_count__) </a> 
    </div>
    <div class="content extra_menu_subitem_container">
        <a href="<bx_url_root />mail.php?mode=trash"><i class="sys-icon trash"></i> __go_trash__  (__trash_count__) </a>
    </div>
    <div class="content extra_menu_subitem_container">
        <a href="<bx_url_root />mail.php?mode=compose"><i class="sys-icon plus-circle"></i> __go_compose__</a> 
    </div>
</bx_if:menu_position_bottom>
<bx_repeat:new_message>
	<div class="extra_menu_list">
	    <table>
	        <tbody>
	            <tr>
	                <td class="icon">
	                    __thumbnail__
	                </td>
	                <td valign="top">
	                   <!-- freddy modif 
                        <a href="__sender_link__" class="message">__sender_nick__</a>
                        -->
                        <a href="<bx_url_root />mail.php?mode=view_message&messageID=__message_id__" class="message">__sender_nick__</a>
	                    <div class="message_caption">
	                        <a href="<bx_url_root />mail.php?mode=view_message&messageID=__message_id__" class="msg_link">__msg_caption__</a>
	                    </div>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</bx_repeat:new_message>
<bx_if:menu_position_top>
    <div class="content extra_menu_subitem_container">
        <a href="<bx_url_root />mail.php?mode=inbox">__go_inbox__</a> (__inbox_count__)
    </div>
    <div class="content extra_menu_subitem_container">
        <a href="<bx_url_root />mail.php?mode=outbox">__go_outbox__</a> (__outbox_count__)
    </div>
    <div class="content extra_menu_subitem_container">
        <a href="<bx_url_root />mail.php?mode=trash">__go_trash__</a> (__trash_count__)
    </div>
    <div class="content extra_menu_subitem_container">
        <a href="<bx_url_root />mail.php?mode=compose">__go_compose__</a> 
    </div>
</bx_if:menu_position_top>