<!-- freddy modif
 <span class="one_tag" style="font-size:__tagSize__px;"><a href="__tagHref__" title="__countCapt__: __countNum__">__tag__</a></span>
 -->
  <span style=' text-transform: capitalize;  background-color: #fefeff;  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);padding: 5px;display: inline-block;font-size: 14px;font-weight:500;margin-right: 3px;margin-bottom: 3px;overflow: hidden; color:  #666; border: 1px solid #fefeff; white-space: normal;text-overflow: ellipsis;'>
    <a href="__tagHref__" title="__countCapt__: __countNum__">__tag__</a>
  </span>
