.actionsBlock .actionItem {
	position: relative;
	float: left;

	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;

    box-sizing: border-box;
}

.actionsBlock .actionItemOdd {
	clear: left;
	padding-left: 0px;
	padding-right: 0px;
}

.actionsBlock .actionItemEven {
	clear: left;
	padding-left: 0px;
	padding-right: 0px;
}

.social{
	text-align:center;
}

#sys_manage_items_manage_fans_content { 
	max-height:280px; 
	overflow-y:auto;
}
 
.sys-icon.youtube-square:before {
  content: "\f166";
}
.sys-icon.youtube:before {
  content: "\f167";
}

#title_curr {
	text-align:center;
	font-weight:bold;
}
 
.topic-link{padding:.1em .5em .2em;background-color:#e2e2e2;display:inline;display:-moz-inline-block;display:inline-block;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
 
.topic-hover{width:auto!important;background-color:#EDEFED;margin:1em 0 0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
 
 

/* update 7.1 */
table.modzzz_professional_fields {
    border-collapse:collapse;
    border-spacing:0px; 
}

td.modzzz_professional_field_name {
    padding-bottom:10px;
    text-align:left;
}

td.modzzz_professional_field_value {
    padding-bottom:10px;
    text-align:left;
}

.modzzz_professional_profile_unit {
    overflow:hidden;
    float:left;
}