<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!--
<div class="thumbnail_block_espace_job thumbnail_block_with_info" style="float:none;">

		
            
         <div class="thumbnail_image_entreprise_home" >
				__thumbnail__  
	    </div>	
   </div>	
   <div class="clear_both"></div> 
   -->
    
   
    <div class="CSSBusinessListingHome" >
   <table >
       <tr>
      <td >
      <!-- <div class="ConnectHomeBusinessDirectory"><i class="sys-icon search"> </i>   <bx_text:_modzzz_listing_titre_home_page />  </div>-->
        <div class="thumbnail_image_entreprise_home" >
				__thumbnail__  
	    </div>	
        <div>
           <button class="ConnectNetworkBlue"  onclick="window.open ('m/listing/search','_self');">
			     <i class="sys-icon search"> </i> <bx_text:_modzzz_listing_titre_home_page /> 
		    </button>
           </div>
     <!--
      <div>
                      <button class="ConnectNetworkBlue"  onclick="window.open ('member.php','_self');">
                          <i class="sys-icon dashboard"> </i> <i class="sys-icon user"> </i> __FirstName__ __LastName__
                        </button>
      </div>
      -->
       </td>
      </tr>   
     </table>
    </div>
 
    
   
    
     <div class="CSSBusinessListingHome" >
   <table >
       <tr>
      <td >
      
    
    
     <bx_if:FactureInvoice> 
       <div>  
         <button class="espaceemploibouton"  onclick="window.open ('m/listing/browse/my&filter=my_pending_invoices','_self');">
       <span style="color:red; font-size:18px;"><strong>  <i class="fa fa-warning"></i>  </strong></span>
        <!-- <bx_text:_modzzz_listing_avez_invoice_facture /> --><strong>__FactureInvoiceCount__</strong> __FactureCaption__ <span style="font-size:20px"> <i class="fa fa-hand-o-left"></i> </span> 
        
     </button>
     </div> 
         
   </bx_if:FactureInvoice> 
   
   
   
   
      
       <bx_if:Entreprises_Nombre> 
       <div>  
         <button class="espaceemploibouton"  onclick="window.open ('__Business_Link__','_self');">
       <span style="color:#3b5998; font-size:18px;"><strong> <i class="sys-icon briefcase"> </i> </strong></span>
         <bx_text:_modzzz_listing_avez_creer /> <strong>__BusinessCount__</strong> __Business_caption__ <span style="font-size:20px"> <!--<i class="fa fa-hand-o-left"></i>--> </span> 
        
     </button>
     </div> 
         
   </bx_if:Entreprises_Nombre> 
     
     
         
    <bx_if:Entreprises_Favorites> 
           <div>  
         <button class="espaceemploibouton"  onclick="window.open ('m/listing/browse/favorite','_self');">
        <span style="color:#3b5998; font-size:18px;"> <strong><i class="sys-icon heart-o"> </i></strong> </span> 
         <bx_text:_modzzz_listing_ajouter_favorite /> <strong>__FavoriteEntreprises__</strong>  __FavoriteCaption__ <span style="font-size:20px"><!-- <i class="fa fa-hand-o-left"></i>--> </span> 
        
         </button>
         </div> 
   </bx_if:Entreprises_Favorites> 
 
        <bx_if:go_to_your_space_caption> 
          <!--
           <div> 
              <button class="ConnectNetwork"  onclick="window.open ('m/listing/browse/my','_self');">
			    <span style="font-size:20px"> <i class="fa fa-eye"></i> </span>  <bx_text:_modzzz_listing_acceder_votre_espace />
		     </button>
           </div> 
           -->
           
            <div> 
           <button class="InscriptionSearch"  onclick="window.open ('m/listing/browse/my&filter=add_listing','_self');">
            <i class="fa fa-desktop"></i> <i class="sys-icon user"> </i> <bx_text:_modzzz_listing_inscription_autre /> 
           </button>
           </div>
         
        <!--
         <div>
           <button class="ConnectNetworkGris"  onclick="window.open ('m/listing/browse/my','_self');">
			     <i class="sys-icon briefcase"> </i>  <bx_text:_modzzz_listing_create_another_business_page />
		    </button>
           </div>
           -->
           <!-- <div><span style=" font-size:11px;">   <bx_text:_modzzz_listing_dirigeant_plusieurs_entreprises /> </span></div>-->
			
        </bx_if:go_to_your_space_caption>   
      
      <bx_if:membre_sans_page_entreprise> 
       
          <div> 
           <button class="InscriptionSearch"  onclick="window.open ('m/listing/browse/my&filter=add_listing','_self');">
            <i class="fa fa-desktop"></i> <i class="sys-icon user"> </i><bx_text:_modzzz_listing_inscription /> 
           </button>
           </div>
           
             <div class="cta-advantages">
           <button class="btn-advantages"  onclick="window.open ('page/avantages-page-entreprise','_self');">
			    <i class="fa fa-circle-info"></i> <<bx_text:_modzzz_listing_details_avantages />
		    </button>
            
         <p class="cta-subtext">
         <bx_text:_modzzz_listing_details_avantages_sous_tire /> 
   
  </p>    
           </div>
           
           
       

 
        </bx_if:membre_sans_page_entreprise>   
        
       
       </td>
  
      </tr>   
       
    
     </table>
    </div>
    
    
        <div class="clear_both"></div> 
        
    