#modzzz_news_admin_listing .block_cont {
    padding:1px;
}

table.modzzz_news_actions {
    border-collapse:collapse;
    margin:5px;
    width:100%;
}

table.modzzz_news_actions td {
    width:33%;
    text-align:center;
}

.modzzz_news_manage_wrapper {
    padding:0;
}
