#modzzz_charity_admin_charity .block_cont {
    padding:1px;
}

table.modzzz_charity_actions {
    border-collapse:collapse;
    margin:5px;
    width:100%;
}

table.modzzz_charity_actions td {
    width:33%;
    text-align:center;
}

.modzzz_charity_manage_wrapper {
    padding:0;
}
