/* Backgrounds ----------------------------------------------------------*/

h2, h3, h4, .contact-us h6, .services h4, .rate, #contact h3 i, .footer ul li a i, .fa.fa-quote-left, .prices-block-rate, .services-block i, .btn-primary:hover, .portfolio ul li a i, .team-social ul li a i{
	color:#4ABD3A;
}
.prices-flipy:hover .join-button a, .facts-block:hover .circle-icon-mini, header, .header-block ul.dropdown-menu, .circle-icon-mini:hover, .join-button a:hover,  #theme-options .title, #theme-options .title span,  #theme-options .layout-style li.active, .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background-color:#4ABD3A;
}
.prices-block, .prices-block1:hover {
  border-top: 2px solid #4ABD3A;
}