<div id="auth_sim_button">
    <form method="post" action="__action__"> 
        <input type="hidden" name="x_login" value="__x_login__" /> 
        <input type="hidden" name="x_amount" value="__x_amount__" />
        <input type="hidden" name="x_description" value="__x_description__" />
        <input type="hidden" name="x_invoice_num" value="__x_invoice_num__" />
        <input type="hidden" name="x_method" value="CC" />
        <input type="hidden" name="x_receipt_link_url" value="__x_receipt_link_url__" />
        <input type="hidden" name="x_receipt_link_text" value="__x_receipt_link_text__" />
        <input type="hidden" name="x_receipt_link_method" value="__x_receipt_link_method__" />
        
        <bx_if:an_test>
            <input type="hidden" name="x_test_request" value="TRUE" />
        </bx_if:an_test>
        
        <input type="hidden" name="x_fp_sequence" value="__x_fp_sequence__" />
        <input type="hidden" name="x_fp_timestamp" value="__x_fp_timestamp__" />
        <input type="hidden" name="x_fp_hash" value="__x_fp_hash__" />
        <input type="hidden" name="x_cust_id" value="__x_cust_id__" />
        <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
        <input type="hidden" name="x_cancel_url" value="__x_cancel_url__" />
        <input type="hidden" name="x_cancel_url_text" value="__x_cancel_url_text__" />
        <!--<input type="image" name="submit-pp" src="<bx_url_root />modules/harvest/memberships/images/paypal.gif" alt="PayPal"  />-->
		<div class="button_wrapper">
			<input type="submit" class="form_input_submit bx-btn" name="submit-pp" alt="Authorize.net" value="<bx_text:_Checkout_with_Authorize />"  />
		</div>
    </form>
</div>