<div id="upgrade_container">

<!--
 <div class="MessagePremium" >
          <table >
           <tr>
            <td>
               <div> <bx_text:_dol_subs_block_wide /><div>
            </td>
            </tr>
            </table>
            </div>
        -->

	<!-- <table class="upgrade" cellspacing="0"> -->
    <table class="PaymentPremium" cellspacing="0" style=" margin-top:0px;">
 
	<bx_repeat:memberships>
		<bx_if:last>
          <tr class="__last_tr__">
        </bx_if:last>

			<!-- <td class="mlevel_icon"><img src="__mlevel_icon__" alt="__mlevel_id__" /></td> -->
			
            
         <td class="mlevel_info">
           
                 <div class="mlevel_icon">
                         <!-- <img style=" height:32px; width:32px;" src="__mlevel_icon__" alt="__mlevel_id__" />-->
                      <h3 class="memlevel">	 <img style=" height:32px; width:32px;" src="__mlevel_icon__" alt="__mlevel_id__" />
                         <span style="color:#3b5998; font-size:20px;"> __mlevel_name__</span> 
                        
                      <br /> <span style="color:#6d84b4; font-size:20px;">__mlevel_price__ <!--/ <bx_text:_dol_subs_freddy_par_an />--></span>
                     <br /> <span class="description">__mlevel_desc__</span> 
                          <span class="order_form"><span style="font-size:20px"> <!--<i class="sys-icon trophy"></i>-->__form_code__</span></span>
                      </h3>
                      
                      
				  
                  </div>
                 
              
                
               
                
                
				<!--
                <h3 class="memlevel">
					freddy
                    <a onclick="javascript:window.open('__explain_url__', '', 'width=660, height=500, menubar=no, status=no, resizable=no, scrollbars=yes, toolbar=no, location=no');" href="javascript:void(0);">
					__mlevel_name__</a>
                   
                   <span style="color:#3b5998"> __mlevel_name__</span>
                    
				</h3>
                -->
				
			</td>					
			<!--
            <td>     <span class="description">__mlevel_desc__</span> 
				<div class="mlevel_price">
					<span style="color:#6d84b4"><strong>__mlevel_price__</strong> <bx_text:_dol_subs_freddy_par_an /></span>
                    
				</div>
				<div class="mlevel_length">
					__mlevel_length__
				</div>	
                	
				<div class="order_form">	
               <br>	<span style="font-size:20px" <i class="sys-icon trophy"></i><br>					
					__form_code__
				</div>
			</td>
            -->
		</tr>
		<tr class="last_tr"><td colspan="5"><div id="an_form-__mlevel_id__" style="display:none"></div></td></tr>
	</bx_repeat:memberships>
	</table>
</div>





<!--
<div class="PaymentPremiumComparaison" >
          <table >
           <tr>
            <td>
              <br /> <div style="font-size:18px;"> <bx_text:_dol_subs_block_comparaison /><div>
            </td>
            </tr>
            </table>
            </div>

 <div class="PaymentPremiumComparaison" >
          <table >
           <tr>
            <td width="50%">
             
            </td>
              
              
            <td width="25%">
              <b><span style="font-size:24px;"><i class="sys-icon trophy"></i></span>
              <br /> Professionnel</b>
            </td>
            
            <td width="25%">
              <b><span style="font-size:24px;"><i class="sys-icon user"></i> </span>
              <br />Particulier</b>
            </td>
            </tr>
            
            
              <tr>
            <td width="50%">
              <span style="font-size:20px;">  <i class="sys-icon black-tie"></i> </span><br />
              Postuler à des offres d'emploi et de formation en 1 clic
            </td>
            <td width="20%">
              <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span> Oui
            </td>
            <td width="25%">
           <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span>  Oui
            </td>
            </tr>
            
            <tr>
            <td width="50%">
            <span style="font-size:20px;">  <i class="sys-icon desktop"></i> <i class="sys-icon black-tie"></i></span> <br />
            Publier des offres d'emploi et de formation en 2 clics
            </td>
            <td width="20%">
              <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span> Oui <br />(illimité)
            </td>
            <td width="25%">
            <span style="font-size:20px; color: #F00"> <i class="sys-icon remove"></i></span>  Non
            </td>
            </tr>
            
             <tr>
            <td width="50%">
           <span style="font-size:20px;">   <i class="sys-icon desktop"></i></span> <br />
           Gérer des candidateures en ligne
            (offres d'emploi et de formation )
            </td>
            <td width="20%">
             <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span>  Oui<br /> (illimité)
            </td>
            <td width="25%">
            <span style="font-size:20px; color: #F00"> <i class="sys-icon remove"></i></span>  Non
            </td>
            </tr>
            
             <tr>
            <td width="50%">
            <span style="font-size:20px;"> <i class="sys-icon briefcase"></i></span> <br />
            Créer sa Page Entreprise en 2 clics
            (Annuaire des entreprises)
            </td>
            <td width="20%">
              <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span> Oui 
               <br /> 2 maximum
            </td>
            <td width="25%">
             <span style="font-size:20px; color: #F00"> <i class="sys-icon remove"></i></span>  Non
            </td>
            </tr>
            
             <tr>
            <td width="50%">
           <span style="font-size:20px;">  <i class="sys-icon shopping-cart"></i></span> <br />
            Publier des annonces 1 clic
            (Faire la promotion de ses Produits & Services)
            </td>
            <td width="20%">
              <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span>  Oui<br /> (illimité)
            </td>
            <td width="25%">
           <span style="font-size:20px; color: #F00"> <i class="sys-icon remove"></i></span>   Non
            </td>
            </tr>
            
             <tr>
            <td width="50%">
            <span style="font-size:20px;">  <i class="sys-icon university"></i></span> <br />
            Consulter des projets du gouvernorat
            </td>
            <td width="20%">
             <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span>  Oui
            </td>
            <td width="25%">
             <span style="font-size:20px; color: #F00"> <i class="sys-icon remove"></i></span>  Non
            </td>
            </tr>
            
              <tr>
            <td width="50%">
           <span style="font-size:20px;">  <i class="sys-icon building"></i> </span><br />
           Répondre à des appels d'offres
            </td>
            <td width="20%">
              <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span> Oui
            </td>
            <td width="25%">
            <span style="font-size:20px; color: #F00"> <i class="sys-icon remove"></i></span>   Non
            </td>
            </tr>
            
              <tr>
            <td width="50%">
           <span style="font-size:20px;">   <i class="sys-icon desktop"></i> <i class="sys-icon building"></i></span> <br />
           Publier des appels d'offres
            </td>
            <td width="20%">
              <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span> Oui
            </td>
            <td width="25%">
           <span style="font-size:20px; color: #F00"> <i class="sys-icon remove"></i></span>    Non
            </td>
            </tr>
            
             <tr>
            <td width="50%">
            <span style="font-size:20px;">  <i class="sys-icon calendar"></i></span> <br />
            Publier des événements
            </td>
            <td width="20%">
              <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span> Oui
            </td>
            <td width="25%">
            <span style="font-size:20px; color: #F00"> <i class="sys-icon remove"></i></span>   Non
            </td>
            </tr>
            
             <tr>
            <td width="50%">
           <span style="font-size:20px;">   <i class="sys-icon users"></i> <i class="sys-icon calendar"></i> </span><br />
           Participer gratuitement à tous nos événements professionnels
            </td>
            <td width="20%">
              <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span> Oui
            </td>
            <td width="25%">
            <span style="font-size:20px; color: #FF8000"> <i class="sys-icon lock"></i></span>  certains
            </td>
            </tr>
            
             <tr>
            <td width="50%">
            <span style="font-size:20px;">  <i class="sys-icon map"></i></span> <br />
            Nous charger d'effectuer en votre nom des achats  ou toute autre opération en Europe
             
            </td>
            <td width="20%">
              <span style="font-size:20px; color: #FF8000;"> <i class="sys-icon lock"></i></span> <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span>  Oui, tout dépendra de l'opération et de notre disponibilité
               (Service facturé)
            </td>
            <td width="25%">
            <span style="font-size:20px; color: #F00"> <i class="sys-icon remove"></i></span>  Non
            </td>
            </tr>
            
             <tr>
            <td width="50%">
           <span style="font-size:20px;">  <i class="sys-icon map-marker"></i> </span><br />
           Vous accompagner lors de votre séjour en Europe, réservation d’hôtel, voiture de location, achat d’une maison en Europe….
             
            </td>
            <td width="20%">
              <span style="font-size:20px; color: #FF8000;"> <i class="sys-icon lock"></i></span> <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span>   Oui, tout dépendra de notre disponibilité
               (Service facturé)
            </td>
            <td width="25%">
            <span style="font-size:20px; color: #F00;"> <i class="sys-icon remove"></i></span> Non
            </td>
            </tr>
            
             <tr>
            <td width="50%">
            <span style="font-size:20px;"> <i class="sys-icon graduation-cap"></i></span>  <br />
            Créer un profil professionnel
            </td>
            <td width="25%">
             <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span>   Oui
            </td>
            <td width="25%">
            <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span> OUI
            </td>
            </tr>
            
             <tr>
            <td width="50%">
              <span style="font-size:20px;">  <i class="sys-icon users"></i></span> <br />
              Créer son réseau professionnel
              <br /> (Faire des demandes d'amis)
            </td>
            <td width="25%">
             <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span>  Oui
            </td>
            <td width="25%">
             <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span>OUI
            </td>
            </tr>
            
             <tr>
            <td width="50%">
               <span style="font-size:20px;"> <i class="sys-icon users"></i></span> <br />
               Recevoir des suggestions d'amis
            </td>
            <td width="25%">
             <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span>  Oui
            </td>
            <td width="25">
            <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span> OUI
            </td>
            </tr>
            
            <tr>
            <td width="50%">
              <span style="font-size:20px;">  <i class="sys-icon comments"></i></span><br />
               Discutez en ligne 
            </td>
            <td width="20%">
              <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span> Oui
            </td>
            <td width="25%">
           <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span>  OUI
            </td>
            </tr>
            
             <tr>
            <td width="50%">
             <span style="font-size:20px;">  <i class="sys-icon envelope"></i> </span> <br />
             Messagerie interne
              <br /> Envoyer des messages à d'autres membres
            </td>
            <td width="20%">
             <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span> Oui<br />( illimité)
            </td>
            <td width="25%">
            <span style="font-size:20px; color: #FF8000"> <i class="sys-icon lock"></i></span>   2 par mois
            </td>
            </tr>
            
             <tr>
            <td width="50%">
            <span style="font-size:20px;">  <i class="sys-icon envelope"></i></span> <br />
             Messagerie interne
              <br /> Recevoir des messages 
            </td>
            <td width="20%">
             <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span> Oui 
              <br />( illimité)
            </td>
            <td width="25%">
           <span style="font-size:20px; color:#060;"> <i class="sys-icon check"></i></span> Oui <br />( illimité)
            </td>
            </tr>
            
            
 
            
            </table>
            </div>
            
            -->