<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <div class="PaymentPremiumPayer" >
          <table >
           <tr>
            <td>
                <div class="checkout_header"><i class="sys-icon list-ol"></i> <bx_text:_dol_subs_membership_details /></div>
            </td>
            </tr>
         
          <tr>
           <td >
              <div>
               <!--<bx_text:_dol_subs_membership />:--><strong><i class="sys-icon trophy"></i> __membership_name__:  <strong>__membership_price__ €</strong>  </strong>
              </div>
                <!--<bx_text:_dol_subs_adm_mlevel_price />:--> <!--<strong>__membership_price__ €</strong>  -->
               <div>
               <bx_text:_dol_subs_freddy /> <strong> __membership_length__ <bx_text:_dol_subs_months /> <!--__membership_unit__--> </strong><!--(__currency__)-->
               </div>
               
               <div>  __auto__</div>
           </td>
           </tr>
             
            <!--
            <tr>
             <td >
        <i class="sys-icon calendar"></i> <bx_text:_dol_subs_adm_mlevel_days />: __membership_length__ __membership_unit__
          </td>
           </tr>
           -->
            <tr>
             <td >
         <!--<div> <bx_text:_dol_subs_type />: __auto__<div>-->
           </td>
           </tr>
          
            <tr>
            <td>

<!-- <center><div class="checkout_header"><bx_text:_dol_subs_choose_payment /></div></center>-->

__payment_content__
		


<div class="payment_actions">
	<div class="button_wrapper">
		<input type="submit" class="form_input_submit Sobrebouton" onclick="window.location.replace('<bx_url_root />m/memberships/');" value=" <bx_text:_dol_subs_annuler />" />
	</div>
</div>


             </td>
              </tr>
             </table> 
              </div>
              
<div style="clear:both"></div>
<br/>