
/* Theme Options ----------------------------------------------*/

#theme-options {	
	position:fixed;	
	z-index: 26;	
	width: auto;	
	left:0;
	width: 220px;
	top: 140px;
	border: 1px solid #dbdbdb;
	border-top: 0;
	border-left: 0;
	background: #fff;
	z-index: 999999;	
	padding-bottom: 10px;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
#theme-options .title {
	padding: 10px 5px 10px 12px;	
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	border-right: 0;
	cursor: pointer;
	position: relative;
}
#theme-options .title span{	
	position: absolute;
	border-left: 0;
	right: -50px;
	top: 0;
	width: 60px;
	height: 100%;
	text-align: left;
	border-radius: 0 5px 5px 0;
}
#theme-options .title span i{
	font-size: 2em;	
	padding: 5px;
	float: right;
}
#theme-options span {
	display: block;
	width: 100%;
	padding: 5px 12px 0 12px;
	font-size: 14px;
}
#theme-options ul { 
	padding: 6px 12px; 
	margin: 0;
}
#theme-options ul li {
	display: inline-block;
	margin: 0;
	border: 1px solid #dbdbdb;
	overflow: hidden;
	width: 20px;
	height: 20px;
	background-repeat: repeat;
	cursor: pointer;
}
.layout-style li.active {
  color: #ffffff;
}
#theme-options ul.backgrounds li:hover { 
	border-color: #ccc; 
}
#theme-options ul.backgrounds li.active,#theme-options ul.backgrounds li.active:hover { 
	border-color: #ff9600; 
}
#theme-options .layout-style li{
	width: 48%;
	padding:5px 15px;	
	display: inline-block;
	height: auto;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
}
#theme-options .layout-style li:last-child{
	width: 99%;	
}
#theme-options .layout-style li  a:hover{
	text-decoration: none;
}
#theme-options .layout-style li a{
	font-size: 13px;
	color: #424242;
}
#theme-options .layout-style li.active a {
  color: #fff;
}
.patterns{
	display: none;
}

/* COLOR SKINS -------------------------------*/

.colorbox { width:100%; height:100%; cursor:pointer; display:block; }
.blue { background-color:#53C1EF; }
.orange { background-color:#FFB310; }
.red { background-color:#FA6137; }
.violet { background-color:#3B67EC; }
.green { background-color:#4ABD3A; }
.lavender { background-color:#7D53D9; }
.pink { background-color:#ED4367; }
.brown { background-color:#755C3B; }

/* HEADER STYLES */

.is-sticky_no {
  position: absolute !important;
  top: auto !important;
}

/* BACKGROUNDS PATTERS -------------------------------*/

#theme-options ul.backgrounds li.bg1 { background-image: url("../../images/bg-boxed/bg1.jpg"); }
#theme-options ul.backgrounds li.bg2 { background-image: url("../../images/bg-boxed/bg2.jpg"); }
#theme-options ul.backgrounds li.bg3 { background-image: url("../../images/bg-boxed/bg3.jpg"); }
#theme-options ul.backgrounds li.bg4 { background-image: url("../../images/bg-boxed/bg4.jpg"); }
#theme-options ul.backgrounds li.bg5 { background-image: url("../../images/bg-boxed/bg5.jpg"); }
#theme-options ul.backgrounds li.bg6 { background-image: url("../../images/bg-boxed/bg6.jpg"); }
#theme-options ul.backgrounds li.bg7 { background-image: url("../../images/bg-boxed/bg7.jpg"); }
#theme-options ul.backgrounds li.bg8 { background-image: url("../../images/bg-boxed/bg8.jpg"); }
#theme-options ul.backgrounds li.bg9 { background-image: url("../../images/bg-boxed/bg9.jpg"); }
#theme-options ul.backgrounds li.bg10 { background-image: url("../../images/bg-boxed/bg10.jpg"); }
#theme-options ul.backgrounds li.bg11 { background-image: url("../../images/bg-boxed/bg11.jpg"); }
#theme-options ul.backgrounds li.bg12 { background-image: url("../../images/bg-boxed/bg12.jpg"); }
#theme-options ul.backgrounds li.bg13 { background-image: url("../../images/bg-boxed/bg13.jpg"); }
#theme-options ul.backgrounds li.bg14 { background-image: url("../../images/bg-boxed/bg14.jpg"); }

/* BACKGROUNDS IMAGES -------------------------------*/


#theme-options ul.backgrounds li.bg_img1 { background-image: url("../../images/bg-boxed/bgimg1.jpg"); }
#theme-options ul.backgrounds li.bg_img2 { background-image: url("../../images/bg-boxed/bgimg2.jpg"); }
#theme-options ul.backgrounds li.bg_img3 { background-image: url("../../images/bg-boxed/bgimg3.jpg"); }
#theme-options ul.backgrounds li.bg_img4 { background-image: url("../../images/bg-boxed/bgimg4.jpg"); }
#theme-options ul.backgrounds li.bg_img5 { background-image: url("../../images/bg-boxed/bgimg5.jpg"); }
