<script>
	function setTitleText(sText){
		if(document.getElementById('etext').value == "")
			document.getElementById('etext').value = sText; 
	}

	function emptyTitleText(sText){
		if(document.getElementById('etext').value == sText)
			document.getElementById('etext').value = ""; 
	}
</script>

<form name='createfrm' method=post action='__create_url__'> 
	<div class="bx-def-bc-padding"> 
		<div style="float:left;"> 
			 <input type=text id="etext" name="title" value='<bx_text:_modzzz_articles_enter_your_article_topic />' style='height:33px' onblur="setTitleText('<bx_text:_modzzz_articles_enter_your_article_topic />')" onfocus="emptyTitleText('<bx_text:_modzzz_articles_enter_your_article_topic />')">&nbsp; 
		</div>
		<div style="float:left">  
			 <button class="bx-btn bx-btn-small bx-btn-img bx-btn-ifont" onclick="document.createfrm.submit()"> 
 				<bx_text:_modzzz_articles_go />
			</button>   
		</div>
		<div class='clear_both'></div> 
	</div>
</form>