<div class="bx_sys_file_choice_wrapper"> 
    <bx_if:empty><div class="bx_sys_forms_extra_default_padding" style="white-space:normal;"><bx_text:_Empty /></div></bx_if:empty>	
	<bx_repeat:videos>
        <div>
            <input type="checkbox" name="prev_video[__id__]" value="__id__" id="thumb__id__" checked='checked' /> 
            <p>&nbsp;<img align=center width=60px height=45px src="//img.youtube.com/vi/__video_id__/default.jpg" /> __video_title__</p>
            <div class="clear_both"></div>
        </div>
    </bx_repeat:videos>    
</div>