<div class="modzzz_articles_unit">
	__rating__
	__post_uthumb__
	<div class="unit_info">
		<div class="title">
			<a class="actions" href="__article_url__">__article_title__</a> 
		</div>
		<div class="clear_both"></div>
		<div class="fr_small_gray_centered">
			<span class="margined10">
				<span>__post_date__</span>
			</span>
			<span class="margined10">
				<span>__comments_count__ <bx_text:_comments /></span>
			</span>
			<span class="margined10">
				<bx_text:_Categories />: __all_categories__
			</span>
			<bx_text:_Tags />: __post_tags__
		</div>
		<div class="clear_both"></div>
		<div class="blog_text__friend_style__">
			__post_picture2__
			__article_description__
		</div>
		<div class="clear_both"></div>
	</div>
	<div class="clear_both"></div>
</div>