<script>
	function setSrchTitleText(sText){
		if(document.getElementById('Keyword').value == "")
			document.getElementById('Keyword').value = sText; 
	}

	function emptySrchTitleText(sText){
		if(document.getElementById('Keyword').value == sText)
			document.getElementById('Keyword').value = ""; 
	}
</script>
  
<div class="bx-def-bc-padding" style='width:100%'> 
	<div style="float:left;text-align:center"> 
		 <input type=text id="Keyword" name="Keyword" value='<bx_text:_modzzz_articles_form_caption_keyword />' style='height:33px' onblur="setSrchTitleText('<bx_text:_modzzz_articles_form_caption_keyword />')" onfocus="emptySrchTitleText('<bx_text:_modzzz_articles_form_caption_keyword />')">&nbsp; 
	</div>
	<div style="float:left"> 
		 <button class="bx-btn bx-btn-small bx-btn-img bx-btn-ifont" onclick="window.location='__search_url__'+document.getElementById('Keyword').value"> 
			<i class="sys-icon search"></i>
			<bx_text:_modzzz_articles_go />
		</button>  
	</div>
	<div class='clear_both'></div>
</div>
 

 