<form method=post name='notifyfrm' action='__action_url__'>
	<div class="bx-def-bc-padding">
		<div class='setting'><input type=radio value='none' name="setting" __none_selected__>&nbsp;<span class="setting_text"><bx_text:_modzzz_notify_do_not_notify_me /></div>
		<div class='setting'><input type=radio value='immediately' name='setting' __immediately_selected__>&nbsp;<span class="setting_text"><bx_text:_modzzz_notify_notify_me_immediately /></span></div>
		<div class='setting'><input type=radio value='daily' name='setting' __daily_selected__>&nbsp;<span class="setting_text"><bx_text:_modzzz_notify_notify_me_daily /></span></div>
		<div class='setting'><input type=radio value='weekly' name='setting' __weekly_selected__>&nbsp;<span class="setting_text"><bx_text:_modzzz_notify_notify_me_weekly /></span></div>
		<div class='setting'><input type=radio value='monthly' name='setting' __monthly_selected__>&nbsp;<span class="setting_text"><bx_text:_modzzz_notify_notify_me_monthly /></span></div> 

		<div style='text-align:center' > 
			<button class="bx-btn bx-btn-small bx-btn-img bx-btn-ifont" onclick="this.notifyfrm.submit();">
				<i class="sys-icon save"></i>
				<bx_text:_modzzz_notify_save />
			</button>   	
		</div> 
		<div class="clear_both"></div> 
	</div> 
	<div class="clear_both"></div> 
</form>