<div class="bx-twig-unit bx-twig-unit-admin bx-def-margin-top-auto">
 
    <div class="bx_sys_unit_checkbox bx-def-round-corners">
        <input type="checkbox" name="entry[]" value="__id__" />
    </div>
 
    <div class="bx-twig-unit-info">
 
        <div style="margin-left:30px" class="bx-twig-unit-line bx-twig-unit-desc">__message__</div> 
 
		<div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
			<bx_text:_modzzz_atool_label_comment_on_profile /> <a href="__recipient_url__">__recipient__</a> <bx_text:_modzzz_atool_label_posted_on /> __date__
		</div>

    </div>    

</div>

