<div class="atool_unit"> 
 
	<div class="unit_info">

		<div style='float:left;width:40px;min-height:40px'>  
				__thumb_url__
		</div>
 		
		<div style='float:left;margin-left:5px;'>    
			<div class="fr_gray_centered"> 
				<span class="margined10">
				 <a style='text-decoration:none'>__atool__</a>
 				</span>  
 				<span class="margined10">
					<bx_text:_modzzz_atool_by />&nbsp;<a href="__sender_url__">__sender__</a>&nbsp;__posted__
				</span> 
			</div>  
			<div class="clear_both"></div>
			<div>
				<div class="fr_gray_centered"> 
					<span class="margined10">
						<bx_text:_modzzz_atool_for />&nbsp;<a href="__recipient_url__">__recipient__</a>&nbsp; 
					</span> 
				</div> 
			</div> 
		</div>

		<div class="clear_both"></div>
	</div>
</div>  