<li id="item-__id__"  class="ui-state-default" style="width:95%;margin:10px 0px 0px 10px"> 
 
   <div style="width:100%"> 
		<div style='float:left;padding:10px 20px 10px 20px'>
			<i class="sys-icon __icon__"></i> __caption__ 
		</div> 
		<div style='float:right;padding:10px 20px 10px 20px'> 
			<a title="<bx_text:_modzzz_atool_title_add_to_archive />" style='text-decoration:none' href='__archive_url__'><i class="sys-icon tag"></i></a>&nbsp;&nbsp;<a title="<bx_text:_modzzz_atool_title_edit />" href='__edit_url__'><i class="sys-icon edit"></i></a>&nbsp;&nbsp;<a title="<bx_text:_modzzz_atool_title_remove />" href='__remove_url__' onclick="return confirm('<bx_text:_modzzz_atool_are_you_sure />')"><i class="sys-icon remove"></i></a> 
		</div>  
    </div> 
    <div class='clear_both'></div>   
</li>
 