<div class="bx-twig-unit bx-twig-unit-admin bx-def-margin-top-auto">

    <div class="bx_sys_unit_checkbox bx-def-round-corners">
		<input type="checkbox" name="entry[]" value="__id__" />
	</div>  


   <div class="bx-twig-unit-info" style='padding-left:20px'>

        <div class="bx-twig-unit-title bx-def-font-h2">
            <bx_text:_modzzz_atool_form_caption_caption /> : <i class="sys-icon __icon__"></i>&nbsp;__caption__ 
        </div>
  
		<div class="bx-twig-unit-line bx-def-font-grayed">
			<bx_text:_modzzz_atool_archive_date /> : __date__  
		</div>
  
    </div>    

</div>
 